@import "../import/_colors";

a {
  text-decoration: none;
  outline: none;
  color: $link;
}

#main-sidebar {
  background-color: darken($main-bg, 5);
  .pattern {
    background-image: url('../../../assets/images/pattern.png');
    background-size: cover;
    opacity: .2;
    z-index: -1;
  }
  .sidebar-toolbar {
    background-color: lighten($main-bg, 2);
  }
  #main-sidebar-content {
    color: $main-bg-color;
    overflow: hidden;
  }
  .sidebar-menu-item.header {
    color: darken($main-bg-color, 30);
  }
  a {
    color: $main-bg-color;
    text-decoration: none;
    //border-bottom: 1px solid darken($main-bg , 1);
  }
  md-icon {
    color: $main-bg-color;
  }
  li.sidebar-menu-item:not(.header):hover {
    background-color: darken($main-bg, 8);
  }
  li.sidebar-menu-item {
    &.active-menu.has-child {
      background-color: darken($main-bg, 8);
    }
    &.active-menu:not(.has-child) {
      background-color: lighten($main-bg, 10);
    }
  }
  .menu-counter {
    color: #FFF;
    &.red {
      background-color: rgb(244, 67, 54);
    }
    &.green {
      background-color: rgb(9, 210, 97);
    }
    &.orange {
      background-color: darken(orange, 7);
    }
    &.blue {
      background-color: lighten(blue, 20);
    }
  }
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#page-loader {
  background-color: darken($main-bg, 8);
}

#login-background {
  background-image: url('../../../assets/images/login-background.svg');
  background-size: cover;
}

#login-form-wrapper {
  background-color: $white;
}

#forget-password-link {
  color: $link;
  &:hover {
    text-decoration: underline;
  }
}