<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.add_to_my_direct_followup}}">
    <popup-toolbar-directive ng-if="!ctrl.model.id"
                             header-text="{{lang.follow_up_to + ' : ' + ctrl.model.docSubject}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div layout="row" class="md-dialog-content cms-dialog-content">
            <md-input-container flex ng-if="!ctrl.addToMyFollowup">
                <label for="applicationUser">{{lang.select_user}}</label>
                <md-select id="applicationUser" name="applicationUser" aria-label="{{lang.select_user}}"
                           ng-change="ctrl.onChangeUser()"
                           ng-model="ctrl.selectedUser"
                           ng-required="true"
                           ng-model-options="{trackBy: '$value.id'}"
                           md-on-close="ctrl.clearSearchText('appUser')"
                           data-md-container-class="select-header-container sticky-search-bar">
                    <md-select-header class="select-header">
                        <input ng-model="ctrl.appUserSearchText"
                               ng-keydown="ctrl.preventSearchKeyDown($event)"
                               placeholder="{{lang.search}}"
                               class="select-header-input">
                    </md-select-header>
                    <md-option
                            ng-repeat="record in ctrl.ouApplicationUsers | translatedNameFilter: ctrl.appUserSearchText:'getAppUserAndOuTranslate'"
                            ng-value="record">
                        <span
                                md-highlight-text="ctrl.appUserSearchText"
                                md-highlight-flags="i">{{record.getAppUserAndOuTranslate()}}</span>
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label for="folder">{{lang.add_to_folder}}</label>
                <md-select id="folder" ng-model="ctrl.model.folderId"
                           ng-required="true">
                    <md-option ng-repeat="folder in ctrl.folders"
                               ng-value="folder.id"
                               ng-disabled="!folder.status">{{folder.getTranslatedName()}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex class="cms-datepicker md-block">
                <label>{{lang.followup_date}}</label>
                <md-datepicker ng-required="true" md-min-date="ctrl.minDate"
                               ng-model="ctrl.model.followupDate"></md-datepicker>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="!ctrl.isValidFollowup()"
                   ng-click="ctrl.saveToFollowUp()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeDialog()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
