<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.organizations}} : {{ctrl.administrator.getTranslatedName()}}">
    <popup-toolbar-directive
            header-text="{{lang.organizations}} : {{ctrl.administrator.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div layout="row" class="p20-0">
                <span flex></span>
                <grid-search-directive grid="ctrl.grid"></grid-search-directive>
            </div>
            <md-card md-whiteframe="3" class="card-overlay">
                <md-table-container>
                    <div flex scroll-directive>
                        <table md-table ng-model="ctrl.selectedOus"
                               md-progress="ctrl.grid.progress">
                            <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                            <tr md-row>
                                <th md-column md-order-by="adminOnRegOUInfo.arName">{{lang.arabic_name}}</th>
                                <th md-column md-order-by="adminOnRegOUInfo.enName">{{lang.english_name}}</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="member"
                                ng-model="ctrl.selectedOus"
                                md-progress="ctrl.progress"
                                ng-repeat="ou in ctrl.adminOus | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order  track by $index">
                                <td md-cell>{{ou.adminOnRegOUInfo.arName}}</td>
                                <td md-cell>{{ou.adminOnRegOUInfo.enName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination
                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                            md-limit-options="ctrl.grid.limitOptions"
                            md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                            md-total="{{ctrl.adminOus.length}}"
                            md-page-select></md-table-pagination>
                </md-table-container>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised red-text" ng-click="ctrl.closePopup($event)">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
