<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.workflow_participation}}">
    <popup-toolbar-directive
            header-text="{{lang.workflow_participation}} : {{ctrl.model.ouid.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="applicationUserWorkflowParticipationForm" autocomplete="off">
                <div layout="column">
                    <!-- Private Users -->
                    <div layout="row" flex>
                        <div flex class="cms-input-container">
                            <md-checkbox flex ng-model="ctrl.ouApplicationUser.sendToPrivateUsers"
                                         aria-label="{{lang.send_to_private_users}}"
                                         ng-change="ctrl.sendToPrivateUsersChange()">{{lang.send_to_private_users}}
                            </md-checkbox>
                        </div>
                        <md-input-container flex>
                            <label for="privateUsers">{{lang.private_users}}</label>
                            <md-select ng-model-options="{trackBy: '$value.id'}" multiple name="privateUsers"
                                       id="privateUsers"
                                       ng-required="ctrl.ouApplicationUser.sendToPrivateUsers"
                                       ng-model="ctrl.ouApplicationUser.privateUsers"
                                       ng-disabled="!ctrl.ouApplicationUser.sendToPrivateUsers"
                                       md-selected-text="ctrl.getSelectedPrivateUsersText()">
                                <md-optgroup label="{{ou.getTranslatedName()}}"
                                             ng-repeat="ou in ctrl.organizationsWithPrivateUsers">
                                    <md-option ng-value="privateUser"
                                               ng-repeat="privateUser in ou.privateUsers">
                                        {{privateUser.applicationUser.getTranslatedName()}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                            <div ng-messages="applicationUserWorkflowParticipationForm.privateUsers.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Managers -->
                    <div layout="row" flex>
                        <div flex class="cms-input-container">
                            <md-checkbox ng-model="ctrl.ouApplicationUser.sendToManagers"
                                         aria-label="{{lang.send_to_managers}}"
                                         ng-change="ctrl.sendToManagersChange()">
                                {{lang.send_to_managers}}
                            </md-checkbox>
                        </div>
                        <md-input-container flex>
                            <label for="managers">{{lang.managers}}</label>
                            <md-select multiple name="managers" id="managers"
                                       ng-required="ctrl.ouApplicationUser.sendToManagers"
                                       ng-model="ctrl.ouApplicationUser.managers"
                                       ng-disabled="!ctrl.ouApplicationUser.sendToManagers"
                                       md-selected-text="ctrl.getSelectedManagersText()"
                                       ng-model-options="{trackBy: '$value.organization.id'}"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <div class="cms-simple-checkbox-container">
                                        <input type="checkbox" class="cms-simple-checkbox"
                                               ng-class="{'checked': ctrl.isChecked('manager'), 'indeterminate': ctrl.isIndeterminate('manager')}"
                                               ng-checked="ctrl.isChecked('manager')"
                                               ng-model="ctrl.toggleAllManagersCheck">
                                        <span class="cms-simple-checkbox-text"
                                              ng-click="ctrl.toggleAll('manager', $event)">{{ctrl.isChecked('manager') ? lang.un_select_all : lang.select_all}}</span>
                                    </div>
                                </md-select-header>
                                <md-option ng-value="ou" ng-repeat="ou in ctrl.organizationsWithManager">
                                    {{ou.organization.getTranslatedName() + ' - '+ ou.manager.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="applicationUserWorkflowParticipationForm.managers.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Vice Managers -->
                    <div layout="row" flex>
                        <div flex class="cms-input-container">
                            <md-checkbox flex ng-model="ctrl.ouApplicationUser.sendToViceManager"
                                         aria-label="{{lang.send_to_vice_manager}}"
                                         ng-change="ctrl.sendToViceManagerChange()">
                                {{lang.send_to_vice_manager}}
                            </md-checkbox>
                        </div>
                        <md-input-container flex>
                            <label for="viceManagers">{{lang.vice_manager}}</label>
                            <md-select multiple name="viceManagers" id="viceManagers"
                                       ng-required="ctrl.ouApplicationUser.sendToViceManager"
                                       ng-model="ctrl.ouApplicationUser.viceManagers"
                                       ng-disabled="!ctrl.ouApplicationUser.sendToViceManager"
                                       md-selected-text="ctrl.getSelectedViceManagersText()"
                                       ng-model-options="{trackBy: '$value.organization.id'}"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <div class="cms-simple-checkbox-container">
                                        <input type="checkbox" class="cms-simple-checkbox"
                                               ng-class="{'checked': ctrl.isChecked('viceManager'), 'indeterminate': ctrl.isIndeterminate('viceManager')}"
                                               ng-checked="ctrl.isChecked('viceManager')"
                                               ng-model="ctrl.toggleAllViceManagersCheck">
                                        <span class="cms-simple-checkbox-text"
                                              ng-click="ctrl.toggleAll('viceManager', $event)">{{ctrl.isChecked('viceManager') ? lang.un_select_all : lang.select_all}}</span>
                                    </div>
                                </md-select-header>
                                <md-option ng-value="ou" ng-repeat="ou in ctrl.organizationsWithViceManager">
                                    {{ou.organization.getTranslatedName() + ' - '+ ou.viceManager.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="applicationUserWorkflowParticipationForm.viceManagers.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Workflow Security -->
                    <div layout="row" flex>
                        <md-input-container flex>
                            <label for="wfsecurity">{{lang.workflow_governance_rules}}</label>
                            <md-select name="wfsecurity"
                                       id="wfsecurity"
                                       required
                                       ng-model="ctrl.ouApplicationUser.wfsecurity">
                                <md-option ng-repeat="workflowSecurity in ctrl.workFlowSecurities"
                                           ng-value="workflowSecurity.lookupKey">
                                    {{workflowSecurity.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="applicationUserWorkflowParticipationForm.wfsecurity.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--<div layout="row" flex>
                        &lt;!&ndash; Send to All Organization’s Users &ndash;&gt;
                        <md-checkbox flex ng-model="ctrl.ouApplicationUser.sendToAllEntityUsers"
                                     aria-label="{{lang.send_to_all_organizations_users}}">
                            {{lang.send_to_all_organizations_users}}
                        </md-checkbox>
                        &lt;!&ndash; Send to any user in the same unit and to all units having the same correspondence register &ndash;&gt;
                        <md-checkbox flex ng-model="ctrl.ouApplicationUser.sendToAllRegistryOUUsers"
                                     aria-label="{{lang.send_to_any_user_in_same_unit_and_to_all_units}}">
                            {{lang.send_to_any_user_in_same_unit_and_to_all_units}}
                        </md-checkbox>
                    </div>
                    <div layout="row" flex>
                        &lt;!&ndash; Send to any user in the same unit, parent unit, child units and units having the same parent &ndash;&gt;
                        <md-checkbox flex ng-model="ctrl.ouApplicationUser.sendToAllParentOUUsers"
                                     aria-label="{{lang.send_to_any_user_in_same_unit_parent_child_same_parent}}">
                            {{lang.send_to_any_user_in_same_unit_parent_child_same_parent}}
                        </md-checkbox>
                        <span flex></span>
                    </div>-->
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="applicationUserWorkflowParticipationForm.$invalid"
                   ng-click="ctrl.addApplicationUserWorkflowParticipationPopupFromCtrl()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised red-text"
                   ng-click="ctrl.closeApplicationUserWorkflowParticipationPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
