<md-dialog class="dialog-extend"
           ng-attr-aria-label="{{lang.grid_action_private_menus}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.grid_action_private_menus}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <div layout="column" class="p20">
                <div ng-repeat="(rowIndex , row) in ctrl.dynamicMenuItems" layout="row">
                    <md-checkbox ng-click="ctrl.toggleMenuItem(item)" ng-checked="ctrl.existsMenuItem(item)"
                                 ng-repeat="item in row">
                        {{item.menuItem.getTranslatedName()}}
                    </md-checkbox>
                </div>
            </div>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-disabled="documentTypeForm.$invalid"
                           ng-click="ctrl.saveSelectedMenuItems()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeDialog()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
