<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.out_of_office_settings}}">
    <popup-toolbar-directive
            header-text="{{lang.out_of_office_settings}} : {{ctrl.model.ouid.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex class="min-w-800">
        <div class="md-dialog-content cms-dialog-content">
            <form name="outOfOfficeSettingsForm" autocomplete="off">
                <div flex>
                    <div class="full-width-fieldset">
                        <div layout="row">
                            <!-- Out Of Office -->
                            <md-switch flex ng-model="ctrl.applicationUser.outOfOffice"
                                       aria-label="{{lang.out_of_office_toggle_button}}"
                                       ng-change="ctrl.changeOutOfOffice()">
                                <label>{{ctrl.ouApplicationUser.getOutOffOfficeTranslatedStatus(ctrl.applicationUser.outOfOffice)}}</label>
                            </md-switch>
                        </div>
                        <div layout="row">
                            <!-- User On Behalf / Proxy User -->
                            <md-autocomplete flex md-input-name="proxyUser" md-input-id="proxyUser"
                                             md-clear-button="true"
                                             md-no-cache="true"
                                             md-selected-item="ctrl.selectedProxyUser"
                                             md-search-text-change="ctrl.proxyUserSearch(ctrl.searchTextProxyUser)"
                                             md-search-text="ctrl.searchTextProxyUser"
                                             md-selected-item-change="ctrl.selectedProxyUserChange(item)"
                                             md-items="item in ctrl.proxyUserSearch(ctrl.searchTextProxyUser)"
                                             md-item-text="item.getTranslatedName()"
                                             md-min-length="0"
                                             md-require-match
                                             md-floating-label="{{lang.user_on_behalf}}">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchTextProxyUser" md-highlight-flags="i"
                                          tooltip="{{item.applicationUser.outOfOffice ? lang.out_of_office : item.getTranslatedName()}}">
                                        {{item.getTranslatedName()}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{lang.no_records_found_matching_search}}
                                </md-not-found>
                                <div ng-messages="outOfOfficeSettingsForm.proxyUser.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                    <div ng-message="md-require-match">{{lang.field_required}}</div>
                                </div>
                            </md-autocomplete>

                            <!-- Authority Levels -->
                            <md-input-container flex>
                                <label for="proxyAuthorityLevels">{{lang.authority_level}}</label>
                                <md-select multiple name="proxyAuthorityLevels"
                                           ng-required="ctrl.selectedProxyUser"
                                           ng-disabled="!ctrl.filteredSecurityLevels.length"
                                           id="proxyAuthorityLevels"
                                           ng-model="ctrl.ouApplicationUser.proxyAuthorityLevels"
                                           ng-model-options="{trackBy: '$value.id'}">
                                    <md-option ng-repeat="securityLevel in ctrl.filteredSecurityLevels track by $index"
                                               ng-value="securityLevel">
                                        {{securityLevel.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="outOfOfficeSettingsForm.proxyAuthorityLevels.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <!-- Start Date -->
                            <md-input-container flex>
                                <label for="proxyStartDate">{{lang.start_date}}</label>
                                <input id="proxyStartDate" name="proxyStartDate"
                                       ng-required="ctrl.applicationUser.outOfOffice || ctrl.ouApplicationUser.proxyEndDate"
                                       ng-model="ctrl.ouApplicationUser.proxyStartDateString"
                                       readonly="true">
                                <md-button class="md-icon-button cms-input-overlay-button"
                                           ng-click="ctrl.openProxyStartDatePicker()">
                                    <md-icon md-svg-icon="calendar"></md-icon>
                                </md-button>
                                <md-input-container flex class="cms-datepicker cms-datepicker-invisible">
                                    <md-datepicker id="proxyStartDate_dp" name="proxyStartDate"
                                                   ng-required="ctrl.applicationUser.outOfOffice || ctrl.ouApplicationUser.proxyEndDate"
                                                   md-min-date="ctrl.today"
                                                   ng-model="ctrl.ouApplicationUser.proxyStartDate"
                                                   ng-change="ctrl.getMinProxyEndDate()"
                                                   md-max-date="ctrl.calculatedMaxProxyStartDate"
                                                   md-is-open="ctrl.isProxyStartDateOpen"></md-datepicker>
                                </md-input-container>
                                <!--md-max-date="ctrl.ouApplicationUser.proxyEndDate"-->
                                <div ng-messages="outOfOfficeSettingsForm.proxyStartDate.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>

                            <!-- End Date -->
                            <md-input-container flex>
                                <label for="proxyEndDate">{{lang.end_date}}</label>
                                <input id="proxyEndDate" name="proxyEndDate"
                                       ng-required="ctrl.applicationUser.outOfOffice || ctrl.ouApplicationUser.proxyStartDate"
                                       ng-model="ctrl.ouApplicationUser.proxyEndDateString"
                                       readonly="true">
                                <md-button class="md-icon-button cms-input-overlay-button"
                                           ng-disabled="!ctrl.ouApplicationUser.proxyStartDate"
                                           ng-click="ctrl.openProxyEndDatePicker()">
                                    <md-icon md-svg-icon="calendar"></md-icon>
                                </md-button>
                                <md-input-container flex class="cms-datepicker cms-datepicker-invisible">
                                    <md-datepicker id="proxyEndDate_dp" name="proxyEndDate"
                                                   ng-required="ctrl.applicationUser.outOfOffice || ctrl.ouApplicationUser.proxyStartDate"
                                                   ng-model="ctrl.ouApplicationUser.proxyEndDate"
                                                   md-min-date="ctrl.calculatedMinProxyEndDate"
                                                   ng-change="ctrl.getMaxProxyStartDate()"
                                                   md-is-open="ctrl.isProxyEndDateOpen"></md-datepicker>
                                </md-input-container>
                                <!--md-min-date="ctrl.ouApplicationUser.proxyStartDate"-->
                                <div ng-messages="outOfOfficeSettingsForm.proxyEndDate.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <!-- View Proxy Message -->
                            <md-switch flex ng-model="ctrl.ouApplicationUser.viewProxyMessage"
                                       aria-label="{{lang.view_message_to_sender}}"
                                       ng-change="ctrl.resetProxyMessage($event)">
                                <label>{{lang.view_message_to_sender}} :
                                    {{ctrl.ouApplicationUser.getTranslatedViewMessageToSender()}}</label>
                            </md-switch>
                            <!-- Out of office Message -->
                            <md-input-container flex ng-if="ctrl.ouApplicationUser.viewProxyMessage">
                                <label for="proxyMessage">{{lang.out_of_office_message}}</label>
                                <textarea ng-model="ctrl.ouApplicationUser.proxyMessage"
                                          name="proxyMessage" id="proxyMessage" minlength="4"
                                          maxlength="265" required
                                          ng-required="ctrl.ouApplicationUser.viewProxyMessage">
                                            </textarea>
                                <div ng-messages="outOfOfficeSettingsForm.proxyMessage.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                    <div ng-message="minlength">{{lang.short}}</div>
                                    <div ng-message="maxlength">{{lang.max_length.change({length:300})}}
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" ng-if="ctrl.showUseProxyWFSecurity()">
                            <!-- allow sending delegated user from another department -->
                            <md-switch flex ng-model="ctrl.ouApplicationUser.useProxyWFSecurity"
                                       aria-label="{{lang.allow_send_to_department}}" >
                                {{lang.allow_send_to_department}} :
                                <label>{{ctrl.ouApplicationUser.getTranslatedYesNo(ctrl.ouApplicationUser.useProxyWFSecurity)}}</label>
                            </md-switch>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="ctrl.isOutOfOfficeSaveDisabled()"
                   ng-click="ctrl.saveOutOfOfficeSettings()">
            <!--outOfOfficeSettingsForm.$invalid || ctrl.checkIfEmptyProxyUserChanged()-->
            {{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeApplicationUserOutOfOfficeSettingPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
