<md-dialog id="attachment-thumbnails-popup">
    <div flex layout="column">
        <div layout="row">
            <div layout-align="center center" layout="row" flex>
                {{ctrl.selectedItem.title}}
            </div>
            <div>
                <md-button ng-click="ctrl.closeAttachemntThumbnails()" class="md-icon-button">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </div>
        <div class="relative" flex layout="row">
            <div layout="row" class="thumbnail-controller">

                <md-button class="md-icon-button md-raised">
                    <md-icon md-svg-icon="chevron-left"></md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-icon-button md-raised">
                    <md-icon md-svg-icon="chevron-right"></md-icon>
                </md-button>

            </div>
            <div flex layout="column">
                <iframe class="iframe-attachment-viewer" src="{{ctrl.selectedItem.viewer}}"></iframe>
            </div>
        </div>
        <div layout-align="center center" class="thumbnail-footer" layout="row">
            <div class="thumbnail-wrapper">
                <a class="thumbnail-item" ng-click="ctrl.getSelectedAttachment(image)"
                   style="background-image: url({{image.url}})"
                   ng-repeat="image in ctrl.thumbnails "></a>
            </div>
        </div>
    </div>
</md-dialog>