<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           id="broadcastDialog" ng-attr-aria-label="{{lang.broadcast}}">
    <popup-toolbar-directive header-text="{{lang.broadcast}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div layout="column">
                <form name="broadcast_form" autocomplete="off">
                    <div layout="column">
                        <div layout="row" flex>
                            <!-- Workflow Action -->
                            <md-input-container flex>
                                <label for="selectedAction">{{lang.dwf_label_selectaction}}</label>
                                <md-select name="selectedAction" id="selectedAction" required
                                           ng-model="ctrl.selectedAction"
                                           md-on-close="ctrl.clearSearchText('action')"
                                           data-md-container-class="select-header-container sticky-search-bar">
                                    <md-select-header class="select-header">
                                        <input ng-model="ctrl.actionSearchText"
                                               ng-keydown="ctrl.preventSearchKeyDown($event)"
                                               placeholder="{{lang.search}}"
                                               class="select-header-input">
                                    </md-select-header>
                                    <md-option ng-repeat="action in ctrl.actions | translatedNameFilter: ctrl.actionSearchText track by $index"
                                               ng-value="action">
                                        <span
                                                md-highlight-text="ctrl.actionSearchText"
                                                md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.selectedAction.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex>
                            <!-- Organization Unit -->
                            <md-input-container flex>
                                <label for="ouBroadcast">{{lang.organizations}}</label>
                                <md-select ng-model-options="{trackBy: '$value.id'}"
                                           multiple id="ouBroadcast"
                                           ng-required="!ctrl.wfGroupBroadcast.length"
                                           name="ouBroadcast" ng-model="ctrl.ouBroadcast"
                                           md-on-close="ctrl.clearSearchText('ou')"
                                           data-md-container-class="select-header-container sticky-search-bar">
                                    <md-select-header class="select-header">
                                        <input ng-model="ctrl.ouSearchText"
                                               ng-keydown="ctrl.preventSearchKeyDown($event)"
                                               placeholder="{{lang.search}}"
                                               class="select-header-input">
                                    </md-select-header>
                                    <md-option
                                            ng-repeat="organization in ctrl.organizations | translatedNameFilter: ctrl.ouSearchText track by $index"
                                            ng-if="organization.status"
                                            md-truncate ng-value="organization">
                                        <span
                                                md-highlight-text="ctrl.ouSearchText"
                                                md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.ouBroadcast.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                            <!-- Workflow Group -->
                            <md-input-container flex>
                                <label for="workflowGroupBroadcast">{{lang.workflow_groups}}</label>
                                <md-select ng-model-options="{trackBy: '$value.id'}"
                                           multiple id="workflowGroupBroadcast"
                                           ng-required="!ctrl.ouBroadcast.length"
                                           name="workflowGroupBroadcast" ng-model="ctrl.wfGroupBroadcast">
                                    <md-option md-truncate
                                               ng-repeat="workflowGroup in ctrl.workflowGroups track by $index"
                                               ng-value="workflowGroup"
                                               ng-if="ctrl.workflowGroupNotExists(workflowGroup) && workflowGroup.status">
                                        {{workflowGroup.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.workflowGroupBroadcast.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex>
                            <!-- Rank -->
                            <md-input-container flex>
                                <label for="selectedRank">{{lang.rank}}</label>
                                <md-select id="selectedRank" name="selectedRank"
                                           ng-model="ctrl.selectedRank">
                                    <md-option ng-value="null">{{lang.none}}</md-option>
                                    <md-option ng-if="rank.status" ng-value="rank"
                                               ng-repeat="rank in ctrl.ranks track by $index">
                                        {{rank.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.selectedRank.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                            <!-- Job Title -->
                            <md-input-container flex>
                                <label for="selectedJobTitle">{{lang.job_title}}</label>
                                <md-select id="selectedJobTitle" name="selectedJobTitle"
                                           ng-model="ctrl.selectedJobTitle">
                                    <md-option ng-value="null">{{lang.none}}</md-option>
                                    <md-option ng-if="jobTitle.status" ng-value="jobTitle"
                                               ng-repeat="jobTitle in ctrl.jobTitles track by $index">
                                        {{jobTitle.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.selectedJobTitle.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                            <div>
                                <div flex>
                                    <md-button class="md-raised md-primary"
                                               ng-disabled="broadcast_form.$invalid"
                                               ng-click="ctrl.addToBroadcast(broadcast_form)">
                                        {{lang.add}}
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <md-card class="card-overlay">
                    <md-table-container>
                        <div flex scroll-directive>
                            <table md-table multiple md-row-select
                                   ng-model="ctrl.selectedAddedOUAndWFGroupsToBroadcast">
                                <thead md-head md-order="ctrl.grid.order"
                                       md-on-reorder="ctrl.getSortedData">
                                <tr md-row>
                                    <th colspan="6" class="table-selector-header"
                                        ng-if="ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedAddedOUAndWFGroupsToBroadcast.length}} {{lang.items_selected}} </span>
                                            <span flex></span>
                                            <md-button class="md-icon-button"
                                                       ng-click="ctrl.removeBulkRecordsFromBroadcastGrid()">
                                                <md-icon md-svg-icon="delete"></md-icon>
                                            </md-button>
                                        </div>
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                        md-order-by="{{lang.current === 'ar' ? 'arName' : 'enName'}}">
                                        {{lang.name}}
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                        md-order-by="">
                                        {{lang.type}}
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                        md-order-by="">
                                        {{lang.rank}}
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                        md-order-by="">
                                        {{lang.job_title}}
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                        <!--{{lang.with_sub}}-->
                                    </th>
                                    <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                        {{lang.action}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="record in ctrl.addedOUAndWFGroupsToBroadcast | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index"
                                    md-select="record">
                                    <td md-cell>
                                        {{record.itemId.getTranslatedName()}}
                                    </td>
                                    <td md-cell>
                                        <md-icon md-svg-icon="{{record.itemId.broadcastRecordType.icon}}"
                                                 tooltip="{{lang[record.itemId.broadcastRecordType.text]}}">
                                        </md-icon>
                                    </td>
                                    <td md-cell>
                                        {{record.rank.getTranslatedName()}}
                                        <!--<md-input-container flex>
                                            <md-select id="recordRank" name="recordRank"
                                                       ng-model="record.rank" aria-label="rank">
                                                <md-option ng-value="null">{{lang.none}}</md-option>
                                                <md-option ng-if="rank.status" ng-value="rank.lookupKey"
                                                           ng-repeat="rank in ctrl.ranks track by $index">
                                                    {{rank.getTranslatedName()}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="broadcast_form.recordRank.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>-->
                                    </td>
                                    <td md-cell>
                                        {{record.jobTitle.getTranslatedName()}}
                                        <!--<md-input-container flex>
                                            <md-select id="recordJobTitle" name="recordJobTitle"
                                                       ng-model="record.jobTitle" aria-label="jobTitle">
                                                <md-option ng-value="null">{{lang.none}}</md-option>
                                                <md-option ng-if="jobTitle.status" ng-value="jobTitle.lookupKey"
                                                           ng-repeat="jobTitle in ctrl.jobTitles track by $index">
                                                    {{jobTitle.getTranslatedName()}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="broadcast_form.recordJobTitle.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>-->
                                    </td>
                                    <td md-cell>
                                        <md-checkbox
                                                ng-if="ctrl.checkBroadcastRecordType(record, ctrl.broadcastRecordType.organization)"
                                                aria-label="{{lang.with_sub}}"
                                                tooltip="{{lang.with_sub}}"
                                                ng-model="record.includeOuList"></md-checkbox>
                                    </td>
                                    <td md-cell>
                                        <div flex layout="row" layout-align="start center">
                                            <md-button class="md-icon-button" title="{{lang.delete}}"
                                                       ng-click="ctrl.removeRecordFromBroadcastGrid(record)">
                                                <md-icon md-svg-icon="delete"></md-icon>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit"
                                md-page="ctrl.grid.page"
                                md-total="{{ctrl.addedOUAndWFGroupsToBroadcast.length}}" md-page-select>
                        </md-table-pagination>
                    </md-table-container>
                </md-card>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="ctrl.checkDisabled()"
                   ng-click="ctrl.startBroadcast()">
            {{lang.broadcast}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePopup()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
<!--<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           id="broadcastDialog" ng-attr-aria-label="{{lang.broadcast}}">
    <div layout="column">
        <popup-toolbar-directive header-text="{{lang.broadcast}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <div layout="column">
                <form name="broadcast_form" autocomplete="off">
                    <div layout="column" class="p20" scroll-directive>
                        <div layout="row" flex>
                            &lt;!&ndash; Workflow Action &ndash;&gt;
                            <md-input-container flex>
                                <label for="selectedAction">{{lang.dwf_label_selectaction}}</label>
                                <md-select name="selectedAction" id="selectedAction" required
                                           ng-model="ctrl.selectedAction">
                                    <md-option ng-value="action"
                                               ng-repeat="action in ctrl.actions track by $index">
                                        {{action.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.selectedAction.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex>
                            &lt;!&ndash; Organization Unit &ndash;&gt;
                            <md-input-container flex>
                                <label for="ouBroadcast">{{lang.organizations}}</label>
                                <md-select ng-model-options="{trackBy: '$value.id'}"
                                           multiple id="ouBroadcast"
                                           ng-required="!ctrl.wfGroupBroadcast.length"
                                           name="ouBroadcast" ng-model="ctrl.ouBroadcast">
                                    <md-option
                                            ng-repeat="organization in ctrl.organizations track by $index"
                                            ng-if="ctrl.organizationNotExists(organization) && organization.status"
                                            md-truncate ng-value="organization">
                                        {{organization.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.ouBroadcast.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                            &lt;!&ndash; Workflow Group &ndash;&gt;
                            <md-input-container flex>
                                <label for="workflowGroupBroadcast">{{lang.workflow_groups}}</label>
                                <md-select ng-model-options="{trackBy: '$value.id'}"
                                           multiple id="workflowGroupBroadcast"
                                           ng-required="!ctrl.ouBroadcast.length"
                                           name="workflowGroupBroadcast" ng-model="ctrl.wfGroupBroadcast">
                                    <md-option md-truncate
                                               ng-repeat="workflowGroup in ctrl.workflowGroups track by $index"
                                               ng-value="workflowGroup"
                                               ng-if="ctrl.workflowGroupNotExists(workflowGroup) && workflowGroup.status">
                                        {{workflowGroup.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="broadcast_form.workflowGroupBroadcast.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                            <div>
                                <div flex>
                                    <md-button class="md-raised"
                                               ng-disabled="broadcast_form.$invalid"
                                               ng-click="ctrl.addToBroadcast(broadcast_form)">
                                        {{lang.add}}
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="p20">
                    <md-card layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table multiple md-row-select
                                       ng-model="ctrl.selectedAddedOUAndWFGroupsToBroadcast">
                                    <thead md-head md-order="ctrl.grid.order"
                                           md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="5" class="table-selector-header"
                                            ng-if="ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedAddedOUAndWFGroupsToBroadcast.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <md-button class="md-icon-button"
                                                           ng-click="ctrl.removeBulkRecordsFromBroadcastGrid()">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                            md-order-by="arName">
                                            {{lang.arabic_name}}
                                        </th>
                                        <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                            md-order-by="enName">
                                            {{lang.english_name}}
                                        </th>
                                        <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column
                                            md-order-by="">
                                            {{lang.type}}
                                        </th>
                                        <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                            &lt;!&ndash;{{lang.with_sub}}&ndash;&gt;
                                        </th>
                                        <th ng-if="!ctrl.selectedAddedOUAndWFGroupsToBroadcast.length" md-column>
                                            {{lang.action}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row
                                        ng-repeat="record in ctrl.addedOUAndWFGroupsToBroadcast | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index"
                                        md-select="record">
                                        <td md-cell>
                                            {{record.getNameByLanguage('ar')}}
                                        </td>
                                        <td md-cell>
                                            {{record.getNameByLanguage('en')}}
                                        </td>
                                        <td md-cell>
                                            <md-icon md-svg-icon="{{record.broadcastRecordType.icon}}"
                                                     tooltip="{{lang[record.broadcastRecordType.text]}}">
                                            </md-icon>
                                        </td>
                                        <td md-cell>
                                            <md-checkbox
                                                    ng-if="ctrl.checkBroadcastRecordType(record, ctrl.broadcastRecordType.organization)"
                                                    aria-label="{{lang.with_sub}}"
                                                    tooltip="{{lang.with_sub}}"
                                                    ng-model="record.withSub"></md-checkbox>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="row" layout-align="start center">
                                                <md-button class="md-icon-button" title="{{lang.delete}}"
                                                           ng-click="ctrl.removeRecordFromBroadcastGrid(record)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit"
                                    md-page="ctrl.grid.page"
                                    md-total="{{ctrl.addedOUAndWFGroupsToBroadcast.length}}" md-page-select>
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="ctrl.checkDisabled()"
                           ng-click="ctrl.startBroadcast()">
                    {{lang.broadcast}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closePopup()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>-->
