<md-dialog id="ready-to-export-options" class="dialog-extend"
           ng-attr-aria-label="{{ctrl.resend ? lang.resend_options : lang.export_options}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{ctrl.resend ? lang.resend_options : lang.export_options}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="bulkExportOptionsForm" autocomplete="off">
                <!--<div layout="row" class="p20" flex ng-if="ctrl.canExportAnyRelatedData()">
                    <md-input-container flex>
                        <label>{{lang.select_export_type}}</label>
                        <md-select ng-model="ctrl.exportType"
                                   ng-change="ctrl.onChangeExportTypeAll($event)">
                            <md-option ng-value="type.id" ng-repeat="type in ctrl.exportTypeList">
                                {{lang.get(type.key)}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>-->
                <div ng-if="ctrl.exportType === 1" class="p20" layout="row">
                    <div ng-repeat="option in ctrl.exportOptions" flex
                         ng-if="ctrl.canExportRelatedData(option)">
                        <md-checkbox ng-true-value="true" ng-false-value="false" aria-label="{{option}}"
                                     ng-change="ctrl.updateExportOptionsForWorkItems(option, $event)"
                                     ng-model="ctrl.model[option]">
                            {{lang.get(ctrl.labels[$index])}}
                        </md-checkbox>
                    </div>
                </div>
                <div layout="column" class="p020">
                    <md-card ng-repeat="workItem in ctrl.workItems"
                             ng-if="ctrl.canExportAnyRelatedData()">
                        <md-card-title>
                            <md-card-title-text>
                                <span>{{workItem.getTranslatedName()}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div ng-if="workItem.exportType === 1" layout="row">
                                <div ng-repeat="option in workItem.exportOptions" flex
                                     ng-if="ctrl.canExportRelatedData(option)">
                                    <md-checkbox ng-true-value="true" ng-false-value="false" aria-label="{{option}}"
                                                 ng-model="workItem.model[option]">
                                        {{lang.get(ctrl.labels[$index])}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-click="ctrl.exportCorrespondenceWorkItem()">
                    {{ctrl.resend ? lang.resend : lang.export}}
                </md-button>
                <span ng-if="!ctrl.hasExternalSite && !ctrl.resend" flex></span>
                <md-button ng-if="!ctrl.resend" class="md-raised"
                           ng-click="ctrl.printWithTerminate()">
                    {{lang.print_with_terminate}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeExportPopupFromCtrl()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
