<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_classification : ctrl.model.getNames()}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_classification}}"
                             close-callback="ctrl.closeClassificationDialog"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode" header-text="{{ctrl.model.getNames()}}"
                             close-callback="ctrl.closeClassificationDialog"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="classificationForm">
                <md-tabs md-dynamic-height md-selected="ctrl.selectedTabIndex">
                    <!-- Basic Info -->
                    <md-tab label="{{lang.basic_info}}"
                            md-on-select="ctrl.setCurrentTab('basic')"
                            ng-click="ctrl.resetOUClassifications()"
                            ng-if="ctrl.showTab('basic')">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <!-- Arabic Name -->
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.classification.arName"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="classificationForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- English Name -->
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.classification.enName"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="classificationForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Parent -->
                                    <md-input-container flex>
                                        <label for="parent">{{lang.parent_classification}}</label>
                                        <md-select aria-label="{{lang.parent_classification}}" id="parent"
                                                   ng-change="ctrl.onChangeParent($event)"
                                                   ng-model-options="{trackBy: '$value.id'}"
                                                   ng-disabled="ctrl.classification.hasChildren()"
                                                   ng-model="ctrl.classification.parent">
                                            <md-option ng-value="">{{lang.no_parent}}</md-option>
                                            <md-option ng-value="classification"
                                                       ng-repeat="classification in ctrl.parentClassifications track by $index">
                                                {{classification.getNames()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="classificationForm.parent.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Security Level -->
                                    <md-input-container flex>
                                        <label for="securityLevels">{{lang.security_levels}}</label>
                                        <md-select required multiple ng-model-options="{trackBy: '$value.id'}"
                                                   name="securityLevels" id="securityLevels"
                                                   ng-disabled="ctrl.classification.parent"
                                                   ng-model="ctrl.classification.securityLevels">
                                            <md-option ng-value="securityLevel"
                                                       ng-repeat="securityLevel in ctrl.securityLevels track by $index">
                                                {{securityLevel.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="classificationForm.securityLevels.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Code -->
                                    <md-input-container flex>
                                        <label for="code">{{lang.code}}</label>
                                        <input name="code" id="code" maxlength="150"
                                               ng-model="ctrl.classification.code">
                                        <div ng-messages="classificationForm.code.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:150})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Status -->
                                    <div flex class="cms-input-container">
                                        <md-switch flex ng-model="ctrl.classification.status"
                                                   aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.classification.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <!-- Global -->
                                    <div flex class="cms-input-container">
                                        <md-switch flex ng-change="ctrl.onChangeGlobal($event)"
                                                   ng-disabled="ctrl.defaultOU || ctrl.classification.parent || !ctrl.employeeService.isSuperAdminUser()"
                                                   ng-readonly="ctrl.defaultOU || ctrl.classification.parent || !ctrl.employeeService.isSuperAdminUser()"
                                                   ng-model="ctrl.classification.isGlobal"
                                                   aria-label="{{lang.global}}">
                                            <label>{{lang.global}} :
                                                {{ctrl.classification.getTranslatedGlobal()}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- Organization Units -->
                    <md-tab ng-if="ctrl.showTab('ou')"
                            ng-click="ctrl.getOUClassifications()"
                            md-on-select="ctrl.setCurrentTab('ou')"
                            ng-disabled="ctrl.classification.isGlobal || !ctrl.classification.status"
                            label="{{lang.organization_units}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <!-- OU Dropdown and Add Button -->
                                <div layout="row" layout-align="start center">
                                    <md-input-container flex>
                                        <md-select aria-label="{{lang.select_organization}}"
                                                   ng-model="ctrl.selectedOrganization"
                                                   md-on-close="ctrl.clearSearchText('ou')"
                                                   data-md-container-class="select-header-container sticky-search-bar">
                                            <md-select-header class="select-header">
                                                <input ng-model="ctrl.ouSearchText"
                                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                                       placeholder="{{lang.search}}"
                                                       class="select-header-input">
                                            </md-select-header>
                                            <md-option
                                                    ng-if="!ctrl.excludeOrganizationIfExists(organization)"
                                                    ng-value="organization"
                                                    tooltip="{{organization.getTranslatedName(true)}}"
                                                    ng-repeat="organization in ctrl.organizations | translatedNameFilter:ctrl.ouSearchText track by organization.id">
                                                <span md-highlight-text="ctrl.ouSearchText"
                                                      md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div>
                                        <md-button class="md-raised md-primary" ng-disabled="!ctrl.selectedOrganization"
                                                   ng-click="ctrl.addOrganizationToClassification($event)">{{lang.add}}
                                        </md-button>
                                    </div>
                                </div>
                                <!-- Add Mode -->
                                <md-card ng-if="!ctrl.editMode && ctrl.classification.relatedOus.length" layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUClassifications"
                                                   md-progress="ctrl.grid.progress">
                                                <thead md-head md-order="ctrl.grid.order"
                                                       md-on-reorder="ctrl.getSortedData">
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUClassifications.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUClassifications.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.deleteBulkOUClassifications($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column
                                                        md-order-by="arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column
                                                        md-order-by="enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouClassification"
                                                    ng-repeat="ouClassification in ctrl.classification.relatedOus|orderBy:'itemOrder' track by $index"
                                                    ng-disabled="!ctrl.canDeleteOUClassification(ouClassification)">
                                                    <td md-cell>{{ouClassification.arName}}</td>
                                                    <td md-cell>{{ouClassification.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-disabled="!ctrl.canDeleteOUClassification(ouClassification)"
                                                                    ng-click="ctrl.deleteOUClassification(ouClassification)"
                                                                    tooltip="{{lang.delete}}"
                                                                    aria-label="Delete"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <md-table-pagination
                                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                                md-limit-options="ctrl.grid.limitOptions"
                                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                                md-total="{{ctrl.classification.relatedOus.length}}"
                                                md-page-select>
                                        </md-table-pagination>
                                    </md-table-container>
                                </md-card>
                                <!-- Edit Mode -->
                                <md-card ng-if="ctrl.editMode && ctrl.classification.relatedOus.length" layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUClassifications"
                                                   md-progress="ctrl.grid.progress">
                                                <thead md-head md-order="ctrl.grid.order"
                                                       md-on-reorder="ctrl.getSortedData">
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUClassifications.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUClassifications.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.deleteBulkOUClassifications($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column
                                                        md-order-by="ouid.arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column
                                                        md-order-by="ouid.enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUClassifications.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouClassification"
                                                    ng-repeat="ouClassification in ctrl.classification.relatedOus|orderBy:'itemOrder' track by $index"
                                                    ng-disabled="!ctrl.canDeleteOUClassification(ouClassification)">
                                                    <td md-cell>{{ouClassification.ouid.arName}}</td>
                                                    <td md-cell>{{ouClassification.ouid.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-disabled="!ctrl.canDeleteOUClassification(ouClassification)"
                                                                    ng-click="ctrl.deleteOUClassification(ouClassification)"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <md-table-pagination
                                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                                md-limit-options="ctrl.grid.limitOptions"
                                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                                md-total="{{ctrl.classification.relatedOus.length}}"
                                                md-page-select>
                                        </md-table-pagination>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="classificationForm.$invalid || !ctrl.checkValidGlobal()"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.saveClassification()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-disabled="classificationForm.$invalid || !ctrl.checkValidGlobal()"
                   ng-if="ctrl.editMode && ctrl.selectedTabName === 'basic'"
                   ng-click="ctrl.saveClassification()">
            {{lang.save}}
        </md-button>
        <md-button class="md-raised"
                   ng-if="((ctrl.editMode && ctrl.selectedTabName === 'basic') || !ctrl.editMode)"
                   ng-click="ctrl.resetModel()">
            {{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeClassificationDialog()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
