<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_correspondencesite : ctrl.model.getTranslatedName()}}">
    <div layout="column">
        <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_correspondencesite}}"
                                 close-callback="ctrl.closeCorrespondenceSiteDialog"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode" header-text="{{ctrl.model.getTranslatedName()}}"
                                 close-callback="ctrl.closeCorrespondenceSiteDialog"></popup-toolbar-directive>

        <md-content scroll-directive>
            <form name="correspondenceSiteForm">
                <md-tabs md-dynamic-height md-selected="ctrl.selectedTabIndex">
                    <!-- Basic Info -->
                    <md-tab label="{{lang.basic_info}}"
                            md-on-select="ctrl.setCurrentTab('basic')"
                            ng-click="ctrl.resetOUCorrespondenceSites()"
                            ng-if="ctrl.showTab('basic')">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <!-- Arabic Name -->
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.correspondenceSite.arName"
                                               custom-validate-directive="A1NS">
                                        <div ng-messages="correspondenceSiteForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- English Name -->
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.correspondenceSite.enName"
                                               custom-validate-directive="E1NS">
                                        <div ng-messages="correspondenceSiteForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Arabic Display Name -->
                                    <md-input-container flex>
                                        <label for="arDisplayName">{{lang.arabic_display_name}}</label>
                                        <input name="arDisplayName" id="arDisplayName" minlength="4" maxlength="80"
                                               ng-model="ctrl.correspondenceSite.arDisplayName"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="correspondenceSiteForm.arDisplayName.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- English Display Name -->
                                    <md-input-container flex>
                                        <label for="enDisplayName">{{lang.english_display_name}}</label>
                                        <input name="enDisplayName" id="enDisplayName" minlength="4" maxlength="80"
                                               ng-model="ctrl.correspondenceSite.enDisplayName"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="correspondenceSiteForm.enDisplayName.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Correspondence Site Type -->
                                    <md-input-container flex>
                                        <label for="correspondenceTypeId">{{lang.correspondence_type_site}}</label>
                                        <md-select required ng-model-options="{trackBy: '$value.lookupKey'}"
                                                   name="correspondenceTypeId" id="correspondenceTypeId"
                                                   ng-model="ctrl.correspondenceSite.correspondenceTypeId"
                                                   ng-disabled="ctrl.model.parent">
                                            <md-option
                                                    ng-repeat="correspondenceType in ctrl.correspondenceTypes track by $index"
                                                    ng-if="correspondenceType.status"
                                                    ng-value="correspondenceType">
                                                {{correspondenceType.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="correspondenceSiteForm.correspondenceTypeId.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Parent / Main Correspondence Site -->
                                    <md-input-container flex>
                                        <label for="parent">{{lang.parent_correspondence_site}}</label>
                                        <md-select aria-label="{{lang.parent_correspondence_site}}" id="parent"
                                                   ng-change="ctrl.onChangeParent($event)"
                                                   ng-model-options="{trackBy: '$value.id'}"
                                                   ng-disabled="ctrl.correspondenceSite.hasChildren() || (ctrl.model.parent)"
                                                   ng-model="ctrl.correspondenceSite.parent">
                                            <!--ng-disabled="ctrl.correspondenceSite.hasChildren() || (ctrl.model.parent && !ctrl.editMode)"-->
                                            <md-option ng-value="">{{lang.no_parent}}</md-option>
                                            <md-option ng-value="correspondenceSite"
                                                       ng-repeat="correspondenceSite in ctrl.parentCorrespondenceSites">
                                                {{correspondenceSite.getNames()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="correspondenceSiteForm.parent.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.positive_number_only}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label name="faxNumber">{{lang.fax_number}}</label>
                                        <input id="faxNumber" name="faxNumber"
                                               ng-model="ctrl.correspondenceSite.faxNumber"
                                               custom-validate-directive="number">
                                        <div ng-messages="correspondenceSiteForm.faxNumber.$error">
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                        </div>
                                    </md-input-container>
                                    <span flex></span>
                                </div>
                                <div layout="row">
                                    <!-- Status -->
                                    <div flex>
                                        <md-switch ng-model="ctrl.correspondenceSite.status"
                                                   aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.correspondenceSite.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <!-- Global -->
                                    <div flex>
                                        <md-switch ng-change="ctrl.onChangeGlobal($event)"
                                                   ng-disabled="(ctrl.editMode && ctrl.model.isGlobal) || ctrl.defaultOU || ctrl.correspondenceSite.parent || !ctrl.employeeService.isSuperAdminUser()"
                                                   ng-readonly="(ctrl.editMode && ctrl.model.isGlobal) || ctrl.defaultOU || ctrl.correspondenceSite.parent || !ctrl.employeeService.isSuperAdminUser()"
                                                   ng-model="ctrl.correspondenceSite.isGlobal"
                                                   aria-label="{{lang.global}}">
                                            <label>{{lang.global}} :
                                                {{ctrl.correspondenceSite.getTranslatedGlobal()}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- Organization Units -->
                    <md-tab ng-if="ctrl.showTab('ou')"
                            label="{{lang.organization_units}}"
                            md-on-select="ctrl.setCurrentTab('ou')"
                            ng-click="ctrl.getOUCorrespondenceSites()"
                            ng-disabled="ctrl.correspondenceSite.isGlobal || !ctrl.correspondenceSite.status">
                        <md-content>
                            <div layout="column" class="p20">
                                <!-- OU Dropdown and Add Button -->
                                <div layout="row" layout-align="start center">
                                    <md-input-container flex>
                                        <md-select aria-label="{{lang.select_organization}}"
                                                   ng-model="ctrl.selectedOrganization">
                                            <md-option
                                                    ng-if="!ctrl.excludeOrganizationIfExists(organization)"
                                                    ng-value="organization"
                                                    ng-repeat="organization in ctrl.organizations track by organization.id">
                                                {{organization.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div>
                                        <md-button class="md-raised" ng-disabled="!ctrl.selectedOrganization"
                                                   ng-click="ctrl.addOrganizationToCorrespondenceSite()">{{lang.add}}
                                        </md-button>
                                    </div>
                                </div>
                                <!-- Add Mode -->
                                <md-card ng-if="!ctrl.editMode && ctrl.correspondenceSite.relatedOus.length"
                                         layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUCorrespondenceSites"
                                                   md-progress="ctrl.grid.progress">
                                                <thead md-head md-order="ctrl.grid.order"
                                                       md-on-reorder="ctrl.getSortedData">
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUCorrespondenceSites.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUCorrespondenceSites.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.removeBulkOUCorrespondenceSites($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column
                                                        md-order-by="arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column
                                                        md-order-by="enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouCorrespondenceSite"
                                                    ng-repeat="ouCorrespondenceSite in ctrl.correspondenceSite.relatedOus|orderBy:'itemOrder' track by $index"
                                                    ng-disabled="!ctrl.canDeleteOUCorrespondenceSite(ouCorrespondenceSite)">
                                                    <td md-cell>{{ouCorrespondenceSite.arName}}</td>
                                                    <td md-cell>{{ouCorrespondenceSite.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-disabled="!ctrl.canDeleteOUCorrespondenceSite(ouCorrespondenceSite)"
                                                                    ng-click="ctrl.deleteOUCorrespondenceSite(ouCorrespondenceSite)"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <md-table-pagination
                                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                                md-limit-options="ctrl.grid.limitOptions"
                                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                                md-total="{{ctrl.correspondenceSite.relatedOus.length}}"
                                                md-page-select>
                                        </md-table-pagination>
                                    </md-table-container>
                                </md-card>
                                <!-- Edit Mode -->
                                <md-card ng-if="ctrl.editMode && ctrl.correspondenceSite.relatedOus.length"
                                         layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUCorrespondenceSites"
                                                   md-progress="ctrl.grid.progress">
                                                <thead md-head md-order="ctrl.grid.order"
                                                       md-on-reorder="ctrl.getSortedData">
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUCorrespondenceSites.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUCorrespondenceSites.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.deleteBulkOUCorrespondenceSites($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column
                                                        md-order-by="ouid.arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column
                                                        md-order-by="ouid.enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUCorrespondenceSites.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouCorrespondenceSite"
                                                    ng-repeat="ouCorrespondenceSite in ctrl.correspondenceSite.relatedOus|orderBy:'itemOrder' track by $index"
                                                    ng-disabled="!ctrl.canDeleteOUCorrespondenceSite(ouCorrespondenceSite)">
                                                    <td md-cell>{{ouCorrespondenceSite.ouid.arName}}</td>
                                                    <td md-cell>{{ouCorrespondenceSite.ouid.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-disabled="!ctrl.canDeleteOUCorrespondenceSite(ouCorrespondenceSite)"
                                                                    ng-click="ctrl.deleteOUCorrespondenceSite(ouCorrespondenceSite)"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <md-table-pagination
                                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                                md-limit-options="ctrl.grid.limitOptions"
                                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                                md-total="{{ctrl.correspondenceSite.relatedOus.length}}"
                                                md-page-select>
                                        </md-table-pagination>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row" layout-align="start center">
                <md-button class="md-raised"
                           ng-disabled="correspondenceSiteForm.$invalid || !ctrl.checkValidGlobal()"
                           ng-if="!ctrl.editMode"
                           ng-click="ctrl.saveCorrespondenceSite()">
                    {{lang.add}}
                </md-button>
                <md-button class="md-raised"
                           ng-disabled="correspondenceSiteForm.$invalid"
                           ng-if="ctrl.editMode && ctrl.selectedTabName === 'basic'"
                           ng-click="ctrl.saveCorrespondenceSite()">
                    {{lang.save}}
                </md-button>
                <span flex=""></span>
                <md-button class="md-raised"
                           ng-if="((ctrl.editMode && ctrl.selectedTabName === 'basic') || !ctrl.editMode)"
                           ng-click="ctrl.resetModel(correspondenceSiteForm)">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeCorrespondenceSiteDialog()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
