<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_distribution_list : ctrl.model.getNames()}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode"
                             header-text="{{lang.add_new_distribution_list}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode"
                             header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="distributionList_form" autocomplete="off">
                <md-tabs md-dynamic-height md-selected="ctrl.selectedTabIndex">
                    <md-tab label="{{lang.basic_info}}"
                            md-on-select="ctrl.setCurrentTab('basic')"
                            ng-click="ctrl.resetOUDistributionLists()"
                            ng-if="ctrl.showTab('basic')">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.distributionList.arName"
                                               custom-validate-directive="A1NS">
                                        <div ng-messages="distributionList_form.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4" maxlength="80"
                                               ng-model="ctrl.distributionList.enName"
                                               custom-validate-directive="E1NS">
                                        <div ng-messages="distributionList_form.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.distributionList.status">
                                            <span>{{lang.status}} :</span>
                                            {{ctrl.distributionList.getTranslatedStatus()}}
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.distributionList.global"
                                                   ng-change="ctrl.onChangeGlobal($event)"
                                                   aria-label="{{lang.global}}">
                                            <span>{{lang.global}} : </span>
                                            {{ ctrl.distributionList.getTranslatedGlobal()}}
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="{{lang.group_members}}"
                            md-on-select="ctrl.setCurrentTab('members')"
                            ng-if="ctrl.showTab('members')">
                        <md-content class="md-padding">
                            <manage-distribution-list-directive
                                    distribution-list-members="ctrl.distributionList.distributionListMembers"
                                    selected-site-type="ctrl.selectedSiteType"
                                    selected-main-site="ctrl.selectedMainSite"
                                    sub-site-search-text="ctrl.subSiteSearchText"
                            ></manage-distribution-list-directive>
                        </md-content>
                    </md-tab>

                    <md-tab md-on-select="ctrl.setCurrentTab('ou')"
                            ng-disabled="ctrl.distributionList.global"
                            label="{{lang.organization_units}}"
                            ng-if="ctrl.showTab('ou')">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row" layout-align="start center">
                                    <md-input-container flex>
                                        <md-select aria-label="{{lang.select_organization}}"
                                                   ng-model="ctrl.selectedOrganization">
                                            <md-option
                                                    ng-if="!ctrl.excludeOrganizationIfExists(organization)"
                                                    ng-value="organization"
                                                    ng-repeat="organization in ctrl.organizations track by organization.id">
                                                {{organization.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div>
                                        <md-button class="md-raised md-primary" ng-disabled="!ctrl.selectedOrganization"
                                                   ng-click="ctrl.addOrganizationToDistributionList()">{{lang.add}}
                                        </md-button>
                                    </div>
                                </div>
                                <!-- Add Mode -->
                                <md-card ng-if="!ctrl.editMode && ctrl.distributionList.relatedOus.length"
                                         layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUDistributionLists"
                                                   md-progress="ctrl.progress">
                                                <thead md-head>
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUDistributionLists.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUDistributionLists.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.removeBulkOUDistributionLists($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column
                                                        md-order-by="ouid.arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column
                                                        md-order-by="ouid.enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouDistributionList"
                                                    ng-repeat="ouDistributionList in ctrl.distributionList.relatedOus|orderBy:'itemOrder' track by $index">
                                                    <td md-cell>{{ouDistributionList.arName}}</td>
                                                    <td md-cell>{{ouDistributionList.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-click="ctrl.deleteOUDistributionList(ouDistributionList)"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </md-table-container>
                                </md-card>
                                <!-- Edit Mode -->
                                <md-card ng-if="ctrl.editMode && ctrl.distributionList.relatedOus.length"
                                         layout="column"
                                         class="card-overlay">
                                    <md-table-container>
                                        <div flex>
                                            <table md-table
                                                   md-row-select multiple ng-model="ctrl.selectedOUDistributionLists"
                                                   md-progress="ctrl.progress">
                                                <thead md-head>
                                                <tr md-row>
                                                    <th ng-if="ctrl.selectedOUDistributionLists.length" colspan="3"
                                                        md-column>
                                                        <div layout="row" layout-align="start center">
                                                            <span>{{ctrl.selectedOUDistributionLists.length}} {{lang.items_selected}} </span>
                                                            <span flex></span>
                                                            <div>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.removeBulkOUDistributionLists($event)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column
                                                        md-order-by="ouid.arName">
                                                        <span>{{lang.arabic_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column
                                                        md-order-by="ouid.enName">
                                                        <span>{{lang.english_name}}</span>
                                                    </th>
                                                    <th ng-if="!ctrl.selectedOUDistributionLists.length" md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row md-select="ouDistributionList"
                                                    ng-repeat="ouDistributionList in ctrl.distributionList.relatedOus|orderBy:'itemOrder' track by $index">
                                                    <td md-cell>{{ouDistributionList.ouid.arName}}</td>
                                                    <td md-cell>{{ouDistributionList.ouid.enName}}</td>
                                                    <td md-cell>
                                                        <div layout="row" layout-align="start center">
                                                            <md-button
                                                                    ng-click="ctrl.deleteOUDistributionList(ouDistributionList)"
                                                                    class="md-icon-button">
                                                                <md-icon md-svg-icon="delete"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="distributionList_form.$invalid || !ctrl.checkValidGlobal()"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.saveDistributionList()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-disabled="distributionList_form.$invalid || !ctrl.checkValidGlobal()"
                   ng-if="ctrl.editMode && ctrl.selectedTabName === 'basic'"
                   ng-click="ctrl.saveDistributionList()">
            {{lang.save}}
        </md-button>
        <md-button class="md-raised"
                   ng-if="((ctrl.editMode && ctrl.selectedTabName === 'basic') || !ctrl.editMode)"
                   ng-click="ctrl.resetModel()">
            {{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeDistributionListPopup()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
