<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_document_file : ctrl.model.getNames()}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_document_file}}"
                             close-callback="ctrl.closeDocumentFilePopupFromCtrl"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode" header-text="{{ctrl.model.getNames()}}"
                             close-callback="ctrl.closeDocumentFilePopupFromCtrl"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="documentFileForm" autocomplete="off">
                <md-tabs md-dynamic-height md-selected="ctrl.selectedTabIndex">
                    <!-- Basic -->
                    <md-tab label="{{lang.basic_info}}" ng-if="ctrl.showTab('basic')"
                            md-on-select="ctrl.setCurrentTab('basic')">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               ng-model="ctrl.documentFile.arName"
                                               custom-validate-directive="A1NS" maxlength="80">
                                        <div ng-messages="documentFileForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               ng-model="ctrl.documentFile.enName"
                                               custom-validate-directive="E1NS" maxlength="80">
                                        <div ng-messages="documentFileForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="parent">{{lang.parent}}</label>
                                        <!-- disable parent dropdown if record has children or add mode and parent is already available. means adding sub file from sub files popup-->
                                        <md-select id="parent"
                                                   ng-disabled="ctrl.model.hasChildren() || (ctrl.model.parent && !ctrl.editMode)"
                                                   ng-change="ctrl.onChangeParent($event)"
                                                   ng-model-options="{trackBy: '$value.id'}"
                                                   ng-model="ctrl.documentFile.parent">
                                            <md-option ng-value="">{{lang.no_parent}}</md-option>
                                            <md-option
                                                    ng-repeat="documentFile in ctrl.parentDocumentFiles track by $index"
                                                    ng-value="documentFile"
                                                    ng-if="documentFile.id !== ctrl.documentFile.id">
                                                {{documentFile.getNames()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="documentFile.parent.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.positive_number_only}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="securityLevels">{{lang.security_level}}</label>
                                        <md-select id="securityLevels" name="securityLevels"
                                                   ng-model-options="{trackBy:'$value.lookupKey'}"
                                                   multiple required
                                                   ng-disabled="ctrl.documentFile.parent"
                                                   ng-model="ctrl.documentFile.securityLevels">
                                            <md-option ng-value="option"
                                                       ng-repeat="option in ctrl.securityLevels track by $index">
                                                {{option.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="documentFileForm.securityLevels.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Code -->
                                    <md-input-container flex>
                                        <label for="code">{{lang.code}}</label>
                                        <input name="code" id="code" maxlength="150"
                                               ng-model="ctrl.documentFile.code">
                                        <div ng-messages="documentFileForm.code.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 150})}}</div>
                                        </div>
                                    </md-input-container>

                                    <!-- Serial -->
                                    <md-input-container flex>
                                        <label for="serial">{{lang.serial_number}}</label>
                                        <input name="serial" id="code" maxlength="150"
                                               ng-model="ctrl.documentFile.serial">
                                        <div ng-messages="documentFileForm.serial.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 150})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.documentFile.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} : {{ctrl.documentFile.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.documentFile.global" aria-label="{{lang.global}}"
                                                   ng-change="ctrl.onChangeGlobal($event)"
                                                   ng-disabled="ctrl.documentClassFromUser || ctrl.documentFile.parent || !ctrl.employeeService.isSuperAdminUser()"
                                                   ng-readonly="ctrl.documentClassFromUser || ctrl.documentFile.parent || !ctrl.employeeService.isSuperAdminUser()">
                                            <span>{{lang.global}} : </span>{{ctrl.documentFile.getTranslatedGlobal()}}
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- Security -->
                    <md-tab ng-if="ctrl.showTab('security')"
                            ng-click="ctrl.getOUDocumentFiles()"
                            md-on-select="ctrl.setCurrentTab('security')"
                            label="{{lang.security}}"
                            ng-disabled="ctrl.documentFile.global">
                        <md-content class="md-padding">
                            <div layout="row" layout-align="center center" ng-if="!ctrl.showRelatedOUForm">
                                <md-button class="md-raised" ng-click="ctrl.toggleRelatedOuForm(true)">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-svg-icon="link-variant"></md-icon>
                                        <span>{{lang.link_organization}} </span>
                                    </div>
                                </md-button>
                            </div>
                            <!-- Related OUs grid -->
                            <div scroll-directive ng-if="!ctrl.showRelatedOUForm">
                                <md-card md-whiteframe="3" class="card-overlay">
                                    <md-table-container>
                                        <div flex scroll-directive>
                                            <table md-table md-progress="ctrl.ouDocumentFilesProgress">
                                                <thead md-head>
                                                <tr md-row>
                                                    <th md-column><span>{{lang.arabic_name}}</span></th>
                                                    <th md-column><span>{{lang.english_name}}</span></th>
                                                    <th md-column><span>{{lang.code}}</span></th>
                                                    <th md-column><span>{{lang.actions}}</span></th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row
                                                    ng-repeat="ouDocumentFile in ctrl.documentFile.relatedOus track by $index">
                                                    <td md-cell>{{ouDocumentFile.getOUTranslate('ar')}}</td>
                                                    <td md-cell>{{ouDocumentFile.getOUTranslate('en')}}</td>
                                                    <td md-cell>{{ouDocumentFile.code}}</td>
                                                    <td md-cell>
                                                        <md-button
                                                                ng-disabled="!ctrl.canDeleteOUDocumentFile(ouDocumentFile)"
                                                                tooltip="{{lang.delete}}"
                                                                ng-click="ctrl.removeOuDocumentFile(ouDocumentFile)"
                                                                aria-label="Delete"
                                                                class="md-icon-button">
                                                            <md-icon md-svg-icon="delete"></md-icon>
                                                        </md-button>
                                                        <md-button
                                                                ng-disabled="!ctrl.canEditOUDocumentFile(ouDocumentFile)"
                                                                tooltip="{{lang.edit}}"
                                                                ng-click="ctrl.editOuDocumentFile(ouDocumentFile)"
                                                                aria-label="Edit"
                                                                class="md-icon-button">
                                                            <md-icon md-svg-icon="pencil"></md-icon>
                                                        </md-button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </md-table-container>
                                </md-card>
                            </div>

                            <div layout="column" ng-if="ctrl.showRelatedOUForm">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>{{lang.organization_unit}}</label>
                                        <md-select ng-model="ctrl.ouDocumentFile.ouid"
                                                   required
                                                   ng-model-options="{trackBy: '$value.id'}"
                                                   md-on-close="ctrl.clearSearchText('ou')"
                                                   data-md-container-class="select-header-container sticky-search-bar"
                                                   ng-disabled="ctrl.editModeRelatedOu">
                                            <md-select-header class="select-header">
                                                <input ng-model="ctrl.ouSearchText"
                                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                                       placeholder="{{lang.search}}"
                                                       class="select-header-input">
                                            </md-select-header>
                                            <md-option
                                                    ng-repeat="organization in ctrl.organizations | translatedNameFilter:ctrl.ouSearchText"
                                                    ng-value="organization"
                                                    tooltip="{{organization.getTranslatedName(true)}}"
                                                    ng-if="!ctrl.excludeOrganizationIfExists(organization)">
                                                <span md-highlight-text="ctrl.ouSearchText"
                                                      md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="code">{{lang.code}}</label>
                                        <input no-space-directive name="code"
                                               id="code" minlength="3"
                                               ng-model="ctrl.ouDocumentFile.code"
                                               custom-validate-directive="EN_"
                                               maxlength="80">
                                        <div ng-messages="documentFileForm.code.$error">
                                            <div ng-message="EN_">{{lang.english_number_under_score}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="itemOrder">{{lang.item_order}}</label>
                                        <input name="itemOrder" id="itemOrder" required
                                               ng-model="ctrl.ouDocumentFile.itemOrder"
                                               custom-validate-directive="number" maxlength="5">
                                        <div ng-messages="documentFileForm.itemOrder.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 5})}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="serial">{{lang.label_serial}}</label>
                                        <input no-space-directive name="serial"
                                               id="serial" minlength="3"
                                               ng-model="ctrl.ouDocumentFile.serial"
                                               custom-validate-directive="number"
                                               maxlength="80">
                                        <div ng-messages="documentFileForm.serial.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-switch ng-model="ctrl.ouDocumentFile.status">
                                        <label>{{lang.status}} :
                                            {{ctrl.ouDocumentFile.getTranslatedStatus()}}</label>
                                    </md-switch>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <div ng-if="!ctrl.showRelatedOUForm">
            <md-button class="md-raised md-primary" ng-if="!ctrl.editMode"
                       ng-disabled="documentFileForm.$invalid || !ctrl.checkValidGlobal()"
                       ng-click="ctrl.saveDocumentFile($event)">{{lang.add}}
            </md-button>
            <md-button class="md-raised md-primary"
                       ng-if="ctrl.editMode && ctrl.selectedTab === 'basic'"
                       ng-disabled="documentFileForm.$invalid || !ctrl.checkValidGlobal()"
                       ng-click="ctrl.saveDocumentFile($event)">{{lang.save}}
            </md-button>
            <md-button class="md-raised" ng-if="ctrl.selectedTab === 'basic'"
                       ng-click="ctrl.resetModel()">
                {{lang.reset}}
            </md-button>
            <md-button class="md-raised red-text"
                       ng-click="ctrl.closePopup()">
                {{lang.close}}
            </md-button>
        </div>
        <div ng-if="ctrl.showRelatedOUForm">
            <md-button class="md-raised md-primary" ng-if="!ctrl.editModeRelatedOu"
                       ng-disabled="!ctrl.isRelatedOuFormValid(documentFileForm)"
                       ng-click="ctrl.addOuDocumentFile($event)">
                {{lang.add}}
            </md-button>
            <md-button class="md-raised md-primary" ng-if="ctrl.editModeRelatedOu"
                       ng-disabled="!ctrl.isRelatedOuFormValid(documentFileForm)"
                       ng-click="ctrl.updateOuDocumentFile($event)">
                {{lang.save}}
            </md-button>
            <md-button class="md-raised red-text" ng-click="ctrl.toggleRelatedOuForm()">
                {{lang.close}}
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
