<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_document_type : ctrl.model.getNames()}}">
    <div layout="column">
        <popup-toolbar-directive ng-if="!ctrl.model.id"
                                 header-text="{{lang.add_new_document_type}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.model.id"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <form name="documentTypeForm" autocomplete="off">
                <div layout="column" class="p20">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="arName">{{lang.arabic_name}}</label>
                            <input name="arName" id="arName" required minlength="4"
                                   ng-model="ctrl.documentType.arName"
                                   maxlength="80" custom-validate-directive="ANS">
                            <div ng-messages="documentTypeForm.arName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="enName">{{lang.english_name}}</label>
                            <input name="enName" id="enName" required minlength="4"
                                   ng-model="ctrl.documentType.enName" maxlength="80"
                                   maxlength="150" custom-validate-directive="ENS">
                            <div ng-messages="documentTypeForm.enName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                <div ng-message="ENS">{{lang.english_number_space}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="lookupStrKey">{{lang.label_document_class}}</label>
                            <md-select name="lookupStrKey" id="lookupStrKey" required multiple
                                       aria-label="Document Class" maxlength="40"
                                       ng-model="ctrl.documentType.lookupStrKey"
                                       data-md-container-class="select-header-container"
                                       ng-model-options="{trackBy: '$value.id'}">
                                <md-select-header class="select-header">
                                    <div class="cms-simple-checkbox-container">
                                        <input type="checkbox" class="cms-simple-checkbox"
                                               ng-class="{'checked': ctrl.isChecked(), 'indeterminate': ctrl.isIndeterminate()}"
                                               ng-checked="ctrl.isChecked()"
                                               ng-model="ctrl.documentClassCheck">
                                        <span class="cms-simple-checkbox-text"
                                              ng-click="ctrl.toggleAll($event)">{{ctrl.isChecked() ? lang.un_select_all : lang.select_all}}</span>
                                    </div>
                                </md-select-header>
                                <md-option ng-value="dc" ng-repeat="dc in ctrl.documentClasses track by $index"
                                           ng-disabled="ctrl.isDefaultDocumentClass(dc)">
                                    {{dc.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="documentTypeForm.lookupStrKey.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:40})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="itemOrder">{{lang.item_order}}</label>
                            <input name="itemOrder" id="itemOrder" required
                                   ng-model="ctrl.documentType.itemOrder"
                                   custom-validate-directive="number">
                            <div ng-messages="documentTypeForm.itemOrder.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="number">{{lang.numberonly}}</div>
                            </div>
                        </md-input-container>
                        <div flex class="p20">
                            <md-switch ng-model="ctrl.documentType.status" aria-label="{{lang.status}}">
                                <label>{{lang.status}} : {{ctrl.documentType.getTranslatedStatus()}}</label>
                            </md-switch>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-disabled="documentTypeForm.$invalid" ng-if="!ctrl.editMode"
                           ng-click="ctrl.addDocumentTypeFromCtrl()">
                    {{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-disabled="documentTypeForm.$invalid" ng-if="ctrl.editMode"
                           ng-click="ctrl.editDocumentTypeFromCtrl()">
                    {{lang.save}}
                </md-button>
                <span flex=""></span>
                <md-button class="md-raised"
                           ng-click="ctrl.resetModel()">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeDocumentTypePopupFromCtrl()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
