<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{ctrl.title}}">
    <popup-toolbar-directive
            header-text="{{ctrl.title}}"
            close-callback="ctrl.closeItemSelectorPopup"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <md-card flex>
                <md-table-container>
                    <div flex scroll-directive>
                        <table md-table md-row-select multiple="{{ctrl.multiSelect}}"
                               ng-model="ctrl.selectedItems"
                               md-progress="ctrl.grid.progress">
                            <thead md-head md-order="ctrl.grid.order"
                                   md-on-reorder="ctrl.getSortedData">
                            <tr md-row>
                                <th ng-if="ctrl.selectedItems.length" md-column
                                    colspan="7">
                                    <div layout="row" layout-align="start center">
                                        <span>{{ctrl.selectedItems.length}} {{lang.items_selected}} </span>
                                        <span flex></span>
                                    </div>
                                </th>
                                <th ng-if="!ctrl.selectedItems.length" md-column>
                                    <!-- Indicators -->
                                </th>
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="docSubject">
                                    <span>{{lang.subject}}</span>
                                </th>
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="docFullSerial">
                                    <span>{{lang.inbox_serial}}</span>
                                </th>
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="priorityLevel">
                                    <span>{{lang.priority_level}}</span>
                                </th>
                                <!--<th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="securityLevel">
                                    <span>{{lang.security_level}}</span>
                                </th>-->
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="docType">
                                    <span>{{lang.label_document_type}}</span>
                                </th>
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="createdBy">
                                    <span>{{lang.creator}}</span>
                                </th>
                                <th md-column ng-if="!ctrl.selectedItems.length"
                                    md-order-by="createdOn">
                                    <span>{{lang.created_on}}</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="correspondence" model="correspondence"
                                selected-length="{{ctrl.selectedItems.length ? ctrl.selectedItems.length : 0}}"
                                ng-repeat="correspondence in ctrl.items | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                <td md-cell class="indicator-td">
                                                    <span flex
                                                          ng-class="{'indicator-content': correspondence.securityLevelIndicator}">
                                                        <md-icon ng-if="correspondence.securityLevelIndicator"
                                                                 class="{{correspondence.securityLevelIndicator.class}}"
                                                                 md-svg-icon="{{correspondence.securityLevelIndicator.icon}}"
                                                                 tooltip="{{lang[correspondence.securityLevelIndicator.tooltip].change({name: correspondence.securityLevel.getTranslatedName()})}}"
                                                        ></md-icon>
                                                    </span>
                                    <span flex
                                          ng-class="{'indicator-content': correspondence.priorityLevelIndicator}">
                                                        <md-icon ng-if="correspondence.priorityLevelIndicator"
                                                                 class="{{correspondence.priorityLevelIndicator.class}}"
                                                                 md-svg-icon="{{correspondence.priorityLevelIndicator.icon}}"
                                                                 tooltip="{{lang[correspondence.priorityLevelIndicator.tooltip].change({name: correspondence.priorityLevel.getTranslatedName()})}}"
                                                        ></md-icon>
                                                    </span>
                                    <span flex
                                          ng-class="{'indicator-content': correspondence.attachmentsIndicator}">
                                                        <md-icon ng-if="correspondence.attachmentsIndicator"
                                                                 class="{{correspondence.attachmentsIndicator.class}}"
                                                                 md-svg-icon="{{correspondence.attachmentsIndicator.icon}}"
                                                                 tooltip="{{lang[correspondence.attachmentsIndicator.tooltip]}}"
                                                        ></md-icon>
                                                    </span>
                                    <span flex
                                          ng-class="{'indicator-content': correspondence.linkedDocsIndicator}">
                                                        <md-icon ng-if="correspondence.linkedDocsIndicator"
                                                                 class="{{correspondence.linkedDocsIndicator.class}}"
                                                                 md-svg-icon="{{correspondence.linkedDocsIndicator.icon}}"
                                                                 tooltip="{{lang[correspondence.linkedDocsIndicator.tooltip]}}"
                                                        ></md-icon>
                                                    </span>
                                </td>
                                <td md-cell class="subject">
                                    <a href=""
                                       ng-if="correspondence.hasContent() && ctrl.grid.truncateSubject && ctrl.isViewCorrespondence"
                                       class="view-doc subject-internal" md-truncate
                                       tooltip="{{correspondence.docSubject}}"
                                       ng-click="ctrl.viewCorrespondence(correspondence, $event)">{{correspondence.docSubject}}</a>
                                    <span ng-if="(!correspondence.hasContent() || !ctrl.isViewCorrespondence) && ctrl.grid.truncateSubject"
                                          class="view-doc subject-internal" md-truncate
                                          tooltip="{{correspondence.docSubject}}">{{correspondence.docSubject}}</span>
                                    <a href=""
                                       ng-if="correspondence.hasContent() && !ctrl.grid.truncateSubject && ctrl.isViewCorrespondence"
                                       class="view-doc subject-internal"
                                       tooltip="{{correspondence.docSubject}}"
                                       ng-click="ctrl.viewCorrespondence(correspondence, $event)">{{correspondence.docSubject}}</a>
                                    <span ng-if="(!correspondence.hasContent() || !ctrl.isViewCorrespondence) && !ctrl.grid.truncateSubject"
                                          class="view-doc subject-internal"
                                          tooltip="{{correspondence.docSubject}}">{{correspondence.docSubject}}</span>
                                </td>
                                <td md-cell><span
                                        class="serial-td">{{correspondence.docFullSerial}}</span></td>
                                <td md-cell>{{correspondence.priorityLevel.getTranslatedName()}}</td>
                                <!--<td md-cell>{{correspondence.securityLevel.getTranslatedName()}}</td>-->
                                <td md-cell>{{lang[correspondence.getInfo().documentClass
                                    +"_document_class"]}}
                                </td>
                                <td md-cell>{{correspondence.getTranslatedCreator()}}</td>
                                <td md-cell>{{correspondence.createdOn}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination
                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                            md-limit-options="ctrl.grid.limitOptions"
                            md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                            md-total="{{ctrl.items.length}}" md-page-select>
                    </md-table-pagination>
                </md-table-container>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised" ng-click="ctrl.sendSelectedItems()">{{lang.select}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closeItemSelectorPopup()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
