<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           aria-label="Duplicate Correspondence">
    <popup-toolbar-directive ng-if="!ctrl.model.id"
                             header-text="{{lang.duplicate_options}} : {{ctrl.correspondence.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div ng-repeat="rowValue in ctrl.keyRows track by $index" layout="row">
                <div flex ng-repeat="key  in rowValue track by $index" layout="row">
                    <md-checkbox ng-if="key != 'fake'" ng-model="ctrl.duplicateOption[key]">
                        {{lang.get(ctrl.labels[key])}}
                    </md-checkbox>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-click="ctrl.duplicateCorrespondence()">
            {{lang.duplicate}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeDuplicateDialog()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
