<div layout="column" class="dialog-alert-box">
    <div scroll-directive class="dialog-content">
        <img class="dialog-image" src="assets/images/question.png"/>
        <div class="dialog-paragraph" ng-bind-html="ctrl.content"></div>
    </div>
    <div class="dialog-footer button_message">
        <button class="button radius md-raised md-button md-ink-ripple md-primary"
                ng-click="ctrl.editInDesktopCallback()">
            {{lang.grid_action_edit_in_desktop}}
        </button>
        <button class="button radius md-raised md-button md-ink-ripple md-primary"
                ng-click="ctrl.editInOfficeOnlineCallback()">
            {{lang.edit_in_office_online}}
        </button>
        <button class="button radius md-raised md-button md-ink-ripple red-text"
                id="dialog-close-btn" ng-click="ctrl.cancelCallback()">
            {{lang.cancel}}
        </button>
    </div>
</div>
