<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_entity: ctrl.model.getTranslatedName()}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_entity}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode"
                             header-text="{{ctrl.model.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="entityForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <!-- Basic Info -->
                    <md-tab label="{{lang.basic_info}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.identifier}}</label>
                                        <input name="identifier" id="identifier" required minlength="3" maxlength="20"
                                               ng-readonly="ctrl.editMode" ng-model="ctrl.entity.identifier"
                                               custom-validate-directive="E" no-space-directive>
                                        <div ng-messages="entityForm.identifier.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:10})}}</div>
                                            <div ng-message="E">{{lang.english_only}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               maxlength="80" ng-model="ctrl.entity.arName"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="entityForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               maxlength="80" ng-model="ctrl.entity.enName"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="entityForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="appArName">{{lang.app_arabic_name}}</label>
                                        <input name="appArName" id="appArName" minlength="4"
                                               ng-model="ctrl.entity.appArName" maxlength="20"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="entityForm.appArName.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:20})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="appEnName">{{lang.app_english_name}}</label>
                                        <input name="appEnName" id="appEnName" minlength="4"
                                               ng-model="ctrl.entity.appEnName" maxlength="20"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="entityForm.appEnName.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:20})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!--<md-input-container flex>
                                        <label for="groupPrefix">{{lang.group_prefix}}</label>
                                        <input name="groupPrefix" id="groupPrefix" minlength="4"
                                               ng-readonly="ctrl.editMode" maxlength="10"
                                               ng-model="ctrl.entity.groupPrefix"
                                               custom-validate-directive="E" no-space-directive>
                                        <div ng-messages="entityForm.groupPrefix.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:10})}}</div>
                                            <div ng-message="E">{{lang.english_only}}</div>
                                        </div>
                                    </md-input-container>-->
                                    <md-input-container flex>
                                        <label for="helpUrl">{{lang.help_url}}</label>
                                        <input name="helpUrl" id="helpUrl" maxlength="500"
                                               ng-model="ctrl.entity.helpUrl">
                                        <div ng-messages="entityForm.helpUrl.$error">
                                            <div ng-message="url">{{lang.url_only}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:500})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex>
                                        <md-switch ng-model="ctrl.entity.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} : {{ctrl.entity.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex>
                                        <md-switch ng-model="ctrl.entity.isMSTeamsEnabled"
                                                   aria-label="{{lang.teams_integration}}">
                                            <label>{{lang.teams_integration}} :
                                                {{ctrl.entity.getTranslatedMSTeamsStatus()}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- Connection Settings -->
                    <md-tab label="{{lang.connection_settings}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <!-- FILE NET -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.filenet}}</legend>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="cmUserName">{{lang.filenet_content_manager_username}}</label>
                                            <input name="cmUserName" id="cmUserName" required
                                                   ng-model="ctrl.entity.cmUserName"
                                                   custom-validate-directive="FILE_NET_USER"
                                                   minlength="2" maxlength="50">
                                            <div ng-messages="entityForm.cmUserName.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:50})}}
                                                </div>
                                                <div ng-message="FILE_NET_USER">{{lang.english_number}}</div>
                                            </div>
                                        </md-input-container>
                                        <div layout-align="start center" layout="row" flex>
                                            <md-input-container flex>
                                                <label for="cmPassword">{{lang.filenet_content_manager_password}}</label>
                                                <input type="password" name="cmPassword" id="cmPassword"
                                                       no-space-directive
                                                       minlength="2" ng-model="ctrl.entity.cmPassword" maxlength="50"
                                                       ng-required="ctrl.entity.cmUserName && !ctrl.entity.id || (ctrl.editMode && ctrl.entity.editPassword)"
                                                       ng-disabled="!ctrl.entity.cmUserName">
                                                <div ng-messages="entityForm.cmPassword.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                    <div ng-message="minlength">{{lang.short}}</div>
                                                    <div ng-message="maxlength">{{lang.max_length.change({length:50})}}
                                                    </div>
                                                </div>
                                                <div class="help-text-div"
                                                     ng-if="ctrl.entity.id && ctrl.entity.cmUserName">
                                                    {{lang.enter_password_to_override}}
                                                </div>
                                            </md-input-container>
                                            <md-input-container ng-if="ctrl.editMode">
                                                <md-checkbox ng-model="ctrl.entity.editPassword"
                                                             title="{{lang.edit_password}}"></md-checkbox>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="cmEJBaddress">{{lang.filenet_content_manager_ejb_address}}</label>
                                            <input name="cmEJBaddress" id="cmEJBaddress"
                                                   ng-required="ctrl.entity.cmUserName"
                                                   ng-disabled="!ctrl.entity.cmUserName"
                                                   ng-model="ctrl.entity.cmEJBaddress" maxlength="500">
                                            <!--custom-validate-directive="url|ip"-->
                                            <div ng-messages="entityForm.cmEJBaddress.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <!--<div ng-message="url|ip">{{lang.invalid_address}}</div>-->
                                                <div ng-message="maxlength">{{lang.max_length.change({length:500})}}
                                                </div>
                                            </div>
                                            <div class="hint" ng-if="ctrl.entity.isSSO">{{lang.ejb_address_sso}}</div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="cmStanza">{{lang.filenet_content_manager_stanza}}</label>
                                            <input name="cmStanza" id="cmStanza" maxlength="20"
                                                   ng-required="ctrl.entity.cmUserName"
                                                   ng-disabled="!ctrl.entity.cmUserName"
                                                   minlength="2" ng-model="ctrl.entity.cmStanza">
                                            <div ng-messages="entityForm.cmStanza.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:20})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="osName">{{lang.filenet_object_store_name}}</label>
                                            <input name="osName" id="osName" maxlength="20"
                                                   ng-required="ctrl.entity.cmUserName"
                                                   ng-disabled="!ctrl.entity.cmUserName"
                                                   ng-model="ctrl.entity.osName" minlength="2">
                                            <div ng-messages="entityForm.osName.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:20})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="peRouterName">{{lang.filenet_process_engine_router_name}}</label>
                                            <input name="peRouterName" id="peRouterName" maxlength="20"
                                                   ng-required="ctrl.entity.cmUserName"
                                                   ng-disabled="!ctrl.entity.cmUserName"
                                                   ng-model="ctrl.entity.peRouterName" minlength="2">
                                            <div ng-messages="entityForm.peRouterName.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:20})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <div flex>
                                            <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                                                       ng-disabled="!ctrl.checkTestFileNetConnectionEnabled()"
                                                       ng-click="ctrl.testFileNetConnection()">{{lang.test_connection}}
                                            </md-button>
                                        </div>
                                        <span flex></span>
                                        <div flex>
                                            <md-switch ng-model="ctrl.entity.isSSO">
                                                {{lang.sso}} : {{ctrl.entity.getTranslatedIsSSL(ctrl.entity.isSSO)}}
                                            </md-switch>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- TAWASOL SUPPORTING DATABASE -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.tawasol_supporting_database}}</legend>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="cmsDatabaseName">{{lang.database_name}}</label>
                                            <input name="cmsDatabaseName" id="cmsDatabaseName" required
                                                   ng-model="ctrl.entity.cmsDatabaseName" minlength="2" maxlength="30">
                                            <div ng-messages="entityForm.cmsDatabaseName.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:30})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="cmsDataSourceName">{{lang.data_source_name}}</label>
                                            <input name="cmsDataSourceName" id="cmsDataSourceName" minlength="2"
                                                   required ng-model="ctrl.entity.cmsDataSourceName" maxlength="30">
                                            <div ng-messages="entityForm.cmsDataSourceName.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:30})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </fieldset>
                                <!-- MAIP -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.maip_service}}</legend>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="maipServiceURL">{{lang.maip_service_url}}</label>
                                            <input name="maipServiceURL" id="maipServiceURL"
                                                   ng-required="ctrl.entity.isMAIPEnabled"
                                                   ng-model="ctrl.entity.maipServiceURL" maxlength="500"
                                                   custom-validate-directive="url">
                                            <div ng-messages="entityForm.maipServiceURL.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="url">{{lang.url_only}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:500})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-switch flex ng-model="ctrl.entity.isMAIPEnabled"
                                                   aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.entity.getTranslatedIsSSL(ctrl.entity.isMAIPEnabled)}}</label>
                                        </md-switch>
                                    </div>
                                </fieldset>
                                <!-- SMTP -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.smtp}}</legend>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="smtpServerAddress">{{lang.server_address}}</label>
                                            <input name="smtpServerAddress" id="smtpServerAddress"
                                                   ng-model="ctrl.entity.smtpServerAddress" maxlength="20">
                                            <div ng-messages="entityForm.smtpServerAddress.$error">
                                                <!--<div ng-message="url|ip">{{lang.invalid_server_address}}</div>-->
                                                <div ng-message="maxlength">{{lang.max_length.change({length:20})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="smtpUserName">{{lang.username}}</label>
                                            <input name="smtpUserName" id="smtpUserName" maxlength="50"
                                                   ng-required="ctrl.entity.smtpServerAddress"
                                                   minlength="2" ng-model="ctrl.entity.smtpUserName"
                                                   ng-disabled="!ctrl.entity.smtpServerAddress"
                                                   custom-validate-directive="EN">
                                            <div ng-messages="entityForm.smtpUserName.$error">
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:50})}}
                                                </div>
                                                <div ng-message="EN">{{lang.english_number}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="smtpPassword">{{lang.password}}</label>
                                            <input type="password" name="smtpPassword" id="smtpPassword"
                                                   no-space-directive
                                                   minlength="2" ng-model="ctrl.entity.smtpPassword" maxlength="50"
                                                   ng-required="ctrl.entity.smtpServerAddress && !ctrl.entity.id"
                                                   ng-disabled="!ctrl.entity.smtpServerAddress">
                                            <div ng-messages="entityForm.smtpPassword.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:50})}}
                                                </div>
                                            </div>
                                            <div class="help-text-div"
                                                 ng-if="ctrl.entity.id && ctrl.entity.smtpServerAddress">
                                                {{lang.enter_password_to_override}}
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="smtpFromEmail">{{lang.smtp_from_email}}</label>
                                            <input name="smtpFromEmail" id="smtpFromEmail"
                                                   custom-validate-directive="email" maxlength="50"
                                                   ng-required="ctrl.entity.smtpServerAddress"
                                                   ng-disabled="!ctrl.entity.smtpServerAddress"
                                                   ng-model="ctrl.entity.smtpFromEmail">
                                            <div ng-messages="entityForm.smtpFromEmail.$error">
                                                <div ng-message="email">{{lang.invalid_email}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:50})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label for="smtpSubject">{{lang.subject}}</label>
                                            <input name="smtpSubject" id="smtpSubject" maxlength="20"
                                                   ng-model="ctrl.entity.smtpSubject" minlength="2"
                                                   ng-required="ctrl.entity.smtpServerAddress"
                                                   ng-disabled="!ctrl.entity.smtpServerAddress">
                                            <div ng-messages="entityForm.smtpSubject.$error">
                                                <div ng-message="minlength">{{lang.short}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:20})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label for="smtpPort">{{lang.smtp_port}}</label>
                                            <input name="smtpPort" id="smtpPort" custom-validate-directive="port"
                                                   ng-model="ctrl.entity.smtpPort" custom-validate-directive="N"
                                                   ng-required="ctrl.entity.smtpServerAddress"
                                                   ng-disabled="!ctrl.entity.smtpServerAddress">
                                            <div ng-messages="entityForm.smtpPort.$error">
                                                <div ng-message="number">{{lang.numberonly}}</div>
                                                <div ng-message="port">{{lang.port_validation}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                                                   ng-disabled="!ctrl.checkTestSmtpConnectionEnabled()"
                                                   ng-click="ctrl.testSmtpConnection()">{{lang.test_connection}}
                                        </md-button>
                                    </div>
                                </fieldset>
                                <!-- FAX -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.fax}}</legend>
                                    <div layout="row">
                                        <md-switch flex ng-model="ctrl.entity.faxEnabled"
                                                   aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.entity.getTranslatedYesNo(ctrl.entity.faxEnabled)}}</label>
                                        </md-switch>
                                        <md-input-container flex>
                                            <label for="rightFaxFolder">{{lang.fax_folder}}</label>
                                            <input name="rightFaxFolder" id="rightFaxFolder"
                                                   ng-required="ctrl.entity.faxEnabled"
                                                   ng-model="ctrl.entity.rightFaxFolder" maxlength="500">
                                            <div ng-messages="entityForm.rightFaxFolder.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                                <div ng-message="maxlength">{{lang.max_length.change({length:500})}}
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </fieldset>
                                <!-- HR -->
                                <fieldset>
                                    <legend class="md-accent">{{lang.hr_integration}}</legend>
                                    <div layout="row">
                                        <md-switch flex ng-model="ctrl.entity.hrEnabled" aria-label="{{lang.status}}">
                                            <label>{{lang.hr_integration}} :
                                                {{ctrl.entity.getTranslatedHRIntegrationStatus()}}</label>
                                        </md-switch>
                                    </div>
                                </fieldset>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- LDAP Settings -->
                    <md-tab label="{{lang.ldap_providers}}">
                        <md-content class="md-padding">
                            <!-- LDAP PROVIDERS -->
                            <div layout="row" class="p20-0">
                                <md-button ng-click="ctrl.openAddLDAPDialog($event)"
                                           class="md-icon-button"
                                           tooltip="{{lang.add}}">
                                    <md-icon md-svg-icon="plus"></md-icon>
                                </md-button>
                                <span flex></span>
                                <grid-search-directive grid="ctrl.ldapGrid"></grid-search-directive>
                            </div>
                            <md-card class="m0">
                                <md-table-container>
                                    <div flex scroll-directive>
                                        <table md-table md-row-select="true"
                                               ng-model="ctrl.selectedLDAPs"
                                               md-progress="ctrl.ldapGrid.progress">
                                            <thead md-head md-order="ctrl.ldapGrid.order"
                                                   md-on-reorder="ctrl.getSortedLDAPData">
                                            <tr md-row>
                                                <th ng-if="!ctrl.selectedLDAPs.length" md-column
                                                    md-order-by="serverAddress"><span>{{lang.server_name}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedLDAPs.length" md-column
                                                    md-order-by="serverName"><span>{{lang.server_host}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedLDAPs.length" md-column
                                                    md-order-by="isDefault"><span>{{lang.default_ldap}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedLDAPs.length" md-column md-order-by=""><span>{{lang.actions}}</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-select="ldapProvider" md-row
                                                ng-repeat="ldapProvider in ctrl.entity.ldapProviders | limitTo: ctrl.ldapGrid.limit: ((ctrl.ldapGrid.page - 1) * ctrl.ldapGrid.limit) track by $index">
                                                <td md-cell>{{ldapProvider.serverAddress}}</td>
                                                <td md-cell>{{ldapProvider.serverName}}</td>
                                                <td md-cell>
                                                    <md-switch aria-label="{{lang.isDefault}}"
                                                               ng-model="ldapProvider.isDefault"
                                                               ng-disabled="ldapProvider.isDefault"
                                                               ng-change="ctrl.changeDefaultLDAP(ldapProvider, $index)"
                                                               title="{{ldapProvider.getTranslatedYesNo('isDefault')}}"></md-switch>
                                                </td>
                                                <td md-cell>
                                                    <div flex layout="row" layout-align="start center">
                                                        <md-button class="md-icon-button"
                                                                   ng-click="ctrl.openEditLDAPDialog(ldapProvider, $index, $event)"
                                                                   title="{{lang.edit}}">
                                                            <md-icon md-svg-icon="pencil"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button"
                                                                   ng-disabled="ldapProvider.isDefault"
                                                                   ng-click="ctrl.removeLDAP(ldapProvider, $index, $event)"
                                                                   title="{{lang.delete}}">
                                                            <md-icon md-svg-icon="delete"></md-icon>
                                                        </md-button>

                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <md-table-pagination
                                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                            md-limit-options="ctrl.ldapGrid.limitOptions"
                                            md-limit="ctrl.ldapGrid.limit" md-page="ctrl.ldapGrid.page"
                                            md-total="{{(ctrl.entity.ldapProviders).length}}" md-page-select
                                            md-on-paginate="ctrl.ldapGrid.pagingCallback">
                                    </md-table-pagination>
                                </md-table-container>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <!-- G2G Settings -->
                    <md-tab label="{{lang.g2g_settings}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="g2gServerAddress">{{lang.server_address}}</label>
                                        <input name="g2gServerAddress" id="g2gServerAddress"
                                               ng-change="ctrl.changeG2GServerAddress('g2gServerAddress', $event)"
                                               ng-model="ctrl.entity.g2gServerAddress">
                                        <div ng-messages="entityForm.g2gServerAddress.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="g2gUserName">{{lang.username}}</label>
                                        <input name="g2gUserName" id="g2gUserName" ng-model="ctrl.entity.g2gUserName"
                                               ng-required="ctrl.entity.g2gServerAddress"
                                               ng-disabled="!ctrl.entity.g2gServerAddress">
                                        <div ng-messages="entityForm.g2gUserName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="g2gPassword">{{lang.password}}</label>
                                        <input type="password" name="g2gPassword" id="g2gPassword"
                                               ng-model="ctrl.entity.g2gPassword"
                                               ng-required="ctrl.entity.g2gServerAddress && !ctrl.entity.id"
                                               ng-disabled="!ctrl.entity.g2gServerAddress">
                                        <div ng-messages="entityForm.g2gPassword.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                        <div class="help-text-div"
                                             ng-if="ctrl.entity.id && ctrl.entity.g2gServerAddress">
                                            {{lang.enter_password_to_override}}
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="g2gPrivateKey">{{lang.private_key}}</label>
                                        <textarea name="g2gPrivateKey" id="g2gPrivateKey"
                                                  class="textarea-height"
                                                  ng-model="ctrl.entity.g2gPrivateKey"
                                                  ng-disabled="!ctrl.entity.g2gServerAddress"></textarea>
                                        <div ng-messages="entityForm.g2gPrivateKey.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container>
                                        <label for="g2gGECode">{{lang.g2g_ge_code}}</label>
                                        <input name="g2gGECode" id="g2gGECode"
                                               ng-model="ctrl.entity.g2gGECode"
                                               custom-validate-directive="number"
                                               ng-required="ctrl.entity.g2gServerAddress"
                                               ng-disabled="!ctrl.entity.g2gServerAddress">
                                        <div ng-messages="entityForm.g2gGECode.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <!-- Internal G2G Settings -->
                    <md-tab label="{{lang.internal_g2g_settings}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="internalG2gServerAddress">{{lang.server_address}}</label>
                                        <input name="internalG2gServerAddress" id="internalG2gServerAddress"
                                               ng-model="ctrl.entity.internalG2gServerAddress"
                                               ng-change="ctrl.changeG2GServerAddress('internalG2gServerAddress', $event)">
                                        <div ng-messages="entityForm.internalG2gServerAddress.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="internalG2gUserName">{{lang.username}}</label>
                                        <input name="internalG2gUserName" id="internalG2gUserName"
                                               ng-model="ctrl.entity.internalG2gUserName"
                                               ng-required="ctrl.entity.internalG2gServerAddress"
                                               ng-disabled="!ctrl.entity.internalG2gServerAddress">
                                        <div ng-messages="entityForm.internalG2gUserName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="internalG2gPassword">{{lang.password}}</label>
                                        <input type="password" name="internalG2gPassword" id="internalG2gPassword"
                                               ng-model="ctrl.entity.internalG2gPassword"
                                               ng-required="ctrl.entity.internalG2gServerAddress && !ctrl.entity.id"
                                               ng-disabled="!ctrl.entity.internalG2gServerAddress">
                                        <div ng-messages="entityForm.internalG2gPassword.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                        <div class="help-text-div"
                                             ng-if="ctrl.entity.id && ctrl.entity.internalG2gServerAddress">
                                            {{lang.enter_password_to_override}}
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container>
                                        <label for="internalG2gGECode">{{lang.internal_g2g_ge_code}}</label>
                                        <input name="internalG2gGECode" id="internalG2gGECode"
                                               ng-model="ctrl.entity.internalG2gGECode"
                                               custom-validate-directive="number"
                                               ng-required="ctrl.entity.internalG2gServerAddress"
                                               ng-disabled="!ctrl.entity.internalG2gServerAddress">
                                        <div ng-messages="entityForm.internalG2gGECode.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-if="!ctrl.editMode"
                   ng-disabled="entityForm.$invalid || !ctrl.entity.ldapProviders.length"
                   ng-click="ctrl.addEntityFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-disabled="entityForm.$invalid || !ctrl.entity.ldapProviders.length"
                   ng-click="ctrl.editEntityFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeEntityPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
