<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_entity_type : ctrl.model.getTranslatedName()}}">
        <popup-toolbar-directive ng-if="!ctrl.editMode"
                                 header-text="{{lang.add_new_entity_type}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="doc" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="arName">{{lang.arabic_name}}</label>
                            <input name="arName" id="arName" required minlength="4" ng-model="ctrl.entityType.arName"
                                   custom-validate-directive="ANS" maxlength="80">
                            <div ng-messages="doc.arName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="enName">{{lang.english_name}}</label>
                            <input name="enName" id="enName" required minlength="4" ng-model="ctrl.entityType.enName"
                                   custom-validate-directive="ENS" maxlength="80">
                            <div ng-messages="doc.enName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="ENS">{{lang.english_number_space}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="lookupStrKey">{{lang.code}}</label>
                            <input no-space-directive name="lookupStrKey" id="lookupStrKey"
                                   minlength="4"
                                   ng-model="ctrl.entityType.lookupStrKey"
                                   custom-validate-directive="EN_" maxlength="80">
                            <div ng-messages="doc.lookupStrKey.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="EN_">{{lang.english_number_under_score}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="itemOrder">{{lang.item_order}}</label>
                            <input name="itemOrder" id="itemOrder" required ng-model="ctrl.entityType.itemOrder"
                                   custom-validate-directive="number" maxlength="5">
                            <div ng-messages="doc.itemOrder.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="number">{{lang.numberonly}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex class="p20">
                            <md-switch ng-model="ctrl.entityType.status">
                                <label>{{lang.status}} : {{ctrl.entityType.getTranslatedStatus()}}</label>
                            </md-switch>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="doc.$invalid" ng-if="!ctrl.editMode"
                   ng-click="ctrl.addEntityTypeFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-click="ctrl.editEntityTypeFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised"
                   ng-click="ctrl.resetModel(doc, $event)">
            {{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePopUp()">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
