<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.inbox_add_to_folder}}">
    <div layout="column">
        <md-toolbar>
            <div layout-align="start center" layout="row">
                <bulk-correspondence-status-directive class="no-focus-bg" ng-if="ctrl.selectedWorkItems.length > 1"
                                                      delete-callback="ctrl.deleteFromSelectedWorkItem"
                                                      items="ctrl.selectedWorkItems"></bulk-correspondence-status-directive>
                <span class="p20">{{ctrl.showInbox  ?  lang.grid_action_move_to_folder : lang.inbox_add_to_folder  }}</span>
                <close-dialog-directive></close-dialog-directive>
            </div>
        </md-toolbar>
        <md-content scroll-directive>
            <div class="p20 first-folder-list">
                <folders-tree-structure-directive disable-selected="ctrl.disableSelected" folders="ctrl.folders"
                                                  click-callback="ctrl.moveSelectedToFolders"></folders-tree-structure-directive>
            </div>
        </md-content>
    </div>
</md-dialog>