<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.inbox_add_to_folder}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <bulk-correspondence-status-directive class="no-focus-bg" ng-if="ctrl.selectedWorkItems.length > 1"
                                                  delete-callback="ctrl.deleteFromSelectedWorkItem"
                                                  items="ctrl.selectedWorkItems"></bulk-correspondence-status-directive>
            <span md-truncate>{{ctrl.showInbox  ?  lang.grid_action_move_to_folder : lang.inbox_add_to_folder}}</span>
            <span flex></span>
            <div ng-if="false">
                <md-button class="md-icon-button" ng-click="ctrl.toggleFullScreen()">
                    <md-icon md-svg-icon="{{ctrl.fullScreen ? 'fullscreen-exit': 'fullscreen' }}"></md-icon>
                </md-button>
            </div>
            <cms-close-dialog-directive></cms-close-dialog-directive>
        </div>
    </md-toolbar>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div class="first-folder-list">
                <folders-tree-structure-directive disable-selected="ctrl.disableSelected" folders="ctrl.folders"
                                                  click-callback="ctrl.moveSelectedToFolders"></folders-tree-structure-directive>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
