<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.select_organization_and_user}}">
    <popup-toolbar-directive header-text="{{lang.select_organization_and_user}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="organizationAndUserForm" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <!-- Organizations -->
                        <md-input-container flex>
                            <label for="organization">{{lang.organization_unit}}</label>
                            <md-select id="organization" name="organization" required
                                       ng-change="ctrl.getAppUsersAndSecurityLevelsForOU($event)"
                                       aria-label="{{lang.organization_unit}}"
                                       ng-model="ctrl.selectedOrganization"
                                       md-on-close="ctrl.clearSearchText('inlineOU')"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.inlineOUSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option
                                        ng-repeat="organization in ctrl.organizations | translatedNameFilter: ctrl.inlineOUSearchText : 'getNameByLanguageRegOUSection'"
                                        ng-value="organization.id">
                                        <span
                                                md-highlight-text="ctrl.inlineOUSearchText"
                                                md-highlight-flags="i">{{organization.getTranslatedNameRegOUSection()}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="organizationAndUserForm.organization.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Users -->
                        <md-input-container flex>
                            <label for="applicationUser">{{lang.app_users}}</label>
                            <md-select name="applicationUser" id="applicationUser"
                                       ng-required="ctrl.selectedOrganization"
                                       ng-disabled="!ctrl.selectedOrganization"
                                       aria-label="{{lang.app_users}}"
                                       ng-model="ctrl.selectedApplicationUser"
                                       ng-model-options="{trackBy: '$value.id'}"
                                       md-on-close="ctrl.clearSearchText('inlineAppUser')"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.inlineAppUserSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option ng-if="!ctrl.notCurrentUser(user)"
                                           ng-value="user"
                                           ng-repeat="user in ctrl.applicationUsers | translatedNameFilter: ctrl.inlineAppUserSearchText">
                                       <span md-highlight-text="ctrl.inlineAppUserSearchText"
                                             md-highlight-flags="i">{{user.getTranslatedName()}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="organizationAndUserForm.applicationUser.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Security Levels -->
                        <md-input-container flex>
                            <label for="securityLevels">{{lang.security_level}}</label>
                            <md-select id="securityLevels" name="securityLevels"
                                       ng-model-options="{trackBy:'$value.lookupKey'}"
                                       multiple required
                                       ng-disabled="!ctrl.selectedApplicationUser"
                                       ng-model="ctrl.selectedSecurityLevels">
                                <md-option ng-value="option"
                                           ng-repeat="option in ctrl.securityLevels">
                                    {{option.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="organizationAndUserForm.securityLevels.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="organizationAndUserForm.$invalid"
                   ng-click="ctrl.getFollowupEmployeeDataForOUAndUser($event)">
            {{ctrl.isFollowupSentItems ? lang.follow_up_get_sent_items : lang.follow_up_get_inbox}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeFollowupEmployeeInboxPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
