<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.search}}">
    <popup-toolbar-directive header-text="{{lang.search}} : {{lang.menu_item_user_followup}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="followupBookSearchForm" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <!-- Doc Subject -->
                        <md-input-container flex>
                            <label for="docSubject">{{lang.subject}}</label>
                            <input name="docSubject" id="docSubject"
                                   ng-model="ctrl.searchCriteria.docSubject">
                            <div ng-messages="followupBookSearchForm.docSubject.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Doc Serial -->
                        <md-input-container flex>
                            <label for="docFullSerial">{{lang.serial_number}}</label>
                            <input name="docFullSerial" id="docFullSerial"
                                   ng-model="ctrl.searchCriteria.docFullSerial">
                            <div ng-messages="followupBookSearchForm.docFullSerial.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <!-- Correspondence Site Type -->
                        <md-input-container flex>
                            <label for="selectedSiteType">{{lang.correspondence_site_type}}</label>
                            <md-select name="selectedSiteType" id="selectedSiteType"
                                       ng-model="ctrl.searchCriteria.selectedSiteType"
                                       ng-model-options="{trackBy:'$value.id'}"
                                       md-on-close="ctrl.clearSearchText('siteType')"
                                       ng-change="ctrl.getMainSites(true, $event)"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.siteTypeSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option ng-value="null">{{lang.none}}</md-option>
                                <md-option
                                        ng-repeat="option in ctrl.correspondenceSiteTypes | translatedNameFilter: ctrl.siteTypeSearchText"
                                        ng-value="option">
                                    <span
                                            md-highlight-text="ctrl.siteTypeSearchText"
                                            md-highlight-flags="i">{{option.getTranslatedName()}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="followupBookSearchForm.selectedSiteType.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Main Site -->
                        <md-input-container flex>
                            <label for="mainSite">{{lang.main_site}}</label>
                            <md-select id="mainSite" ng-model="ctrl.searchCriteria.selectedMainSite"
                                       ng-model-options="{trackBy:'$value.id'}"
                                       ng-disabled="!ctrl.searchCriteria.selectedSiteType || !ctrl.searchCriteria.selectedSiteType.id"
                                       md-on-close="ctrl.clearSearchText('mainSite')"
                                       ng-change="ctrl.getSubSites(true, $event)"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.mainSiteSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option ng-value="null">{{lang.none}}</md-option>
                                <md-option
                                        ng-repeat="mainSite in ctrl.mainSites | translatedNameFilter: ctrl.mainSiteSearchText"
                                        ng-value="mainSite">
                                    <span
                                            md-highlight-text="ctrl.mainSiteSearchText"
                                            md-highlight-flags="i">{{mainSite.getTranslatedName()}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <!-- Sub Site -->
                        <md-input-container flex>
                            <label for="subSite">{{lang.sub_site}}</label>
                            <md-select id="subSite" ng-model="ctrl.searchCriteria.selectedSubSite"
                                       ng-model-options="{trackBy:'$value.id'}"
                                       ng-disabled="!ctrl.searchCriteria.selectedSiteType || !ctrl.searchCriteria.selectedSiteType.id || !ctrl.searchCriteria.selectedMainSite"
                                       md-on-close="ctrl.clearSearchText('subSite')"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.subSiteSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option ng-value="null">{{lang.none}}</md-option>
                                <md-option
                                        ng-repeat="subSite in ctrl.subSites | translatedNameFilter: ctrl.subSiteSearchText"
                                        ng-value="subSite">
                                    <span
                                            md-highlight-text="ctrl.subSiteSearchText"
                                            md-highlight-flags="i">{{subSite.getTranslatedName()}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <!-- From -->
                        <md-input-container flex class="cms-datepicker">
                            <label for="fromFollowupDate">{{lang.follow_up_date_from}}</label>
                            <md-datepicker id="fromFollowupDate" name="fromFollowupDate"
                                           ng-required="true"
                                           ng-change="ctrl.onChangeFromFollowupDate($event)"
                                           ng-model="ctrl.searchCriteria.fromFollowupDate"
                                           md-max-date="ctrl.searchCriteria.toFollowupDate"
                            ></md-datepicker>
                            <div ng-messages="followupBookSearchForm.fromFollowupDate.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- To -->
                        <md-input-container flex class="cms-datepicker">
                            <label for="toFollowupDate">{{lang.follow_up_date_to}}</label>
                            <md-datepicker id="toFollowupDate" name="toFollowupDate"
                                           ng-required="true"
                                           ng-model="ctrl.searchCriteria.toFollowupDate"
                                           md-min-date="ctrl.searchCriteria.fromFollowupDate"
                            ></md-datepicker>
                            <!--md-max-date="ctrl.toFollowupDateMaxValue"-->
                            <div ng-messages="followupBookSearchForm.toFollowupDate.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <!-- Creation Date -->
                        <md-input-container flex class="cms-datepicker">
                            <label for="docDate">{{lang.created_on}}</label>
                            <md-datepicker id="docDate" name="docDate"
                                           ng-model="ctrl.searchCriteria.docDate"
                            ></md-datepicker>
                            <div ng-messages="followupBookSearchForm.docDate.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex></md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="followupBookSearchForm.$invalid || ctrl.isFilterDisabled()"
                   ng-click="ctrl.filterRecords($event)">{{lang.filter}}
        </md-button>
        <md-button class="md-raised"
                   ng-click="ctrl.resetFilter($event)">{{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePopup()">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
