<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.help}}">
    <popup-toolbar-directive header-text="{{lang.help}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div layout="column" class="layout-padding p0">
                <div ng-if="ctrl.globalSettings.supportEmail">
                    <md-icon md-svg-icon="email"></md-icon>
                    <b>{{lang.support_email}}</b>
                    <span class="p20">{{ctrl.globalSettings.supportEmail}}</span>
                </div>
                <div ng-if="ctrl.globalSettings.supportPhoneNo">
                    <md-icon md-svg-icon="phone"></md-icon>
                    <b>{{lang.support_phone}}</b>
                    <span class="p20">{{ctrl.globalSettings.supportPhoneNo}}</span>
                </div>
                <div ng-if="ctrl.helpUrl">
                    <md-icon md-svg-icon="phone"></md-icon>
                    <b>{{lang.help_url}}</b>
                    <a href="{{ctrl.helpUrl}}" target="_blank" class="p20">{{ctrl.helpUrl}}</a>
                </div>
                <div ng-if="ctrl.globalSettings.loginAdditionalContent">
                    <md-icon md-svg-icon="information-variant"></md-icon>
                    <b>{{lang.login_information}}</b>
                    <div class="p20">{{ctrl.globalSettings.loginAdditionalContent}}</div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>