<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.attachments}} - {{lang.icn_import}}">
    <popup-toolbar-directive header-text="{{lang.attachments}} - {{lang.icn_import}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="icnAttachmentOptionsForm" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <!-- Title -->
                        <md-input-container flex>
                            <label for="documentTitle">{{lang.attachment_document_title}}</label>
                            <input required ng-model="ctrl.attachment.documentTitle" name="documentTitle" id="documentTitle">
                            <div ng-messages="icnAttachmentOptionsForm.documentTitle.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Update Action Status -->
                        <md-input-container flex>
                            <label for="updateActionStatus">{{lang.attachment_update_action_status}}</label>
                            <md-select id="updateActionStatus"
                                       name="updateActionStatus"
                                       ng-required="true"

                                       ng-model="ctrl.attachment.updateActionStatus">
                                <md-option ng-repeat="updateAction in ctrl.attachmentUpdateActions"
                                           ng-value="updateAction">
                                    {{updateAction.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="icnAttachmentOptionsForm.updateActionStatus.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <!-- Attachment Type -->
                        <md-input-container flex>
                            <label for="attachmentType">{{lang.attachment_attachment_type}}</label>
                            <md-select
                                    ng-required="true"
                                    id="attachmentType"
                                    name="attachmentType"
                                    ng-model-options="{trackBy:'$value'}"
                                    ng-model="ctrl.attachment.attachmentType">
                                <md-option ng-repeat="type in ctrl.attachmentTypes"
                                           ng-value="type.lookupKey"
                                           ng-if="!ctrl.attachment.vsId && type.status">
                                    {{type.getTranslatedName()}}
                                </md-option>
                                <md-option ng-repeat="type in ctrl.attachmentTypes"
                                           ng-value="type.lookupKey"
                                           ng-if="ctrl.attachment.vsId && ctrl.checkAttachmentTypeIsAvailable(type)"
                                           ng-disabled="!type.status">
                                    {{type.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="icnAttachmentOptionsForm.attachmentType.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Security Level -->
                        <md-input-container ng-if="!ctrl.inheritSecurity" flex>
                            <label for="securityLevel">{{lang.attachment_attachment_security_level}}</label>
                            <md-select ng-model-options="{trackBy: '$value'}"
                                       id="securityLevel"
                                       name="securityLevel"
                                       ng-required="true"
                                       ng-model="ctrl.attachment.securityLevel">
                                <md-option ng-value="level.lookupKey" ng-repeat="level in ctrl.securityLevel">
                                    {{level.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="icnAttachmentOptionsForm.securityLevel.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <!-- Search Templates -->
                        <md-input-container flex>
                            <label for="searchTemplate">{{lang.templates}}</label>
                            <md-select aria-label="searchTemplate"
                                       ng-required="true"
                                       id="searchTemplate"
                                       name="searchTemplate"
                                       ng-model="ctrl.attachment.searchTemplate">
                                <md-option ng-repeat="template in ctrl.icnSearchTemplates"
                                           ng-value="template">
                                    {{template.menuItem.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="icnAttachmentOptionsForm.searchTemplate.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="icnAttachmentOptionsForm.$invalid"
                   ng-click="ctrl.getICNAttachmentForm($event)">{{lang.attachment_add}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePopup($event)">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
