<md-dialog class="dialog-extend" layout="column"
           ng-class="{'fullscreen':ctrl.fullScreen}"
           id="correspondence-workflow-popup"
           aria-label="launch correspondence workflow">
    <!-- Header -->
    <div class="correspondence-workflow-popup-dialog-header" layout="row" layout-align="start center">
        <div>
            <md-button class="md-icon-button" ng-click="ctrl.toggleWorkflowSidebar()">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </div>
        <bulk-correspondence-status-directive ng-if="ctrl.multi"
                                              delete-callback="ctrl.deleteFromSelectedCorrespondence"
                                              items="ctrl.multiStatus"></bulk-correspondence-status-directive>
        <span ng-if="!ctrl.multi" md-truncate
              class="p20 subject-header">{{lang.get(ctrl.textButton)}} : {{ctrl.correspondence.getTranslatedName()}}</span>
        <span ng-if="ctrl.multi" class="p20">{{lang.send_documents}}</span>
        <span flex></span>
        <!--<md-progress-circular md-mode="indeterminate"
                              ng-if="ctrl.loadingIndicatorService.loading"></md-progress-circular>-->
        <md-button ng-click="ctrl.toggleWorkflowFullScreen()" class="md-icon-button">
            <md-icon md-svg-icon="fullscreen"></md-icon>
        </md-button>
        <md-button ng-click="ctrl.closeCorrespondenceWorkflow()"
                   class="md-icon-button">
            <md-icon md-svg-icon="close" class="red-text"></md-icon>
        </md-button>
    </div>
    <md-dialog-content scroll-directive flex>
        <div>
            <div flex layout="row">
                <!-- Side-nav -->
                <md-sidenav layout="column" md-is-locked-open="ctrl.sidebarStatus"
                            md-component-id="correspondence-workflow-popup" id="sidebar-correspondence-workflow-popup">
                    <div scroll-directive>
                        <ul class="workflow-list">
                            <li layout="row" ng-if="model.show" ng-class="{'selected-tab':ctrl.isSelectedTab(tab)}"
                                ng-repeat="(tab , model) in ctrl.workflowTabs track by $index">
                                <md-button flex ng-disabled="model.disabled" ng-click="ctrl.selectTab(tab)">
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="{{model.icon}}"></md-icon>
                                        <span flex>{{lang.get(model.lang)}}</span>
                                    </div>
                                </md-button>
                            </li>
                        </ul>
                    </div>
                </md-sidenav>
                <!-- Content -->
                <md-content flex scroll-directive class="relative" layout="row">
                    <div class="p20">
                        <!-- Favorite Users -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('favorites')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <md-card layout="row">
                                <md-tabs md-dynamic-height flex id="favorites-tabs">
                                    <!-- Users -->
                                    <md-tab label="{{lang.users}}">
                                        <div>
                                            <workflow-users-directive
                                                    apply-notification-settings="ctrl.applyNotificationSettings"
                                                    exclude-selected="false"
                                                    allow-favorites="true"
                                                    callback-delete-from-selected="ctrl.deleteFromSelected"
                                                    callback-add-selected-user-with-ignore-to-grid="ctrl.addSelectedUserWithIgnoreToGrid"
                                                    callback-add-selected-user-to-grid="ctrl.addSelectedUserToGrid"
                                                    callback-set-settings-to-dist-workflow-item="ctrl.setSettingsToDistWorkflowItem"
                                                    callback-add-selected-users-with-ignore-to-grid="ctrl.addSelectedUsersWithIgnoreToGrid"
                                                    callback-add-selected-users-to-grid="ctrl.addSelectedUsersToGrid"
                                                    callback-set-default-workflow-items-settings="ctrl.setDefaultWorkflowItemsSettings"
                                                    callback-open-workflow-user-out-of-office="ctrl.openWorkflowUserOutOfOffice"
                                                    callback-toggle-fav="ctrl.toggleFav"
                                                    callback-user-not-exists="ctrl.workItemNotExists"
                                                    callback-all-in-favorites="ctrl.allInFavorites"
                                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                                    workflow-comments="ctrl.comments"
                                                    workflow-actions="ctrl.workflowActions"
                                                    grid="ctrl.grid"
                                                    multi-select="!ctrl.getApprovedStatus()"
                                                    grid-name="favoriteUsers"
                                                    grid-items="ctrl.favoriteUsers"></workflow-users-directive>
                                        </div>
                                    </md-tab>
                                    <!-- Organizations -->
                                    <md-tab ng-disabled="ctrl.getApprovedStatus() || ctrl.isPrivateDoc()"
                                            label="{{lang.organizations}}">
                                        <div>
                                            <workflow-items-directive
                                                    multi-select="!ctrl.getApprovedStatus()"
                                                    exclude-selected="false"
                                                    allow-favorites="true"
                                                    grid-type="Organization"
                                                    callback-all-in-favorites="ctrl.allInFavorites"
                                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                                    item-not-exists-callback="ctrl.workItemNotExists"
                                                    workflow-actions="ctrl.workflowActions"
                                                    workflow-comments="ctrl.comments"
                                                    selected="ctrl.selectedWorkflowItems"
                                                    workflow-items="ctrl.favoriteOrganizations"
                                                    grid-name="favoriteOUs"></workflow-items-directive>
                                        </div>
                                    </md-tab>
                                </md-tabs>
                            </md-card>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Users -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('users')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <!-- Search users -->
                            <div enter-submit-directive="user_search" layout="row">
                                <md-input-container ng-if="!ctrl.usersCriteria.hide">
                                    <label for="ou">{{lang.select_organization}}</label>
                                    <md-select id="ou" name="ou"
                                               ng-change="ctrl.onSearchUsers()"
                                               ng-model="ctrl.usersCriteria.ou"
                                               md-on-close="ctrl.clearSearchText('inlineUserOU')"
                                               data-md-container-class="select-header-container">
                                        <md-select-header class="select-header">
                                            <input ng-model="ctrl.inlineUserOUSearchText"
                                                   ng-keydown="ctrl.preventSearchKeyDown($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </md-select-header>
                                        <md-option
                                                ng-repeat="organization in ctrl.organizationGroups | translatedNameFilter: ctrl.inlineUserOUSearchText : 'getNameByLanguageRegOUSection'"
                                                ng-value="organization">
                                        <span
                                                md-highlight-text="ctrl.inlineUserOUSearchText"
                                                md-highlight-flags="i">{{organization.getTranslatedNameRegOUSection()}}</span>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div ng-if="!ctrl.usersCriteria.hide">
                                    <md-button tooltip="{{lang.send_to_whole_department}}" id="add_organization"
                                               ng-disabled="ctrl.getApprovedStatus() || !ctrl.workItemNotExists(ctrl.usersCriteria.ou) || ctrl.loadingIndicatorService.loading || !ctrl.usersCriteria.ou || ctrl.usersCriteria.ou.isRegOU() || ctrl.isPrivateDoc()"
                                               class="md-icon-button mt16"
                                               ng-click="ctrl.addToSelected(ctrl.usersCriteria.ou)">
                                        <md-icon md-svg-icon="plus"></md-icon>
                                    </md-button>
                                </div>
                                <md-input-container flex>
                                    <label for="domain_name">{{lang.domain_name}}</label>
                                    <input id="domain_name" ng-model="ctrl.usersCriteria.domainName">
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="arabic_name">{{lang.arabic_name}}</label>
                                    <input id="arabic_name" ng-model="ctrl.usersCriteria.arName">
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="english_name">{{lang.english_name}}</label>
                                    <input id="english_name" ng-model="ctrl.usersCriteria.enName">
                                </md-input-container>
                                <div>
                                    <md-button id="user_search" ng-disabled="ctrl.loadingIndicatorService.loading"
                                               class="md-raised"
                                               ng-click="ctrl.onSearchUsers()">
                                        {{lang.search}}
                                    </md-button>
                                </div>
                            </div>

                            <workflow-users-directive
                                    apply-notification-settings="ctrl.applyNotificationSettings"
                                    exclude-selected="true"
                                    allow-favorites="true"
                                    callback-delete-from-selected="ctrl.deleteFromSelected"
                                    callback-add-selected-user-with-ignore-to-grid="ctrl.addSelectedUserWithIgnoreToGrid"
                                    callback-add-selected-user-to-grid="ctrl.addSelectedUserToGrid"
                                    callback-set-settings-to-dist-workflow-item="ctrl.setSettingsToDistWorkflowItem"
                                    callback-add-selected-users-with-ignore-to-grid="ctrl.addSelectedUsersWithIgnoreToGrid"
                                    callback-add-selected-users-to-grid="ctrl.addSelectedUsersToGrid"
                                    callback-set-default-workflow-items-settings="ctrl.setDefaultWorkflowItemsSettings"
                                    callback-open-workflow-user-out-of-office="ctrl.openWorkflowUserOutOfOffice"
                                    callback-toggle-fav="ctrl.toggleFav"
                                    callback-user-not-exists="ctrl.workItemNotExists"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    grid="ctrl.grid"
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    multi-select="!ctrl.getApprovedStatus()"
                                    grid-name="users"
                                    grid-items="ctrl.users"></workflow-users-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Private Users -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('private_users')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <workflow-users-directive
                                    apply-notification-settings="ctrl.applyNotificationSettings"
                                    exclude-selected="false"
                                    allow-favorites="false"
                                    callback-delete-from-selected="ctrl.deleteFromSelected"
                                    callback-add-selected-user-with-ignore-to-grid="ctrl.addSelectedUserWithIgnoreToGrid"
                                    callback-add-selected-user-to-grid="ctrl.addSelectedUserToGrid"
                                    callback-set-settings-to-dist-workflow-item="ctrl.setSettingsToDistWorkflowItem"
                                    callback-add-selected-users-with-ignore-to-grid="ctrl.addSelectedUsersWithIgnoreToGrid"
                                    callback-add-selected-users-to-grid="ctrl.addSelectedUsersToGrid"
                                    callback-set-default-workflow-items-settings="ctrl.setDefaultWorkflowItemsSettings"
                                    callback-open-workflow-user-out-of-office="ctrl.openWorkflowUserOutOfOffice"
                                    callback-toggle-fav="ctrl.toggleFav"
                                    callback-user-not-exists="ctrl.workItemNotExists"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    grid="ctrl.grid"
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    multi-select="!ctrl.getApprovedStatus()"
                                    grid-name="privateUsers"
                                    grid-items="ctrl.privateUsers"></workflow-users-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Managers -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('manager_users')">
                            <div layout="row">
                                <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                             workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                                <span flex></span>
                                <grid-search-directive grid="ctrl.grid['managerUsers']"></grid-search-directive>
                            </div>
                            <div>
                                <br/>
                            </div>
                            <workflow-users-directive
                                    apply-notification-settings="ctrl.applyNotificationSettings"
                                    exclude-selected="false"
                                    allow-favorites="false"
                                    callback-delete-from-selected="ctrl.deleteFromSelected"
                                    callback-add-selected-user-with-ignore-to-grid="ctrl.addSelectedUserWithIgnoreToGrid"
                                    callback-add-selected-user-to-grid="ctrl.addSelectedUserToGrid"
                                    callback-set-settings-to-dist-workflow-item="ctrl.setSettingsToDistWorkflowItem"
                                    callback-add-selected-users-with-ignore-to-grid="ctrl.addSelectedUsersWithIgnoreToGrid"
                                    callback-add-selected-users-to-grid="ctrl.addSelectedUsersToGrid"
                                    callback-set-default-workflow-items-settings="ctrl.setDefaultWorkflowItemsSettings"
                                    callback-open-workflow-user-out-of-office="ctrl.openWorkflowUserOutOfOffice"
                                    callback-toggle-fav="ctrl.toggleFav"
                                    callback-user-not-exists="ctrl.workItemNotExists"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    grid="ctrl.grid"
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    multi-select="!ctrl.getApprovedStatus()"
                                    grid-name="managerUsers"
                                    grid-items="ctrl.managerUsers"></workflow-users-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Head of government entities -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('heads_of_government_entities')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <workflow-users-directive
                                    apply-notification-settings="ctrl.applyNotificationSettings"
                                    exclude-selected="false"
                                    allow-favorites="false"
                                    callback-delete-from-selected="ctrl.deleteFromSelected"
                                    callback-add-selected-user-with-ignore-to-grid="ctrl.addSelectedUserWithIgnoreToGrid"
                                    callback-add-selected-user-to-grid="ctrl.addSelectedUserToGrid"
                                    callback-set-settings-to-dist-workflow-item="ctrl.setSettingsToDistWorkflowItem"
                                    callback-add-selected-users-with-ignore-to-grid="ctrl.addSelectedUsersWithIgnoreToGrid"
                                    callback-add-selected-users-to-grid="ctrl.addSelectedUsersToGrid"
                                    callback-set-default-workflow-items-settings="ctrl.setDefaultWorkflowItemsSettings"
                                    callback-open-workflow-user-out-of-office="ctrl.openWorkflowUserOutOfOffice"
                                    callback-toggle-fav="ctrl.toggleFav"
                                    callback-user-not-exists="ctrl.workItemNotExists"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    grid="ctrl.grid"
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    multi-select="!ctrl.getApprovedStatus()"
                                    grid-name="governmentEntitiesHeads"
                                    grid-items="ctrl.governmentEntitiesHeads"></workflow-users-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Workflow Groups -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('workflow_groups')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <workflow-items-directive
                                    multi-select="!ctrl.getApprovedStatus()"
                                    exclude-selected="false"
                                    allow-favorites="false"
                                    grid-type="Organization"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    item-not-exists-callback="ctrl.workItemNotExists"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-comments="ctrl.comments"
                                    selected="ctrl.selectedWorkflowItems"
                                    workflow-items="ctrl.workflowGroups"
                                    grid-name="workflowGroups"></workflow-items-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                        <!-- Organization Units -->
                        <div flex layout="column" ng-if="ctrl.isSelectedTab('registry_organizations')">
                            <current-tab-label-directive selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <workflow-items-directive
                                    multi-select="!ctrl.getApprovedStatus()"
                                    exclude-selected="true"
                                    allow-favorites="true"
                                    grid-type="Organization"
                                    callback-all-in-favorites="ctrl.allInFavorites"
                                    callback-toggle-bulk-favorites="ctrl.toggleBulkFavorites"
                                    toggle-fav="ctrl.toggleFav"
                                    item-not-exists-callback="ctrl.workItemNotExists"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-comments="ctrl.comments"
                                    selected="ctrl.selectedWorkflowItems"
                                    workflow-items="ctrl.registryOrganizations"
                                    grid-name="Ous"></workflow-items-directive>
                            <div>
                                <br/>
                            </div>
                            <current-tab-label-directive override-icon="vector-selection"
                                                         override-title="selected_users_departments"
                                                         selected-tab="ctrl.selectedTab"
                                                         workflow-tabs="ctrl.workflowTabs"></current-tab-label-directive>
                            <div>
                                <br/>
                            </div>
                            <selected-workflow-items-directive
                                    workflow-comments="ctrl.comments"
                                    workflow-actions="ctrl.workflowActions"
                                    workflow-items="ctrl.selectedWorkflowItems"></selected-workflow-items-directive>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
    <!-- Buttons and info -->
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised" ng-click="ctrl.launchDistributionCorrespondenceWorkFlow()">
            {{lang.get(ctrl.textButton)}}
        </md-button>
        <span layout="row" layout-align="center center"
              flex><span ng-if="ctrl.getApprovedStatus()" class="red-color">{{ctrl.multi ?  lang.get('selected_document_has_not_approved_document') : lang.get('cannot_send_to_multi')}}</span></span>
        <md-button class="md-raised red-text" ng-click="ctrl.closeCorrespondenceWorkflow()">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
