<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.user_subscriptions}}">
        <popup-toolbar-directive header-text="{{lang.user_subscriptions}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <form name="manageSubscriptionsForm" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="subscriptionEvent">{{lang.user_subscription_event_type}}</label>
                            <md-select id="subscriptionEvent" name="subscriptionEvent"
                                       ng-model="ctrl.subscriptionEvent"
                                       ng-change="ctrl.filterUserSubscriptions($event)">
                                <md-option ng-value="null">{{lang.none}}</md-option>
                                <md-option
                                        ng-repeat="documentSubscription in ctrl.documentSubscriptions track by $index"
                                        ng-value="documentSubscription">
                                    {{documentSubscription.getTranslatedName()}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start center" class="page-header small">
                        <md-button ng-click="ctrl.reloadUserSubscriptions()" class="md-icon-button"
                                   tooltip="{{lang.reload}}">
                            <md-icon md-svg-icon="refresh"></md-icon>
                        </md-button>
                        <span flex></span>
                        <grid-search-directive grid="ctrl.grid"></grid-search-directive>
                    </div>
                    <md-card md-whiteframe="3" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select="true"
                                       multiple="true"
                                       ng-model="ctrl.selectedUserSubscriptions"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="6" class="table-selector-header"
                                            ng-if="ctrl.selectedUserSubscriptions.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedUserSubscriptions.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <table-status-directive
                                                        when-close="ctrl.changeStatusBulkUserSubscriptions"></table-status-directive>
                                                <md-button class="md-icon-button"
                                                           ng-click="ctrl.removeBulkUserSubscriptions()">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSubscriptions.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.document_subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSubscriptions.length" md-column
                                            md-order-by="status">
                                            <span>{{lang.status}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSubscriptions.length" md-column md-order-by="">
                                            <span>{{lang.actions}}</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-select="userSubscription" md-row
                                        ng-repeat="userSubscription in ctrl.userSubscriptions | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                        <td md-cell>{{userSubscription.docSubject}}</td>
                                        <td md-cell>
                                            <md-switch aria-label="{{lang.status}}"
                                                       ng-model="userSubscription.status"
                                                       title="{{userSubscription.getTranslatedStatus()}}"
                                                       ng-change="ctrl.changeStatusUserSubscription(userSubscription)">
                                            </md-switch>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="row" layout-align="start center">
                                                <md-button class="md-icon-button"
                                                           ng-click="ctrl.removeUserSubscription(userSubscription)"
                                                           title="{{lang.delete}}">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>

                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.userSubscriptions | filter:ctrl.searchModel).length}}"
                                    md-page-select>
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closeSubscriptionsPopPopup()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
