<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.correspondence_sites}}">
        <popup-toolbar-directive header-text="{{lang.correspondence_sites}} : {{ctrl.documentSubject}}"
                                 close-callback="ctrl.closeDocumentCorrespondence"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <manage-correspondence-sites-directive
                    ng-if="ctrl.documentClass.toLowerCase()==='outgoing' && ctrl.type!== 'g2g'"
                    vs-id="ctrl.correspondence.vsId"
                    document-class="ctrl.correspondence.docClassName"
                    sites-info-c-c="ctrl.correspondence.sitesInfoCC"
                    sites-info-to="ctrl.correspondence.sitesInfoTo"
                    disable-correspondence="true">
            </manage-correspondence-sites-directive>
            <manage-correspondence-site-incoming-directive
                    ng-if="ctrl.documentClass.toLowerCase()==='incoming' && ctrl.type!== 'g2g'"
                    vs-id="ctrl.correspondence.vsId"
                    document-class="ctrl.correspondence.docClassName"
                    site="ctrl.correspondence.site"
                    disable-correspondence="true">
            </manage-correspondence-site-incoming-directive>
            <manage-correspondence-site-g2g-directive
                    ng-if="ctrl.type === 'g2g'"
                    site="ctrl.correspondence.site">
            </manage-correspondence-site-g2g-directive>
            <manage-correspondence-site-g2g-messaging-history-directive
                    ng-if="ctrl.type && ctrl.type === 'g2gmessaginghistory'"
                    record="ctrl.correspondence">
            </manage-correspondence-site-g2g-messaging-history-directive>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised red-text" ng-click="ctrl.closeDocumentCorrespondence()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
