<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.properties_manage_document_properties}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.properties_manage_document_properties}} : {{ctrl.model.docSubject}}</span>
            <close-dialog-directive when-close="ctrl.closeDocumentProperties"></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <div class="p20">
                <manage-properties-directive
                        source-form="ctrl.document_properties"
                        document="ctrl.document"
                        source-model="ctrl.sourceModel"
                        from-dialog="true"
                        action="ctrl.action"></manage-properties-directive>
            </div>
        </md-content>
        <div>
            <div layout="row">
                <md-button ng-disabled="ctrl.document_properties.$invalid" class="md-raised" ng-click="ctrl.saveProperties()">{{lang.properties_save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeDocumentProperties()">{{lang.properties_close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>