<md-dialog class="dialog-extend">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.select_correspondence_site}}</span>
            <close-dialog-directive when-close="ctrl.closePopup"></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="correspondenceSitesForm" autocomplete="off">
                <div layout="column" class="p20">
                    <manage-correspondence-sites-search-directive
                            selected-site-type="ctrl.selectedSiteType"
                            document-class="ctrl.document.docClassName"
                            sites-info-to="ctrl.document.sitesInfoTo"
                            sites-info-c-c="ctrl.document.sitesInfoCC"
                            sites-info-incoming="ctrl.document.sitesInfoIncoming">
                    </manage-correspondence-sites-search-directive>
                </div>
                <div layout="row">
                    <md-button class="md-raised" ng-disabled="correspondenceSitesForm.$invalid || ctrl.checkDisabled()"
                               ng-click="ctrl.returnCorrespondenceSites($event)">
                        {{lang.set}}
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised" ng-click="ctrl.closePopup($event)">
                        {{lang.close}}
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</md-dialog>