<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.linked_entities}}">
        <popup-toolbar-directive header-text="{{lang.linked_entity}}"
                                 close-callback="ctrl.closeDocumentEntities"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <manage-entities-search-directive
                    document-class="ctrl.documentClass"
                    linked-entity="ctrl.linkedEntity"
                    selected-entity-type="ctrl.selectedEntityType"
                    form-valid="ctrl.formValid">
            </manage-entities-search-directive>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="!ctrl.formValid"
                   ng-click="ctrl.setDocumentEntities($event)">{{lang.set}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeDocumentEntities($event)">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
