<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           id="merged-linked-doc-history-events-dialog"
           ng-attr-aria-label="{{lang.view_tracking_sheet_actions}}">
    <popup-toolbar-directive full-screen-button="true" full-screen="ctrl.fullScreen"
            header-text="{{lang.view_tracking_sheet_actions}} : {{ctrl.mergedLinkedDocHistorySubject}}" ></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <md-card>
                <md-table-container>
                    <div flex scroll-directive>
                        <table md-table>
                            <thead md-head md-order="ctrl.grid.order"
                                   md-on-reorder="ctrl.getSortedData">
                            <tr md-row>
                                <th md-column
                                    md-order-by="{{ctrl.getSortingKey('userFromInfo','Information') }}">
                                    <span>{{lang.view_tracking_sheet_sender}}</span>
                                </th>
                                <th md-column
                                    md-order-by="{{ctrl.getSortingKey('userToInfo','Information')}}">
                                    <span>{{lang.view_tracking_sheet_receiver}}</span>
                                </th>
                                <th md-column
                                    md-order-by="{{ctrl.getSortingKey('workflowActionInfo','Information')}} ">
                                    <span>{{lang.view_tracking_sheet_action}}</span>
                                </th>
                                <th md-column md-order-by="documentCreationDate_vts"><span>{{lang.view_tracking_sheet_creation_date}}</span>
                                </th>
                                <th md-column md-order-by="actionDate_vts"><span>{{lang.view_tracking_sheet_action_date}}</span>
                                </th>
                                <th md-column md-order-by="comments" class="cms-fix-width-250"><span>{{lang.view_tracking_sheet_comments}}</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-select="mergedLinkedDocHistoryEvent" md-row
                                ng-repeat="mergedLinkedDocHistoryEvent in ctrl.mergedLinkedDocHistoryEvents | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)  track by $index">
                                <td md-cell>{{mergedLinkedDocHistoryEvent.getTranslatedUserFrom()}}</td>
                                <td md-cell>{{mergedLinkedDocHistoryEvent.getTranslatedUserTo()}}</td>
                                <td md-cell>{{mergedLinkedDocHistoryEvent.getTranslatedAction()}}</td>
                                <td md-cell>{{mergedLinkedDocHistoryEvent.documentCreationDate_vts}}
                                </td>
                                <td md-cell>{{mergedLinkedDocHistoryEvent.actionDate_vts}}</td>
                                <td md-cell>{{mergedLinkedDocHistoryEvent.comments}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination
                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                            md-limit-options="ctrl.grid.limitOptions"
                            md-limit="ctrl.grid.limit"
                            md-page="ctrl.grid.page"
                            md-total="{{ctrl.mergedLinkedDocHistoryEvents.length}}"
                            md-page-select
                            md-on-paginate="ctrl.grid.pagingCallback"></md-table-pagination>
                </md-table-container>
            </md-card>

            <div class="absolute-back-button navigate-next">
                <md-button tooltip="{{lang.next}}"
                           class="md-icon-button md-raised"
                           ng-click="ctrl.next($event)"
                           ng-disabled="ctrl.mergedLinkedDocumentHistoryIndex === ctrl.mergedLinkedDocumentHistoryRecords.length-1">
                    <md-icon md-svg-icon="chevron-right"></md-icon>
                </md-button>
            </div>

            <div class="absolute-back-button navigate-prev">
                <md-button tooltip="{{lang.previous}}"
                           class="md-icon-button md-raised"
                           ng-click="ctrl.previous($event)"
                           ng-disabled="ctrl.mergedLinkedDocumentHistoryIndex === 0">
                    <md-icon md-svg-icon="chevron-left"></md-icon>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-click="ctrl.exportToExcel($event)"
                   ng-disabled="!ctrl.mergedLinkedDocHistoryEvents.length">
            {{lang.export_to_excel}}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.printSheet($event)"
                   ng-disabled="!ctrl.mergedLinkedDocHistoryEvents.length">
            {{lang.print}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeMergedLinkedDocHistoryEventsPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
