<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.enter_otp}}">
    <div layout="column">
        <popup-toolbar-directive
                header-text="{{lang.enter_otp}}" hide-close="true" close-callback="ctrl.closeOtpPopup"></popup-toolbar-directive>
        <md-content scroll-directive>
            <form name="otpForm">
                <div class="p20" layout="row">
                    <md-input-container flex>
                        <label for="otp">{{lang.enter_otp}}</label>
                        <input name="otp" id="otp" required ng-model="ctrl.otp"
                               custom-validate-directive="number" minlength="4" maxlength="4">
                        <div ng-messages="otpForm.otp.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                            <div ng-message="minlength">{{lang.min_length.change({length: 4})}}</div>
                            <div ng-message="maxlength">{{lang.max_length.change({length:4})}}</div>
                        </div>
                    </md-input-container>
                    <div>
                        <md-button class="md-raised" ng-disabled="otpForm.$invalid"
                                   ng-click="ctrl.viewDocument(otpForm, $event)">
                            {{lang.view}}
                        </md-button>
                    </div>
                    <div>
                        <md-menu-bar class="p0">
                            <md-menu>
                                <md-button aria-label="{{lang.select_lang}}" class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon md-svg-icon="dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content id="login-select-language-content" width="3">
                                    <md-menu-item ng-class="{'selected':langService.is(language)}"
                                                  ng-repeat="language in languages track by $index">
                                        <md-button aria-label="{{language.title}}"
                                                   ng-click="langService.setSelectedLanguage(language, true)">
                                            <div layout-align="start center" layout="row">
                                                <div><img ng-src="assets/images/{{language.image}}.png"></div>
                                                <span class="language-title">{{language.title}}</span>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</md-dialog>
