<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new : ctrl.model.getNames()}}">
        <popup-toolbar-directive ng-if="!ctrl.model.id" header-text="{{lang.add_new}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.model.id"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="privateAnnouncementForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arSubject">{{lang.arabic_subject}}</label>
                                        <input name="arSubject" id="arSubject" required minlength="4" maxlength="150"
                                               ng-model="ctrl.privateAnnouncement.arSubject"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="privateAnnouncementForm.arSubject.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:150})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enSubject">{{lang.english_subject_name}}</label>
                                        <input name="enSubject" id="enSubject" required minlength="4" maxlength="150"
                                               ng-model="ctrl.privateAnnouncement.enSubject"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="privateAnnouncementForm.enSubject.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:150})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="itemOrder">{{lang.item_order}}</label>
                                        <input name="itemOrder" id="itemOrder" required maxlength="5"
                                               ng-model="ctrl.privateAnnouncement.itemOrder"
                                               custom-validate-directive="number">
                                        <div ng-messages="privateAnnouncementForm.itemOrder.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-change="ctrl.onAlwaysActiveChange()" ng-model="ctrl.alwaysActive"
                                                   aria-label="{{lang.always_active}}">
                                            <span>{{lang.always_active}} : </span>
                                            {{ctrl.privateAnnouncement.getTranslatedAlwaysActive(ctrl.alwaysActive)}}
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.privateAnnouncement.status"
                                                   aria-label="{{lang.status}}"
                                                   ng-disabled="ctrl.isStatusDisabled">
                                            <label>{{lang.status}} :
                                                {{ctrl.privateAnnouncement.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                </div>

                                <div layout="row">
                                    <md-input-container flex class="cms-datepicker">
                                        <label for="startDate">{{lang.start_date}}</label>
                                        <md-datepicker id="startDate" ng-required="!ctrl.alwaysActive"
                                                       md-max-date="ctrl.privateAnnouncement.endDate"
                                                       ng-model="ctrl.privateAnnouncement.startDate"
                                                       ng-change="ctrl.setMinEndDate()"
                                                       name="startDate" ng-disabled="ctrl.alwaysActive">
                                        </md-datepicker>
                                        <div ng-messages="privateAnnouncementForm.startDate.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="cms-datepicker">
                                        <label for="endDate">{{lang.end_date}}</label>
                                        <md-datepicker
                                                ng-required="!ctrl.alwaysActive || ctrl.privateAnnouncement.startDate"
                                                md-min-date="ctrl.minEndDate"
                                                ng-model="ctrl.privateAnnouncement.endDate" name="endDate" id="endDate"
                                                ng-disabled="ctrl.alwaysActive || !ctrl.privateAnnouncement.startDate"
                                        ></md-datepicker>
                                        <div ng-messages="privateAnnouncementForm.endDate.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row" class="p20">
                                    <div flex>
                                        <label>{{$parent.lang.arabic_body_text }} <span
                                                class="red-text">*</span></label>
                                        <text-angular name="arBody" id="arBody" flex
                                                      ng-model="ctrl.privateAnnouncement.arBody"
                                                      required
                                                      ta-text-editor-class="cms-ta-scroll"
                                        ></text-angular>
                                        <!--<trix-editor required angular-trix ng-model="ctrl.privateAnnouncement.arBody"
                                                     name="arBody"
                                                     id="arBody" maxlength="4000"
                                                     prevent-trix-file-accept="true"></trix-editor>-->
                                    </div>
                                </div>

                                <div layout="row" class="p20">
                                    <div flex>
                                        <label>{{$parent.lang.english_body_text }} <span
                                                class="red-text">*</span></label>
                                        <text-angular name="enBody" id="enBody" flex
                                                      ng-model="ctrl.privateAnnouncement.enBody"
                                                      required
                                                      ta-text-editor-class="cms-ta-scroll"
                                        ></text-angular>
                                        <!-- <trix-editor required angular-trix ng-model="ctrl.privateAnnouncement.enBody"
                                                      name="enBody"
                                                      id="enBody" maxlength="4000"
                                                      prevent-trix-file-accept="true"></trix-editor>-->
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.organization_unit}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="ou">{{lang.organization_unit}}</label>
                                        <md-select id="ou" ng-model="ctrl.includedOrganization">
                                            <md-option ng-model-options="{trackBy: '$value.id'}"
                                                       ng-repeat="organization in ctrl.organizationsHasRegistry track by $index"
                                                       ng-value="organization.id"
                                                       ng-if="ctrl.isOuNotIncluded(organization)"
                                                       tooltip="{{organization.getTranslatedName(true)}}">
                                                {{ organization.getTranslatedName() }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <md-checkbox ng-model="ctrl.subOU" aria-label="Sub">
                                            Sub
                                        </md-checkbox>
                                    </md-input-container>
                                    <div>
                                        <md-button class="md-raised md-primary" ng-disabled="!ctrl.includedOrganization"
                                                   ng-click="ctrl.includeSelectedOrganization()">
                                            {{$root.lang.add}}
                                        </md-button>
                                    </div>
                                </div>
                            </div>

                            <table md-table md-progress="promise">
                                <thead md-head>
                                <tr md-row>
                                    <th>{{$root.lang.arabic_name}}</th>
                                    <th>{{$root.lang.english_name}}</th>
                                    <th>{{$root.lang.sub_org_unit}}</th>
                                    <th>{{$parent.lang.action}}</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="organization"
                                    ng-repeat="organization in ctrl.privateAnnouncement.subscribers track by $index"
                                    ng-if="organization.announcementType==0">
                                    <td md-cell>{{ctrl.getOrganizationARName(organization.ouId)}}</td>
                                    <td md-cell>{{ctrl.getOrganizationENName(organization.ouId)}}</td>
                                    <td md-cell>
                                        <md-checkbox aria-label="Sub" ng-disabled="true"
                                                     ng-model="organization.withSubOus">
                                        </md-checkbox>
                                    </td>
                                    <td md-cell>
                                        <md-button
                                                tooltip="{{lang.exclude_org_units}}"
                                                ng-click="ctrl.openExcludeOrganizationDialog(organization.ouId, $event )"
                                                aria-label="Exclude Sub"
                                                class="md-icon-button">
                                            <md-icon md-svg-icon="coins"></md-icon>
                                        </md-button>
                                        <md-button
                                                tooltip="{{lang.delete}}"
                                                ng-click="ctrl.removeIncludedOrganization(organization)"
                                                aria-label="Delete"
                                                class="md-icon-button">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="privateAnnouncementForm.$invalid || !ctrl.privateAnnouncement.subscribers.length"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.addPrivateAnnouncementFromCtrl()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-disabled="privateAnnouncementForm.$invalid || !ctrl.privateAnnouncement.subscribers.length"
                   ng-if="ctrl.editMode"
                   ng-click="ctrl.editPrivateAnnouncementFromCtrl()">
            {{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePrivateAnnouncementPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
