<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_rank : ctrl.model.getNames()}}">
        <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_rank}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <form name="rankForm" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="arName">{{lang.arabic_name}}</label>
                            <input name="arName" id="arName" required minlength="4" ng-model="ctrl.rank.arName"
                                   maxlength="80"
                                   custom-validate-directive="A1NS">
                            <div ng-messages="rankForm.arName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="enName">{{lang.english_name}}</label>
                            <input name="enName" id="enName" required minlength="3" ng-model="ctrl.rank.enName"
                                   maxlength="80"
                                   custom-validate-directive="E1NS">
                            <div ng-messages="rankForm.enName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="lookupStrKey">{{lang.code}}</label>
                            <input no-space-directive name="lookupStrKey" id="lookupStrKey"
                                   minlength="3" required
                                   ng-model="ctrl.rank.lookupStrKey"
                                   custom-validate-directive="EN_"
                                   maxlength="80">
                            <div ng-messages="rankForm.lookupStrKey.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="EN_">{{lang.english_number_under_score}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="itemOrder">{{lang.item_order}}</label>
                            <input name="itemOrder" id="itemOrder" required ng-model="ctrl.rank.itemOrder"
                                   custom-validate-directive="number" maxlength="5">
                            <div ng-messages="rankForm.itemOrder.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="number">{{lang.numberonly}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex class="p20">
                            <md-switch ng-model="ctrl.rank.status">
                                <label>{{lang.status}} : {{ctrl.rank.getTranslatedStatus()}}</label>
                            </md-switch>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised" ng-disabled="rankForm.$invalid" ng-if="!ctrl.editMode"
                   ng-click="ctrl.addRankFromCtrl(ctrl.rank)">{{lang.add}}
        </md-button>
        <md-button class="md-raised" ng-if="ctrl.editMode"
                   ng-click="ctrl.editRankFromCtrl(ctrl.rank)">{{lang.save}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closePopUp()">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
