<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           id="ready-to-export-options" ng-attr-aria-label="{{lang.export_message}}">
    <popup-toolbar-directive header-text="{{lang.export_message}}"
                             close-callback="ctrl.closeExportPopupFromCtrl"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="readyToExportOptionsForm" autocomplete="off">
                <div layout="column">
                    <md-card md-whiteframe="3" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select="false" md-progress="ctrl.progress">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>
                                            <span>{{lang.sites_main_site}}</span>
                                        </th>
                                        <th md-column>
                                            <span>{{lang.sites_sub_site}}</span>
                                        </th>
                                        <th md-column>
                                            <span>{{lang.type}}</span>
                                        </th>
                                        <th md-column>
                                            <span>{{lang.export_type}}</span>
                                        </th>
                                        <th md-column>
                                            <span>{{lang.export_status}}</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="site"
                                        ng-repeat="site in ctrl.correspondenceSites  track by $index">
                                        <td md-cell>
                                            <div flex layout="column">
                                                <span class="span-column">{{site.getTranslatedParentName()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="column">
                                                <span class="span-column">{{site.getTranslatedName()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="column">
                                                <span class="span-column">{{site.getVersionType()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="column">
                                                <span class="span-column">{{site.getExportWayText()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="column">
                                                <span class="span-column">{{site.getExportStatusText()}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-table-container>
                    </md-card>
                    <br />
                    <div ng-if="ctrl.canExportAnyRelatedData()">
                        <div layout="row" flex>
                            <md-input-container flex ng-if="ctrl.isFaxExport()">
                                <label for="exportTypeMain">{{lang.export_type}}</label>
                                <input id="exportTypeMain" ng-model="ctrl.exportWayTextMain" ng-disabled="true"
                                       ng-readonly="true">
                            </md-input-container>
                            <md-input-container flex>
                                <label for="exportType">{{lang.select_export_type}}</label>
                                <md-select id="exportType" ng-model="ctrl.isGroupExport"
                                           ng-change="ctrl.onChangeExportType()">
                                    <md-option ng-value="type.value" ng-repeat="type in ctrl.exportTypeList">
                                        {{lang.get(type.key)}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <!-- Group selection -->
                        <div ng-if="ctrl.isGroupExport" layout="row">
                            <div ng-repeat="option in ctrl.exportOptions" flex
                                 ng-if="ctrl.canExportRelatedData(option)">
                                <md-checkbox ng-true-value="true" ng-false-value="false" aria-label="{{option}}"
                                             ng-model="ctrl.model[option]"
                                             ng-change="ctrl.resetExportLinkedDocumentAttachments(option)">
                                    {{lang.get(ctrl.labels[$index])}}
                                </md-checkbox>
                            </div>
                        </div>

                        <!-- Individual selection -->
                        <div ng-if="!ctrl.isGroupExport" layout="row">
                            <div flex ng-repeat="option in ctrl.exportOptions" ng-if="ctrl.canExportRelatedData(option)"
                                 layout="column">
                                <div>{{lang.get(ctrl.labels[$index])}}</div>
                                <br/>
                                <div ng-repeat="item in ctrl.loadRelatedThings[option] track by $index">
                                    <md-checkbox ng-if="option === 'ATTACHMENTS'" aria-label="item"
                                                 ng-model="item.exportStatus"
                                                 ng-change="ctrl.toggleSelectedItem(item , option)">
                                        {{item.getTranslatedName()}}
                                    </md-checkbox>
                                    <md-checkbox ng-if="option !== 'ATTACHMENTS'" aria-label="item"
                                                 ng-model="item.dummyDefaultSelected"
                                                 ng-click="ctrl.toggleSelectedItem(item , option)">
                                        {{item.getTranslatedName()}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>

                        <div layout="row"
                             ng-if="ctrl.isGroupExport || (!ctrl.isGroupExport && ctrl.partialExportList.exportItems.RELATED_BOOKS.length)">
                            <span flex></span>
                            <md-button class="md-raised" ng-click="ctrl.openLinkedDocsAttachmentDialog($event)"
                                       ng-disabled="!ctrl.model.RELATED_BOOKS">
                                {{lang.export_attachments_related_to_linked_documents}} ({{ctrl.getLinkedDocsCount()}})
                            </md-button>
                            <span flex></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-click="ctrl.exportCorrespondenceWorkItem()"
                   ng-if="ctrl.resend"
                   ng-disabled="!ctrl.correspondenceSites.length || ctrl.disableExport">
            {{lang.resend}}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.exportCorrespondenceWorkItem()"
                   ng-if="!ctrl.resend && ctrl.isElectronicExport()"
                   ng-disabled="!ctrl.correspondenceSites.length || ctrl.disableExport">
            {{lang.export}}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.exportCorrespondenceWorkItem()"
                   ng-if="!ctrl.resend && ctrl.isFaxExport()"
                   ng-disabled="!ctrl.correspondenceSites.length || ctrl.disableExport">
            {{ctrl.fax_export}}
        </md-button>
        <md-button ng-if="!ctrl.resend && ctrl.isManualExport()" class="md-raised md-primary"
                   ng-click="ctrl.printWithTerminate()">
            {{lang.print_with_terminate}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeExportPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
