<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{ctrl.title ? lang.get(ctrl.title) : lang.terminate_reason}}">
    <popup-toolbar-directive
            header-text="{{ctrl.title ? lang.get(ctrl.title) : lang.terminate_reason}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="reason_form" autocomplete="off">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="comment">{{lang.comment}}</label>
                            <md-select ng-change="ctrl.setReason()" id="comment"
                                       ng-model="ctrl.selectedComment"
                                       md-on-close="ctrl.clearSearchText('comment')"
                                       data-md-container-class="select-header-container sticky-search-bar">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.commentSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option
                                        ng-repeat="comment in ctrl.comments | translatedNameFilter: ctrl.commentSearchText"
                                        ng-value="comment">
                                    <span
                                            md-highlight-text="ctrl.commentSearchText"
                                            md-highlight-flags="i">{{comment.getCommentTitle()}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="reason">{{lang.description}}</label>
                            <textarea required id="reason" maxlength="200"
                                      md-maxlength="200"
                                      minlength="3" name="reason"
                                      ng-model="ctrl.reason" class="cms-comment">
                            </textarea>
                            <div ng-messages="reason_form.reason.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.min_length.change({length: 3})}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="reason_form.$invalid"
                   ng-click="ctrl.sendReason()">
            {{ctrl.saveButtonKey ? lang[ctrl.saveButtonKey] : lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeReasonPopup()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
