<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{ctrl.title ? lang.get(ctrl.title) : lang.terminate_reason}}">
    <div layout="column">
        <popup-toolbar-directive
                header-text="{{ctrl.title ? lang.get(ctrl.title) : lang.terminate_reason}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <form name="reason_form" autocomplete="off">
                <div layout="column" class="p20">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="comment">{{lang.comment}}</label>
                            <md-select ng-change="ctrl.setReason()" id="comment"
                                       ng-model="ctrl.selectedComment"
                                       md-on-close="ctrl.clearSearchText('comment')"
                                       data-md-container-class="select-header-container">
                                <md-select-header class="select-header">
                                    <input ng-model="ctrl.commentSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option
                                        ng-repeat="comment in ctrl.comments | translatedNameFilter: ctrl.commentSearchText"
                                        ng-value="comment">
                                    <span
                                            md-highlight-text="ctrl.commentSearchText"
                                            md-highlight-flags="i">{{comment.getCommentTitle()}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="reason">{{lang.reason}}</label>
                            <textarea required id="reason" maxlength="200" minlength="3" name="reason"
                                      ng-model="ctrl.reason" class="cms-comment">
                            </textarea>
                            <div ng-messages="reason_form.reason.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.min_length.change({length: 3})}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="reason_form.$invalid"
                           ng-click="ctrl.sendReason()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeReasonPopup()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
