<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_reference_plan_number: ctrl.model.getNames()}}">
    <popup-toolbar-directive ng-if="!ctrl.model.id"
                             header-text="{{lang.add_new_reference_plan_Item}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.model.id"
                             header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="referencePlanNumberForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.reference_plan_element_expression}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <div class="cms-input-container" flex>
                                        <md-switch ng-model="ctrl.referencePlanItemPerOU"
                                                   ng-change="ctrl.changePerEntityOu()">
                                            {{lang.per + ' : ' +ctrl.referencePlanItem.getPerOUEntityTranslate()}}
                                        </md-switch>
                                    </div>
                                    <md-input-container flex>
                                        <label for="docClass">{{lang.label_document_class}}</label>
                                        <md-select id="docClass" aria-label="classDescription"
                                                   ng-model="ctrl.referencePlanItem.expressionComponents.classDescription">
                                            <md-option ng-value="documentClass.customLookupKey"
                                                       ng-repeat="documentClass in ctrl.documentClasses">
                                                {{documentClass.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="securityLevel">{{lang.security_level}}</label>
                                        <md-select id="securityLevel" aria-label="securityLevel"
                                                   ng-model="ctrl.referencePlanItem.expressionComponents.securityLevel">
                                            <md-option ng-value="security.lookupKey"
                                                       ng-repeat="security in ctrl.securityLevels">
                                                {{security.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="docType">{{lang.label_document_type}}</label>
                                        <md-select id="docType"
                                                   ng-model="ctrl.referencePlanItem.expressionComponents.docType">
                                            <md-option ng-value="documentType.lookupKey"
                                                       ng-repeat="documentType in ctrl.documentTypes">
                                                {{documentType.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="itemOrder">{{lang.item_order}}</label>
                                        <input type="text" id="itemOrder" name="itemOrder"
                                               custom-validate-directive="number"
                                               ng-model="ctrl.referencePlanItem.itemOrder"/>
                                        <div ng-messages="referencePlanNumberForm.itemOrder.$error">
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="siteType">{{lang.correspondence_site_type}}</label>
                                        <md-select id="siteType" name="siteType"
                                                   ng-model="ctrl.referencePlanItem.expressionComponents.siteType">
                                            <md-option ng-repeat="type in ctrl.correspondenceSiteTypes"
                                                       ng-value="type.lookupKey">
                                                {{type.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="description">{{lang.description}}</label>
                                        <textarea required="true" id="description"
                                                  md-maxlength="250"
                                                  name="description"
                                                  ng-model="ctrl.referencePlanItem.description"
                                                  id="description" rows="10"></textarea>
                                        <div ng-messages="referencePlanNumberForm.description.$error">
                                            <div ng-message="required">{{lang.required_filed}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.reference_plan_element_pattern}}">
                        <md-content class="md-padding">
                            <reference-plan-element-directive
                                    reference-item="ctrl.referencePlanItem"></reference-plan-element-directive>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="referencePlanNumberForm.$invalid" ng-if="!ctrl.editMode"
                   ng-click="ctrl.saveReferencePlanItem()">
            {{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="referencePlanNumberForm.$invalid" ng-if="ctrl.editMode"
                   ng-click="ctrl.saveReferencePlanItem()">
            {{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeReferencePlanItem()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
