<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang[ctrl.label]}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{ctrl.record.getNames()}} : {{lang[ctrl.label]}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="relationAppUserForm" class="p20">

                <select-application-users-directive
                        allow-delete="true"
                        edit-mode="true"
                        existing-users="ctrl.record[ctrl.propertyToSetValue]"
                ></select-application-users-directive>

                <div layout="row">
                    <md-button class="md-raised" ng-disabled="!ctrl.record[ctrl.propertyToSetValue].length"
                               ng-click="ctrl.save()">
                        {{lang.add}}
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised" ng-click="ctrl.closePopup()">
                        {{lang.close}}
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</md-dialog>