<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           aria-label="{{ctrl.dialogTitle}}">
    <popup-toolbar-directive header-text="{{ctrl.dialogTitle}} - {{ctrl.record.getTranslatedName()}}"
                             close-callback="ctrl.closeLaunchPopup"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="distWorkflowItem_form" layout="column">
                <div layout="row">
                    <!-- Reply To Options -->
                    <md-input-container flex="">
                        <label for="replyTo">{{lang.to}}</label>
                        <md-select name="replyTo" id="replyTo" required
                                   ng-model="ctrl.selectedReplyTo"
                                   ng-change="ctrl.onChangeReplyTo($event)">
                            <md-option ng-repeat="option in ctrl.replyToOptions track by $index"
                                       ng-if="option.show"
                                       ng-value="option.id">{{lang[option.key]}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <!-- Reply to sender -->
                    <md-input-container flex ng-if="ctrl.selectedReplyTo === 1">
                        <label for="sender">{{lang.sender}}</label>
                        <input id="sender" name="sender" ng-model="ctrl.replyToText" required
                               ng-readonly="true" ng-disabled="true">
                        <div ng-messages="distWorkflowItem_form.to.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Managers (Approved document/can send to many) -->
                    <md-input-container flex
                                        ng-if="ctrl.canSendToManagers && !ctrl.getApprovedStatus() && ctrl.selectedReplyTo === 2">
                        <label for="managers">{{lang.managers}}</label>
                        <md-select multiple name="managers" id="managers"
                                   ng-model="ctrl.selectedManagers"
                                   ng-change="ctrl.onChangeManager()"
                                   md-selected-text="ctrl.getSelectedManagersText()"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   required>
                            <md-option ng-value="option" ng-repeat="option in ctrl.managers">
                                {{option['ou' + ctrl.currentLangUCFirst + 'Name']}} - {{option[lang.current + 'Name']}}
                            </md-option>
                        </md-select>
                        <div ng-messages="distWorkflowItem_form.managers.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Manager (UnApproved document/can send to one) -->
                    <md-input-container flex
                                        ng-if="ctrl.canSendToManagers && ctrl.getApprovedStatus() && ctrl.selectedReplyTo === 2">
                        <label for="manager">{{lang.manager}}</label>
                        <md-select name="manager" id="manager"
                                   ng-model="ctrl.selectedManagers"
                                   ng-change="ctrl.onChangeManager()"
                                   md-selected-text="ctrl.getSelectedManagersText()"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   required>
                            <md-option ng-value="-1">{{lang.none}}</md-option>
                            <md-option ng-value="option" ng-repeat="option in ctrl.managers">
                                {{option['ou' + ctrl.currentLangUCFirst + 'Name']}} - {{option[lang.current + 'Name']}}
                            </md-option>
                        </md-select>
                        <div class="help-text-div">{{lang.user_will_replaced_by_new_selection}}</div>
                        <div ng-messages="distWorkflowItem_form.manager.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Sender Department -->
                    <md-input-container flex ng-if="ctrl.selectedReplyTo === 3">
                        <label for="senderDepartment">{{lang.sender_department}}</label>
                        <input id="senderDepartment" name="toReceivedRegOu"
                               ng-model="ctrl.replyToText" required
                               ng-readonly="true" ng-disabled="true">
                        <div ng-messages="distWorkflowItem_form.senderDepartment.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <!-- Action -->
                    <md-input-container flex>
                        <label for="action">{{lang.select_action}}</label>
                        <md-select required id="action" name="action"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   ng-model="ctrl.distWorkflowItem.action"
                                   md-on-close="ctrl.clearSearchText('action')"
                                   data-md-container-class="select-header-container sticky-search-bar">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="action"
                                       ng-repeat="action in ctrl.workflowActions | translatedNameFilter: ctrl.actionSearchText">
                                    <span
                                            md-highlight-text="ctrl.actionSearchText"
                                            md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="distWorkflowItem_form.action.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Due date -->
                    <md-input-container class="cms-datepicker" flex>
                        <label for="dueDate">{{lang.due_date}}</label>
                        <md-datepicker id="dueDate" md-open-on-focus
                                       md-min-date="ctrl.minDate"
                                       ng-required="ctrl.isEscalationStatusSelected()"
                                       ng-model="ctrl.distWorkflowItem.dueDate"></md-datepicker>
                    </md-input-container>
                </div>
                <div ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification"
                     layout="row">
                    <!-- SMS Notification -->
                    <div flex>
                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                     ng-model="ctrl.distWorkflowItem.sendSMS">
                            {{lang.sms_workflow_notification}}
                        </md-checkbox>
                    </div>
                    <!-- Email Notification -->
                    <div flex>
                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                     ng-model="ctrl.distWorkflowItem.sendEmail">
                            {{lang.email_workflow_notification}}
                        </md-checkbox>
                    </div>
                </div>
                <div layout="row">
                    <!-- Send Related Documents -->
                    <div flex>
                        <md-checkbox ng-if="ctrl.globalSettings.allowSendWFRelatedBook"
                                     ng-model="ctrl.distWorkflowItem.sendRelatedDocs">
                            {{lang.send_related_documents}}
                        </md-checkbox>
                    </div>
                    <div flex>
                        <!-- Secure comment -->
                        <md-checkbox
                                ng-disabled="ctrl.selectedReplyTo === 3"
                                ng-model="ctrl.distWorkflowItem.isSecureAction"
                                aria-label="{{lang.secure_comment}}">
                            {{lang.secure_comment}}
                        </md-checkbox>
                        <div class="help-text-div">{{lang.secure_comment_note}}</div>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="escalationStatus">{{lang.choose_escalation_process}}</label>
                        <md-select ng-model-options="{trackBy: '$value.id'}"
                                   id="escalationStatus"
                                   ng-model="ctrl.distWorkflowItem.escalationStatus"
                                   ng-change="ctrl.onEscalationStatusChange($event)">
                            <md-option tooltip="{{escalation.getTranslatedName(true)}}"
                                       ng-value="escalation"
                                       ng-repeat="escalation in ctrl.escalationProcessCopy track by $index">
                                {{escalation.getTranslatedName()}}
                            </md-option>
                        </md-select>
                        <md-button class="md-icon-button cms-select-overlay-button"
                                   ng-disabled="!ctrl.isCustomEscalationStatusSelected()"
                                   ng-click="ctrl.openEscalationUserDialog($event)" tooltip="{{lang.select_user}}">
                            <md-icon md-svg-icon="account-plus"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center" ng-if="ctrl.distWorkflowItem.escalationUserId">
                    <span>{{lang.escalation_user}}:</span>
                    <span class="user-tag" md-truncate>
                                    <span>{{ctrl.distWorkflowItem.escalationUserId.getTranslatedName()}} - {{ctrl.distWorkflowItem.escalationUserId.getTranslatedOrganizationName()}}</span>
                                    <md-icon ng-click="ctrl.deleteEscalationUser($event)"
                                             md-svg-icon="close-box"></md-icon>
                                </span>
                </div>
                <div layout="row">
                    <!-- Comment -->
                    <md-input-container flex>
                        <label for="comment">{{lang.select_comment}}</label>
                        <md-select id="comment" name="comment" ng-change="ctrl.onCommentChange()"
                                   ng-model="ctrl.comment"
                                   md-on-close="ctrl.clearSearchText('comment')"
                                   data-md-container-class="select-header-container sticky-search-bar">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.commentSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="comment"
                                       ng-repeat="comment in ctrl.comments | translatedNameFilter: ctrl.commentSearchText">
                                    <span
                                            md-highlight-text="ctrl.commentSearchText"
                                            md-highlight-flags="i">{{comment.getCommentTitle()}}</span>
                            </md-option>
                        </md-select>
                        <md-button class="md-icon-button cms-select-overlay-button"
                                   ng-click="ctrl.openAddUserCommentDialog($event)">
                            <md-icon md-svg-icon="plus"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="comments"> {{lang.type_your_comment}}</label>
                        <textarea rows="5" id="comments" name="comments" class="cms-comment"
                                  ng-model="ctrl.distWorkflowItem.comments"
                                  ng-required="ctrl.distWorkflowItem.isSecureAction"></textarea>
                        <div ng-messages="distWorkflowItem_form.comments.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="!ctrl.isLaunchEnabled(distWorkflowItem_form) ||
                                    (ctrl.isCustomEscalationStatusSelected() && !ctrl.distWorkflowItem.escalationUserId)"
                   ng-click="ctrl.launch($event)">
            {{lang.reply}}
        </md-button>
        <md-button class="md-raised" ng-click="ctrl.advancedReply($event)">{{lang.more_details}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeLaunchPopup()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
