<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.please_select_organization_to_login}}"
           id="select-organization-popup-to-login">
    <popup-toolbar-directive header-text="{{lang.please_select_organization_to_login}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <div layout="column">
                <md-button class="md-raised" ng-click="ctrl.selectOrganization(organization)"
                           ng-repeat="organization in ctrl.organizations track by $index">
                    {{organization.getNames()}}
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
