<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{ctrl.label || lang.select_user}}">
    <popup-toolbar-directive ng-if="ctrl.label"
                             header-text="{{lang.get(ctrl.label) ? lang.get(ctrl.label) : ctrl.label }}"
                             close-callback="ctrl.close"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="!ctrl.label" header-text="{{lang.select_user}}"
                             close-callback="ctrl.close"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <div layout="row" class="p20-0">
                <span flex></span>
                <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
            </div>
            <md-card class="m0">
                <md-table-container>
                    <table md-table md-row-select ng-model="ctrl.ouApplicationUserSelected" md-progress="ctrl.grid.progress">
                        <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                        <tr md-row>
                            <th md-column md-order-by="{{ctrl.getSortingKey('applicationUser', 'ApplicationUser')}}"><span>{{lang.name}}</span>
                            </th>
                            <th md-column md-order-by="applicationUser.loginName"><span>{{lang.login_name}}</span></th>
                            <th md-column md-order-by="applicationUser.domainName"><span>{{lang.domain_name}}</span></th>
                            <th md-column ng-if="ctrl.ouApplicationUserSelected.length">
                                {{lang.add_manager_to_all_users}}
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr ng-if="ctrl.ouApplicationUsers.length" md-row md-select="ouApplicationUser"
                            ng-repeat="ouApplicationUser in ctrl.ouApplicationUsers | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)  | filter:ctrl.searchModel track by $index">
                            <td md-cell>
                                <span tooltip="{{ouApplicationUser.applicationUser.getTranslatedName(true)}}">{{ouApplicationUser.applicationUser.getTranslatedName()}}</span>
                            </td>
                            <td md-cell>
                                <span>{{ouApplicationUser.applicationUser.loginName}}</span>
                            </td>
                            <td md-cell>
                                <span tooltip="{{ouApplicationUser.applicationUser.getDefaultOrganization().getNames()}}">{{ouApplicationUser.applicationUser.domainName}}</span>
                            </td>
                            <td md-cell>
                                <div layout-align="center center" layout="row">
                                    <md-switch aria-label="{{lang.add_manager_to_all_users}}"
                                               ng-if="ctrl.ouApplicationUserSelected.length && ctrl.ouApplicationUserSelected[0].applicationUser.id === ouApplicationUser.applicationUser.id"
                                               ng-model="ctrl.isAddManagerToAllUsersEnabled">
                                    </md-switch>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="!ctrl.ouApplicationUsers.length" md-row>
                            <td colspan="3">
                                <span layout="row" layout-align="center center">
                                    {{lang.no_users_found_to_display}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <md-table-pagination
                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                            md-limit-options="ctrl.grid.limitOptions"
                            md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                            md-total="{{ctrl.ouApplicationUsers.length}}" md-page-select>
                    </md-table-pagination>
                </md-table-container>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <span flex></span>
        <md-button class="md-raised" ng-disabled="!ctrl.ouApplicationUserSelected.length"
                   ng-click="ctrl.saveSelectedOuUser()">
            {{lang.add}}
        </md-button>
        <span flex></span>
    </md-dialog-actions>
</md-dialog>
