<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           aria-label="{{lang.select_signature}}">
    <popup-toolbar-directive header-text="{{lang.select_signature}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="signaturesForm" id="signature-form" autocomplete="off">
                <div layout="row" ng-if="ctrl.pinCodeRequired">
                    <md-input-container flex>
                        <label for="pinCode">{{lang.pin}}</label>
                        <input name="pinCode" id="pinCode" type="password"
                               ng-model="ctrl.pinCode" required
                               custom-validate-directive="ENSS" maxlength="15">
                        <div ng-messages="signaturesForm.pinCode.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="ENSS">{{lang.english_number_special_char}}</div>
                            <div ng-message="maxlength">{{lang.max_length.change({length:15})}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-repeat="signatureChunk in ctrl.signatureChunks track by $index">
                    <div flex layout="row">
                        <img flex ng-repeat="signature in signatureChunk track by $index"
                             ng-src="{{signature.contentElementUrl}}"
                             class="cursor-pointer"
                             ng-class="{'selected': ctrl.isSignatureSelected(signature)}"
                             ng-click="ctrl.setSelectedSignature(signature, $event)"
                             width="100" height="100">
                        <div flex
                             ng-repeat="emptySignature in ctrl.getEmptySigns(signatureChunk) track by $index"></div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="ctrl.checkDisabled()"
                   ng-click="ctrl.signDocumentFromCtrl()">
            {{lang.approve}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeSignaturesPopupFromCtrl()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
