<md-dialog class="dialog-extend"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_sms_template : ctrl.model.getNames()}}">
    <div layout="column">
        <md-toolbar layout="row" layout-align="start center">
            <span class="p20" ng-if="!ctrl.editMode">{{lang.add_new_sms_template}}</span>
            <span class="p20" ng-if="ctrl.editMode">{{ctrl.model.getNames()}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="smsTemplateForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.arName" maxlength="80"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="smsTemplateForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.enName" maxlength="80"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="smsTemplateForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="message">{{lang.sms_message}}</label>
                                        <textarea name="message" mention-directive id="message"
                                                  rows="5" required minlength="4" maxlength="200"
                                                  ng-model="ctrl.smsTemplate.message"></textarea>
                                        <div ng-messages="smsTemplateForm.message.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} : {{ctrl.smsTemplate.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.isGlobal"
                                                   aria-label="{{lang.global}}"
                                                   ng-disabled="!ctrl.smsTemplate.id">
                                            <span>{{lang.global}} : </span>{{ctrl.smsTemplate.getTranslatedGlobal()}}
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.security}}" ng-disabled="ctrl.smsTemplate.isGlobal">
                        <md-content>
                            <div layout="column" class="p20" flex>
                                <md-button tooltip="{{lang.manage_sms_template_subscribers}}" class="md-icon-button"
                                           ng-click="ctrl.selectSmsTemplateSubscribers($event)">
                                    <md-icon md-svg-icon="plus"></md-icon>
                                </md-button>
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>{{lang.arabic_name}}</th>
                                        <th md-column>{{lang.english_name}}</th>
                                        <th md-column>{{lang.login_name}}</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="appUser in ctrl.model.smstemplateSubscribers track by $index">
                                        <td md-cell>{{appUser.arFullName}}</td>
                                        <td md-cell>{{appUser.enFullName}}</td>
                                        <td md-cell>{{appUser.loginName}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-if="!ctrl.editMode"
                           ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                           ng-click="ctrl.addSmsTemplateFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode"
                           ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                           ng-click="ctrl.editSmsTemplateFromCtrl()">{{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised"
                           ng-click="ctrl.resetModel(smsTemplateForm, $event)">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeSmsTemplatePopupFromCtrl()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>