<md-dialog class="dialog-extend"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_sms_template : ctrl.model.getNames()}}">
    <div layout="column">
        <md-toolbar layout="row" layout-align="start center">
            <span class="p20" ng-if="!ctrl.editMode">{{lang.add_new_sms_template}}</span>
            <span class="p20" ng-if="ctrl.editMode">{{ctrl.model.getNames()}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="smsTemplateForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <!-- Arabic Name -->
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.arName" maxlength="80"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="smsTemplateForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- English Name -->
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.enName" maxlength="80"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="smsTemplateForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Arabic Message -->
                                    <md-input-container flex>
                                        <label for="arMessage">{{lang.arabic_body_text}}</label>
                                        <textarea name="arMessage" mention-directive id="arMessage"
                                                  rows="5" required minlength="4" maxlength="200"
                                                  ng-model="ctrl.smsTemplate.arMessage"></textarea>
                                        <div ng-messages="smsTemplateForm.arMessage.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- English Message -->
                                    <md-input-container flex>
                                        <label for="enMessage">{{lang.english_body_text}}</label>
                                        <textarea name="enMessage" mention-directive id="enMessage"
                                                  rows="5" required minlength="4" maxlength="200"
                                                  ng-model="ctrl.smsTemplate.enMessage"></textarea>
                                        <div ng-messages="smsTemplateForm.enMessage.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} : {{ctrl.smsTemplate.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.isGlobal"
                                                   aria-label="{{lang.global}}">
                                            <span>{{lang.global}} : </span>{{ctrl.smsTemplate.getTranslatedGlobal()}}
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.security}}" ng-disabled="ctrl.smsTemplate.isGlobal">
                        <md-content>
                            <div layout="column" class="p20" flex>
                                <select-application-users-directive
                                        allow-delete="true"
                                        edit-mode="ctrl.editMode"
                                        existing-users="ctrl.smsTemplate.smstemplateSubscribers"
                                ></select-application-users-directive>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-if="!ctrl.editMode"
                           ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                           ng-click="ctrl.addSmsTemplateFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode"
                           ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                           ng-click="ctrl.editSmsTemplateFromCtrl()">{{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised"
                           ng-click="ctrl.resetModel(smsTemplateForm, $event)">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closePopup()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>