<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_sms_template : ctrl.model.getNames()}}">
        <popup-toolbar-directive ng-if="!ctrl.editMode"
                                 header-text="{{lang.add_new_sms_template}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="smsTemplateForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <!-- Arabic Name -->
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.arName" maxlength="80"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="smsTemplateForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- English Name -->
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               ng-model="ctrl.smsTemplate.enName" maxlength="80"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="smsTemplateForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Arabic Message -->
                                    <md-input-container flex>
                                        <label for="arMessage">{{lang.arabic_body_text}}</label>
                                        <textarea name="arMessage" mention-directive="ctrl.smsVariables" id="arMessage"
                                                  rows="5" required minlength="4" maxlength="200"
                                                  ng-model="ctrl.smsTemplate.arMessage"></textarea>
                                        <div ng-messages="smsTemplateForm.arMessage.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- English Message -->
                                    <md-input-container flex>
                                        <label for="enMessage">{{lang.english_body_text}}</label>
                                        <textarea name="enMessage" mention-directive="ctrl.smsVariables" id="enMessage"
                                                  rows="5" required minlength="4" maxlength="200"
                                                  ng-model="ctrl.smsTemplate.enMessage"></textarea>
                                        <div ng-messages="smsTemplateForm.enMessage.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} : {{ctrl.smsTemplate.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.smsTemplate.isGlobal"
                                                   aria-label="{{lang.global}}">
                                            <span>{{lang.global}} : </span>{{ctrl.smsTemplate.getTranslatedGlobal()}}
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.security}}" ng-disabled="ctrl.smsTemplate.isGlobal">
                        <md-content class="md-padding">
                            <select-application-users-directive
                                    allow-delete="true"
                                    edit-mode="ctrl.editMode"
                                    existing-users="ctrl.smsTemplate.smstemplateSubscribers"
                            ></select-application-users-directive>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-if="!ctrl.editMode"
                   ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                   ng-click="ctrl.addSmsTemplateFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-disabled="smsTemplateForm.$invalid || (!ctrl.smsTemplate.isGlobal && !ctrl.smsTemplate.smstemplateSubscribers.length)"
                   ng-click="ctrl.editSmsTemplateFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised"
                   ng-click="ctrl.resetModel(smsTemplateForm, $event)">
            {{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closePopup()">
            {{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
