<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.items_start_serial}}">
    <div layout="column">
        <popup-toolbar-directive header-text="{{lang.items_start_serial}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <md-card>
                <md-table-container>
                    <div flex scroll-directive>
                        <table md-table md-progress="ctrl.progress">
                            <thead md-head>
                            <tr md-row>
                                <th md-column>
                                    <span>{{lang.reference_plan_element_expression}}</span>
                                </th>
                                <th md-column>
                                    <span>{{lang.start_serial_from}}</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="item in ctrl.referencePlanItemStartSerialList track by $index">
                                <td md-cell>
                                    <div flex layout="column">
                                        <span class="span-column">{{item.referencePlanItemId.getExpressionFormat()}}</span>
                                    </div>
                                </td>
                                <td md-cell>
                                    <div flex layout="column">
                                    <span class="span-column">
                                        <md-input-container>
                                            <label for="startSerial">{{lang.start_serial_from}}</label>
                                            <input id="startSerial" ng-model="item.startSerial">
                                        </md-input-container>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </md-table-container>
            </md-card>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-if="!ctrl.editMode"
                           ng-click="ctrl.saveStartReferencePlanItem()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeStartReferencePlanItem()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
