<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.tasks}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_task}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode"
                             header-text="{{lang.edit_task}} : {{ctrl.model.taskTitle}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div>
            <form autocomplete="off" name="task_form">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>{{lang.task_title}}</label>
                                        <input required name="taskTitle" minlength="3" id="taskTitle"
                                               ng-model="ctrl.task.taskTitle"/>
                                        <div ng-messages="task_form.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <!--<div ng-message="maxlength">{{lang.max_length.change({length:3})}}</div>-->
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="no-margin-for-child-input-container" layout="row">
                                    <md-input-container>
                                        <md-switch ng-model="ctrl.task.allDay">
                                            {{lang.task_all_day}} : {{ctrl.task.allDay ? lang.yes : lang.no}}
                                        </md-switch>
                                    </md-input-container>
                                    <span flex></span>
                                    <md-input-container>
                                        <md-switch ng-disabled="ctrl.editMode" ng-model="ctrl.task.withoutParticipant">
                                            {{lang.task_without_participant}} : {{ ctrl.task.withoutParticipant ?
                                            lang.yes : lang.no}}
                                        </md-switch>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div layout="row" flex>
                                        <div layout="row" flex>
                                            <md-input-container flex class="cms-datepicker">
                                                <label>{{lang.task_start_date}}</label>
                                                <md-datepicker ng-change="ctrl.startDateChange()" required
                                                               ng-model="ctrl.task.startDate"></md-datepicker>
                                                <div ng-messages="task_form.startDate.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-if="!ctrl.task.allDay">
                                            <md-input-container flex>
                                                <label>{{lang.time}}</label>
                                                <md-select ng-change="ctrl.timeChange('startTime','StartTime')"
                                                           name="startTime"
                                                           ng-model="ctrl.task.startTime">
                                                    <md-option ng-value="hour.value"
                                                               ng-repeat="hour in ctrl.calenderHours">
                                                        {{hour.label}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div flex layout="row">
                                            <md-input-container flex class="cms-datepicker">
                                                <label>{{lang.task_end_date}}</label>
                                                <md-datepicker md-min-date="ctrl.minDate" required
                                                               ng-model="ctrl.task.dueDate"></md-datepicker>
                                                <div ng-messages="task_form.dueDate.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-if="!ctrl.task.allDay">
                                            <md-input-container flex>
                                                <label>{{lang.time}}</label>
                                                <md-select ng-change="ctrl.timeChange('endTime','EndTime')"
                                                           ng-disabled="!ctrl.task.dueDate"
                                                           ng-model="ctrl.task.endTime">
                                                    <md-option ng-disabled="ctrl.lessThanStartTime(hour)"
                                                               ng-value="hour.value"
                                                               ng-repeat="hour in ctrl.calenderHours">
                                                        {{hour.label}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>{{lang.priority_level}}</label>
                                        <md-select name="priorityLevel" id="priorityLevel"
                                                   ng-model="ctrl.task.priorityLevel">
                                            <md-option ng-value="priorityLevel.lookupKey"
                                                       ng-repeat="priorityLevel in ctrl.priorityLevels">
                                                {{priorityLevel.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>{{lang.task_state}}</label>
                                        <md-select name="taskState" id="taskState"
                                                   ng-model="ctrl.task.taskState">
                                            <md-option ng-disabled="ctrl.disableStateWhileAdd(state)"
                                                       ng-value="state.lookupKey" ng-repeat="state in ctrl.taskStates">
                                                {{state.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <span flex=""></span>
                                    <md-button class="md-raised" ng-click="ctrl.linkDocumentTask($event)">
                                        {{lang.link_document_to_task}}
                                    </md-button>
                                    <span flex=""></span>
                                </div>
                                <div layout="row" ng-if="ctrl.task.documentVSID">
                                    <div flex></div>
                                    <div class="p020">
                                        <md-switch aria-label="{{lang.truncate_subject}}"
                                                   class="m0"
                                                   ng-model="ctrl.truncateSubject"
                                                   ng-change="ctrl.setTruncateSubject($event)">
                                            <span>{{lang.truncate_subject}} : </span>
                                            {{ctrl.truncateSubject ? lang.yes : lang.no }}
                                        </md-switch>
                                    </div>
                                </div>
                                <div ng-if="ctrl.task.documentVSID" layout="row">
                                    <md-card flex>
                                        <md-table-container>
                                            <table md-table>
                                                <thead md-head>
                                                <tr md-row>
                                                    <th md-column>
                                                        <!-- Indicators -->
                                                    </th>
                                                    <th md-column>
                                                        <!-- Indicators -->
                                                    </th>
                                                    <th md-column>
                                                        <span>{{lang.subject}}</span>
                                                    </th>
                                                    <th md-column>
                                                        <span>{{lang.priority_level}}</span>
                                                    </th>
                                                    <th md-column>
                                                        <span>{{lang.security_level}}</span>
                                                    </th>
                                                    <th md-column>
                                                        <span>{{lang.actions}}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr md-row>
                                                    <td md-cell>
                                                        <!-- Security Level -->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  indicator-type="securityLevel"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                        <!-- Document Class (Outgoing/Incoming/Internal) -->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  indicator-type="docClass"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                        <!-- Paper/Electronic-->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  ng-if="ctrl.task.correspondence.getInfo().documentClass !== 'incoming'"
                                                                                  indicator-type="paperElectronic"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                        <!-- Linked Documents -->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  indicator-type="hasLinkedDocuments"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                    </td>
                                                    <td md-cell class="indicator-td text-right">
                                                        <!-- Priority Level -->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  indicator-type="priorityLevel"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                        <!-- Has Attachments -->
                                                        <grid-indicator-directive record="ctrl.task.correspondence"
                                                                                  indicator-type="hasAttachment"
                                                                                  record-type="correspondence"></grid-indicator-directive>
                                                    </td>
                                                    <td md-cell class="subject">
                                                        <a href=""
                                                           ng-if="ctrl.task.correspondence.hasContent() && ctrl.truncateSubject"
                                                           class="view-doc subject-internal" md-truncate
                                                           tooltip="{{ctrl.task.correspondence.docSubject}}"
                                                           ng-click="ctrl.viewCorrespondence(ctrl.task.correspondence, $event)">{{ctrl.task.correspondence.docSubject}}</a>
                                                        <span ng-if="!ctrl.task.correspondence.hasContent() && ctrl.truncateSubject"
                                                              class="view-doc subject-internal" md-truncate
                                                              tooltip="{{ctrl.task.correspondence.docSubject}}">{{ctrl.task.correspondence.docSubject}}</span>
                                                        <a href=""
                                                           ng-if="ctrl.task.correspondence.hasContent() && !ctrl.truncateSubject"
                                                           class="view-doc subject-internal"
                                                           tooltip="{{ctrl.task.correspondence.docSubject}}"
                                                           ng-click="ctrl.viewCorrespondence(ctrl.task.correspondence, $event)">{{ctrl.task.correspondence.docSubject}}</a>
                                                        <span ng-if="!ctrl.task.correspondence.hasContent() && !ctrl.truncateSubject"
                                                              class="view-doc subject-internal"
                                                              tooltip="{{ctrl.task.correspondence.docSubject}}">{{ctrl.task.correspondence.docSubject}}</span>
                                                    </td>
                                                    <td md-cell>
                                                        {{ctrl.task.correspondence.priorityLevel.getTranslatedName()}}
                                                    </td>
                                                    <td md-cell>
                                                        {{ctrl.task.correspondence.securityLevel.getTranslatedName()}}
                                                    </td>
                                                    <td md-cell>
                                                        <md-button class="md-icon-button" ng-click="ctrl.removeCorrespondence($event)">
                                                            <md-icon md-svg-icon="delete"></md-icon>
                                                        </md-button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </md-card>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>{{lang.task_description}}</label>
                                        <textarea rows="3" name="taskDescription" id="taskDescription"
                                                  ng-model="ctrl.task.taskDescription"></textarea>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.task_linked}}"
                            ng-disabled="!ctrl.task.startDate || !ctrl.task.dueDate || !ctrl.task.taskTitle.length || ctrl.task.withoutParticipant">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-autocomplete
                                            flex
                                            md-no-cache="true"
                                            md-selected-item="ctrl.selectedParticipant"
                                            md-search-text="ctrl.searchText"
                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                            md-items="item in ctrl.personQuerySearch(ctrl.searchText)"
                                            md-item-text="item.display"
                                            md-min-length="0"
                                            placeholder="{{lang.search}}">
                                        <md-item-template>
                                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            {{lang.no_records_found_matching_search}} - "{{ctrl.searchText}}"
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <br>
                                <br>
                                <div layout="row">
                                    <md-card class="m0">
                                        <md-table-container>
                                            <table md-table>
                                                <thead md-head>
                                                <tr md-row>
                                                    <th md-column>
                                                        {{lang.name}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.department}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.task_state}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.task_due_date}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.task_completion_date}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.task_comment}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.participant_comment}}
                                                    </th>
                                                    <th md-column>
                                                        {{lang.actions}}
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr ng-repeat="participant in ctrl.task.taskParticipants track by participant.participantId"
                                                    md-row>
                                                    <td md-cell>
                                                        {{participant.userId.getTranslatedName()}}
                                                    </td>
                                                    <td md-cell>
                                                        {{participant.ouId.getTranslatedName()}}
                                                    </td>
                                                    <td md-cell>
                                                        {{ctrl.taskStatesMap[participant.taskState].getTranslatedName()}}
                                                    </td>
                                                    <td md-cell>{{participant.dueDate|date:'y-MM-dd'}}</td>
                                                    <td md-cell>{{participant.completionDate|date:'y-MM-dd'}}</td>
                                                    <td md-cell>
                                                        <div tooltip="{{participant.taskCreatorComment}}" md-truncate
                                                             style="max-width: 100px;">
                                                            {{participant.taskCreatorComment}}
                                                        </div>
                                                    </td>
                                                    <td md-cell>
                                                        <div tooltip="{{lang.participant_comment}}" md-truncate
                                                             style="max-width: 100px;">{{participant.participantReply}}
                                                        </div>
                                                    </td>
                                                    <td md-cell>
                                                        <div flex layout="row">
                                                            <md-button
                                                                    ng-click="ctrl.editTaskParticipantFromCtrl(participant)"
                                                                    tooltip="{{lang.edit}}" class="md-icon-button">
                                                                <md-icon md-svg-icon="account-edit"></md-icon>
                                                            </md-button>
                                                            <md-button ng-if="ctrl.canDeleteTaskParticipant()"
                                                                       ng-click="ctrl.removeTaskParticipant(participant)"
                                                                       tooltip="{{lang.delete}}" class="md-icon-button">
                                                                <md-icon md-svg-icon="account-remove"></md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </md-card>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised"
                   ng-disabled="task_form.$invalid || !ctrl.canSaveTask()"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.addTaskFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised" ng-if="ctrl.editMode"
                   ng-disabled="task_form.$invalid || !ctrl.canSaveTask()"
                   ng-click="ctrl.editTaskFromCtrl()">{{lang.save}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closeTaskPopupFromCtrl()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
