<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.tasks}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_task}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode"
                             header-text="{{lang.edit_task}} : {{ctrl.model.taskTitle}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form autocomplete="off" name="task_form">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label>{{lang.task_title}}</label>
                            <input required name="taskTitle" minlength="3" id="taskTitle"
                                   ng-model="ctrl.task.taskTitle" maxlength="1000" md-maxlength="1000"/>
                            <div ng-messages="task_form.taskTitle.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:1000})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>{{lang.priority_level}}</label>
                            <md-select name="priorityLevel" id="priorityLevel"
                                       ng-model="ctrl.task.priorityLevel">
                                <md-option ng-value="priorityLevel.lookupKey"
                                           ng-repeat="priorityLevel in ctrl.priorityLevels">
                                    {{priorityLevel.getTranslatedName()}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{lang.task_state}}</label>
                            <md-select name="taskState" id="taskState"
                                       ng-model="ctrl.task.taskState">
                                <md-option ng-disabled="ctrl.disableStateWhileAdd(state)"
                                           ng-value="state.lookupKey" ng-repeat="state in ctrl.taskStates">
                                    {{state.getTranslatedName()}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <fieldset>
                        <legend class="md-accent">
                            <md-switch ng-model="ctrl.task.allDay">
                                {{lang.task_all_day}} : {{ctrl.task.allDay ? lang.yes : lang.no}}
                            </md-switch>
                        </legend>
                        <div class="full-width-fieldset">
                            <div layout="row">
                                <div layout="row" flex>
                                    <div layout="row" flex>
                                        <md-input-container flex class="cms-datepicker">
                                            <label>{{lang.task_start_date}}</label>
                                            <md-datepicker name="startDate" ng-change="ctrl.startDateChange()" required
                                                           ng-model="ctrl.task.startDate"></md-datepicker>
                                            <div ng-messages="task_form.startDate.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div ng-if="!ctrl.task.allDay">
                                        <md-input-container flex>
                                            <label>{{lang.time}}</label>
                                            <md-select ng-change="ctrl.timeChange('startTime','StartTime')"
                                                       name="startTime"
                                                       ng-model="ctrl.task.startTime">
                                                <md-option ng-value="hour.value"
                                                           ng-repeat="hour in ctrl.calenderHours">
                                                    {{hour.label}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" flex>
                                    <div flex layout="row">
                                        <md-input-container flex class="cms-datepicker">
                                            <label>{{lang.task_end_date}}</label>
                                            <md-datepicker name="dueDate" md-min-date="ctrl.minDate" required
                                                           ng-model="ctrl.task.dueDate"></md-datepicker>
                                            <div ng-messages="task_form.dueDate.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div ng-if="!ctrl.task.allDay">
                                        <md-input-container flex>
                                            <label>{{lang.time}}</label>
                                            <md-select name="endTime" ng-change="ctrl.timeChange('endTime','EndTime')"
                                                       ng-disabled="!ctrl.task.dueDate"
                                                       ng-model="ctrl.task.endTime">
                                                <md-option ng-disabled="ctrl.lessThanStartTime(hour)"
                                                           ng-value="hour.value"
                                                           ng-repeat="hour in ctrl.calenderHours">
                                                    {{hour.label}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend class="md-accent">{{lang.linked_documents}}</legend>
                        <div class="full-width-fieldset">
                            <div layout="row">
                                <md-button class="md-raised" ng-click="ctrl.linkDocumentTask($event)">
                                    {{lang.link_document_to_task}}
                                </md-button>
                                <span flex></span>
                                <div class="p020" ng-if="ctrl.task.documentVSID">
                                    <md-switch aria-label="{{lang.truncate_subject}}"
                                               class="m0"
                                               ng-model="ctrl.truncateSubject"
                                               ng-change="ctrl.setTruncateSubject($event)">
                                        <span>{{lang.truncate_subject}} : </span>
                                        {{ctrl.truncateSubject ? lang.yes : lang.no }}
                                    </md-switch>
                                </div>
                            </div>
                            <div ng-if="ctrl.task.documentVSID" layout="row">
                                <md-card flex>
                                    <md-table-container>
                                        <table md-table>
                                            <thead md-head>
                                            <tr md-row>
                                                <th md-column>
                                                    <!-- Indicators -->
                                                </th>
                                                <th md-column>
                                                    <!-- Indicators -->
                                                </th>
                                                <th md-column>
                                                    <span>{{lang.subject}}</span>
                                                </th>
                                                <th md-column>
                                                    <span>{{lang.priority_level}}</span>
                                                </th>
                                                <th md-column>
                                                    <span>{{lang.security_level}}</span>
                                                </th>
                                                <th md-column>
                                                    <span>{{lang.actions}}</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row>
                                                <td md-cell>
                                                    <!-- Security Level -->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              indicator-type="securityLevel"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                    <!-- Document Class (Outgoing/Incoming/Internal) -->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              indicator-type="docClass"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                    <!-- Paper/Electronic-->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              ng-if="ctrl.task.correspondence.getInfo().documentClass !== 'incoming'"
                                                                              indicator-type="paperElectronic"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                    <!-- Linked Documents -->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              indicator-type="hasLinkedDocuments"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                </td>
                                                <td md-cell class="indicator-td text-right">
                                                    <!-- Priority Level -->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              indicator-type="priorityLevel"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                    <!-- Has Attachments -->
                                                    <grid-indicator-directive record="ctrl.task.correspondence"
                                                                              indicator-type="hasAttachment"
                                                                              record-type="correspondence"></grid-indicator-directive>
                                                </td>
                                                <td md-cell class="subject">
                                                    <a href=""
                                                       ng-if="ctrl.task.correspondence.hasContent() && ctrl.truncateSubject"
                                                       class="view-doc subject-internal" md-truncate
                                                       tooltip="{{ctrl.task.correspondence.docSubject}}"
                                                       ng-click="ctrl.viewCorrespondence(ctrl.task.correspondence, $event)">{{ctrl.task.correspondence.docSubject}}</a>
                                                    <span ng-if="!ctrl.task.correspondence.hasContent() && ctrl.truncateSubject"
                                                          class="view-doc subject-internal" md-truncate
                                                          tooltip="{{ctrl.task.correspondence.docSubject}}">{{ctrl.task.correspondence.docSubject}}</span>
                                                    <a href=""
                                                       ng-if="ctrl.task.correspondence.hasContent() && !ctrl.truncateSubject"
                                                       class="view-doc subject-internal"
                                                       tooltip="{{ctrl.task.correspondence.docSubject}}"
                                                       ng-click="ctrl.viewCorrespondence(ctrl.task.correspondence, $event)">{{ctrl.task.correspondence.docSubject}}</a>
                                                    <span ng-if="!ctrl.task.correspondence.hasContent() && !ctrl.truncateSubject"
                                                          class="view-doc subject-internal"
                                                          tooltip="{{ctrl.task.correspondence.docSubject}}">{{ctrl.task.correspondence.docSubject}}</span>
                                                </td>
                                                <td md-cell>
                                                    {{ctrl.task.correspondence.priorityLevel.getTranslatedName()}}
                                                </td>
                                                <td md-cell>
                                                    {{ctrl.task.correspondence.securityLevel.getTranslatedName()}}
                                                </td>
                                                <td md-cell>
                                                    <md-button class="md-icon-button"
                                                               ng-click="ctrl.removeCorrespondence($event)">
                                                        <md-icon md-svg-icon="delete"></md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="md-accent">
                            <md-switch ng-disabled="ctrl.editMode" ng-model="ctrl.task.withoutParticipant">
                                {{lang.task_without_participant}} : {{ ctrl.task.withoutParticipant ?
                                lang.yes : lang.no}}
                            </md-switch>
                        </legend>
                        <div class="full-width-fieldset">
                            <div layout="column">
                                <md-chips name="taskParticipants"
                                          ng-model="ctrl.task.taskParticipants"
                                          ng-required="!ctrl.task.withoutParticipant"
                                          md-autocomplete-snap
                                          md-require-match="true"
                                          input-aria-label="Participants"
                                          readonly="ctrl.isSelectParticipantDisabled()"
                                          md-on-add="ctrl.onAddTaskParticipant($chip, $index)"
                                          md-removable="ctrl.canDeleteTaskParticipant()"
                                          md-on-remove="ctrl.onRemoveTaskParticipant($chip, $index, $event)"
                                          ng-dblclick="ctrl.editTaskParticipant($event)">
                                    <md-autocomplete flex
                                                     md-no-cache="true"
                                                     md-selected-item="ctrl.selectedParticipant"
                                                     md-search-text="ctrl.searchText"
                                                     md-items="item in ctrl.personQuerySearch(ctrl.searchText)"
                                                     md-item-text="item.display"
                                                     placeholder="{{lang.search}}">
                                                        <span md-highlight-text="ctrl.searchText"
                                                              md-highlight-flags="i">{{item.display}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                          <strong>{{$chip.display}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                                <div class="md-chips-messages"
                                     ng-if="task_form.$dirty"
                                     ng-messages="task_form.taskParticipants.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div layout="row">
                        <md-input-container flex>
                            <label>{{lang.task_description}}</label>
                            <textarea rows="3" name="taskDescription" id="taskDescription"
                                      ng-model="ctrl.task.taskDescription" maxlength="1000"
                                      md-maxlength="1000"></textarea>
                            <div ng-messages="task_form.taskDescription.$error">
                                <div ng-message="maxlength">{{lang.max_length.change({length:1000})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="task_form.$invalid || !ctrl.canSaveTask()"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.addTaskFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-disabled="task_form.$invalid || !ctrl.canSaveTask()"
                   ng-click="ctrl.editTaskFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeTaskPopupFromCtrl()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
