<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.tasks}}">
    <div layout="column">
        <popup-toolbar-directive ng-if="!ctrl.editMode" header-text="{{lang.add_new_task_participant}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode" header-text="{{lang.edit_task_participant}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <form autocomplete="off" name="participant_form">
                <md-content>
                    <div layout="column" class="p20">
                        <div layout="row">
                            <table md-whiteframe="2" flex class="task-management-attendance-table">
                                <thead>
                                <tr>
                                    <th><span>{{lang.name}}</span></th>
                                    <th><span>{{lang.department}}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>احمد مصطفى ابراهيم</td>
                                    <td>الادارة العامة للجمارك</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>{{lang.task_state}}</label>
                                <md-select name="taskState" id="taskState"
                                           ng-model="ctrl.taskParticipant.taskState">
                                    <md-option ng-value="state.lookupKey"
                                               ng-repeat="state in ctrl.taskParticipantStates">
                                        {{state.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <md-switch ng-model="ctrl.taskParticipant.allDay">
                                    {{lang.task_all_day}}
                                </md-switch>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <div layout="row" flex>
                                <div layout="row" flex>
                                    <md-input-container flex class="cms-datepicker">
                                        <label>{{lang.task_start_date}}</label>
                                        <md-datepicker md-min-date="ctrl.task.startDate"
                                                       md-max-date="ctrl.task.dueDate"
                                                       ng-change="ctrl.startDateChange()" required
                                                       ng-model="ctrl.taskParticipant.startDate"></md-datepicker>
                                        <div ng-messages="participant_form.startDate.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div ng-if="!ctrl.taskParticipant.allDay">
                                    <md-input-container flex>
                                        <label>{{lang.time}}</label>
                                        <md-select ng-disabled="!ctrl.taskParticipant.startDate" ng-change="ctrl.participantTimeChange('startTime')"
                                                   name="startTime"
                                                   ng-model="ctrl.taskParticipant.startTime">
                                            <md-option  ng-value="hour.value"
                                                       ng-repeat="hour in ctrl.calenderHours">
                                                {{hour.label}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex>
                                <div flex layout="row">
                                    <md-input-container flex class="cms-datepicker">
                                        <label>{{lang.task_end_date}}</label>
                                        <md-datepicker md-min-date="ctrl.taskParticipant.startDate"
                                                       md-max-date="ctrl.task.dueDate"
                                                       required
                                                       ng-model="ctrl.taskParticipant.dueDate"></md-datepicker>
                                        <div ng-messages="participant_form.dueDate.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div ng-if="!ctrl.taskParticipant.allDay">
                                    <md-input-container flex>
                                        <label>{{lang.time}}</label>
                                        <md-select ng-change="ctrl.participantTimeChange('endTime')"
                                                   ng-disabled="!ctrl.taskParticipant.dueDate"
                                                   ng-model="ctrl.taskParticipant.endTime">
                                            <md-option ng-value="hour.value"
                                                       ng-repeat="hour in ctrl.calenderHours">
                                                {{hour.label}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label for="taskCreatorComment">{{lang.task_owner_comment}}</label>
                                <textarea rows="3" name="taskCreatorComment" id="taskCreatorComment"
                                          ng-model="ctrl.taskParticipant.taskCreatorComment"></textarea>
                            </md-input-container>
                        </div>
                        <!--<div layout="row">-->
                        <!--<md-input-container flex>-->
                        <!--<label for="taskParticipantReply">{{lang.task_participant_reply}}</label>-->
                        <!--<textarea disabled rows="3" name="taskParticipantReply" id="taskParticipantReply"-->
                        <!--ng-model="ctrl.taskParticipant.taskParticipantReply"></textarea>-->
                        <!--</md-input-container>-->
                        <!--</div>-->
                    </div>
                </md-content>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="participant_form.$invalid"
                           ng-if="!ctrl.editMode"
                           ng-click="ctrl.addTaskParticipantFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode"
                           ng-disabled="participant_form.$invalid"
                           ng-click="ctrl.editTaskParticipantFromCtrl()">{{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeTaskPopupFromCtrl()">{{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
