<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.tasks}}">
    <popup-toolbar-directive
            header-text="{{lang.edit_task_participant}} : {{ctrl.taskParticipant.userId.getTranslatedName()}} - {{ctrl.taskParticipant.ouId.getTranslatedName()}}"
            close-callback="ctrl.closeTaskParticipantPopupFromCtrl"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form autocomplete="off" name="participant_form">
                <div layout="column">
                    <div layout="row">
                        <div layout="row" flex>
                            <md-input-container flex>
                                <label>{{lang.task_state}}</label>
                                <md-select name="taskState" id="taskState"
                                           ng-model="ctrl.taskParticipant.taskState">
                                    <md-option ng-value="state.lookupKey"
                                               ng-repeat="state in ctrl.taskParticipantStates">
                                        {{state.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" flex>
                            <md-input-container>
                                <md-switch ng-if="ctrl.employeeService.hasPermissionTo('ADMIN_USER_FOLLOWUP_BOOKS')" ng-disabled="ctrl.fromView || !ctrl.task.documentVSID"
                                           ng-model="ctrl.taskParticipant.addtoUserFollowup">
                                    {{lang.follow_up_status}}
                                </md-switch>
                            </md-input-container>
                            <md-input-container>
                                <md-switch ng-disabled="ctrl.fromView" ng-model="ctrl.taskParticipant.allDay">
                                    {{lang.task_all_day}}
                                </md-switch>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row">
                        <div layout="row" flex>
                            <div layout="row" flex>
                                <md-input-container flex class="cms-datepicker">
                                    <label>{{lang.task_start_date}}</label>
                                    <md-datepicker ng-disabled="ctrl.fromView" md-min-date="ctrl.task.startDate"
                                                   md-max-date="ctrl.task.dueDate"
                                                   ng-change="ctrl.startDateChange()" required
                                                   ng-model="ctrl.taskParticipant.startDate"></md-datepicker>
                                    <div ng-messages="participant_form.startDate.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div ng-if="!ctrl.taskParticipant.allDay">
                                <md-input-container flex>
                                    <label>{{lang.time}}</label>
                                    <md-select ng-disabled="!ctrl.taskParticipant.startDate || ctrl.fromView"
                                               ng-change="ctrl.participantTimeChange('startTime')"
                                               name="startTime"
                                               ng-model="ctrl.taskParticipant.startTime">
                                        <md-option ng-value="hour.value"
                                                   ng-repeat="hour in ctrl.calenderHours">
                                            {{hour.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" flex>
                            <div flex layout="row">
                                <md-input-container flex class="cms-datepicker">
                                    <label>{{lang.task_end_date}}</label>
                                    <md-datepicker ng-disabled="ctrl.fromView"
                                                   md-min-date="ctrl.taskParticipant.startDate"
                                                   md-max-date="ctrl.task.dueDate"
                                                   required
                                                   ng-model="ctrl.taskParticipant.dueDate"></md-datepicker>
                                    <div ng-messages="participant_form.dueDate.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div ng-if="!ctrl.taskParticipant.allDay">
                                <md-input-container flex>
                                    <label>{{lang.time}}</label>
                                    <md-select ng-change="ctrl.participantTimeChange('endTime')"
                                               ng-disabled="!ctrl.taskParticipant.dueDate || ctrl.fromView"
                                               ng-model="ctrl.taskParticipant.endTime">
                                        <md-option ng-value="hour.value"
                                                   ng-repeat="hour in ctrl.calenderHours">
                                            {{hour.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!ctrl.fromView" layout="row">
                        <md-input-container flex>
                            <label for="taskCreatorComment">{{lang.task_owner_comment}}</label>
                            <textarea rows="3" name="taskCreatorComment" id="taskCreatorComment"
                                      ng-model="ctrl.taskParticipant.taskCreatorComment"></textarea>
                        </md-input-container>
                    </div>
                    <div ng-if="ctrl.fromView" layout="row">
                        <md-input-container flex>
                            <label for="participantReply">{{lang.task_owner_comment}}</label>
                            <textarea rows="3" name="participantReply" id="participantReply"
                                      ng-model="ctrl.taskParticipant.participantReply"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="participant_form.$invalid"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.addTaskParticipantFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-disabled="participant_form.$invalid"
                   ng-click="ctrl.editTaskParticipantFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeTaskParticipantPopupFromCtrl()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
