<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.barcode_sample}}">
    <popup-toolbar-directive header-text="{{lang.barcode_sample}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <div id="barcode-area" layout="row">
                <span flex></span>
                <img ng-src="{{ctrl.barcode}}">
                <span flex></span>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <span flex></span>
        <md-button ng-click="ctrl.closeBarcodePopup($event)" class="md-raised red-text">
            {{lang.close}}
        </md-button>
        <span flex></span>
    </md-dialog-actions>
</md-dialog>
