<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.manage_users_on_behalf}}">
    <popup-toolbar-directive
            header-text="{{lang.manage_users_on_behalf}} : {{ctrl.currentUser.applicationUser.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content cms-dialog-content">
            <form name="managerProxyForm" autocomplete="off">
                <div layout="column">
                    <div layout="row" ng-repeat="proxyManager in ctrl.proxyManagers">
                        <md-input-container flex>
                            <label for="userName">{{lang.user}}</label>
                            <input id="userName" ng-model="proxyManager.name" ng-disabled="true" ng-readonly="true">
                        </md-input-container>
                        <!-- User On Behalf / Proxy User -->
                        <md-input-container flex>
                            <label for="proxyUser">{{lang.user_on_behalf}}</label>
                            <md-select name="proxyUser" id="proxyUser"
                                       required
                                       ng-change="ctrl.setProxyUser(proxyManager, $event)"
                                       ng-model-options="{trackBy:'$value.id'}"
                                       ng-model="proxyManager.selectedProxyUser">
                                <!--md-selected-text="ctrl.getSelectedDelegatedUserText()"-->
                                <md-option
                                        ng-repeat="proxyUser in ctrl.availableProxies track by $index"
                                        ng-if="!ctrl.isCurrentUser(proxyUser)"
                                        ng-value="proxyUser">
                                    {{proxyUser.getTranslatedName()}}
                                </md-option>
                            </md-select>
                            <div ng-messages="managerProxyForm.proxyUser.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised"
                   ng-disabled="managerProxyForm.$invalid"
                   ng-click="ctrl.updateManagersProxy($event)">{{lang.save}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closePopup($event)">{{lang.close}}</md-button>
    </md-dialog-actions>
</md-dialog>
