<md-dialog class="dialog-extend"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.admin_add_new_workflow_group : ctrl.model.getNames()}}">
    <div layout="column">
        <popup-toolbar-directive ng-if="!ctrl.editMode"
                                 header-text="{{lang.admin_add_new_workflow_group}}"></popup-toolbar-directive>
        <popup-toolbar-directive ng-if="ctrl.editMode"
                                 header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
        <md-content scroll-directive>
            <form name="workflowGroup_form" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <!-- private workflow group doesn't have custom validation and required dependent on enName -->
                                        <input ng-if="!ctrl.isUserPreference"
                                               name="arName" id="arName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.arName"
                                               custom-validate-directive="A1NS">
                                        <input ng-if="ctrl.isUserPreference"
                                               name="arName" id="arName" ng-required="!ctrl.workflowGroup.enName"
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.arName">
                                        <div ng-messages="workflowGroup_form.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <!-- private workflow group doesn't have custom validation and required dependent on arName -->
                                        <input ng-if="!ctrl.isUserPreference"
                                               name="enName" id="enName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.enName"
                                               custom-validate-directive="E1NS">
                                        <input ng-if="ctrl.isUserPreference" ng-required="!ctrl.workflowGroup.arName"
                                               name="enName" id="enName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.enName">
                                        <div ng-messages="workflowGroup_form.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                            <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch ng-model="ctrl.workflowGroup.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.workflowGroup.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.group_members}}">
                        <md-content>
                            <md-button tooltip="{{lang.group_members}}" class="md-icon-button"
                                       ng-click="ctrl.selectGroupMemberUserWorkflowGroup($event)">
                                <md-icon md-svg-icon="plus"></md-icon>
                            </md-button>

                            <table md-table>
                                <thead md-head>
                                <tr md-row>
                                    <th md-column>{{lang.arabic_name}}</th>
                                    <th md-column>{{lang.english_name}}</th>
                                    <!--<th md-column>{{lang.login_name}}</th>-->
                                    <th md-column>{{lang.organization}}</th>
                                    <th md-column>{{lang.action}}</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="groupMember in ctrl.workflowGroup.groupMembers track by $index">
                                    <td md-cell>{{groupMember.applicationUser.arFullName}}</td>
                                    <td md-cell>{{groupMember.applicationUser.enFullName}}</td>
                                    <!--<td md-cell>{{groupMember.applicationUser.loginName}}</td>-->
                                    <td md-cell>{{groupMember.ouid.getTranslatedName()}}</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" title="{{lang.delete}}"
                                                   ng-click="ctrl.removeWorkflowGroupMember(groupMember, $event)">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="workflowGroup_form.$invalid || ctrl.workflowGroup.groupMembers.length===0"
                           ng-if="!ctrl.editMode"
                           ng-click="ctrl.addWorkflowGroupFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode"
                           ng-disabled="workflowGroup_form.$invalid|| ctrl.workflowGroup.groupMembers.length===0"
                           ng-click="ctrl.editWorkflowGroupFromCtrl()">{{lang.save}}
                </md-button>
                <span flex=""></span>
                <md-button class="md-raised"
                           ng-click="ctrl.resetModel()">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeWorkflowGroupPopupFromCtrl()">{{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
