<md-dialog class="dialog-extend cms-tabs-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.admin_add_new_workflow_group : ctrl.model.getNames()}}">
    <popup-toolbar-directive ng-if="!ctrl.editMode"
                             header-text="{{lang.admin_add_new_workflow_group}}"></popup-toolbar-directive>
    <popup-toolbar-directive ng-if="ctrl.editMode"
                             header-text="{{ctrl.model.getNames()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive flex>
        <div>
            <form name="workflowGroup_form" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content class="md-padding">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <!-- private workflow group doesn't have custom validation and required dependent on enName -->
                                        <input ng-if="!ctrl.isUserPreference"
                                               name="arName" id="arName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.arName"
                                               custom-validate-directive="A1NS">
                                        <input ng-if="ctrl.isUserPreference"
                                               name="arName" id="arName" ng-required="!ctrl.workflowGroup.enName"
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.arName">
                                        <div ng-messages="workflowGroup_form.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                            <div ng-message="A1NS">{{lang.one_arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <!-- private workflow group doesn't have custom validation and required dependent on arName -->
                                        <input ng-if="!ctrl.isUserPreference"
                                               name="enName" id="enName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.enName"
                                               custom-validate-directive="E1NS">
                                        <input ng-if="ctrl.isUserPreference" ng-required="!ctrl.workflowGroup.arName"
                                               name="enName" id="enName" required
                                               minlength="4" maxlength="80"
                                               ng-model="ctrl.workflowGroup.enName">
                                        <div ng-messages="workflowGroup_form.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 80})}}</div>
                                            <div ng-message="E1NS">{{lang.one_english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="itemOrder">{{lang.item_order}}</label>
                                        <input name="itemOrder" id="itemOrder" ng-model="ctrl.workflowGroup.itemOrder"
                                               custom-validate-directive="number" maxlength="5">
                                        <div ng-messages="workflowGroup_form.itemOrder.$error">
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                            <div ng-message="maxlength">{{lang.max_length.change({length: 5})}}</div>
                                        </div>
                                    </md-input-container>
                                    <div flex class="p020">
                                        <md-switch ng-model="ctrl.workflowGroup.status" aria-label="{{lang.status}}">
                                            <label>{{lang.status}} :
                                                {{ctrl.workflowGroup.getTranslatedStatus()}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                                <div layout="row" ng-if="ctrl.editMode && !ctrl.isUserPreference">
                                    <div flex>
                                        <md-switch ng-model="ctrl.workflowGroup.global" aria-label="{{lang.global}}"
                                                   ng-change="ctrl.workflowGroup.isAdminAssigned = false;">
                                            <label>{{lang.global}} :
                                                {{ctrl.workflowGroup.getTranslatedGlobal()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex>
                                        <md-switch ng-model="ctrl.workflowGroup.isAdminAssigned"
                                                   aria-label="{{lang.admin_assign_private_wf_members}}"
                                                   ng-disabled="ctrl.workflowGroup.global">
                                            <label>{{lang.admin_assign_private_wf_members}} :
                                                {{ctrl.workflowGroup.getTranslatedYesNo('isAdminAssigned')}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.group_members}}">
                        <md-content>
                            <md-button tooltip="{{lang.group_members}}" class="md-icon-button"
                                       ng-click="ctrl.selectGroupMemberUserWorkflowGroup(ctrl.workflowGroup.groupMembers,false,$event)">
                                <md-icon md-svg-icon="plus"></md-icon>
                            </md-button>

                            <table md-table>
                                <thead md-head>
                                <tr md-row>
                                    <th md-column>{{lang.arabic_name}}</th>
                                    <th md-column>{{lang.english_name}}</th>
                                    <!--<th md-column>{{lang.login_name}}</th>-->
                                    <th md-column>{{lang.organization}}</th>
                                    <th md-column>{{lang.action}}</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="groupMember in ctrl.workflowGroup.groupMembers track by $index">
                                    <td md-cell>{{groupMember.applicationUser.arFullName}}</td>
                                    <td md-cell>{{groupMember.applicationUser.enFullName}}</td>
                                    <td md-cell>{{groupMember.ouid.getTranslatedName()}}</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" title="{{lang.delete}}"
                                                   ng-click="ctrl.removeWorkflowGroupMember(groupMember, $event)">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.private_group_members}}" ng-if="ctrl.workflowGroup.isAdminAssigned">
                        <md-content>
                            <md-button tooltip="{{lang.private_group_members}}" class="md-icon-button"
                                       ng-click="ctrl.selectGroupMemberUserWorkflowGroup(ctrl.usersWorkflowGroupByAdmin,true,$event)">
                                <md-icon md-svg-icon="plus"></md-icon>
                            </md-button>

                            <table md-table>
                                <thead md-head>
                                <tr md-row>
                                    <th md-column>{{lang.arabic_name}}</th>
                                    <th md-column>{{lang.english_name}}</th>
                                    <!--<th md-column>{{lang.organization}}</th>-->
                                    <th md-column>{{lang.action}}</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="userWorkflowGroupMember in ctrl.usersWorkflowGroupByAdmin track by $index">
                                    <td md-cell>{{userWorkflowGroupMember.applicationUser.arFullName}}</td>
                                    <td md-cell>{{userWorkflowGroupMember.applicationUser.enFullName}}</td>
                                    <!-- <td md-cell>{{userWorkflowGroupMember.ouid.getTranslatedName()}}</td>-->
                                    <td md-cell>
                                        <md-button class="md-icon-button" title="{{lang.delete}}"
                                                   ng-click="ctrl.removeUserWorkflowGroupAssignedByAdmin(userWorkflowGroupMember,$event)">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary"
                   ng-disabled="workflowGroup_form.$invalid || ctrl.workflowGroup.groupMembers.length===0"
                   ng-if="!ctrl.editMode"
                   ng-click="ctrl.addWorkflowGroupFromCtrl()">{{lang.add}}
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.editMode"
                   ng-disabled="workflowGroup_form.$invalid|| ctrl.workflowGroup.groupMembers.length===0"
                   ng-click="ctrl.editWorkflowGroupFromCtrl()">{{lang.save}}
        </md-button>
        <md-button class="md-raised"
                   ng-click="ctrl.resetModel()">
            {{lang.reset}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeWorkflowGroupPopupFromCtrl()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
