<md-dialog class="dialog-extend cms-dialog" layout="column"
           ng-class="{'cms-dialog-full-screen':ctrl.fullScreen}"
           aria-label="{{ctrl.dialogTitle}}">
    <popup-toolbar-directive header-text="{{ctrl.dialogTitle}}"></popup-toolbar-directive>
    <md-dialog-content overlay-scroll-bar-directive flex>
        <div class="md-dialog-content cms-dialog-content">
            <form name="distWorkflowItem_form">
                <div layout="row">
                    <!-- Action -->
                    <md-input-container flex>
                        <label for="action">{{lang.select_action}}</label>
                        <md-select required id="action" ng-model-options="{trackBy:'$value.id'}" name="action"
                                   ng-model="ctrl.distWorkflowItem.action"
                                   md-on-close="ctrl.clearSearchText('action')"
                                   data-md-container-class="select-header-container sticky-search-bar">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="action"
                                       ng-repeat="action in ctrl.workflowActions | translatedNameFilter: ctrl.actionSearchText">
                                    <span
                                            md-highlight-text="ctrl.actionSearchText"
                                            md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="distWorkflowItem_form.action.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Due Date -->
                    <md-input-container ng-if="!ctrl.fromPredefined" class="cms-datepicker" flex>
                        <label for="dueDate">{{lang.due_date}}</label>
                        <md-datepicker id="dueDate" md-open-on-focus
                                       md-min-date="ctrl.minDate"
                                       ng-model="ctrl.distWorkflowItem.dueDate"
                                       ng-disabled="ctrl.isEscalationHidden()"
                                       ng-required="ctrl.currentUserOrg.enableEscalation && !ctrl.isEscalationHidden() &&  ctrl.isEscalationStatusSelected()"></md-datepicker>
                        <div ng-messages="distWorkflowItem_form.dueDate.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- SLA Due Date -->
                    <md-input-container flex ng-if="ctrl.fromPredefined">
                        <label for="sLADueDate">{{lang.sla_due_date}}</label>
                        <input name="sLADueDate" id="sLADueDate"
                               ng-model="ctrl.distWorkflowItem.sLADueDate"
                               ng-required="ctrl.currentUserOrg.enableEscalation && !ctrl.isEscalationHidden() &&  ctrl.isEscalationStatusSelected()"
                               custom-validate-directive="number"
                               min-max-number-directive
                               ng-disabled="ctrl.isSLADueDateDisabled()"
                               min="1" max="999">
                        <div ng-messages="distWorkflowItem_form.sLADueDate.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                            <div ng-message="min">{{lang.min_number.change({number:0})}}</div>
                            <div ng-message="max">{{lang.max_number.change({number: 1000})}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification"
                     layout="row">
                    <div flex>
                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                     ng-model="ctrl.distWorkflowItem.sendSMS">
                            {{lang.sms_workflow_notification}}
                        </md-checkbox>
                    </div>
                    <div flex>
                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                     ng-model="ctrl.distWorkflowItem.sendEmail">
                            {{lang.email_workflow_notification}}
                        </md-checkbox>
                    </div>
                </div>
                <div layout="row">
                    <div flex>
                        <!-- Secure Action -->
                        <md-checkbox
                                ng-model="ctrl.distWorkflowItem.isSecureAction"
                                aria-label="{{lang.secure_comment}}">
                            {{lang.secure_comment}}
                        </md-checkbox>
                        <div class="help-text-div mb10">{{lang.secure_comment_note}}</div>
                    </div>
                    <div flex ng-if="ctrl.isWorkItem && !ctrl.hiddenForwardSenderInfo">
                        <!-- forward with sender action and comments -->
                        <md-checkbox
                                ng-model="ctrl.distWorkflowItem.forwardSenderActionAndComment"
                                ng-change="ctrl.setSenderActionAndComment($event)"
                                aria-label="{{lang.forward_with_sender_info}}">
                            {{lang.forward_with_sender_info}}
                        </md-checkbox>
                    </div>
                </div>
                <div layout="row" ng-if="ctrl.currentUserOrg.enableEscalation && !ctrl.isEscalationHidden()">
                    <md-input-container flex>
                        <label for="escalationStatus">{{lang.choose_escalation_process}}</label>
                        <md-select ng-model-options="{trackBy: '$value.id'}"
                                   id="escalationStatus"
                                   ng-model="ctrl.distWorkflowItem.escalationStatus"
                                   ng-change="ctrl.onEscalationStatusChange($event)">
                            <md-option tooltip="{{escalation.getTranslatedName(true)}}"
                                       ng-value="escalation"
                                       ng-repeat="escalation in ctrl.escalationProcessCopy track by $index">
                                {{escalation.getTranslatedName()}}
                            </md-option>
                        </md-select>
                        <md-button class="md-icon-button cms-select-overlay-button"
                                   ng-disabled="!ctrl.distWorkflowItem.isCustomEscalationStatusSelected()"
                                   ng-click="ctrl.openEscalationUserDialog($event)" tooltip="{{lang.select_user}}">
                            <md-icon md-svg-icon="account-plus"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center"
                     ng-if="ctrl.distWorkflowItem.escalationUserId && !ctrl.isEscalationHidden()">
                    <span>{{lang.escalation_user}}:</span>
                    <span class="user-tag" md-truncate>
                                    <span>{{ctrl.distWorkflowItem.escalationUserId.getTranslatedName()}} - {{ctrl.distWorkflowItem.escalationUserId.getTranslatedOrganizationName()}}</span>
                                    <md-icon ng-click="ctrl.deleteEscalationUser($event)"
                                             md-svg-icon="close-box"></md-icon>
                                </span>
                </div>
                <div layout="row" layout-align="start center">
                    <md-input-container flex>
                        <label for="comment">{{lang.select_comment}}</label>
                        <md-select id="comment" name="comment" ng-change="ctrl.onCommentChange()"
                                   ng-model="ctrl.comment"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   md-on-close="ctrl.clearSearchText('comment')"
                                   data-md-container-class="select-header-container sticky-search-bar">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.commentSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="comment"
                                       ng-repeat="comment in ctrl.comments | translatedNameFilter: ctrl.commentSearchText">
                                    <span
                                            md-highlight-text="ctrl.commentSearchText"
                                            md-highlight-flags="i">{{comment.getCommentTitle()}}</span>
                            </md-option>
                        </md-select>
                        <md-button class="md-icon-button cms-select-overlay-button"
                                   ng-click="ctrl.openAddUserCommentDialog($event)">
                            <md-icon md-svg-icon="plus"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="comments"> {{lang.type_your_comment}}</label>
                        <textarea style="min-height: 150px !important;" overlay-scroll-bar-directive
                                  id="comments" name="comments" rows="7" class="cms-comment textarea-bootstrap"
                                  ng-model="ctrl.distWorkflowItem.comments"
                                  maxlength="2000" md-maxlength="2000"
                                  ng-required="ctrl.distWorkflowItem.isSecureAction"></textarea>
                        <div ng-messages="distWorkflowItem_form.comments.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="maxlength">{{lang.max_length.change({length:2000})}}</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="cms-dialog-actions">
        <md-button class="md-raised md-primary" ng-disabled="distWorkflowItem_form.$invalid ||
                            (!ctrl.isEscalationHidden() && ctrl.distWorkflowItem.isCustomEscalationStatusSelected() && !ctrl.distWorkflowItem.escalationUserId)"
                   ng-click="ctrl.setDistWorkflowItemProperties()">
            {{lang.set}}
        </md-button>
        <md-button class="md-raised red-text" ng-click="ctrl.closeDistWorkflowItemProperties()">{{lang.close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
