<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.permissions}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{ctrl.model.customRoleId.getTranslatedName()}} : {{lang.permissions}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <div class="p20">
                <div layout="row" layout-align="start center">
                    <div flex>
                        <md-checkbox aria-label="Select All"
                                     ng-checked="ctrl.isChecked()"
                                     md-indeterminate="ctrl.isIndeterminate()"
                                     ng-click="ctrl.toggleAll()"
                                     ng-disabled="ctrl.search">
                        </md-checkbox>
                        <span ng-if="ctrl.isChecked()">Un-</span>Select All
                    </div>
                    <md-input-container flex>
                        <label for="search">{{lang.search_in_permissions}}</label>
                        <input ng-change="ctrl.searchChanges()" ng-model-options="{debounce: 300}"
                               ng-model="ctrl.search" id="search">
                    </md-input-container>
                </div>
                <div layout="column"
                     ng-repeat="(key, permissionHeading) in ctrl.permissions track by $index">
                    <md-checkbox ng-model="ctrl[key]"
                                 ng-checked="ctrl.selectParentCheckbox(permissionHeading)"
                                 ng-click="ctrl.selectAllGroupPermissions(permissionHeading,key)"
                                 aria-label="{{key}}"><span md-highlight-text="ctrl.search"
                                                            md-highlight-flags="i">{{key}}</span>
                    </md-checkbox>
                    <div class="p20">
                        <div flex layout="row"
                             ng-repeat="permissionArr in permissionHeading track by $index">
                            <md-checkbox ng-if="permission!==null"
                                         ng-repeat="permission in permissionArr track by $index"
                                         ng-checked="ctrl.userOUPermissionsExists(permission)"
                                         ng-click="ctrl.toggleUserOuPermission(permission)"
                                         flex aria-label="{{permission.arName}}">
                                <span md-highlight-text="ctrl.search"
                                      md-highlight-flags="i">{{lang.current==='en'? permission.enName
                                      :permission.arName}}</span>
                            </md-checkbox>

                            <div flex ng-if="permission===null" class="emptyPermissionCheckboxMargin"
                                 ng-repeat="permission in permissionArr track by $index"></div>
                        </div>
                    </div>
                </div>
            </div>

        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-disabled="userOuPermissionsForm.$invalid"
                           ng-click="ctrl.saveUserOuPermissionsFromCtrl()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeUserOuPermissionsFromCtrl()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>