<md-dialog class="dialog-extend" ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_correspondence_site_type : ctrl.model.getNames()}}">
    <div layout="column">
        <md-toolbar>
            <span ng-if="!ctrl.editMode" class="p20">{{lang.add_new_correspondence_site_type}}</span>
            <span ng-if="ctrl.editMode" class="p20">{{ctrl.model.getNames()}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="doc" autocomplete="off">
                <div layout="column" class="p20">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="arName">{{lang.arabic_name}}</label>
                            <input name="arName" id="arName" required minlength="4" maxlength="80"
                                   ng-model="ctrl.correspondenceSiteType.arName"
                                   custom-validate-directive="ANS">
                            <div ng-messages="doc.arName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="enName">{{lang.english_name}}</label>
                            <input name="enName" id="enName" maxlength="80" required minlength="3"
                                   ng-model="ctrl.correspondenceSiteType.enName"
                                   custom-validate-directive="ENS">
                            <div ng-messages="doc.enName.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="ENS">{{lang.english_number_space}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex ng-disabled="true">
                            <label for="lookupStrKey">{{lang.code}}</label>
                            <input ng-disabled="ctrl.editMode" no-space-directive name="lookupStrKey" id="lookupStrKey"
                                   maxlength="40"
                                   minlength="4"
                                   ng-model="ctrl.correspondenceSiteType.lookupStrKey"
                                   custom-validate-directive="EN">
                            <div ng-messages="doc.lookupStrKey.$error">
                                <div ng-message="EN">{{lang.english_number}}</div>
                                <div ng-message="minlength">{{lang.short}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:40})}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="itemOrder">{{lang.item_order}}</label>
                            <input name="itemOrder" id="itemOrder" ng-model="ctrl.correspondenceSiteType.itemOrder"
                                   custom-validate-directive="number" maxlength="5" min-max-number-directive>
                            <div ng-messages="doc.itemOrder.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="number">{{lang.numberonly}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <div flex class="p20">
                            <md-switch ng-model="ctrl.correspondenceSiteType.status"
                                        ng-disabled="ctrl.editMode && !ctrl.correspondenceSiteType.canDelete()">
                                <label>{{lang.status}} : {{ctrl.correspondenceSiteType.getTranslatedStatus()}}</label>
                            </md-switch>
                        </div>
                        <span flex></span>
                    </div>
                </div>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-disabled="doc.$invalid" ng-if="!ctrl.editMode"
                           ng-click="ctrl.addCorrespondenceSiteTypeFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode"
                           ng-click="ctrl.editCorrespondenceSiteTypeFromCtrl()">{{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised"
                           ng-click="ctrl.resetModel(doc, $event)">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closePopUp()">{{lang.close}}</md-button>
            </div>
        </div>
    </div>
</md-dialog>