<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.select_date_and_year}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.select_date_and_year}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="monthAndYearForm" autocomplete="off">
                <div layout="column" class="p20">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="month">{{lang.dep_month}}</label>
                            <md-select name="month" id="month" required
                                       aria-label="{{lang.dep_month}}"
                                       ng-model="ctrl.selectedMonth">
                                <md-option ng-value="month.value" ng-repeat="month in ctrl.months track by $index">
                                    {{lang[month.text]}}
                                </md-option>
                            </md-select>
                            <div ng-messages="monthAndYearForm.month.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="year">{{lang.dep_year}}</label>
                            <md-select name="year" id="year" required
                                       aria-label="{{lang.dep_year}}"
                                       ng-model="ctrl.selectedYear">
                                <md-option ng-value="year"
                                           ng-repeat="year in ctrl.years() track by $index">
                                    {{year}}
                                </md-option>
                            </md-select>
                            <div ng-messages="monthAndYearForm.year.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-button class="md-raised" ng-disabled="monthAndYearForm.$invalid"
                               ng-click="ctrl.getSentItemsDataForMonthAndYear($event)">
                        {{lang.dep_get_sent_items}}
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised" ng-click="ctrl.closeDepartmentInboxSentItemPopupFromCtrl()">
                        {{lang.close}}
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</md-dialog>