<md-dialog>
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.children}}:  {{ctrl.parentDocumentFile.getNames()}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <div class="p20">
                <div layout="row" layout-align="start center" class="page-header small">
                    <md-button ng-click="ctrl.openAddSubDocumentFileDialog($event)" class="md-icon-button" tooltip="{{lang.add}}">
                        <md-icon md-svg-icon="plus"></md-icon>
                    </md-button>
                    <md-button ng-click="ctrl.reloadSubDocumentFiles()" class="md-icon-button" tooltip="{{lang.reload}}">
                        <md-icon md-svg-icon="refresh"></md-icon>
                    </md-button>
                    <span flex></span>
                    <!--<search-filter-directive change-icon-model="ctrl.searchMode" cancel-callback="ctrl.reloadSubDocumentFiles()"
                                             on-change="ctrl.searchInSubDocumentFiles"
                                             model="ctrl.searchModel"></search-filter-directive>-->
                </div>
                <md-card md-whiteframe="3" layout="column" class="card-overlay">
                    <md-table-container scroll-directive>
                        <table md-table md-row-select="true"
                               multiple="true"
                               ng-model="ctrl.selectedSubDocumentFiles"
                               md-progress="ctrl.progress">
                            <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                            <tr md-row>
                                <th colspan="6" class="table-selector-header"
                                    ng-if="ctrl.selectedSubDocumentFiles.length" md-column>
                                    <div layout="row" layout-align="start center">
                                        <span>{{ctrl.selectedSubDocumentFiles.length}} {{lang.items_selected}} </span>
                                        <span flex></span>
                                        <table-status-directive
                                                when-close="ctrl.changeStatusBulkSubDocumentFiles"></table-status-directive>
                                        <md-button class="md-icon-button"
                                                   ng-click="ctrl.removeBulkSubDocumentFiles()">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </div>
                                </th>
                                <th ng-if="!ctrl.selectedSubDocumentFiles.length" md-column md-order-by=""><span>{{lang.arabic_name}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSubDocumentFiles.length" md-column md-order-by=""><span>{{lang.english_name}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSubDocumentFiles.length" md-column md-order-by=""><span>{{lang.status}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSubDocumentFiles.length" md-column md-order-by=""><span>{{lang.security_levels}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSubDocumentFiles.length" md-column md-order-by=""><span>{{lang.actions}}</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-select="subDocumentFile" md-row
                                ng-repeat="subDocumentFile in ctrl.subDocumentFiles | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                <td md-cell>{{subDocumentFile.arName}}</td>
                                <td md-cell>{{subDocumentFile.enName}}</td>
                                <td md-cell>
                                    <md-switch aria-label="{{lang.status}}"
                                               ng-model="subDocumentFile.status"
                                               title="{{subDocumentFile.getTranslatedStatus()}}"
                                               ng-change="ctrl.changeStatusSubDocumentFile(subDocumentFile)"></md-switch>
                                </td>
                                <td md-cell>{{subDocumentFile.getSecurityLevels(subDocumentFile)}}</td>
                                <td md-cell>
                                    <div flex layout="row" layout-align="start center">
                                        <md-button class="md-icon-button"
                                                   ng-click="ctrl.openEditSubDocumentFileDialog(subDocumentFile, $event)"
                                                   title="{{lang.edit}}">
                                            <md-icon md-svg-icon="pencil"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button"
                                                   ng-click="ctrl.removeSubDocumentFile(subDocumentFile)"
                                                   title="{{lang.delete}}">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination
                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                            md-limit-options="ctrl.grid.limitOptions"
                            md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                            md-total="{{ctrl.subDocumentFiles.length}}" md-page-select></md-table-pagination>
                    </md-table-container>
                </md-card>
            </div>
        </md-content>
    </div>
</md-dialog>