<md-dialog aria-label="office-online" class="dialog-size-80">
    <div flex layout="column">
        <div id="office-full-screen">
            <md-button ng-click="ctrl.savePreparedDocument()" class="md-icon-button">
                <md-icon md-svg-icon="content-save"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.fullScreen()" class="md-icon-button">
                <md-icon md-svg-icon="fullscreen"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.closeEditor()" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
        <div class="p20" flex layout="row">
            <iframe id="document-viewer" frameborder="0" allowfullscreen="true" ng-src="{{ctrl.documentUrl}}"
                    class="document-viewer-full-width-height"></iframe>
        </div>
    </div>
</md-dialog>