<md-dialog class="dialog-extend mw60" id="view-tracking-sheet-dialog" aria-label="{{lang[ctrl.popupHeading]}}">
    <div layout="column">
        <md-toolbar layout="row" layout-align="start center">
            <span class="p20">{{lang.delivery_report}} - {{ctrl.title}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="trackingSheetForm" autocomplete="off">
                <!-- SINGLE GRID VIEW -->
                <div md-dynamic-height>
                    <!-- Delivery Report Grid-->
                    <div>
                        <md-content>
                            <div layout="column" class="p20">
                                <md-card>
                                    <md-table-container flex scroll-directive>
                                        <table md-table>
                                            <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                            <tr md-row>
                                                <th md-column
                                                    md-order-by="{{ctrl.getSortingKey('statusInfo', 'Information')}}">
                                                    <span>{{lang.status}}</span>
                                                </th>
                                                <th md-column md-order-by="">
                                                    <span>{{lang.correspondence_sites}}</span>
                                                </th>
                                                <th md-column
                                                    md-order-by="{{ctrl.getSortingKey('typeInfo', 'LookupG2G')}}">
                                                    <span>{{lang.document_type}}</span>
                                                </th>
                                                <th md-column md-order-by="sentDate">
                                                    <span>{{lang.sent_date}}</span>
                                                </th>
                                                <th md-column md-order-by="senderForTrackingSheet.name">
                                                    <span>{{lang.sender}}</span>
                                                </th>
                                                <th md-column md-order-by="deliveryDate">
                                                    <span>{{lang.received_date}}</span>
                                                </th>
                                                <th md-column md-order-by="receivedByOrg">
                                                    <span>{{lang.received_by}}</span>
                                                </th>
                                                <th md-column md-order-by="comment">
                                                    <span>{{lang.comments}}</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-select="record" md-row
                                                ng-repeat="record in ctrl.deliveryReportRecords | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                                <td md-cell>{{record.statusInfo.getTranslatedName()}}</td>
                                                <td md-cell>
                                                    <main-site-sub-site-directive item="record"
                                                                                  type="G2GMessagingHistory"></main-site-sub-site-directive>
                                                </td>
                                                <td md-cell>{{record.typeInfo.getTranslatedName()}}</td>
                                                <td md-cell>{{record.sentDate}}</td>
                                                <td md-cell>{{record.senderForTrackingSheet}}</td>
                                                <td md-cell>{{record.deliveryDate}}</td>
                                                <td md-cell>{{record.receivedByOrg}}</td>
                                                <td md-cell>{{record.comment}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <md-table-pagination
                                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                                md-limit-options="ctrl.grid.limitOptions"
                                                md-limit="ctrl.grid.limit"
                                                md-page="ctrl.grid.page"
                                                md-total="{{(ctrl.deliveryReportRecords | filter: ctrl.searchModel).length}}"
                                                md-page-select></md-table-pagination>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </md-content>
                    </div>
                </div>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <!--<md-button class="md-raised" ng-click="ctrl.exportToExcel($event)" ng-disabled="ctrl.checkDisabled($event)">
                    {{lang.export_to_excel}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.printSheet($event)" ng-disabled="ctrl.checkDisabled($event)">
                    {{lang.print}}
                </md-button>
                <span flex></span>-->
                <md-button class="md-raised" ng-click="ctrl.closePopup()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>