<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.select_localization_module}}">
    <md-toolbar layout="row" layout-align="start center">
        <span class="p20" flex>{{lang.select_localization_module}}</span>
        <close-dialog-directive></close-dialog-directive>
    </md-toolbar>
    <md-content scroll-directive class="p20" layout="column">
        <div flex layout="row">
            <md-input-container flex>
                <label for="selectedLocalizationModule">{{lang.select_localization_module}}</label>
                <md-select id="selectedLocalizationModule" ng-model="ctrl.selectedLocalizationModule">
                    <md-option ng-value="localizationModule" ng-repeat="localizationModule in ctrl.localizationModules">
                        {{localizationModule.getTranslatedName()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="ctrl.selectLocalizationModule()">
                {{lang.select}}
            </md-button>
        </div>
    </md-content>
</md-dialog>