<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.properties_manage_document_properties}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.linked_document_manage}} : {{ctrl.model.docSubject}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <div class="p20">
                <manage-linked-document-directive
                        vs-id="ctrl.correspondence.vsId"
                        document-class="ctrl.correspondence.classDescription"
                        linked-docs="ctrl.correspondence.linkedDocs">
                </manage-linked-document-directive>
            </div>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-click="ctrl.saveLinkedDocumentsFromCtrl()">{{lang.linked_document_save}}
                </md-button>
                <span flex></span>
                <md-button ng-click="ctrl.closeLinkedDocuments()" class="md-raised">{{lang.linked_document_close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>