<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.comments_manage_document_comments}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.comments_manage_document_comments}} : {{ctrl.documentSubject}}</span>
            <close-dialog-directive when-close="ctrl.closeDocumentContent"></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <manage-content-directive
                    from-dialog="ctrl.fromDialog"
                    display-prepare="!ctrl.correspondence.addMethod && ctrl.documentClass != 'Incoming'"
                    document-information="ctrl.documentInformation"
                    vs-id="ctrl.correspondence.vsId"
                    document="ctrl.correspondence"
                    signatures-count="ctrl.correspondence.signaturesCount"
                    templates="ctrl.templates"></manage-content-directive>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="!(ctrl.documentInformation || ctrl.correspondence.contentFile)"
                           ng-click="ctrl.saveDocumentContent()">{{lang.save}}</md-button>
                <span flex></span>
                <md-button class="md-raised"
                           ng-click="ctrl.closeDocumentContent()">{{lang.close}}</md-button>
            </div>
        </div>
    </div>
</md-dialog>