<md-dialog class="dialog-extend"
           ng-attr-aria-label="{{!ctrl.editMode ? lang.add_new_reference_plan_number: ctrl.model.getNames()}}">
    <!--id="reference-popup" -->
    <div layout="column">
        <md-toolbar>
            <span class="p20" ng-if="!ctrl.model.id">{{lang.add_new_reference_plan_number}}</span>
            <span class="p20" ng-if="ctrl.model.id">{{ctrl.model.getNames()}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="referencePlanNumberForm" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="arName">{{lang.arabic_name}}</label>
                                        <input name="arName" id="arName" required minlength="4"
                                               ng-model="ctrl.referencePlanNumber.arName"
                                               custom-validate-directive="ANS">
                                        <div ng-messages="referencePlanNumberForm.arName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ANS">{{lang.arabic_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="enName">{{lang.english_name}}</label>
                                        <input name="enName" id="enName" required minlength="4"
                                               ng-model="ctrl.referencePlanNumber.enName"
                                               custom-validate-directive="ENS">
                                        <div ng-messages="referencePlanNumberForm.enName.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                            <div ng-message="ENS">{{lang.english_number_space}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="description">{{lang.description}}</label>
                                        <input name="description" id="description" required minlength="4"
                                               ng-model="ctrl.referencePlanNumber.description">
                                        <div ng-messages="referencePlanNumberForm.description.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                            <div ng-message="minlength">{{lang.short}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex class="p20">
                                        <md-switch aria-label="{{lang.isGlobal}}"
                                                   ng-model="ctrl.referencePlanNumber.isGlobal">
                                            <label>{{lang.global}} :
                                                {{ctrl.referencePlanNumber.getTranslatedGlobal()}}</label>
                                        </md-switch>
                                    </div>
                                    <div flex class="p20">
                                        <md-switch aria-label="{{lang.has_status_date}}"
                                                   ng-model="ctrl.hasResetDate" ng-change="ctrl.resetDayAndMonth()">
                                            <label>{{lang.has_status_date}} :
                                                {{ctrl.referencePlanNumber.getTranslatedHasResetDate(ctrl.hasResetDate)}}</label>
                                        </md-switch>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="resetMonth">{{lang.reset_month}}</label>
                                        <md-select name="resetMonth" id="resetMonth" ng-required="ctrl.hasResetDate"
                                                   ng-disabled="ctrl.resetDisabled"
                                                   ng-model="ctrl.referencePlanNumber.resetMonth">
                                            <md-option ng-value="month"
                                                       ng-repeat="month in ctrl.months track by $index">
                                                {{month}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="referencePlanNumberForm.resetMonth.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="resetDay">{{lang.reset_day}}</label>
                                        <md-select name="resetDay" id="resetDay" ng-required="ctrl.hasResetDate"
                                                   ng-disabled="ctrl.resetDisabled"
                                                   ng-model="ctrl.referencePlanNumber.resetDay">
                                            <md-option ng-value="day"
                                                       ng-repeat="day in ctrl.days track by $index">
                                                {{day}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="referencePlanNumberForm.resetDay.$error">
                                            <div ng-message="required">{{lang.field_required}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{lang.reference_elements}}">
                        <md-content>
                            <div class="p20" layout="column">
                                <div>
                                    <md-button class="md-raised" ng-click="ctrl.addReferencePlanItem()">
                                        {{lang.add_reference_plan_item}}
                                    </md-button>
                                </div>
                                <div>
                                    <md-card>
                                        <md-table-container>
                                            <div scroll-directive>
                                                <table md-table ng-model="selected"
                                                       md-progress="promise">
                                                    <thead md-head>
                                                    <tr md-row>
                                                        <th md-column>{{lang.name}}</th>
                                                        <th md-column>{{lang.actions}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody md-body>
                                                    <tr md-row
                                                        ng-repeat="element in ctrl.referencePlanNumber.referencePlanItems track by $index">
                                                        <td md-cell>{{element.refernceExpression}}</td>
                                                        <td md-cell>
                                                            <div layout="row">
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.editReferenceItem(element  , $index )">
                                                                    <md-icon md-svg-icon="pencil"></md-icon>
                                                                </md-button>
                                                                <md-button class="md-icon-button"
                                                                           ng-click="ctrl.deleteReferenceItem(element , $index)">
                                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                                </md-button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </md-table-container>
                                    </md-card>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="referencePlanNumberForm.$invalid || !ctrl.referencePlanNumber.isValidReferencePlan()"
                           ng-if="!ctrl.editMode"
                           ng-click="ctrl.addReferencePlanNumberFromCtrl()">
                    {{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-disabled="referencePlanNumberForm.$invalid" ng-if="ctrl.editMode"
                           ng-click="ctrl.editReferencePlanNumberFromCtrl()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeReferencePlanNumberPopupFromCtrl()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>