<md-dialog class="dialog-extend">
    <div layout="column">
        <md-toolbar class="md-toolbar md-default">
            <div class="md-toolbar-tools">
                <div>{{lang.view_members}} : {{ctrl.role.getTranslatedName()}}</div>
                <span flex></span>
                <close-dialog-directive></close-dialog-directive>
            </div>
        </md-toolbar>
        <md-content scroll-directive>
            <!-- page-header -->
            <!--<div layout="row" layout-align="start center" class="page-header padding-header small">
                <span flex></span>
                <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
            </div>-->
            <div layout="row" layout-align="start center" class="p25 small">
                <span flex></span>
                <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
            </div>
            <div layout="column" flex>
                <div scroll-directive>
                    <div class="page-padding">
                        <md-card md-whiteframe="3" layout="column" class="card-overlay">
                            <md-table-container flex scroll-directive>
                                <table md-table ng-model="ctrl.selectedRoleMembers"
                                       md-progress="ctrl.progress">
                                    <!--md-row-select multiple-->
                                    <thead md-head md-order="ctrl.grid.order">
                                    <tr md-row>
                                        <th md-column md-order-by="loginName">{{lang.login_name}}</th>
                                        <th md-column md-order-by="arFullName">{{lang.arabic_name}}</th>
                                        <th md-column md-order-by="enFullName">{{lang.english_name}}
                                        </th>
                                        <th md-column md-order-by="employeeNo">
                                            {{lang.employee_number}}
                                        </th>
                                        <th md-column md-order-by="ouid">{{lang.organization_unit}}</th>
                                        <th md-column md-order-by="status">{{lang.status}}</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="member" md-row-select multiple
                                        ng-model="ctrl.selectedRoleMembers"
                                        md-progress="ctrl.progress"
                                        ng-repeat="member in ctrl.roleMembers  | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order  track by $index">
                                        <td md-cell>{{member.loginName}}</td>
                                        <td md-cell>{{member.arFullName}}</td>
                                        <td md-cell>{{member.enFullName}}</td>
                                        <td md-cell>{{member.employeeNo}}</td>
                                        <td md-cell>{{member.organization.getTranslatedName()}}</td>
                                        <td md-cell>{{member.getTranslatedStatus()}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <md-table-pagination
                                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                        md-limit-options="ctrl.grid.limitOptions"
                                        md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                        md-total="{{ctrl.roleMembers.length}}"
                                        md-page-select></md-table-pagination>
                            </md-table-container>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-content>
        <div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeRoleMembersPopup($event)">{{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>