<md-dialog id="show-user-subscriptions-dialog"
           ng-attr-aria-label="show-user-subscriptions">

    <md-toolbar style="background: transparent;">
        <md-button class="md-icon-button close-dialog-button"
                   ng-click="showUserSubscriptionsCtrl.closeShowUserSubscriptionsPopupFromCtrl()">
            <md-icon md-svg-icon="close-circle"></md-icon>
        </md-button>
    </md-toolbar>
    <login-subscriptions-directive ng-if="showUserSubscriptionsCtrl.userSubscriptions.length>0"
                                  announcements="showUserSubscriptionsCtrl.userSubscriptions">
    </login-subscriptions-directive>

</md-dialog>