<md-dialog class="dialog-extend" ng-attr-aria-label="{{lang.transfer_reason}}">
    <div layout="column">
        <md-toolbar>
            <span class="p20">{{lang.transfer_reason}}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="reason_form" autocomplete="off">
                <div layout="column" class="p20">
                    <div layout="row">
                        <md-input-container flex>
                            <label for="selectedApplicationUser">{{lang.select_user}}</label>
                            <md-select ng-required="true" ng-change="ctrl.setSelectedUser()"
                                       id="selectedApplicationUser"
                                       ng-model="ctrl.selectedApplicationUser">
                                <md-option ng-repeat="applicationUser in ctrl.applicationUsers"
                                           ng-value="applicationUser">
                                    {{applicationUser.getTranslatedName()}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label for="comment">{{lang.comment}}</label>
                            <md-select ng-change="ctrl.setSelectedReason()" id="comment"
                                       ng-model="ctrl.selectedComment">
                                <md-option ng-repeat="comment in ctrl.comments" ng-value="comment">
                                    {{comment.getCommentTitle()}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-if="ctrl.isArray" layout="row">
                        <md-input-container flex>
                            <label for="reason">{{lang.reason}}</label>
                            <textarea required id="reason" maxlength="200" minlength="3" name="reason"
                                      ng-model="ctrl.reason">
                            </textarea>
                            <div ng-messages="reason_form.reason.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                            </div>
                            <div class="hint" ng-if="!reason_form.reason.$error.required">{{lang.reason_all}}</div>
                        </md-input-container>
                    </div>
                    <div ng-if="!ctrl.isArray" layout="row">
                        <md-input-container flex>
                            <label for="reason">{{lang.reason}}</label>
                            <textarea required id="reason" maxlength="200" minlength="3" name="reason"
                                      ng-model="ctrl.reason">
                            </textarea>
                            <div ng-messages="reason_form.reason.$error">
                                <div ng-message="required">{{lang.field_required}}</div>
                                <div ng-message="maxlength">{{lang.max_length.change({length:200})}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
            <div ng-if="ctrl.isArray" layout="column" class="p20">
                <md-card md-whiteframe="3" layout="column" class="card-overlay">
                    <md-table-container flex scroll-directive>
                        <table md-table multiple md-progress="ctrl.progress">
                            <thead md-head>
                            <tr md-row>
                                <th md-column>
                                    <span>{{lang.document_subject}}</span>
                                </th>
                                <th md-column>
                                    <span>{{lang.reason}}</span>
                                </th>
                                <th md-column>
                                    <span>{{lang.username}}</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="document"
                                ng-repeat="workItem in ctrl.workItems track by $index">
                                <td md-cell>{{workItem.getTranslatedName()}}</td>
                                <td md-cell>
                                    <div>
                                        <md-button class="md-raised"
                                                   ng-class="{'md-primary':ctrl.hasCustomReason(workItem)}"
                                                   ng-click="ctrl.openReasonDialog(workItem , $event)">
                                            {{lang.custom_reason}}
                                        </md-button>
                                    </div>
                                </td>
                                <td md-cell>
                                    <div>
                                        <md-input-container>
                                            <label>{{lang.select_user}}</label>
                                            <md-select ng-model="workItem.domainName">
                                                <md-option ng-value="user.domainName"
                                                           ng-repeat="user in ctrl.applicationUsers">
                                                    {{user.getTranslatedName()}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
            </div>

        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised"
                           ng-disabled="reason_form.$invalid && ctrl.nothingNeedUserReason()"
                           ng-click="ctrl.transferMail()">
                    {{lang.transfer}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeTransferReason()">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>