<md-dialog class="dialog-extend">
    <div layout="column">
        <md-toolbar>
            <span class="p20" ng-if="!ctrl.editMode">{{ lang.create_filter }}</span>
            <span class="p20" ng-if="ctrl.editMode">{{ ctrl.model.getNames() }}</span>
            <close-dialog-directive></close-dialog-directive>
        </md-toolbar>
        <md-content scroll-directive>
            <form name="userFilter" autocomplete="off">
                <md-tabs md-dynamic-height>
                    <md-tab label="{{lang.basic_info}}">
                        <md-content>
                            <div layout="row" class="p20">
                                <!-- Arabic Name-->
                                <md-input-container flex>
                                    <label for="arName">{{lang.arabic_name}}</label>
                                    <input name="arName" id="arName" required minlength="1"
                                           ng-model="ctrl.filter.arName"
                                           maxlength="10" custom-validate-directive="A1NS">
                                    <div ng-messages="userFilter.arName.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="minlength">{{lang.short}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:10})}}</div>
                                        <div ng-message="A1NS">{{lang.one_arabic_number}}</div>
                                    </div>
                                </md-input-container>
                                <!-- English Name -->
                                <md-input-container flex>
                                    <label for="enName">{{lang.english_name}}</label>
                                    <input name="enName" id="enName" required minlength="1"
                                           ng-model="ctrl.filter.enName"
                                           maxlength="10" custom-validate-directive="E1NS">
                                    <div ng-messages="userFilter.enName.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="minlength">{{lang.short}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:10})}}</div>
                                        <div ng-message="E1NS">{{lang.one_english_number}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" class="p20">
                                <!-- Item order -->
                                <md-input-container flex>
                                    <label for="sortOptionId">{{lang.item_order}}</label>
                                    <input name="sortOptionId" id="sortOptionId" required
                                           ng-model="ctrl.filter.sortOptionId" min="0"
                                           min-max-number-directive
                                           maxlength="5" custom-validate-directive="number">
                                    <div ng-messages="userFilter.sortOptionId.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                                        <div ng-message="min">{{lang.min_number.change({number:0})}}</div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Status -->
                                <div flex class="p20">
                                    <md-switch ng-model="ctrl.filter.status">
                                        <label>{{lang.status}} : {{ctrl.filter.getTranslatedStatus()}}</label>
                                    </md-switch>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Criteria">
                        <md-content>
                            <div layout="column" class="p20">
                                <div layout="row">
                                    <!-- Document Type -->
                                    <md-input-container flex>
                                        <label for="docType">{{lang.user_inbox_filter_doc_type}}</label>
                                        <md-select name="docType" id="docType"
                                                   ng-model="ctrl.filter.ui.key_2.value">
                                            <md-option ng-value="null">{{lang.none}}</md-option>
                                            <md-option ng-value="docType.lookupKey"
                                                       ng-repeat="docType in ctrl.documentTypes">
                                                {{docType.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!-- Document Subject -->
                                    <md-input-container flex>
                                        <label for="docSubject">{{lang.user_inbox_filter_doc_subject}}</label>
                                        <input id="docSubject" name="docSubject" ng-model="ctrl.filter.ui.key_3.value">
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <!-- Sender -->
                                    <md-input-container flex>
                                        <label for="sender">{{lang.user_inbox_filter_sender}}</label>
                                        <md-select name="sender" id="sender"
                                                   ng-model="ctrl.filter.ui.key_9.value">
                                            <md-option ng-value="null">{{lang.none}}</md-option>
                                            <md-option ng-value="sender.domainName" ng-repeat="sender in ctrl.senders">
                                                {{sender.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!-- Action -->
                                    <md-input-container flex>
                                        <label for="action">{{lang.user_inbox_filter_action}}</label>
                                        <md-select name="action" id="action"
                                                   ng-model="ctrl.filter.ui.key_7.value">
                                            <md-option ng-value="null">{{lang.none}}</md-option>
                                            <md-option ng-value="action.id" ng-repeat="action in ctrl.actions">
                                                {{action.getTranslatedName()}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label for="action">{{lang.user_inbox_filter_received_date}}</label>
                                        <md-select ng-model="ctrl.filter.selectedReceivedDateFilterType"
                                                   ng-change="ctrl.resetReceivedDateType($event)">
                                            <md-option ng-value="action.optionValue"
                                                       ng-repeat="action in ctrl.receivedDateFilterTypes">
                                                {{lang[action.optionLangKey]}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!-- Received Date Greater Than -->
                                    <md-input-container ng-if="ctrl.filter.selectedReceivedDateFilterType === 4" flex>
                                        <label>{{lang.date}}</label>
                                        <md-datepicker ng-model="ctrl.filter.ui.key_4.value"
                                                       md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                    <!-- Received Date Less Than -->
                                    <md-input-container ng-if="ctrl.filter.selectedReceivedDateFilterType === 6" flex>
                                        <label>{{lang.date}}</label>
                                        <md-datepicker ng-model="ctrl.filter.ui.key_6.value"
                                                       md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                                <fieldset flex layout="column" class="search-fieldset"
                                          ng-if="ctrl.filter.selectedReceivedDateFilterType === 11">
                                    <legend class="md-accent">{{lang.user_inbox_filter_recieved_date_between}}</legend>
                                    <div layout="row">
                                        <!-- Received Date From -->
                                        <md-input-container flex>
                                            <label>{{lang.user_inbox_filter_from}}</label>
                                            <md-datepicker ng-model="ctrl.filter.ui.key_11.value1"
                                                           name="receivedDateStart" md-open-on-focus
                                                           ng-change="ctrl.getMinReceivedEndDate($event)"
                                                           md-max-date="ctrl.calculatedMaxReceivedStartDate"
                                                           ng-required="ctrl.filter.ui.key_11.value2"></md-datepicker>
                                            <div ng-messages="userFilter.receivedDateStart.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                        <!-- Received Date To -->
                                        <md-input-container flex>
                                            <label>{{lang.user_inbox_filter_to}}</label>
                                            <md-datepicker ng-model="ctrl.filter.ui.key_11.value2"
                                                           name="receivedDateEnd" md-open-on-focus
                                                           ng-change="ctrl.getMaxReceivedStartDate($event)"
                                                           md-min-date="ctrl.calculatedMinReceivedEndDate"
                                                           ng-required="ctrl.filter.ui.key_11.value1"></md-datepicker>
                                            <div ng-messages="userFilter.receivedDateEnd.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </fieldset>

                                <fieldset flex layout="column" class="search-fieldset">
                                    <legend class="md-accent">{{lang.user_inbox_filter_due_date_between}}</legend>
                                    <div layout="row">
                                        <!-- Due Date From -->
                                        <md-input-container flex>
                                            <label>{{lang.user_inbox_filter_from}}</label>
                                            <md-datepicker ng-model="ctrl.filter.ui.key_10.value1"
                                                           name="dueDateStart" md-open-on-focus
                                                           ng-change="ctrl.getMinDueEndDate($event)"
                                                           md-max-date="ctrl.calculatedMaxDueStartDate"
                                                           ng-required="ctrl.filter.ui.key_10.value2"></md-datepicker>
                                            <div ng-messages="userFilter.dueDateStart.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                        <!-- Due Date To -->
                                        <md-input-container flex>
                                            <label>{{lang.user_inbox_filter_to}}</label>
                                            <md-datepicker ng-model="ctrl.filter.ui.key_10.value2"
                                                           name="dueDateEnd" md-open-on-focus
                                                           ng-change="ctrl.getMaxDueStartDate($event)"
                                                           md-min-date="ctrl.calculatedMinDueEndDate"
                                                           ng-required="ctrl.filter.ui.key_10.value1"></md-datepicker>
                                            <div ng-messages="userFilter.dueDateEnd.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </fieldset>
                                <div layout="row">
                                    <!-- Serial -->
                                    <md-input-container flex>
                                        <label for="docSerial">{{lang.user_inbox_filter_full_serial}}</label>
                                        <input id="docSerial" name="docSerial" ng-model="ctrl.filter.ui.key_13.value"
                                               custom-validate-directive="number">
                                        <div ng-messages="userFilter.docSerial.$error">
                                            <div ng-message="number">{{lang.numberonly}}</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Due Date -->
                                    <md-switch ng-model="ctrl.filter.ui.key_8.value"
                                               aria-label="{{lang.status}}">
                                        <label>{{lang.user_inbox_filter_due_date_exists}} :
                                            {{ctrl.filter.getTranslatedDueDate($event)}}</label>
                                    </md-switch>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-content>
        <div>
            <div layout="row">
                <md-button class="md-raised" ng-if="!ctrl.editMode" ng-disabled="ctrl.checkDisabled(userFilter)"
                           ng-click="ctrl.saveUserFilterFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-if="ctrl.editMode" ng-disabled="ctrl.checkDisabled(userFilter)"
                           ng-click="ctrl.saveUserFilterFromCtrl()">
                    {{lang.save}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.resetFilterForm(userFilter, $event)">
                    {{lang.reset}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="ctrl.closeFilterForm($event)">
                    {{lang.close}}
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>