<md-dialog class="dialog-extend">
    <div class="p20" layout="column">
        <div class="attachment-viewer-header" layout="row" layout-align="start center">
            <span flex>{{ctrl.attachment.documentTitle}}</span>
            <md-button ng-click="ctrl.iframeFullScreen()" class="md-icon-button">
                <md-icon md-svg-icon="{{ctrl.fullscreen}}"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.closeAttachmentViewer()" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
        <div scroll-directive>
            <div layout="column" layout-align="center center" ng-if="ctrl.contentLoaded">
                <iframe allowfullscreen="true" class="iframe-attachment-viewer viewer-handler"
                        ng-src="{{ctrl.url}}" ng-if="ctrl.viewerType === 'pdf'"></iframe>
                <img ng-if="ctrl.viewerType === 'image'" class="viewer-handler" ng-src="{{ctrl.url}}"/>
            </div>
        </div>
        <div ng-if="!ctrl.contentLoaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</md-dialog>