<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_incoming}}</span>
            <md-button ng-click="ctrl.reloadIncomingDepartmentInboxes()" class="md-icon-button"
                       tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <grid-search-directive grid="ctrl.grid"></grid-search-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedIncomingDepartmentInboxes"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedIncomingDepartmentInboxes.length > 1 ? 9 : 10}}"
                                            ng-if="ctrl.selectedIncomingDepartmentInboxes.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedIncomingDepartmentInboxes.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <!--ng-if="ctrl.selectedIncomingDepartmentInboxes.length > 1"-->
                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.grid_action_return}}"
                                                           ng-if="ctrl.checkIfReturnBulkAvailable()"
                                                           tooltip="{{lang.grid_action_return}}"
                                                           ng-click="ctrl.returnWorkItemsBulk($event)">
                                                    <md-icon md-svg-icon="undo-variant" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.grid_action_quick_receive}}"
                                                           ng-if="ctrl.checkIfQuickReceiveBulkAvailable()"
                                                           tooltip="{{lang.grid_action_quick_receive}}"
                                                           ng-click="ctrl.quickReceiveBulk($event)">
                                                    <md-icon md-svg-icon="check-all" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.grid_action_unlock}}"
                                                           ng-if="false"
                                                           tooltip="{{lang.grid_action_unlock}}"
                                                           ng-click="ctrl.unlockWorkItemsBulk($event)">
                                                    <!--ctrl.checkIfUnlockBulkAvailable()-->
                                                    <md-icon md-svg-icon="lock-open" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="securityLevel.lookupKey">
                                            <md-icon md-svg-icon="security" class="indicator"></md-icon>
                                            <!-- Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.docFullSerial">
                                            <span>{{lang.inbox_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.receivedDate">
                                            <span>{{lang.received_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="type">
                                            <span>{{lang.type}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('fromOU','Information')}}">
                                            <span>{{lang.sender_reg_ou}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.numberOfDays">
                                            <span>{{lang.number_of_days}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('sender', 'Information')}}">
                                            <span>{{lang.sender}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.dueDate">
                                            <span>{{lang.due_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column>
                                            <span></span>
                                        </th>
                                        <th ng-if="!ctrl.selectedIncomingDepartmentInboxes.length" md-column>
                                            <!-- Read/Unread Indicator -->
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="incomingDepartmentInbox"
                                        grid-right-click-directive="incomingDepartmentInbox"
                                        model="incomingDepartmentInbox"
                                        ng-class="!incomingDepartmentInbox.generalStepElm.isOpen ? 'unread-row': 'read-row'"
                                        ng-disabled="incomingDepartmentInbox.isLocked() && !incomingDepartmentInbox.isLockedByCurrentUser()"
                                        selected-length="{{ctrl.selectedIncomingDepartmentInboxes.length ? ctrl.selectedIncomingDepartmentInboxes.length : 0}}"
                                        ng-repeat="incomingDepartmentInbox in searchResults = (ctrl.incomingDepartmentInboxes | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                        <td md-cell class="indicator-td">
                                            <!-- Sent To RegOU -->
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="incomingDepartmentInbox"
                                                                      indicator-type="isTransferredDocumentIndicator">
                                            </grid-indicator-directive>
                                            <!-- Security Level -->
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="incomingDepartmentInbox"
                                                                      indicator-type="securityLevel">
                                            </grid-indicator-directive>
                                            <!-- Priority Level -->
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="incomingDepartmentInbox"
                                                                      indicator-type="priorityLevel">
                                            </grid-indicator-directive>
                                        </td>
                                        <td md-cell>
                                            <span class="serial-td">{{incomingDepartmentInbox.generalStepElm.docFullSerial}}</span>
                                        </td>
                                        <td md-cell class="subject">
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="incomingDepartmentInbox"
                                                                      indicator-type="isLockedWorkItem"
                                                                      callback="ctrl.unlockWorkItem">
                                            </grid-indicator-directive>
                                            <!--<grid-document-subject-directive record="incomingDepartmentInbox"
                                                                             plain-text-only="!incomingDepartmentInbox.hasContent()"
                                                                             click-callback="ctrl.viewDocument">
                                            </grid-document-subject-directive>-->
                                            <a href="" ng-if="incomingDepartmentInbox.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{incomingDepartmentInbox.generalStepElm.docSubject}}"
                                               ng-click="ctrl.viewDocument(incomingDepartmentInbox, $event)">{{incomingDepartmentInbox.generalStepElm.docSubject}}</a>
                                            <span ng-if="!incomingDepartmentInbox.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{incomingDepartmentInbox.generalStepElm.docSubject}}">{{incomingDepartmentInbox.generalStepElm.docSubject}}</span>
                                            <a href="" ng-if="incomingDepartmentInbox.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{incomingDepartmentInbox.generalStepElm.docSubject}}"
                                               ng-click="ctrl.viewDocument(incomingDepartmentInbox, $event)">{{incomingDepartmentInbox.generalStepElm.docSubject}}</a>
                                            <span ng-if="!incomingDepartmentInbox.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{incomingDepartmentInbox.generalStepElm.docSubject}}">{{incomingDepartmentInbox.generalStepElm.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{incomingDepartmentInbox.generalStepElm.receivedDate}}</td>
                                        <td md-cell>{{incomingDepartmentInbox.type}}</td>
                                        <td md-cell>{{incomingDepartmentInbox.fromOU.getTranslatedName()}}</td>
                                        <td md-cell>{{incomingDepartmentInbox.generalStepElm.numberOfDays}}</td>
                                        <td md-cell>
                                            <div layout="row">
                                                {{incomingDepartmentInbox.sender.getTranslatedName()}}
                                                <grid-indicator-directive ng-if="incomingDepartmentInbox.generalStepElm.isReassigned" record="incomingDepartmentInbox"
                                                                          indicator-type="comments"
                                                                          class="p0p5"
                                                                          record-type="WorkItem"></grid-indicator-directive>
                                            </div>
                                        </td>
                                        <td md-cell class="td-data">
                                             <span class="{{incomingDepartmentInbox.dueDateStatusIndicator.class}}"
                                                   tooltip="{{lang[incomingDepartmentInbox.dueDateStatusIndicator.tooltip].change({due_date_status:lang[incomingDepartmentInbox.dueDateStatusIndicator.text] })}}">
                                            {{incomingDepartmentInbox.generalStepElm.dueDate}}</span>
                                        </td>
                                        <td md-cell ng-if="ctrl.selectedIncomingDepartmentInboxes.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedIncomingDepartmentInboxes.length
                                                      || ctrl.selectedIncomingDepartmentInboxes.length===1 && ctrl.selectedIncomingDepartmentInboxes[0].generalStepElm.workObjectNumber === incomingDepartmentInbox.generalStepElm.workObjectNumber">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="incomingDepartmentInbox">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                        <td md-cell class="read-td">
                                            <!--ng-click="ctrl.markAsReadUnread(incomingDepartmentInboxes, $event)"-->
                                            <!--   tooltip="{{incomingDepartmentInboxes.generalStepElm.isOpen===true?lang.indicator_mark_unread: lang.indicator_mark_read}}"-->
                                            <div class="cursor-pointer status"
                                                 ng-class="incomingDepartmentInbox.generalStepElm.isOpen===true? 'read' : 'unread'"
                                                 ng-if="!ctrl.selectedIncomingDepartmentInboxes.length
                                                      || ctrl.selectedIncomingDepartmentInboxes.length===1 && ctrl.selectedIncomingDepartmentInboxes[0].generalStepElm.workObjectNumber === incomingDepartmentInbox.generalStepElm.workObjectNumber">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.incomingDepartmentInboxes.length">
                                        <td md-cell colspan="8" class="red-text text-center">{{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.incomingDepartmentInboxes.length && !searchResults.length">
                                        <td md-cell colspan="8" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.incomingDepartmentInboxes).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
