<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_dep_returned}}</span>
            <md-button ng-click="ctrl.reloadReturnedDepartmentInboxes()" class="md-icon-button"
                       tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedReturnedDepartmentInboxes"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedReturnedDepartmentInboxes.length > 1 ? 11 : 12}}"
                                            ng-if="ctrl.selectedReturnedDepartmentInboxes.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedReturnedDepartmentInboxes.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <!--ng-if="ctrl.selectedReturnedDepartmentInboxes.length > 1"-->
                                                <md-button class="md-icon-button" aria-label="{{lang.resend}}"
                                                           tooltip="{{lang.resend}}"
                                                           ng-click="ctrl.resendBulkReturnedDepartmentInbox($event)">
                                                    <md-icon md-svg-icon="send" class="action-green"></md-icon>
                                                </md-button>
                                                <!--ng-if="ctrl.selectedReturnedDepartmentInboxes.length > 1"-->
                                                <md-button class="md-icon-button" aria-label="{{lang.inbox_terminate}}"
                                                           tooltip="{{lang.inbox_terminate}}"
                                                           ng-click="ctrl.terminateBulk($event)">
                                                    <md-icon md-svg-icon="stop" class="action-green"></md-icon>
                                                </md-button>
                                                <!--<md-button class="md-icon-button" ng-if="ctrl.employeeService.hasPermissionTo('LAUNCH_DISTRIBUTION_WORKFLOW')"
                                                           tooltip="{{lang.grid_action_launch_distribution_workflow}}"
                                                           ng-click="ctrl.launchDistributionWorkflowBulk($event)">
                                                    <md-icon md-svg-icon="sitemap" class="action-green"></md-icon>
                                                </md-button>-->
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column>
                                            <!-- Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.docSerial">
                                            <span>{{lang.inbox_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="">
                                            <!-- Priority Level and Has Attachment Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.receivedDate">
                                            <span>{{lang.received_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('toOU','Information')}}">
                                            <span>{{lang.department}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('senderInfo', 'SenderInfo')}}">
                                            <span>{{lang.sender}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('fromOU', 'Information')}}">
                                            <span>{{lang.correspondence_sites}}</span>
                                        </th>
                                        <!--<th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column md-order-by="subSite">
                                            <span>{{lang.inbox_sub_site}}</span>
                                        </th>-->
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.docType">
                                            <span>{{lang.type}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column
                                            md-order-by="generalStepElm.numberOfDays">
                                            <span>{{lang.number_of_days}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column>

                                        </th>
                                        <th ng-if="!ctrl.selectedReturnedDepartmentInboxes.length" md-column>
                                            <!-- Read/Unread Indicator -->
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="returnedDepartmentInbox"
                                        ng-class="!returnedDepartmentInbox.generalStepElm.isOpen ? 'unread-row': 'read-row'"
                                        ng-disabled="returnedDepartmentInbox.isLocked() && !returnedDepartmentInbox.isLockedByCurrentUser()"
                                        grid-right-click-directive="returnedDepartmentInbox"
                                        model="returnedDepartmentInbox"
                                        selected-length="{{ctrl.selectedReturnedDepartmentInboxes.length ? ctrl.selectedReturnedDepartmentInboxes.length : 0}}"
                                        ng-repeat="returnedDepartmentInbox in searchResults = (ctrl.returnedDepartmentInboxes | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                        <td md-cell class="indicator-td">
                                            <!-- Security Level -->
                                            <grid-indicator-directive record="returnedDepartmentInbox"
                                                                      indicator-type="securityLevel"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            </span>
                                            <!-- Linked Documents -->
                                            <grid-indicator-directive record="returnedDepartmentInbox"
                                                                      indicator-type="hasLinkedDocuments"
                                                                      record-type="workItem"></grid-indicator-directive>
                                        </td>
                                        <td md-cell>
                                          <span class="serial-td">{{returnedDepartmentInbox.generalStepElm.docFullSerial}}</span>
                                        </td>
                                        <td md-cell class="indicator-td text-right"
                                            style="padding-right:0 !important; padding-left:0 !important;">
                                            <!-- Priority Level -->
                                            <grid-indicator-directive record="returnedDepartmentInbox"
                                                                      indicator-type="priorityLevel"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Has Attachments -->
                                            <grid-indicator-directive record="returnedDepartmentInbox"
                                                                      span-class="float-right"
                                                                      indicator-type="hasAttachment"
                                                                      record-type="workItem"></grid-indicator-directive>
                                        </td>
                                        <td md-cell class="subject">
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="returnedDepartmentInbox"
                                                                      indicator-type="isLockedWorkItem"
                                                                      callback="ctrl.unlockWorkItem">
                                            </grid-indicator-directive>
                                            <!--<grid-document-subject-directive record="returnedDepartmentInbox"
                                                                             plain-text-only="!returnedDepartmentInbox.hasContent()"
                                                                             click-callback="ctrl.viewDocument">
                                            </grid-document-subject-directive>-->
                                            <a href="" ng-if="returnedDepartmentInbox.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{returnedDepartmentInbox.generalStepElm.docSubject}}"
                                               ng-click="ctrl.viewDocument(returnedDepartmentInbox, $event)">{{returnedDepartmentInbox.generalStepElm.docSubject}}</a>
                                            <span ng-if="!returnedDepartmentInbox.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{returnedDepartmentInbox.generalStepElm.docSubject}}">{{returnedDepartmentInbox.generalStepElm.docSubject}}</span>
                                            <a href="" ng-if="returnedDepartmentInbox.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{returnedDepartmentInbox.generalStepElm.docSubject}}"
                                               ng-click="ctrl.viewDocument(returnedDepartmentInbox, $event)">{{returnedDepartmentInbox.generalStepElm.docSubject}}</a>
                                            <span ng-if="!returnedDepartmentInbox.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{returnedDepartmentInbox.generalStepElm.docSubject}}">{{returnedDepartmentInbox.generalStepElm.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{returnedDepartmentInbox.generalStepElm.receivedDate}}</td>
                                        <td md-cell>{{returnedDepartmentInbox.toOU.getTranslatedName()}}</td>
                                        <td md-cell>{{returnedDepartmentInbox.senderInfo.getTranslatedName()}}</td>
                                        <td md-cell>
                                            {{returnedDepartmentInbox.fromOU.getTranslatedName()}}
                                            <!--<main-site-sub-site-directive item="returnedDepartmentInbox">
                                            </main-site-sub-site-directive>-->
                                        </td>
                                        <!--<td md-cell>{{returnedDepartmentInbox.subCoreSite.getTranslatedName()}}</td>-->
                                        <td md-cell>{{returnedDepartmentInbox.type}}</td>
                                        <td md-cell>{{returnedDepartmentInbox.generalStepElm.numberOfDays}}</td>
                                        <td md-cell ng-if="ctrl.selectedReturnedDepartmentInboxes.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedReturnedDepartmentInboxes.length
                                                  || ctrl.selectedReturnedDepartmentInboxes.length===1 && ctrl.selectedReturnedDepartmentInboxes[0].generalStepElm.workObjectNumber === returnedDepartmentInbox.generalStepElm.workObjectNumber">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="returnedDepartmentInbox">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                        <td md-cell class="read-td">
                                            <!--ng-click="ctrl.markAsReadUnread(returnedDepartmentInbox, $event)"
                                            tooltip="{{returnedDepartmentInbox.generalStepElm.isOpen===true?lang.indicator_mark_unread: lang.indicator_mark_read}}"
                                                 tooltip-direction="top"
                                            -->
                                            <div class="cursor-pointer status"
                                                 ng-class="returnedDepartmentInbox.generalStepElm.isOpen===true? 'read' : 'unread'"
                                                 ng-if="!ctrl.selectedReturnedDepartmentInboxes.length
                                                          || ctrl.selectedReturnedDepartmentInboxes.length===1 && ctrl.selectedReturnedDepartmentInboxes[0].generalStepElm.workObjectNumber === returnedDepartmentInbox.generalStepElm.workObjectNumber" >
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.returnedDepartmentInboxes.length">
                                        <td md-cell colspan="12" class="red-text text-center">
                                            {{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.returnedDepartmentInboxes.length && !searchResults.length">
                                        <td md-cell colspan="12" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.returnedDepartmentInboxes | filter:ctrl.searchModel).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
