<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span ng-if="!ctrl.globalSetting.id">{{lang.add_new_global_setting}} {{ctrl.entity.getTranslatedName()}}</span>
            <span ng-if="ctrl.globalSetting.id">{{ctrl.entity.getNames()}}</span>
        </div>

        <ng-form class="white-bg" name="globalSettingForm" id="globalSettingForm" flex layout="column"
                 autocomplete="off">
            <!--flex-->
            <md-tabs md-selected="0" class="content white-bg">
                <!-- BASIC PROPERTIES TAB -->
                <md-tab label="{{lang.basic_properties}}" ng-if="ctrl.showTab('basic')"
                        md-on-select="ctrl.setCurrentTab('basic')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" class="p20">
                                <!-- Application Arabic Name -->
                                <md-input-container flex>
                                    <label for="appArName">{{lang.app_arabic_name}}</label>
                                    <input name="appArName" id="appArName" readonly ng-disabled=true
                                           ng-model="ctrl.entity.appArName">
                                </md-input-container>
                                <!-- Application English Name -->
                                <md-input-container flex>
                                    <label for="appEnName">{{lang.app_english_name}}</label>
                                    <input name="appEnName" id="appEnName" readonly ng-disabled="true"
                                           ng-model="ctrl.entity.enName">
                                </md-input-container>
                                <!-- Entity Arabic Name -->
                                <md-input-container flex>
                                    <label for="arName">{{lang.entity_arabic_name}}</label>
                                    <input readonly ng-disabled="true" name="arName" id="arName"
                                           ng-model="ctrl.entity.arName">
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Entity English Name -->
                                <md-input-container flex>
                                    <label for="enName">{{lang.entity_english_name}}</label>
                                    <input id="enName" readonly ng-disabled="true" name="arName"
                                           ng-model="ctrl.entity.enName">
                                </md-input-container>
                                <!-- Identifier -->
                                <md-input-container flex>
                                    <label for="identifier">{{lang.identifier}}</label>
                                    <input id="identifier" readonly ng-disabled="true" name="identifier"
                                           ng-model="ctrl.entity.identifier">
                                </md-input-container>
                                <!-- Entity Group Prefix -->
                                <!--<md-input-container flex>
                                    <label for="groupPrefix">{{lang.group_prefix}}</label>
                                    <input id="groupPrefix" readonly ng-disabled="true" name="groupPrefix"
                                           ng-model="ctrl.entity.groupPrefix">
                                </md-input-container>-->
                            </div>
                            <div layout="row" class="p20">
                                <!-- Default max rows count of search operation -->
                                <md-input-container flex>
                                    <label for="searchAmount">{{lang.default_max_row_search}}</label>
                                    <input id="searchAmount" required name="searchAmount"
                                           custom-validate-directive="number" maxlength="5"
                                           min-max-number-directive min="0"
                                           max="ctrl.globalSetting.searchAmountLimit"
                                           ng-model="ctrl.globalSetting.searchAmount">
                                    <div ng-messages="globalSettingForm.searchAmount.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="min">{{lang.min_number.change({number:0})}}</div>
                                        <div ng-message="max">
                                            {{lang.max_number.change({number:( ctrl.getMaxSearchAmountLimit() )})}}
                                        </div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Limited max rows count of search operation -->
                                <md-input-container flex>
                                    <label for="searchAmountLimit">{{lang.limited_max_row_search}}</label>
                                    <input id="searchAmountLimit" required
                                           name="searchAmountLimit"
                                           custom-validate-directive="number"
                                           maxlength="3"
                                           min-max-number-directive min="50" max="500"
                                           ng-model="ctrl.globalSetting.searchAmountLimit">
                                    <div ng-messages="globalSettingForm.searchAmountLimit.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <!--<div ng-message="min">
                                            {{lang.min_number.replace(":number",ctrl.globalSetting.searchAmount)}}
                                        </div>-->
                                        <div ng-message="min">{{lang.min_number.change({number:49})}}</div>
                                        <div ng-message="max">{{lang.max_number.change({number:501})}}</div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:3})}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Inbox Refresh Interval -->
                                <md-input-container flex>
                                    <label for="inboxRefreshInterval">{{lang.inbox_refresh_interval}}
                                        ({{lang.minutes}})</label>
                                    <input id="inboxRefreshInterval" required name="inboxRefreshInterval"
                                           min="1" max="60"
                                           min-max-number-directive
                                           custom-validate-directive="number" maxlength="2"
                                           ng-model="ctrl.globalSetting.inboxRefreshInterval">
                                    <div ng-messages="globalSettingForm.inboxRefreshInterval.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="min">{{lang.min_number.change({number:0})}}</div>
                                        <div ng-message="max">{{lang.max_number.change({number:61})}}</div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:2})}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Session Time Out -->
                                <md-input-container flex>
                                    <label for="sessionTimeout">{{lang.session_time_out}} ({{lang.minutes}})</label>
                                    <input id="sessionTimeout" required name="sessionTimeout"
                                           min="2" min-max-number-directive
                                           max="60"
                                           custom-validate-directive="number" maxlength="5"
                                           ng-model="ctrl.globalSetting.sessionTimeout">
                                    <div ng-messages="globalSettingForm.sessionTimeout.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="min">{{lang.min_number.change({number:1})}}</div>
                                        <div ng-message="max">{{lang.max_number.change({number:61})}}</div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <!-- File Size -->
                                <md-input-container flex>
                                    <label for="fileSize">{{lang.file_size}}</label>
                                    <md-select id="fileSize" name="fileSize" ng-model="ctrl.globalSetting.fileSize">
                                        <md-option ng-repeat="fileSize in ctrl.fileSizes track by $index"
                                                   ng-value="fileSize.lookupKey">
                                            {{fileSize.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.fileSize.$error">
                                    </div>
                                </md-input-container>
                                <!-- File Type -->
                                <md-input-container flex>
                                    <label for="fileType">{{lang.file_type}}</label>
                                    <md-select multiple name="fileType" id="fileType"
                                               ng-model="ctrl.globalSetting.fileType">
                                        <md-option ng-repeat="fileType in ctrl.fileTypes" ng-value="fileType.id">
                                            {{fileType.getExtension()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.fileType.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Thumbnail Mode -->
                                <md-input-container flex>
                                    <label for="thumbnailMode">{{lang.thumbnail_mode}}</label>
                                    <md-select id="thumbnailMode" name="thumbnailMode" required
                                               ng-model="ctrl.globalSetting.thumbnailMode">
                                        <md-option ng-repeat="thumbnailMode in ctrl.thumbnailModes track by $index"
                                                   ng-value="thumbnailMode.lookupKey">
                                            {{thumbnailMode.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.thumbnailMode.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Correspondence Site Search Type -->
                                <md-input-container flex>
                                    <label for="simpleCorsSiteSearch">{{lang.correspondence_Site_search_type}}</label>
                                    <md-select name="simpleCorsSiteSearch" required
                                               id="simpleCorsSiteSearch"
                                               ng-model="ctrl.globalSetting.simpleCorsSiteSearch">
                                        <md-option ng-repeat="searchType in ctrl.correspondenceSiteSearchTypeOptions"
                                                   ng-value="searchType.value">
                                            {{lang[searchType.key]}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.simpleCorsSiteSearch.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Enable Mobile Access -->
                                <md-switch flex ng-model="ctrl.globalSetting.enableMobileAccess"
                                           aria-label="{{lang.enable_mobile_access}}">
                                    <span>{{lang.enable_mobile_access}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('enableMobileAccess')}}
                                </md-switch>
                                <!-- Can Change Password -->
                                <md-switch flex ng-model="ctrl.globalSetting.canChangePassword"
                                           aria-label="{{lang.can_change_password}} ">
                                    <span>{{lang.can_change_password}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('canChangePassword')}}
                                </md-switch>

                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- APPEARANCE TAB -->
                <md-tab label="{{lang.appearance}}" ng-if="ctrl.showTab('appearance')"
                        md-on-select="ctrl.setCurrentTab('appearance')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" class="p20">
                                <!-- Show Copyright Text -->
                                <md-switch flex ng-model="ctrl.globalSetting.showCopyrightText"
                                           aria-label="{{lang.show_copyright}}">
                                    <span>{{lang.show_copyright}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('showCopyrightText')}}
                                </md-switch>
                                <!-- Default Application Theme -->
                                <md-input-container flex>
                                    <label for="theme">{{lang.default_application_theme}}</label>
                                    <md-select ng-model="ctrl.globalSetting.theme" required id="theme" name="theme">
                                        <md-option ng-repeat="theme in ctrl.themes track by $index" ng-value="theme.id">
                                            {{theme.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.theme.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Copyright Text -->
                                <md-input-container flex>
                                    <label for="copyrightText">{{lang.copyright_text}}</label>
                                    <textarea id="copyrightText" name="copyrightText" required maxlength="50"
                                              rows="4" md-select-on-focus
                                              ng-model="ctrl.globalSetting.copyrightText">
                                </textarea>
                                    <div ng-messages="globalSettingForm.copyrightText.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:50})}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Login Page Additional Content -->
                                <md-input-container flex>
                                    <label for="loginAdditionalContent">{{lang.login_page_additional_content}}</label>
                                    <textarea md-maxlength="500" id="loginAdditionalContent"
                                              name="loginAdditionalContent"
                                              class="textarea-height"

                                              rows="4" md-select-on-focus
                                              no-enter-directive
                                              ng-model="ctrl.globalSetting.loginAdditionalContent">
                            </textarea>
                                    <div ng-messages="globalSettingForm.loginAdditionalContent.$error" role="alert">
                                        <div ng-message="max">{{lang.too_long_text}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:500})}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Support Phone -->
                                <md-input-container flex>
                                    <label for="supportPhoneNo">{{lang.support_phone}}</label>
                                    <input name="supportPhoneNo" id="supportPhoneNo"
                                           custom-validate-directive="phone_mobile" maxlength="15"
                                           ng-model="ctrl.globalSetting.supportPhoneNo"/>
                                    <div ng-messages="globalSettingForm.supportPhoneNo.$error" role="alert">
                                        <div ng-message="phone_mobile">{{lang.invalid_phone_mobile.change({phonemob:lang.phone})}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:15})}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Support Email -->
                                <md-input-container flex>
                                    <label for="supportEmail">{{lang.support_email}}</label>
                                    <input id="supportEmail" name="supportEmail" maxlength="40"
                                           custom-validate-directive="email"
                                           ng-model="ctrl.globalSetting.supportEmail"/>
                                    <div ng-messages="globalSettingForm.supportEmail.$error" role="alert">
                                        <div ng-message="email">{{lang.invalid_email}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:40})}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--<div layout="row" class="p20">
                                &lt;!&ndash; Usage Terms and Condition &ndash;&gt;
                                <div flex>
                                    <label>{{lang.usage_terms_and_condition}}</label>
                                    <trix-editor angular-trix
                                                 ng-model="ctrl.globalSetting.tamcontent"
                                                 name="tamcontent" maxlength="4000"
                                                 prevent-trix-file-accept="true">
                                    </trix-editor>
                                    <div ng-messages="globalSettingForm.tamcontent.$error" role="alert">
                                        <div ng-message="maxlength">{{lang.max_length.change({length:4000})}}</div>
                                    </div>
                                </div>
                            </div>-->
                            <div layout="row" class="p20">
                                <!--  Usage Terms and Condition -->
                                <div flex>
                                    <label>{{$parent.lang.usage_terms_and_condition }} <span
                                            class="red-text">*</span></label>
                                    <text-angular name="tamcontent" id="tamcontent" flex
                                                  ng-model="ctrl.globalSetting.tamcontent"
                                    ></text-angular>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- AUDIT LOG TAB -->
                <md-tab label="{{lang.audit_log}}" ng-if="ctrl.showTab('auditlog')"
                        md-on-select="ctrl.setCurrentTab('auditlog')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" class="p20">
                                <!-- Register login / logout operations -->
                                <div flex>
                                    <md-switch ng-model="ctrl.globalSetting.auditLogin"
                                               aria-label="{{lang.register_login_logout_operations}}"
                                               ng-true-value="1"
                                               ng-false-value="0">
                                        <span>{{lang.register_login_logout_operations}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('auditLogin')}}
                                    </md-switch>
                                </div>
                                <!-- Register document view operation -->
                                <div flex>
                                    <md-switch ng-model="ctrl.globalSetting.auditDocumentView"
                                               aria-label="{{lang.register_document_view_operation}}">
                                        <span>{{lang.register_document_view_operation}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('auditDocumentView')}}
                                    </md-switch>
                                </div>
                            </div>
                            <div layout="row" class="p20">
                                <!-- Register administration operation -->
                                <md-switch ng-model="ctrl.globalSetting.auditAdminOperation"
                                           aria-label="{{lang.register_administration_operation}}">
                                    <span>{{lang.register_administration_operation}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('auditAdminOperation')}}
                                </md-switch>
                            </div>
                            <div layout="column" flex class="p20">
                                <div class="">
                                    <md-button tooltip="{{lang.manage_users_to_exclude_from_audit_log}}"
                                               class="md-icon-button"
                                               ng-click="ctrl.selectExcludedApplicationUsers($event)">
                                        <md-icon md-svg-icon="plus"></md-icon>
                                    </md-button>
                                    <span>{{lang.manage_users_to_exclude_from_audit_log}}</span></div>
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>{{lang.arabic_name}}</th>
                                        <th md-column>{{lang.english_name}}</th>
                                        <th md-column>{{lang.login_name}}</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row
                                        ng-repeat="appUser in ctrl.globalSetting.excludedUsersFromAudit track by $index">
                                        <td md-cell>{{appUser.arFullName}}</td>
                                        <td md-cell>{{appUser.enFullName}}</td>
                                        <td md-cell>{{appUser.loginName}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- DOCUMENT SECURITY SETTINGS TAB -->
                <md-tab label="{{lang.document_security_settings}}" ng-if="ctrl.showTab('docsecurity')"
                        md-on-select="ctrl.setCurrentTab('docsecurity')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" class="p20">
                                <div flex>
                                    <!-- Attachment inherit main document's security -->
                                    <md-switch ng-model="ctrl.globalSetting.attachmentInheritSecurity"
                                               aria-label="{{lang.attachment_inherit_main_document_security}}">
                                        <span>{{lang.attachment_inherit_main_document_security}} : </span>{{
                                        ctrl.globalSetting.getTranslatedYesNo('attachmentInheritSecurity')}}
                                    </md-switch>
                                </div>
                                <div flex>
                                    <!-- Export Outgoing With Attachment -->
                                    <md-switch ng-model="ctrl.globalSetting.exportAttachment"
                                               aria-label="{{lang.export_outgoing_with_attachment}}">
                                        <span>{{lang.export_outgoing_with_attachment}} : </span>{{
                                        ctrl.globalSetting.getTranslatedYesNo('exportAttachment')}}
                                    </md-switch>
                                </div>
                            </div>
                            <div layout="row" class="p20">
                                <div flex>
                                    <!-- Export outgoing with linked documents -->
                                    <md-switch ng-model="ctrl.globalSetting.exportLinkedDoc"
                                               aria-label="{{lang.export_outgoing_with_linked_documents}}">
                                        <span>{{lang.export_outgoing_with_linked_documents}} : </span>{{
                                        ctrl.globalSetting.getTranslatedYesNo('exportLinkedDoc')}}
                                    </md-switch>
                                </div>
                                <div flex>
                                    <!-- Export outgoing with workflow history -->
                                    <md-switch ng-model="ctrl.globalSetting.exportDocHistory"
                                               aria-label="{{lang.export_outgoing_with_workflow_history}}">
                                        <span>{{lang.export_outgoing_with_workflow_history}} : </span>{{
                                        ctrl.globalSetting.getTranslatedYesNo('exportDocHistory')}}
                                    </md-switch>
                                </div>
                            </div>
                            <div layout="row" class="p20">
                                <div flex>
                                    <!-- Export outgoing with linked objects -->
                                    <md-switch ng-model="ctrl.globalSetting.exportLinkedObj"
                                               aria-label="{{lang.export_outgoing_with_linked_objects}}">
                                        <span>{{lang.export_outgoing_with_linked_objects}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('exportLinkedObj')}}
                                    </md-switch>
                                </div>
                                <div flex>
                                    <!-- Allow Two Ways Related Book -->
                                    <md-switch ng-model="ctrl.globalSetting.allowTwoWaysRelatedBook"
                                               aria-label="{{lang.allow_two_ways_related_book}}">
                                        <span>{{lang.allow_two_ways_related_book}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('allowTwoWaysRelatedBook')}}
                                    </md-switch>
                                </div>
                            </div>
                            <div layout="row" class="p20">
                                <div flex>
                                    <!-- remove MAIP security -->
                                    <md-switch ng-model="ctrl.globalSetting.removeMAIPSecurity"
                                               aria-label="{{lang.remove_maip_security}}"
                                                ng-change="ctrl.onChangeRemoveMAIPSecurity ($event)">
                                        <span>{{lang.remove_maip_security}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('removeMAIPSecurity')}}
                                    </md-switch>
                                </div>
                                <div flex>
                                    <!-- Separate Actions While Transferring Between Departments -->
                                    <md-switch ng-model="ctrl.globalSetting.separateActionOnTransfer"
                                               aria-label="{{lang.allow_separate_ations_on_transfer}}">
                                        <span>{{lang.allow_separate_ations_on_transfer}} : </span>{{ctrl.globalSetting.getTranslatedYesNo('separateActionOnTransfer')}}
                                    </md-switch>
                                </div>
                            </div>
                            <div layout="row" class="p20">
                                <!-- Document Security Schema -->
                                <md-input-container flex>
                                    <label for="securitySchema">{{lang.documents_security_schema}}</label>
                                    <!--<md-select required name="securitySchema" multiple
                                               ng-model="ctrl.globalSetting.securitySchema"
                                               ng-model-options="{trackBy: '$value.id'}">
                                        <md-option
                                                ng-repeat="securitySchema in ctrl.documentSecuritySchemas track by $index"
                                                ng-value="securitySchema">
                                            {{securitySchema.getTranslatedName()}}
                                        </md-option>
                                    </md-select>-->
                                    <md-select required name="securitySchema" id="securitySchema"
                                               ng-change="ctrl.confirmChangeSecuritySchema($event)"
                                               ng-model="ctrl.globalSetting.securitySchema">
                                        <md-option
                                                ng-repeat="securitySchema in ctrl.documentSecuritySchemas track by $index"
                                                ng-value="securitySchema.lookupKey">
                                            {{securitySchema.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.securitySchema.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- WORKFLOW SECURITY TAB -->
                <md-tab label="{{lang.workflow_security_settings}}" ng-if="ctrl.showTab('workflowsecurity')"
                        md-on-select="ctrl.setCurrentTab('workflowsecurity')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" flex class="p20">
                                <!-- Workflow Governance Rules -->
                                <md-input-container flex>
                                    <label for="wfsecurity">{{lang.workflow_governance_rules}}</label>
                                    <!-- <md-select multiple required name="wfsecurity"
                                                ng-model="ctrl.globalSetting.wfsecurity"
                                                ng-model-options="{trackBy: '$value.id'}">
                                         <md-option ng-repeat="wfsecurity in ctrl.workFlowSecurities track by $index"
                                                    ng-value="wfsecurity">
                                             {{wfsecurity.getTranslatedName()}}
                                         </md-option>
                                     </md-select>-->
                                    <md-select required name="wfsecurity" id="wfsecurity"
                                               ng-model="ctrl.globalSetting.wfsecurity">
                                        <md-option ng-repeat="wfsecurity in ctrl.workFlowSecurities track by $index"
                                                   ng-value="wfsecurity.lookupKey">
                                            {{wfsecurity.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.wfsecurity.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Security Level -->
                                <md-input-container flex>
                                    <label for="securityLevels">{{lang.security_levels}}</label>
                                    <md-select multiple id="securityLevels" name="securityLevels" required
                                               ng-model="ctrl.globalSetting.securityLevels"
                                               ng-model-options="{trackBy: '$value.id'}">
                                        <md-option ng-value="level" ng-disabled="ctrl.disableSecurityLevel(level)"
                                                   ng-repeat="level in ctrl.securityLevels track by $index">
                                            {{level.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.securityLevels.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" flex class="p20">
                                <div flex>
                                    <!-- Allow send WF Related Books -->
                                    <md-switch ng-model="ctrl.globalSetting.allowSendWFRelatedBook"
                                               aria-label="{{lang.send_related_documents}}">
                                        <span>{{lang.send_related_documents}} : </span>{{
                                        ctrl.globalSetting.getTranslatedYesNo('allowSendWFRelatedBook')}}
                                    </md-switch>
                                </div>
                                <div flex>

                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- WORKFLOW NOTIFICATION TAB -->
                <md-tab label="{{lang.workflow_notification}}" ng-if="ctrl.showTab('workflownotification')"
                        md-on-select="ctrl.setCurrentTab('workflownotification')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" class="p20">
                                <!-- Notify the sender when reached the deadline date without action -->
                                <md-switch flex ng-model="ctrl.globalSetting.escalationNotifySender"
                                           aria-label="{{lang.notify_sender_when_deadline}}">
                                    <span>{{lang.notify_sender_when_deadline}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('escalationNotifySender')}}
                                </md-switch>
                                <!-- Notify the receiver when reached the deadline date without action -->
                                <md-switch flex ng-model="ctrl.globalSetting.escalationNotifyReceiver"
                                           aria-label="{{lang.notify_receiver_when_deadline}}">
                                    <span>{{lang.notify_receiver_when_deadline}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('escalationNotifyReceiver')}}
                                </md-switch>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Enable SMS Notification -->
                                <md-switch flex ng-model="ctrl.globalSetting.enableSMSNotification"
                                           aria-label="{{lang.enable_sms_notification}}">
                                    <span>{{lang.enable_sms_notification}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('enableSMSNotification')}}
                                </md-switch>
                                <!-- Enable Email Notification -->
                                <md-switch flex ng-model="ctrl.globalSetting.enableEmailNotification"
                                           aria-label="{{lang.enable_email_notification}}">
                                    <span>{{lang.enable_email_notification}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('enableEmailNotification')}}
                                </md-switch>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Enable Escalation Process -->
                                <md-switch flex ng-model="ctrl.globalSetting.enableEscalation"
                                           aria-label="{{lang.enable_escalation_process}}">
                                    <span>{{lang.enable_escalation_process}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('enableEscalation')}}
                                </md-switch>
                                <!-- Use Central Archive Internally -->
                                <md-switch flex ng-model="ctrl.globalSetting.useCentralArchiveInternally"
                                           aria-label="{{$root.lang.use_central_archive_internally}}">
                                    <span>{{$root.lang.use_central_archive_internally}} : </span>{{
                                    ctrl.globalSetting.getTranslatedYesNo('useCentralArchiveInternally')}}
                                </md-switch>
                            </div>

                            <div layout="row" class="p20">
                                <!-- Escalation process -->
                                <md-input-container flex>
                                    <label for="escalationProcess">{{$parent.lang.choose_escalation_process}}</label>
                                    <md-select required name="escalationProcess" id="escalationProcess"
                                               ng-model="ctrl.globalSetting.escalationProcess">
                                        <md-option tooltip="{{escalationProcess.getTranslatedName(true)}}"
                                                ng-repeat="escalationProcess in ctrl.escalationProcesses track by $index"
                                                ng-value="escalationProcess.lookupKey">
                                            {{escalationProcess.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="globalSettingForm.escalationProcess.$error">
                                        <div ng-message="required">{{$parent.lang.field_required}}</div>
                                    </div>
                                </md-input-container>

                                <!-- Maximum number of days to reply to a correspondence document that need a reply -->
                                <md-input-container flex>
                                    <label for="sla">{{lang.maximum_days_to_reply_document}}</label>
                                    <input id="sla" name="sla" min="1"
                                           custom-validate-directive="number" maxlength="5"
                                           ng-model="ctrl.globalSetting.sla">
                                    <div ng-messages="globalSettingForm.sla.$error">
                                        <div ng-message="min">
                                            {{lang.should_greater_equal_min_limit.replace(':minlimit',1)}}
                                        </div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="p20">
                                <md-input-container flex>
                                    <label for="deadlineReminderDays">{{$parent.lang.send_a_reminder_before_deadline_date_with}}</label>
                                    <input id="deadlineReminderDays" name="deadlineReminderDays" maxlength="5"
                                           aria-label="Send a reminder before deadline days"
                                           ng-model="ctrl.globalSetting.deadlineReminder"
                                           custom-validate-directive="number" min="1">
                                    <div ng-messages="globalSettingForm.deadlineReminderDays.$error">
                                        <div ng-message="required">{{$parent.lang.field_required}}</div>
                                        <div ng-message="min">
                                            {{$parent.lang.should_greater_equal_min_limit.replace(':minlimit',1)}}
                                        </div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:5})}}</div>
                                        <div ng-message="number">{{lang.numberonly}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex></md-input-container>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- UPLOAD TAB -->
                <md-tab label="{{lang.upload}}" ng-if="ctrl.showTab('upload')"
                        md-on-select="ctrl.setCurrentTab('upload')"
                        ng-disabled="ctrl.globalSetting.id === null || ctrl.globalSetting.id===0">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" flex class="p20">
                                <!-- LOGIN LOGO -->
                                <div layout="column" flex>
                                    <img ng-if="ctrl.globalSetting.loginLogo"
                                         ng-src="{{ctrl.globalSetting.loginLogo.fileUrl ? ctrl.globalSetting.loginLogo.fileUrl : ctrl.loginLogo}}"
                                         class="upload-image" flex>
                                    <div layout="row" layout-align="start center">
                                        <upload-file-directive
                                                selected-file="ctrl.globalSetting.loginLogo"
                                                call-back="ctrl.viewImage"
                                                model-name='loginLogo'
                                                model-obj="ctrl.globalSetting.loginLogo"
                                                button-label="{{$parent.lang.upload_login_logo}}">
                                        </upload-file-directive>
                                        <div>
                                            <md-button class="md-raised" ng-disabled="ctrl.saveLogo"
                                                       ng-click="ctrl.saveLoginLogoImage('loginLogo')">
                                                {{$parent.$parent.lang.save}}
                                            </md-button>
                                        </div>
                                    </div>
                                    <div class="help-text-div">{{ctrl.imageDimensionsInfo}}</div>
                                </div>
                                <!-- BANNER LOGO -->
                                <div layout="column" flex>
                                    <img ng-if="ctrl.globalSetting.bannerLogo"
                                         ng-src="{{ctrl.globalSetting.bannerLogo.fileUrl ? ctrl.globalSetting.bannerLogo.fileUrl : ctrl.bannerLogo    }}"
                                         class="upload-image">

                                    <div layout="row" layout-align="start center">
                                        <upload-file-directive
                                                selected-file="ctrl.globalSetting.bannerLogo"
                                                call-back="ctrl.viewImage"
                                                model-name="bannerLogo"
                                                model-obj='ctrl.globalSetting.bannerLogo'
                                                button-label="{{$parent.lang.upload_banner_logo}}">
                                        </upload-file-directive>
                                        <div>
                                            <md-button class="md-raised" ng-disabled="ctrl.saveBanner"
                                                       ng-click="ctrl.saveBannerImage('bannerLogo')">
                                                {{$parent.$parent.lang.save}}
                                            </md-button>
                                        </div>
                                    </div>
                                    <div class="help-text-div">{{ctrl.imageDimensionsInfo}}</div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- BARCODE SETTINGS TAB -->
                <md-tab label="{{lang.barcode_settings}}" ng-if="ctrl.showTab('barcodeSettings')"
                        md-on-select="ctrl.setCurrentTab('barcodeSettings')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" flex class="p20">
                                <barcode-settings-directive
                                        global-setting="ctrl.globalSetting"></barcode-settings-directive>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </md-content>
                </md-tab>
                <!-- WATERMARK SETTINGS TAB-->
                <md-tab label="{{lang.watermark}}"
                        ng-if="ctrl.showTab('watermarkSettings') && ctrl.globalSetting.id != null "
                        md-on-select="ctrl.setCurrentTab('watermarkSettings')">
                    <md-content scroll-directive class="white-bg">
                        <document-security-watermark-directive
                                global-setting="ctrl.globalSetting"
                                global-setting-copy="ctrl.globalSettingCopy">
                        </document-security-watermark-directive>
                    </md-content>
                </md-tab>
            </md-tabs>
            <div id="global-settings-buttons">
                <md-button class="md-raised" ng-disabled="globalSettingForm.$invalid"
                           ng-if="!ctrl.globalSetting.id"
                           ng-click="ctrl.addGlobalSettingFromCtrl()">{{lang.add}}
                </md-button>
                <md-button class="md-raised" ng-disabled="globalSettingForm.$invalid"
                           ng-if="ctrl.globalSetting.id && ctrl.selectedTabName!=='upload' && ctrl.selectedTabName !== 'watermarkSettings'"
                           ng-click="ctrl.editGlobalSettingFromCtrl()">{{lang.save}}
                </md-button>
            </div>
        </ng-form>
    </div>
</div>
