<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_incoming_scan}}</span>
            <md-button ng-click="ctrl.reloadScanIncomings()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <grid-search-directive grid="ctrl.grid"></grid-search-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedScanIncomings"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedScanIncomings.length > 1 ? 5 : 6}}"
                                            ng-if="ctrl.selectedScanIncomings.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedScanIncomings.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <!--ng-if="ctrl.selectedScanIncomings.length > 1"-->
                                                <md-button class="md-icon-button"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('DELETE_INCOMING')"
                                                           tooltip="{{lang.remove}}"
                                                           ng-click="ctrl.removeBulkScanIncomings($event)">
                                                    <md-icon md-svg-icon="delete" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                            <span>{{lang.priority_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length" md-column
                                            md-order-by="securityLevel.lookupKey">
                                            <span>{{lang.security_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('creatorInfo', 'Information')}}">
                                            <span>{{lang.creator}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length" md-column
                                            md-order-by="createdOn">
                                            <span>{{lang.created_on}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedScanIncomings.length && ctrl.selectedScanIncomings.length < 2"
                                            md-column>
                                            <span></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="scanIncoming" grid-right-click-directive model="scanIncoming"
                                        selected-length="{{ctrl.selectedScanIncomings.length ? ctrl.selectedScanIncomings.length : 0}}"
                                        ng-repeat="scanIncoming in searchResults = (ctrl.scanIncomings | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit))  track by $index">
                                        <td md-cell class="subject">
                                            <!--<grid-document-subject-directive record="scanIncoming"
                                                                             plain-text-only="true">
                                            </grid-document-subject-directive>-->
                                            <span ng-if="ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{scanIncoming.docSubject}}">{{scanIncoming.docSubject}}</span>
                                            <span ng-if="!ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{scanIncoming.docSubject}}">{{scanIncoming.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{scanIncoming.priorityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{scanIncoming.securityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{scanIncoming.creatorInfo.getTranslatedName()}}</td>
                                        <td md-cell>{{scanIncoming.createdOn}}</td>
                                        <td md-cell ng-if="ctrl.selectedScanIncomings.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedScanIncomings.length
                                                  || ctrl.selectedScanIncomings.length===1 && ctrl.selectedScanIncomings[0].id === scanIncoming.id">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="scanIncoming">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.scanIncomings.length">
                                        <td md-cell colspan="6" class="red-text text-center">{{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.scanIncomings.length && !searchResults.length">
                                        <td md-cell colspan="6" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.scanIncomings).length}}" md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
