<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_incoming_rejected}}</span>
            <md-button ng-click="ctrl.reloadRejectedIncomings()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <grid-search-directive grid="ctrl.grid"></grid-search-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex overlay-scroll-bar-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedRejectedIncomings"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedRejectedIncomings.length > 1 ? 5 : 6}}"
                                            ng-if="ctrl.selectedRejectedIncomings.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedRejectedIncomings.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <!--ng-if="ctrl.selectedRejectedIncomings.length > 1"-->
                                                <md-button class="md-icon-button"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('LAUNCH_DISTRIBUTION_WORKFLOW')"
                                                           tooltip="{{lang.grid_action_launch_distribution_workflow}}"
                                                           ng-click="ctrl.launchDistributionWorkflowBulk($event)">
                                                    <md-icon md-svg-icon="sitemap" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.grid_action_archive}}"
                                                           ng-click="ctrl.archiveBulk($event)">
                                                    <md-icon md-svg-icon="archive" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.grid_action_send_to_review}}"
                                                           ng-click="ctrl.sendToReviewBulk($event)">
                                                    <md-icon md-svg-icon="send" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.remove}}"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('DELETE_INCOMING')"
                                                           ng-click="ctrl.removeBulkRejectedIncomings($event)">
                                                    <md-icon md-svg-icon="delete" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="">

                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                            <span>{{lang.priority_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="securityLevel.lookupKey">
                                            <span>{{lang.security_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('creatorInfo', 'Information')}}">
                                            <span>{{lang.creator}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length" md-column
                                            md-order-by="createdOn">
                                            <span>{{lang.created_on}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedIncomings.length && ctrl.selectedRejectedIncomings.length < 2"
                                            md-column>
                                            <span></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="rejectedIncoming" grid-right-click-directive
                                        model="rejectedIncoming"
                                        selected-length="{{ctrl.selectedRejectedIncomings.length ? ctrl.selectedRejectedIncomings.length : 0}}"
                                        ng-repeat="rejectedIncoming in searchResults = (ctrl.rejectedIncomings | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                        <td md-cell class="indicator-td">
                                            <!-- View Tracking Sheet -->
                                            <grid-indicator-directive record="rejectedIncoming"
                                                                      indicator-type="trackingSheet"
                                                                      record-type="incoming"
                                                                      callback="ctrl.getTrackingSheetCallback">
                                            </grid-indicator-directive>
                                        </td>
                                        <td md-cell class="subject">
                                            <!--<grid-document-subject-directive record="rejectedIncoming"
                                                                             plain-text-only="!rejectedIncoming.hasContent()"
                                                                             click-callback="ctrl.viewDocument">
                                            </grid-document-subject-directive>-->
                                            <a href=""
                                               ng-if="rejectedIncoming.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{rejectedIncoming.docSubject}}"
                                               ng-click="ctrl.viewDocument(rejectedIncoming, $event)">{{rejectedIncoming.docSubject}}</a>
                                            <span ng-if="!rejectedIncoming.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{rejectedIncoming.docSubject}}">{{rejectedIncoming.docSubject}}</span>
                                            <a href=""
                                               ng-if="rejectedIncoming.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{rejectedIncoming.docSubject}}"
                                               ng-click="ctrl.viewDocument(rejectedIncoming, $event)">{{rejectedIncoming.docSubject}}</a>
                                            <span ng-if="!rejectedIncoming.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{rejectedIncoming.docSubject}}">{{rejectedIncoming.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{rejectedIncoming.priorityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedIncoming.securityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedIncoming.creatorInfo.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedIncoming.createdOn}}</td>
                                        <td md-cell ng-if="ctrl.selectedRejectedIncomings.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedRejectedIncomings.length
                                                  || ctrl.selectedRejectedIncomings.length===1 && ctrl.selectedRejectedIncomings[0].id === rejectedIncoming.id">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="rejectedIncoming">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.rejectedIncomings.length">
                                        <td md-cell colspan="6" class="red-text text-center">{{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.rejectedIncomings.length && !searchResults.length">
                                        <td md-cell colspan="6" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.rejectedIncomings).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
