<!-- start of view -->
<div background-directive="short" flex class="page-content">
    <div layout="column" class="content">
        <!-- page-header -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span ng-if="!ctrl.incoming.vsId">{{lang.menu_item_incoming}} - {{lang.add_new}}</span>
            <span ng-if="ctrl.incoming.vsId">{{lang.menu_item_incoming}} - {{ctrl.model.docSubject}}</span>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <accordion-directive label-collapse="ctrl.collapse" validation="ctrl.validation">
                        <accordion-item active fail-when="ctrl.document_properties.$invalid"
                                        pass-when="ctrl.document_properties.$valid">
                            <accordion-title>
                                <div layout="row" layout-align="start center">
                                    <md-icon md-svg-icon="file-document-box"></md-icon>
                                    <span> &nbsp;{{lang.document_properties}}</span>
                                    <span flex></span>
                                    <!--<md-switch ng-disabled="!!ctrl.incoming.vsId" class="m0 top-switch-handler"
                                               ng-true-value="1" ng-false-value="0"
                                               ng-click="ctrl.preventPropagation($event)"
                                               ng-model="ctrl.incoming.addMethod">{{lang.incoming_document_type}} :
                                        {{ctrl.incoming.getMethodType()}}
                                    </md-switch>-->
                                </div>
                            </accordion-title>
                            <accordion-content>
                                <manage-properties-directive
                                        registry-organizations="ctrl.registryOrganizations"
                                        source-model="ctrl.model"
                                        source-form="ctrl.document_properties"
                                        document="ctrl.incoming"
                                        receive-g2g="!!ctrl.receiveG2G"></manage-properties-directive>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item fail-when="!ctrl.incoming.site"
                                        pass-when="!!ctrl.incoming.site">
                            <accordion-title>
                                <md-icon md-svg-icon="arrange-send-backward"></md-icon>
                                <span>{{lang.manage_correspondence_sites}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-correspondence-site-incoming-directive
                                            vs-id="ctrl.incoming.vsId"
                                            document-class="ctrl.incoming.docClassName"
                                            site="ctrl.incoming.site"
                                            empty-sub-records="ctrl.emptySubSites"
                                    ></manage-correspondence-site-incoming-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item pass-when="ctrl.documentInformation || ctrl.incoming.contentFile">
                            <accordion-title>
                                <md-icon md-svg-icon="format-align-justify"></md-icon>
                                <span>{{lang.incoming_create_content}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <!--display-prepare="!ctrl.incoming.addMethod"-->
                                    <manage-content-directive
                                            edit-content="ctrl.receive"
                                            display-prepare="false"
                                            document-information="ctrl.documentInformation"
                                            vs-id="ctrl.incoming.vsId"
                                            document="ctrl.incoming"
                                            signatures-count="ctrl.incoming.signaturesCount"
                                            templates="ctrl.templates"
                                            receive-document="ctrl.receive || ctrl.receiveG2G"></manage-content-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item ng-if="!ctrl.isDemoBuild" pass-when="!!ctrl.incoming.tags.length"
                                        ng-if="ctrl.employeeService.hasPermissionTo('MANAGE_DOCUMENT’S_TAGS')">
                            <accordion-title>
                                <md-icon md-svg-icon="tag-multiple"></md-icon>
                                <span>{{lang.incoming_manage_tags}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-tags-directive from-dialog="false"
                                                           tags="ctrl.incoming.tags"></manage-tags-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item pass-when="!!ctrl.incoming.linkedDocs.length"
                                        ng-if="ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_DOCUMENTS')">
                            <accordion-title>
                                <md-icon md-svg-icon="note-multiple-outline"></md-icon>
                                <span>{{lang.internal_manage_linked_document}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-linked-document-directive
                                            linked-docs="ctrl.incoming.linkedDocs"
                                            vs-id="ctrl.incoming.vsId"
                                            document-class="ctrl.incoming.docClassName"></manage-linked-document-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item ng-if="!ctrl.isDemoBuild" pass-when="!!ctrl.incoming.attachments.length">
                            <accordion-title>
                                <md-icon md-svg-icon="attachment"></md-icon>
                                <span>{{lang.incoming_manage_attachments}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <manage-attachment-directive flex
                                            document="ctrl.incoming"
                                            attachments="ctrl.incoming.attachments"
                                            vs-id="ctrl.incoming.vsId"
                                            document-class="ctrl.incoming.docClassName"
                                            receive-g2g="!!ctrl.receiveG2G">
                                    </manage-attachment-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item ng-if="!ctrl.isDemoBuild" pass-when="!!ctrl.incoming.documentComments.length"
                                        ng-if="ctrl.employeeService.hasPermissionTo('MANAGE_DOCUMENT’S_COMMENTS') && ctrl.employeeService.hasPermissionTo('ADD_DOCUMENT_COMMENT')">
                            <accordion-title>
                                <md-icon md-svg-icon="comment"></md-icon>
                                <span>{{lang.incoming_manage_comments}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <manage-comments-directive
                                            vs-id="ctrl.incoming.vsId"
                                            document-comments="ctrl.incoming.documentComments"
                                            show-comment-form="ctrl.showDocumentComment"
                                            flex>
                                    </manage-comments-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <accordion-item ng-if="!ctrl.isDemoBuild" pass-when="!!ctrl.incoming.linkedEntities.length">
                            <accordion-title>
                                <md-icon md-svg-icon="vector-triangle"></md-icon>
                                <span>{{lang.incoming_linked_entities}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-entities-directive
                                            vs-id="ctrl.incoming.vsId"
                                            linked-entities="ctrl.incoming.linkedEntities"
                                            document-class="ctrl.incoming.docClassName"></manage-entities-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                    </accordion-directive>
                    <div layout="row">
                        <div>
                            <md-button
                                    ng-disabled="ctrl.saveInProgress || ctrl.document_properties.$invalid || !ctrl.incoming.site || ((ctrl.documentInformationExist || (ctrl.contentFileExist && ctrl.contentFileSizeExist)) && !(ctrl.documentInformation || ctrl.incoming.contentFile))"
                                    ng-click="ctrl.saveCorrespondence()" class="md-raised"
                                    ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}">
                                {{lang.incoming_save}}
                            </md-button>
                        </div>
                        <div>
                            <md-button
                                    ng-disabled="ctrl.saveInProgress || ctrl.document_properties.$invalid || !ctrl.incoming.site || ((ctrl.documentInformationExist || (ctrl.contentFileExist && ctrl.contentFileSizeExist)) && !(ctrl.documentInformation || ctrl.incoming.contentFile))"
                                    ng-click="ctrl.saveCorrespondenceAndPrintBarcode()" class="md-raised">
                                {{lang.incoming_save_print_barcode}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress"  ng-click="ctrl.confirmResetAddCorrespondence($event)" class="md-raised">
                                {{lang.incoming_new}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress" ng-click="ctrl.cancelAddCorrespondence($event)" class="md-raised">
                                {{lang.incoming_cancel}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.incoming.hasVsId() && ctrl.requestCompleted">
                            <md-input-container>
                                <label for="documentAction">{{lang.document_action}}</label>
                                <md-select name="documentAction" id="documentAction"
                                           ng-disabled="!ctrl.isActionsAvailable || ctrl.saveInProgress"
                                           ng-model="ctrl.documentAction">
                                    <md-option ng-value="action" class="{{action.class}}"
                                               ng-if="action.checkShow(action, ctrl.incoming, $index)"
                                               ng-repeat="action in ctrl.documentActions track by $index">
                                        {{action.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.incoming.hasVsId() && ctrl.requestCompleted">
                            <md-button class="md-raised" ng-disabled="!ctrl.documentAction || ctrl.saveInProgress"
                                       ng-click="ctrl.performDocumentAction($event)">{{lang.action_submit}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
