<!-- start of view -->
<div background-directive="short" flex class="page-content">
    <div layout="column" class="content">
        <!-- page-header -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span ng-if="!ctrl.incoming.vsId">{{lang.menu_item_incoming}} - {{lang.add_new}}</span>
            <span ng-if="ctrl.incoming.vsId" md-truncate
                  tooltip="{{ctrl.model.docSubject}}" tooltip-direction="bottom">
                {{lang.menu_item_incoming}} - {{ctrl.model.docSubject}}
            </span>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <!--<div class="page-padding">-->
                <div class="simple-padding" layout="row" flex>
                    <!-- document content -->
                    <div class="simple-properties" layout="row" flex="30">
                        <div layout="column" flex>
                            <accordion-directive class="simple-add-properties-accordion"
                                                 label-collapse="ctrl.collapse" validation="ctrl.validation">
                                <accordion-item active fail-when="ctrl.document_properties.$invalid ||
                                                                      !ctrl.incoming.site"
                                                pass-when="ctrl.document_properties.$valid &&
                                                               !!ctrl.incoming.site">
                                    <accordion-title>
                                        <div layout="row" layout-align="start center">
                                            <md-icon md-svg-icon="file-document-box"></md-icon>
                                            <span> &nbsp;{{lang.document_properties}}</span>
                                            <span flex></span>
                                        </div>
                                    </accordion-title>
                                    <accordion-content>
                                        <div>
                                            <manage-properties-simple-directive
                                                    registry-organizations="ctrl.registryOrganizations"
                                                    source-model="ctrl.model"
                                                    source-form="ctrl.document_properties"
                                                    document="ctrl.incoming"
                                                    is-new-document="ctrl.isNewDocument"></manage-properties-simple-directive>
                                        </div>
                                        <div>
                                            <div layout="row" layout-align="start center" class="p10">
                                                <md-icon md-svg-icon="arrange-send-backward"></md-icon>
                                                <span flex>{{lang.manage_correspondence_sites}}</span>
                                            </div>
                                            <manage-correspondence-site-incoming-simple-directive
                                                    correspondence="ctrl.incoming"
                                                    vs-id="ctrl.incoming.vsId"
                                                    document-class="ctrl.incoming.docClassName"
                                                    site="ctrl.incoming.site"
                                                    empty-sub-records="ctrl.emptySubSites">
                                            </manage-correspondence-site-incoming-simple-directive>
                                        </div>
                                    </accordion-content>
                                </accordion-item>
                            </accordion-directive>
                            <div layout="column">
                                <div layout="row">
                                    <md-button
                                            ng-disabled="ctrl.document_properties.$invalid || !ctrl.incoming.site || ((ctrl.documentInformationExist || (ctrl.contentFileExist && ctrl.contentFileSizeExist)) && !(ctrl.documentInformation || ctrl.incoming.contentFile))"
                                            ng-click="ctrl.saveCorrespondence()" class="md-raised"
                                            ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}">
                                        {{lang.incoming_save}}
                                    </md-button>
                                    <md-button
                                            ng-disabled="ctrl.document_properties.$invalid || !ctrl.incoming.site || ((ctrl.documentInformationExist || (ctrl.contentFileExist && ctrl.contentFileSizeExist)) && !(ctrl.documentInformation || ctrl.incoming.contentFile))"
                                            ng-click="ctrl.saveCorrespondenceAndPrintBarcode()" class="md-raised" >
                                        {{lang.incoming_save_print_barcode}}
                                    </md-button>
                                </div>
                                <div layout="row">
                                    <md-button ng-click="ctrl.confirmResetAddCorrespondence($event)" class="md-raised">
                                        {{lang.incoming_new}}
                                    </md-button>
                                    <md-button ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}" ng-click="ctrl.cancelAddCorrespondence($event)" class="md-raised">
                                        {{lang.incoming_cancel}}
                                    </md-button>
                                </div>
                                <div layout="row">
                                    <div ng-if="ctrl.incoming.hasVsId() && ctrl.requestCompleted">
                                        <md-input-container>
                                            <label for="documentAction">{{lang.document_action}}</label>
                                            <md-select name="documentAction" id="documentAction"
                                                       ng-disabled="!ctrl.isActionsAvailable"
                                                       ng-model="ctrl.documentAction">
                                                <md-option ng-value="action" class="{{action.class}}"
                                                           ng-if="action.checkShow(action, ctrl.incoming, $index)"
                                                           ng-repeat="action in ctrl.documentActions track by $index">
                                                    {{action.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div ng-if="ctrl.incoming.hasVsId() && ctrl.requestCompleted">
                                        <md-button class="md-raised" ng-disabled="!ctrl.documentAction"
                                                   ng-click="ctrl.performDocumentAction($event)">{{lang.action_submit}}
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- document viewer -->
                    <div class="simple-viewer" layout="row" flex="70">
                        <div layout="column" flex>
                            <accordion-directive label-collapse="ctrl.collapse" validation="ctrl.validation">
                                <accordion-item active
                                                pass-when="ctrl.documentInformation || ctrl.incoming.contentFile">
                                    <accordion-title>
                                        <md-icon md-svg-icon="format-align-justify"></md-icon>
                                        <span>{{lang.incoming_create_content}}</span>
                                    </accordion-title>
                                    <accordion-content>
                                        <div layout="row">
                                            <!--display-prepare="!ctrl.incoming.addMethod"-->
                                            <manage-content-directive
                                                    edit-content="ctrl.receive"
                                                    display-prepare="false"
                                                    document-information="ctrl.documentInformation"
                                                    vs-id="ctrl.incoming.vsId"
                                                    document="ctrl.incoming"
                                                    signatures-count="ctrl.incoming.signaturesCount"
                                                    templates="ctrl.templates"
                                                    simple-view-url="ctrl.simpleViewUrl"
                                                    is-simple-add="ctrl.simpleAdd"></manage-content-directive>
                                            <span flex></span>
                                            <div class="icon-relative">
                                                <md-button tooltip="{{lang.attachments}}"
                                                           class="md-raised md-icon-button"
                                                           ng-click="ctrl.manageAttachments($event)">
                                                    <md-icon md-svg-icon="attachment"></md-icon>
                                                </md-button>
                                                <span class="counter blue">{{ctrl.incoming.attachments.length}}</span>
                                            </div>
                                            <div class="icon-relative">
                                                <md-button tooltip="{{lang.linked_documents}}"
                                                           class="md-raised md-icon-button"
                                                           ng-click="ctrl.manageLinkedDocuments($event)">
                                                    <md-icon md-svg-icon="note-multiple-outline"></md-icon>
                                                </md-button>
                                                <span class="counter blue">{{ctrl.incoming.linkedDocs.length}}</span>
                                            </div>
                                        </div>

                                        <div layout="row">
                                            <!--document viewer editor-->
                                            <iframe class="simple-viewer-iframe" id="document-viewer"
                                                    ng-if="ctrl.simpleViewUrl"
                                                    ng-src="{{ctrl.simpleViewUrl}}"
                                                    flex
                                                    frameborder="0"></iframe>
                                        </div>
                                    </accordion-content>
                                </accordion-item>
                            </accordion-directive>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
