<!-- start of view -->
<div background-directive="short" flex class="page-content">
    <div layout="column" class="content">
        <!-- page-header -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span ng-if="!ctrl.internal.vsId">{{lang.menu_item_internal}} - {{lang.add_new}}</span>
            <span ng-if="ctrl.internal.vsId" md-truncate
                  tooltip="{{ctrl.model.docSubject}}" tooltip-direction="bottom">
                {{lang.menu_item_internal}} - {{ctrl.model.docSubject}}
            </span>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <div layout="row">
                        <div>
                            <md-button ng-click="ctrl.saveCorrespondence()"
                                       ng-disabled="!ctrl.isSaveValid('save', false)"
                                       class="md-raised"
                                       ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}">
                                {{lang.internal_save}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.internal.addMethod">
                            <md-button ng-click="ctrl.saveCorrespondenceAndPrintBarcode()"
                                       ng-disabled="!ctrl.isSaveValid('saveAndPrintBarcode', false)"
                                       class="md-raised">
                                {{lang.internal_save_print_barcode}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.hasPSPDFViewer && ctrl.employeeService.hasPermissionTo(ctrl.annotationPermission)">
                            <md-button ng-disabled="!ctrl.isSaveValid('saveAndInsert', true)"
                                       ng-click="ctrl.saveAndAnnotateDocument()" class="md-raised">
                                {{lang.save_and_insert}}
                            </md-button>
                        </div>
                        <div ng-if="!ctrl.internal.addMethod">
                            <md-button ng-disabled="!ctrl.isSaveValid('saveAsDraft', true)"
                                       ng-click="ctrl.saveCorrespondence('draft')" class="md-raised">
                                {{lang.internal_save_draft}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress"
                                       ng-click="ctrl.confirmResetAddCorrespondence($event)" class="md-raised">
                                {{lang.internal_new}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress"
                                       ng-click="ctrl.cancelAddCorrespondence($event)" class="md-raised">
                                {{lang.internal_cancel}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.internal.hasVsId() && ctrl.requestCompleted">
                            <md-input-container class="mt5">
                                <label for="documentAction">{{lang.document_action}}</label>
                                <md-select name="documentAction" id="documentAction"
                                           ng-disabled="!ctrl.isActionsAvailable || ctrl.saveInProgress"
                                           ng-hide="!ctrl.isActionsAvailable"
                                           ng-model="ctrl.documentAction">
                                    <md-option ng-value="action" class="{{action.class}}"
                                               ng-if="action.checkShow(action, ctrl.internal, $index)"
                                               ng-repeat="action in ctrl.documentActions track by $index">
                                        {{action.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.internal.hasVsId() && ctrl.requestCompleted">
                            <md-button class="md-raised" ng-disabled="!ctrl.documentAction || ctrl.saveInProgress"
                                       ng-hide="!ctrl.isActionsAvailable"
                                       ng-click="ctrl.performDocumentAction($event)">{{lang.action_submit}}
                            </md-button>
                        </div>
                    </div>
                    <accordion-directive label-collapse="ctrl.collapse" validation="ctrl.validation">
                        <!-- Properties -->
                        <accordion-item active fail-when="ctrl.document_properties.$invalid"
                                        pass-when="ctrl.document_properties.$valid">
                            <accordion-title>
                                <div layout="row" layout-align="start center">
                                    <md-icon md-svg-icon="file-document-box"></md-icon>
                                    <span> &nbsp;{{lang.document_properties}}</span>
                                    <span flex></span>
                                    <div layout="row" layout-align="center center">
                                        <span>{{lang.internal_document_type}} :&nbsp;</span>
                                        <span>{{lang.current === 'en' ? lang.internal_electronic : lang.internal_paper}}</span>
                                        <span>&nbsp;&nbsp;</span>
                                        <md-switch
                                                ng-disabled=" ctrl.isDocumentTypeSwitchDisabled()"
                                                class="m0 top-switch-handler"
                                                aria-label="{{lang.internal_document_type}}"
                                                ng-true-value="1" ng-false-value="0"
                                                ng-click="ctrl.preventPropagation($event)"
                                                ng-change="ctrl.checkChangeInternalType()"
                                                ng-model="ctrl.internal.addMethod">
                                        </md-switch>
                                        <span>{{lang.current === 'en' ? lang.internal_paper : lang.internal_electronic}}</span>
                                    </div>
                                </div>
                            </accordion-title>
                            <accordion-content class="p0">
                                <manage-properties-directive
                                        source-model="ctrl.model"
                                        source-form="ctrl.document_properties"
                                        document="ctrl.internal"
                                        is-new-document="ctrl.isNewDocument"
                                        action="ctrl.action"></manage-properties-directive>
                            </accordion-content>
                        </accordion-item>
                        <!-- Content -->
                        <accordion-item pass-when="ctrl.documentInformation || ctrl.internal.contentFile">
                            <accordion-title>
                                <md-icon md-svg-icon="format-align-justify"></md-icon>
                                <span>{{lang.internal_create_content}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <manage-content-directive
                                            edit-content="ctrl.editContent"
                                            display-prepare="!ctrl.internal.addMethod"
                                            document-information="ctrl.documentInformation"
                                            vs-id="ctrl.internal.vsId"
                                            document="ctrl.internal"
                                            signatures-count="ctrl.internal.signaturesCount"
                                            templates="ctrl.templates"></manage-content-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <!-- Attachments -->
                        <accordion-item
                                ng-if="!ctrl.isDemoBuild && ctrl.employeeService.hasPermissionTo('MANAGE_ATTACHMENTS')"
                                pass-when="!!ctrl.internal.attachments.length">
                            <accordion-title>
                                <md-icon md-svg-icon="attachment"></md-icon>
                                <span>{{lang.internal_manage_attachments}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <manage-attachment-directive
                                            document="ctrl.internal"
                                            attachments="ctrl.internal.attachments"
                                            vs-id="ctrl.internal.vsId"
                                            document-class="ctrl.internal.docClassName" flex>
                                    </manage-attachment-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <!-- Linked Docs -->
                        <accordion-item ng-if="ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_DOCUMENTS')"
                                        pass-when="!!ctrl.internal.linkedDocs.length">
                            <accordion-title>
                                <md-icon md-svg-icon="note-multiple-outline"></md-icon>
                                <span>{{lang.internal_manage_linked_document}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-linked-document-directive
                                            linked-docs="ctrl.internal.linkedDocs"
                                            vs-id="ctrl.internal.vsId"
                                            document-class="ctrl.internal.docClassName"></manage-linked-document-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <!-- Linked Entities -->
                        <accordion-item
                                ng-if="!ctrl.isDemoBuild && ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_ENTITIES')"
                                pass-when="!!ctrl.internal.linkedEntities.length">
                            <accordion-title>
                                <md-icon md-svg-icon="vector-triangle"></md-icon>
                                <span>{{lang.internal_linked_entities}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-entities-directive
                                            vs-id="ctrl.internal.vsId"
                                            linked-entities="ctrl.internal.linkedEntities"
                                            document-class="ctrl.internal.docClassName"></manage-entities-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <!-- Document Comments -->
                        <accordion-item
                                ng-if="!ctrl.isDemoBuild && ctrl.employeeService.hasPermissionTo('MANAGE_DOCUMENT’S_COMMENTS') && ctrl.employeeService.hasPermissionTo('ADD_DOCUMENT_COMMENT')"
                                pass-when="!!ctrl.internal.documentComments.length">
                            <accordion-title>
                                <md-icon md-svg-icon="comment"></md-icon>
                                <span>{{lang.internal_manage_comments}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div layout="row">
                                    <manage-comments-directive
                                            correspondence="ctrl.internal"
                                            vs-id="ctrl.internal.vsId"
                                            document-comments="ctrl.internal.documentComments"
                                            show-comment-form="ctrl.showDocumentComment"
                                            flex>
                                    </manage-comments-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                        <!-- Tags -->
                        <accordion-item
                                ng-if="!ctrl.isDemoBuild && ctrl.employeeService.hasPermissionTo('MANAGE_DOCUMENT’S_TAGS')"
                                pass-when="!!ctrl.internal.tags.length">
                            <accordion-title>
                                <md-icon md-svg-icon="tag-multiple"></md-icon>
                                <span>{{lang.internal_manage_tags}}</span>
                            </accordion-title>
                            <accordion-content>
                                <div>
                                    <manage-tags-directive from-dialog="false"
                                                           tags="ctrl.internal.tags"></manage-tags-directive>
                                </div>
                            </accordion-content>
                        </accordion-item>
                    </accordion-directive>
                    <div layout="row">
                        <div>
                            <md-button ng-click="ctrl.saveCorrespondence()"
                                       ng-disabled="!ctrl.isSaveValid('save', false)"
                                       class="md-raised"
                                       ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}">
                                {{lang.internal_save}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.internal.addMethod">
                            <md-button ng-click="ctrl.saveCorrespondenceAndPrintBarcode()"
                                       ng-disabled="!ctrl.isSaveValid('saveAndPrintBarcode', false)"
                                       class="md-raised">
                                {{lang.internal_save_print_barcode}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.hasPSPDFViewer && ctrl.employeeService.hasPermissionTo(ctrl.annotationPermission)">
                            <md-button ng-disabled="!ctrl.isSaveValid('saveAndInsert', true)"
                                       ng-click="ctrl.saveAndAnnotateDocument()" class="md-raised">
                                {{lang.save_and_insert}}
                            </md-button>
                        </div>
                        <div ng-if="!ctrl.internal.addMethod">
                            <md-button ng-disabled="!ctrl.isSaveValid('saveAsDraft', true)"
                                       ng-click="ctrl.saveCorrespondence('draft')" class="md-raised">
                                {{lang.internal_save_draft}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress"
                                       ng-click="ctrl.confirmResetAddCorrespondence($event)" class="md-raised">
                                {{lang.internal_new}}
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-disabled="ctrl.saveInProgress"
                                       ng-click="ctrl.cancelAddCorrespondence($event)" class="md-raised">
                                {{lang.internal_cancel}}
                            </md-button>
                        </div>
                        <div ng-if="ctrl.internal.hasVsId() && ctrl.requestCompleted">
                            <md-input-container class="mt5">
                                <label for="documentAction">{{lang.document_action}}</label>
                                <md-select name="documentAction" id="documentAction"
                                           ng-disabled="!ctrl.isActionsAvailable || ctrl.saveInProgress"
                                           ng-hide="!ctrl.isActionsAvailable"
                                           ng-model="ctrl.documentAction">
                                    <md-option ng-value="action" class="{{action.class}}"
                                               ng-if="action.checkShow(action, ctrl.internal, $index)"
                                               ng-repeat="action in ctrl.documentActions track by $index">
                                        {{action.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.internal.hasVsId() && ctrl.requestCompleted">
                            <md-button class="md-raised" ng-disabled="!ctrl.documentAction || ctrl.saveInProgress"
                                       ng-hide="!ctrl.isActionsAvailable"
                                       ng-click="ctrl.performDocumentAction($event)">{{lang.action_submit}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
