<div id="login-page" layout="row">
    <div id="login-background" ng-class="{'flip-bg':login.flipBg}"></div>
    <div layout="column" flex ng-if="mediaSize('gt-sm')" ng-class="{'md':mediaSize('md')}" id="login-meta-wrapper">
        <div layout="row">
            <div class="login-logo-side">
                <img ng-if="login.rootEntity.getLoginLogoUrl()" ng-src="{{login.rootEntity.getLoginLogoUrl()}}"
                     alt="{{login.rootEntity.getTranslatedAppName()}}">
                <img ng-if="!login.rootEntity.getLoginLogoUrl()" src="../../assets/images/ebla-logo.png"
                     alt="{{login.rootEntity.getTranslatedAppName()}}">
            </div>
            <div id="application-meta" layout="column" flex>
                <h2>{{login.rootEntity.getTranslatedName()}}</h2>
                <h4>{{login.rootEntity.getTranslatedAppName()}} - {{ lang.application_description }}</h4>
            </div>
        </div>
        <div flex>
            <login-announcement-directive classes="absolute-announcements"
                                          announcements="login.announcements"></login-announcement-directive>
        </div>
    </div>
    <div scroll-directive md-whiteframe="3" layout="column" ng-class="{'gt-sm':mediaSize('gt-sm')}"
         id="login-form-wrapper">
        <div ng-if="!mediaSize('gt-sm')" id="login-logo" layout="column" layout-align="center center">
            <img ng-if="login.rootEntity.getLoginLogoUrl()" ng-src="{{login.rootEntity.getLoginLogoUrl()}}"
                 alt="{{login.rootEntity.getTranslatedAppName()}}">
            <img ng-if="!login.rootEntity.getLoginLogoUrl()" src="../../assets/images/ebla-logo.png"
                 alt="{{login.rootEntity.getTranslatedAppName()}}">
        </div>
        <div ng-if="!mediaSize('gt-sm')" class="small-h application-data" layout="column" layout-align="center center">
            <h2>{{login.rootEntity.getTranslatedName()}}</h2>
            <h4>{{login.rootEntity.getTranslatedAppName()}} - {{ lang.application_description }}</h4>
        </div>
        <div layout-align="start center" layout="row">

            <h4 class="login-title" flex>{{lang.login_to_your_account}}</h4>
            <div>
                <md-menu-bar id="login-select-language">
                    <md-menu>
                        <md-button aria-label="{{lang.select_lang}}" class="md-icon-button" ng-click="$mdMenu.open()"
                                   tooltip="{{langService.getKey('select_lang', 'en') + ' / ' + langService.getKey('select_lang', 'ar')}}"
                                   tooltip-direction="{{lang.current === 'en' ? 'left' : 'right'}}">
                            <md-icon md-svg-icon="google-translate"></md-icon>
                        </md-button>
                        <md-menu-content id="login-select-language-content" width="3">
                            <md-menu-item ng-class="{'selected':langService.is(language)}"
                                          ng-repeat="language in languages track by $index">
                                <md-button aria-label="{{language.title}}"
                                           ng-click="langService.setSelectedLanguage(language)">
                                    <div layout-align="start center" layout="row">
                                        <div><img ng-src="assets/images/{{language.image}}.png"></div>
                                        <span class="language-title">{{language.title}}</span>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
        <form name="login_form" enter-submit-directive="login-button" autocomplete="off" novalidate>
            <div layout="row">
                <md-input-container flex>
                    <input name="username" md-autofocus required ng-model="login.credentials.username"
                           placeholder="{{lang.username}}">
                    <div ng-messages="login_form.username.$error">
                        <div ng-message="required">{{lang.field_required}}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <input type="password" name="password" required ng-model="login.credentials.password"
                           placeholder="{{lang.password}}">
                    <div ng-messages="login_form.password.$error">
                        <div ng-message="required">{{lang.field_required}}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column">
                <md-button id="login-button" ng-disabled="login.loginStatus || login_form.$invalid"
                           ng-click="login.login($event)"
                           class="md-raised md-primary">{{lang.login}}
                </md-button>
            </div>
            <br/>
            <br/>
            <div ng-if="login.loginStatus" layout="row">
                <md-progress-linear md-mode="intermediate"></md-progress-linear>
            </div>
        </form>
        <div class="help-text" layout="column" layout-align="center center">
            <div layout="row">
                <span flex></span>
                <a href="" ng-click="login.showHelp($event)" ng-if="login.isHelpAvailable()">{{lang.help}}</a>
                <span ng-if="login.isHelpAvailable()">&nbsp; | &nbsp;</span>
                <a href="" ng-click="login.showTerms($event)">Terms</a>
                <span flex=""></span>
            </div>
            <div layout="row">
                <span flex></span>
                <a target="_blank" href="https://www.veracode.com/verified/directory/ebla-computer-consultancy">
                    <img width="60"
                         src="assets/images/vcode.png"
                         tooltip="Verified by Veracode"
                         alt="Verified by Veracode!">
                </a>
                <span flex></span>
            </div>
        </div>
        <br>
        <div class="copyright-text" layout="row" layout-align="center end"
             ng-if="login.rootEntity.settings.showCopyrightText">
            {{login.rootEntity.settings.copyrightText}}
        </div>
    </div>
</div>
