<!-- start of view -->
<div background-directive="short" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{lang.menu_item_organization_chart}}</span>
            <!--<md-button ng-click="ctrl.selectOrganizationToAdd($event)" class="md-icon-button" tooltip="{{lang.add}}">-->
            <!--<md-icon md-svg-icon="plus"></md-icon>-->
            <!--</md-button>-->
            <md-button ng-click="ctrl.reloadOrganizations(false, 1)" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <md-button ng-if="ctrl.needSync" ng-click="ctrl.syncOrganizations()" class="md-icon-button"
                       tooltip="{{lang.sync_organizations}}">
                <md-icon md-svg-icon="sync"></md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-click="ctrl.resetViewCallback()" class="md-icon-button"
                       tooltip="{{lang.reset}}">
                <md-icon md-svg-icon="eye-off"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.exportOrganizations()" class="md-icon-button"
                       tooltip="{{lang.export}}">
                <md-icon md-svg-icon="file-export"></md-icon>
            </md-button>
        </div>

        <md-tabs md-selected="ctrl.selectedTabIndex" class="content white-bg">
            <md-tab label="{{lang.organization_view}}"
                    md-on-select="ctrl.setCurrentTab('chart')"
                    ng-if="ctrl.showTab('chart')">
                <md-content layout="column" class="block-content over-flow-hidden">
                    <organization-chart-d3-directive
                            reload-callback="ctrl.reloadOrganizations"></organization-chart-d3-directive>
                </md-content>
            </md-tab>
            <!--<md-tab label="{{lang.hierarchy_view}}">
                <md-content scroll-directive class="block-content over-flow-hidden">
                    <organization-hierarchy-view-directive></organization-hierarchy-view-directive>
                </md-content>
            </md-tab>-->
            <md-tab label="{{lang.grid_view}}"
                    md-on-select="ctrl.setCurrentTab('grid')"
                    ng-if="ctrl.showTab('grid')">
                <md-content class="white-bg p20">
                    <organizations-list-directive
                            organizations-list="ctrl.organizationsList"
                            reset-view="ctrl.resetView"
                            reload-callback="ctrl.reloadOrganizations"
                    ></organizations-list-directive>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
<!-- end of view -->
