<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_outgoing_rejected}}</span>
            <!--<md-button ng-click="ctrl.openAddRejectedOutgoingDialog($event)" class="md-icon-button" tooltip="{{lang.add}}">
                <md-icon md-svg-icon="plus"></md-icon>
            </md-button>-->
            <md-button ng-click="ctrl.reloadRejectedOutgoings()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedRejectedOutgoings"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedRejectedOutgoings.length > 1 ? 5 : 6}}"
                                            ng-if="ctrl.selectedRejectedOutgoings.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedRejectedOutgoings.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <!--ng-if="ctrl.selectedRejectedOutgoings.length > 1"-->
                                                <md-button class="md-icon-button"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('LAUNCH_DISTRIBUTION_WORKFLOW')"
                                                           tooltip="{{lang.grid_action_launch_distribution_workflow}}"
                                                           ng-click="ctrl.launchDistributionWorkflowBulk($event)">
                                                    <md-icon md-svg-icon="sitemap" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.grid_action_archive}}"
                                                           ng-click="ctrl.archiveOutgoingBulk($event)">
                                                    <md-icon md-svg-icon="archive" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.grid_action_send_to_review}}"
                                                           ng-click="ctrl.sendToReviewBulk($event)">
                                                    <md-icon md-svg-icon="send" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           tooltip="{{lang.remove}}"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('DELETE_OUTGOING')"
                                                           ng-click="ctrl.removeBulkRejectedOutgoings($event)">
                                                    <md-icon md-svg-icon="delete" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column md-order-by="">
                                            <!-- Paper/Electronic Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                            <span>{{lang.priority_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('securityLevel', 'Lookup')}}">
                                            <span>{{lang.security_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('creatorInfo', 'Information')}}">
                                            <span>{{lang.creator}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length" md-column
                                            md-order-by="createdOn">
                                            <span>{{lang.created_on}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedRejectedOutgoings.length && ctrl.selectedRejectedOutgoings.length < 2"
                                            md-column>
                                            <span></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="rejectedOutgoing" grid-right-click-directive
                                        model="rejectedOutgoing"
                                        selected-length="{{ctrl.selectedRejectedOutgoings.length ? ctrl.selectedRejectedOutgoings.length : 0}}"
                                        ng-repeat="rejectedOutgoing in searchResults = (ctrl.rejectedOutgoings  | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit))  track by $index">
                                        <td md-cell class="indicator-td">
                                            <!-- Electronic/Paper Document -->
                                            <grid-indicator-directive record="rejectedOutgoing"
                                                                      indicator-type="paperElectronic"
                                                                      record-type="outgoing"></grid-indicator-directive>
                                        </td>
                                        <td md-cell class="td-data">
                                            <a href="" class="view-doc" ng-if="rejectedOutgoing.hasContent()"
                                               ng-click="ctrl.viewDocument(rejectedOutgoing, $event)">{{rejectedOutgoing.docSubject}}</a>
                                            <span ng-if="!rejectedOutgoing.hasContent()">{{rejectedOutgoing.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{rejectedOutgoing.priorityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedOutgoing.securityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedOutgoing.creatorInfo.getTranslatedName()}}</td>
                                        <td md-cell>{{rejectedOutgoing.createdOn}}</td>
                                        <td md-cell ng-if="ctrl.selectedRejectedOutgoings.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedRejectedOutgoings.length
                                                  || ctrl.selectedRejectedOutgoings.length===1 && ctrl.selectedRejectedOutgoings[0].id === rejectedOutgoing.id">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="rejectedOutgoing">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.rejectedOutgoings.length">
                                        <td md-cell colspan="7" class="red-text text-center">{{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.rejectedOutgoings.length && !searchResults.length">
                                        <td md-cell colspan="7" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.rejectedOutgoings  | filter:ctrl.searchModel).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
