<!-- start of view -->
<div background-directive="tall" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.quick_search}}</span>
            <md-button ng-click="ctrl.reloadQuickSearchCorrespondence()" class="md-icon-button"
                       tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <md-button ng-if="ctrl.quickSearchCorrespondence.length"
                       ng-click="ctrl.printResult($event)" class="md-icon-button"
                       tooltip="{{lang.print}}">
                <md-icon md-svg-icon="printer"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <grid-search-directive grid="ctrl.grid"></grid-search-directive>
        </div><!-- page-header -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table
                                       md-row-select="true"
                                       multiple="true"
                                       ng-model="ctrl.selectedQuickSearchCorrespondence"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedQuickSearchCorrespondence.length > 1 ? 8 : 9}}"
                                            class="table-selector-header"
                                            ng-if="ctrl.selectedQuickSearchCorrespondence.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedQuickSearchCorrespondence.length}} {{lang.items_selected}} </span>
                                            </div>
                                        </th>
                                        <th md-column>
                                            <!-- Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="docFullSerial">
                                            <span>{{lang.label_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                            <span>{{lang.priority_level}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('docType', 'DocumentType')}}">
                                            <span>{{lang.label_document_type}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="createdBy">
                                            <span>{{lang.created_by}}</span></th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column
                                            md-order-by="createdOn">
                                            <span>{{lang.created_on}}</span></th>
                                        <th ng-if="!ctrl.selectedQuickSearchCorrespondence.length" md-column>
                                            {{lang.action}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row
                                        grid-right-click-directive model="quickSearch"
                                        selected-length="{{ctrl.selectedQuickSearchCorrespondence.length ? ctrl.selectedQuickSearchCorrespondence.length : 0}}"
                                        md-select="quickSearch"
                                        ng-repeat="quickSearch in searchResults = (ctrl.quickSearchCorrespondence | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                        <td md-cell class="indicator-td">
                                            <!-- Security Level -->
                                            <grid-indicator-directive record="quickSearch"
                                                                      indicator-type="docClass"
                                                                      record-type="correspondence"></grid-indicator-directive>
                                            <!-- Paper/Electronic-->
                                            <grid-indicator-directive record="quickSearch"
                                                                      indicator-type="paperElectronic"
                                                                      record-type="correspondence"></grid-indicator-directive>
                                            <!-- Site Follow up Due Date -->
                                            <grid-indicator-directive record="quickSearch"
                                                                      indicator-type="siteFollowUpDueDate"
                                                                      record-type="correspondence"></grid-indicator-directive>
                                        </td>
                                        <td md-cell><span class="serial-td">{{quickSearch.docFullSerial}}</span></td>
                                        <td md-cell class="subject">
                                            <!--<grid-document-subject-directive record="quickSearch"
                                                                             plain-text-only="!quickSearch.hasContent()"
                                                                             click-callback="ctrl.viewDocument">
                                            </grid-document-subject-directive>-->
                                            <a href="" ng-if="quickSearch.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{quickSearch.docSubject}}"
                                               ng-click="ctrl.viewDocument(quickSearch, $event)">{{quickSearch.docSubject}}</a>
                                            <span ng-if="!quickSearch.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{quickSearch.docSubject}}">{{quickSearch.docSubject}}</span>
                                            <a href="" ng-if="quickSearch.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{quickSearch.docSubject}}"
                                               ng-click="ctrl.viewDocument(quickSearch, $event)">{{quickSearch.docSubject}}</a>
                                            <span ng-if="!quickSearch.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{quickSearch.docSubject}}">{{quickSearch.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{quickSearch.priorityLevel.getTranslatedName()}}</td>
                                        <td md-cell>{{quickSearch.docType.getTranslatedName()}}</td>
                                        <td md-cell>{{quickSearch.createdBy}}</td>
                                        <td md-cell>{{quickSearch.createdOn}}</td>
                                        <td md-cell ng-if="ctrl.selectedQuickSearchCorrespondence.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedQuickSearchCorrespondence.length
                                                  || ctrl.selectedQuickSearchCorrespondence.length===1 && ctrl.selectedQuickSearchCorrespondence[0].id === quickSearch.id">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="quickSearch">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.quickSearchCorrespondence.length">
                                        <td md-cell colspan="8" class="red-text text-center">{{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="ctrl.quickSearchCorrespondence.length && !searchResults.length">
                                        <td md-cell colspan="8" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.quickSearchCorrespondence).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div><!-- page-content-->
    </div>
</div>
<!-- end of view -->
