<!-- start of view -->
<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div class="z-index-4">
            <md-sidenav id="sidebar-folder-structure" md-is-open="ctrl.sidebarStatus"
                        ng-class="{'md-sidenav-right':lang.current === 'ar'}">
                <div class="p20 first-folder-list" layout="column">
                    <div layout="column">
                        <span>{{lang.results_count}} : {{ctrl.results.length}}</span>
                        <div>
                            <md-button class="md-primary md-raised" ng-click="ctrl.clearFacets()">{{lang.clear}}
                            </md-button>
                            <md-button class="md-primary md-raised" ng-click="ctrl.searchWithFacets()">{{lang.filter}}
                            </md-button>
                        </div>
                    </div>
                    <fieldset ng-repeat="facet in ctrl.facetsArray" ng-if="ctrl[facet.key].facets.length">
                        <legend>{{facet.label}}</legend>
                        <div layout="column">
                            <md-checkbox ng-model="item.isSelected"
                                         ng-change="ctrl.facetChanged(facet.key, item)"
                                         ng-repeat="item in ctrl[facet.key].facets | limitTo: ctrl[facet.key].limit">
                                {{item.valueInfo.getTranslatedName()}} <!-- - ({{item.count}})-->
                            </md-checkbox>

                            <span ng-if="ctrl[facet.key].facets.length > ctrl.facetsLimit">
                               <a class="cursor-pointer"
                                  ng-click="ctrl.toggleFacet(facet.key)">{{ctrl[facet.key].expanded ? lang.show_less : lang.show_more}}</a>
                            </span>
                        </div>
                    </fieldset>
                </div>
            </md-sidenav>
        </div>
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{ lang.menu_item_intelligence_search}}</span>
            <md-button ng-click="ctrl.reloadSearchCorrespondence()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <md-button ng-if="ctrl.isShowButton()" ng-click="ctrl.displayFacetsSidebar()" class="md-icon-button"
                       tooltip="{{lang.show_search_facets}}">
                <md-icon md-svg-icon="filter"></md-icon>
            </md-button>
            <md-button ng-if="ctrl.isShowButton()" ng-click="ctrl.printResult($event)" class="md-icon-button"
                       tooltip="{{lang.print}}">
                <md-icon md-svg-icon="printer"></md-icon>
            </md-button>
            <span flex></span>
            <!--            <div class="p020">-->
            <!--                <md-switch aria-label="{{lang.truncate_subject}}"-->
            <!--                           ng-if="ctrl.isShowButton()"-->
            <!--                           ng-model="ctrl.searchScreens[ctrl.selectedTabName].controller.grid.truncateSubject"-->
            <!--                           ng-change="ctrl.searchScreens[ctrl.selectedTabName].controller.grid.setTruncateSubject($event)">-->
            <!--                    <span>{{lang.truncate_subject}} : </span>-->
            <!--                    {{ctrl.searchScreens[ctrl.selectedTabName].controller.grid.truncateSubject ? lang.yes : lang.no }}-->
            <!--                </md-switch>-->
            <!--            </div>-->
        </div><!-- page-header -->
        <div class="search-forms">
            <md-tabs class="content white-bg"
                     md-selected="ctrl.selectedTab">
                <md-tab label="{{lang.search}}">
                    <md-content scroll-directive class="page-padding">
                        <br/>
                        <form name="msSearch" enter-submit-directive="search-button">
                            <div layout="row">
                                <md-input-container flex="">
                                    <label for="year">{{lang.search_module_year}}</label>
                                    <md-select data-md-container-class="select-header-container sticky-search-bar"
                                               id="year"
                                               name="year"
                                               ng-change="ctrl.onYearChanged($event)"
                                               md-on-close="ctrl.yearSearchText = ''"
                                               ng-model="ctrl.criteria.year">
                                        <md-select-header class="select-header" layout="column">
                                            <div layout="row" flex class="size-100">
                                                <input ng-model="ctrl.yearSearchText"
                                                       type="search"
                                                       ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                       placeholder="{{lang.search}}"
                                                       class="select-header-input">
                                            </div>
                                        </md-select-header>
                                        <md-option ng-value="'All'">{{lang.all}}</md-option>
                                        <md-option
                                                ng-value="year"
                                                ng-repeat="year in ctrl.years|filter:ctrl.yearSearchText">
                                            {{year}}
                                        </md-option>
                                    </md-select>
                                    <md-button class="md-icon-button cms-select-overlay-button"
                                               tooltip="{{lang.change_date_range}}"
                                               ng-click="ctrl.changeYearRange($event)">
                                        <md-icon md-svg-icon="calendar-today"></md-icon>
                                    </md-button>
                                </md-input-container>
                                <md-input-container class="cms-datepicker md-block"
                                                    flex>
                                    <label>{{lang.search_module_start_date}}</label>
                                    <input readonly disabled value="{{ctrl.criteria.fromDate}}"/>
                                </md-input-container>
                                <md-input-container class="cms-datepicker md-block"
                                                    flex>
                                    <label>{{lang.search_module_end_date}}</label>
                                    <input readonly disabled value="{{ctrl.criteria.toDate}}"/>
                                </md-input-container>
                            </div>
                            <div flex layout="row">
                                <!--                            <md-input-container flex>-->
                                <!--                                <label for="keyWords">{{lang.content}}</label>-->
                                <!--                                <textarea ng-model="ctrl.criteria.keyWords" id="keyWords" flex rows="5"></textarea>-->
                                <!--                            </md-input-container>-->

                                <md-autocomplete flex required md-input-id="keyWordsAutoComplete"
                                                 md-input-name="keyWordsAutoComplete"
                                                 md-input-minlength="3"
                                                 md-input-maxlength="30"
                                                 md-no-cache="true"
                                                 md-selected-item="ctrl.selectedSearchItem"
                                                 md-search-text="ctrl.criteria.keyWords"
                                                 md-items="item in ctrl.queryTextSearch(ctrl.searchText)"
                                                 md-item-text="item.text"
                                                 md-escape-options="clear"
                                                 md-require-match="false"
                                                 md-delay="300"
                                                 md-clear-button="true"
                                                 md-floating-label="{{lang.content}}"
                                                 input-aria-describedby="favoriteStateDescription">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.criteria.keyWords">{{item.text}}</span>
                                    </md-item-template>
                                    <div ng-messages="msSearch.keyWordsAutoComplete.$error">
                                        <div ng-message="maxlength">{{lang.max_length.change({length: 30})}}
                                        </div>
                                        <div ng-message="minlength">{{lang.min_length.change({length: 3})}}
                                        </div>
                                    </div>
                                    <span class="hint hint-reference-xl">{{lang.autocomplate_work_for_document_title_only}}</span>
                                </md-autocomplete>
                            </div>
                        </form>
                        <div layout="row">
                            <div>
                                <md-button id="search-button" ng-disabled="msSearch.$invalid" ng-click="ctrl.search()"
                                           class="md-raised md-primary">{{lang.search}}
                                </md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.search_module_search_results}}">
                    <md-table-container>
                        <div flex scroll-directive>
                            <table md-table md-row-select multiple
                                   ng-model="ctrl.selectedItems"
                                   md-progress="ctrl.grid.progress">
                                <thead md-head md-order="ctrl.grid.order"
                                       md-on-reorder="ctrl.getSortedData">
                                <tr md-row>
                                    <th colspan="{{ctrl.selectedItems.length > 1 ? 8 : 9}}"
                                        ng-if="ctrl.selectedItems.length"
                                        md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedItems.length}} {{lang.items_selected}} </span>
                                            <span flex></span>
                                            <md-button class="md-icon-button" class="action-green"
                                                       tooltip="{{lang.grid_action_add_to_favorite}}"
                                                       ng-if="ctrl.selectedItems.length"
                                                       ng-click="ctrl.addToFavoriteBulk($event)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </md-button>
                                        </div>
                                    </th>
                                    <th md-column>
                                        <!-- Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length"
                                        md-column
                                        md-order-by="docSerial">
                                        <span>{{lang.label_serial}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length"
                                        md-column
                                        md-order-by="docSubject">
                                        <span>{{lang.subject}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length"
                                        md-column
                                        md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                        <span>{{lang.priority_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length"
                                        md-column
                                        md-order-by="{{ctrl.getSortingKey('creatorInfo', 'DocumentType')}}">
                                        <span>{{lang.creator}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length"
                                        md-column
                                        md-order-by="createdOn">
                                        <span>{{lang.created_on}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedItems.length && ctrl.selectedItems.length < 2"
                                        md-column>
                                        <span></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="item" grid-right-click-directive
                                    context-menu-actions="ctrl.contextMenuActions"
                                    model="item"
                                    selected-length="{{ctrl.selectedItems.length ? ctrl.selectedItems.length : 0}}"
                                    ng-repeat="item in searchResults = (ctrl.results | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                    <td md-cell class="indicator-td">
                                        <!-- Security Level -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="securityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Document Class (Outgoing/Incoming/Internal) -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="docClass"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Paper/Electronic-->
                                        <grid-indicator-directive record="item"
                                                                  ng-if="item.getInfo().documentClass !== 'incoming'"
                                                                  indicator-type="paperElectronic"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Priority Level -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="priorityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Has Attachments -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="hasAttachment"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Linked Documents -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="hasLinkedDocuments"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Site Follow up Due Date -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="siteFollowUpDueDate"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Site Follow up Ended -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="siteFollowUpEnded"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Sequential Workflow -->
                                        <grid-indicator-directive record="item"
                                                                  indicator-type="sequentialWF"
                                                                  record-type="Correspondence"></grid-indicator-directive>
                                        <span flex
                                              ng-class="{'indicator-content': item.followUpStatusIndicator}">
                                        <md-icon ng-if="item.followUpStatusIndicator"
                                                 class="{{item.followUpStatusIndicator.class}}"
                                                 md-svg-icon="{{item.followUpStatusIndicator.icon}}"
                                                 tooltip="{{lang[item.followUpStatusIndicator.tooltip].change({name: item.followupStatusLookup.getTranslatedName()})}}"
                                        ></md-icon>
                                    </span>
                                    </td>
                                    <td md-cell><span class="serial-td">{{item.docFullSerial}}</span>
                                    </td>
                                    <td md-cell class="subject">
                                        <!--<grid-document-subject-directive record="item"
                                                                         plain-text-only="!item.hasContent()"
                                                                         click-callback="ctrl.viewDocument">
                                        </grid-document-subject-directive>-->
                                        <a href=""
                                           ng-if="item.hasContent() && ctrl.grid.truncateSubject"
                                           class="view-doc subject-internal" md-truncate
                                           tooltip="{{item.docSubject}}"
                                           ng-click="ctrl.viewDocument(item, $event)">{{item.docSubject}}</a>
                                        <span ng-if="!item.hasContent() && ctrl.grid.truncateSubject"
                                              class="view-doc subject-internal" md-truncate
                                              tooltip="{{item.docSubject}}">{{item.docSubject}}</span>
                                        <a href=""
                                           ng-if="item.hasContent() && !ctrl.grid.truncateSubject"
                                           class="view-doc subject-internal"
                                           tooltip="{{item.docSubject}}"
                                           ng-click="ctrl.viewDocument(item, $event)">{{item.docSubject}}</a>
                                        <span ng-if="!item.hasContent() && !ctrl.grid.truncateSubject"
                                              class="view-doc subject-internal"
                                              tooltip="{{item.docSubject}}">{{item.docSubject}}</span>
                                    </td>
                                    <td md-cell>{{item.priorityLevel.getTranslatedName()}}</td>
                                    <td md-cell>{{item.creatorInfo.getTranslatedName()}}</td>
                                    <td md-cell>{{item.createdOn}}</td>
                                    <td md-cell
                                        ng-if="ctrl.selectedItems.length < 2">
                                        <div layout-align="start center" ng-if="!ctrl.selectedItems.length
                                                  || ctrl.selectedItems.length===1 && ctrl.selectedItems[0].id === item.id">
                                            <grid-actions-directive
                                                    shortcut-actions="ctrl.shortcutActions"
                                                    model="item">
                                            </grid-actions-directive>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row
                                    ng-if="!ctrl.results.length">
                                    <td md-cell colspan="8" class="red-text text-center">
                                        {{lang.no_records_found}}
                                    </td>
                                </tr>
                                <tr md-row
                                    ng-if="ctrl.results.length && !searchResults.length">
                                    <td md-cell colspan="8" class="red-text text-center">
                                        {{lang.no_records_found_matching_search}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit"
                                md-page="ctrl.grid.page"
                                md-total="{{(ctrl.results | filter:ctrl.searchModel).length}}"
                                md-page-select
                                md-on-paginate="ctrl.grid.pagingCallback">
                        </md-table-pagination>
                    </md-table-container>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
</div>
<!-- end of view -->
