<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{lang.menu_item_search_module_general}}</span>
            <md-button ng-if="ctrl.selectedTab===1" ng-click="ctrl.reloadSearchedGeneralDocuments()"
                       class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <md-button ng-if="ctrl.searchedGeneralDocuments.length" ng-click="ctrl.printResult($event)"
                       class="md-icon-button" tooltip="{{lang.print}}">
                <md-icon md-svg-icon="printer"></md-icon>
            </md-button>
            <span flex=""></span>
            <div class="p020" ng-if="ctrl.selectedTabName === 'result'">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
        </div>

        <ng-form class="white-bg" name="searchGeneralForm" id="searchGeneralForm" flex layout="column"
                 autocomplete="off" enter-submit-directive="btn_SearchGeneral">
            <md-tabs class="content white-bg" md-selected="ctrl.selectedTab">
                <!-- EDIT/NEW SEARCH TAB -->
                <md-tab label="{{lang.search}}" md-on-select="ctrl.setCurrentTab('search')">
                    <md-content scroll-directive class="white-bg page-padding">

                        <accordion-directive label-collapse="true" validation="false">
                            <accordion-item active>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="database-search"></md-icon>
                                        <span> {{lang.search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            load-sub-organizations="ctrl.loadSubOrganizations"
                                            empty-results="ctrl.emptyResults"
                                            source-form="searchGeneralForm"
                                            registry-organizations="ctrl.registryOrganizations"
                                            document="ctrl.searchGeneral"
                                            search-type="basic"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>

                            <accordion-item>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="file-document-box"></md-icon>
                                        <span> {{lang.search_module_advanced_search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            source-form="searchGeneralForm"
                                            document="ctrl.searchGeneral"
                                            search-type="advanced"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>
                        </accordion-directive>
                        <div layout="row" ng-if="ctrl.selectedTab===0" layout-align="start center">
                            <!--ng-class="{'static-button':ctrl.showAdvancedSearch }"-->
                            <md-button ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}"
                                       class="md-raised" ng-disabled="searchGeneralForm.$invalid"
                                       id="btn_SearchGeneral"
                                       ng-click="ctrl.search()">{{lang.search}}
                            </md-button>
                            <md-button class="md-raised"
                                       ng-click="ctrl.resetFilters(searchGeneralForm)">
                                {{lang.search_module_reset_filters}}
                            </md-button>
                            <span flex></span>
                            <md-button class="md-raised hidden"
                                       ng-click="ctrl.saveSearch(searchGeneralForm)">
                                {{lang.search_module_save_search}}
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.search_module_search_results}}" ng-if="ctrl.showResults"
                        md-on-select="ctrl.setCurrentTab('result')">
                    <md-table-container>
                        <div flex scroll-directive>
                            <table md-table md-row-select multiple ng-model="ctrl.selectedSearchedGeneralDocuments"
                                   md-progress="ctrl.progress">
                                <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                <tr md-row>
                                    <th colspan="{{ctrl.selectedSearchedGeneralDocuments.length > 1 ? 8 : 9}}"
                                        ng-if="ctrl.selectedSearchedGeneralDocuments.length" md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedSearchedGeneralDocuments.length}} {{lang.items_selected}} </span>
                                            <span flex></span>
                                            <!--<md-button class="md-icon-button" ng-if="ctrl.employeeService.hasPermissionTo('LAUNCH_DISTRIBUTION_WORKFLOW')"
                                                       ng-if="ctrl.selectedSearchedGeneralDocuments.length > 1"
                                                       tooltip="{{lang.grid_action_launch_distribution_workflow}}"
                                                       ng-click="ctrl.launchDistributionWorkflowBulk($event)">
                                                <md-icon md-svg-icon="sitemap"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button"
                                                       tooltip="{{lang.grid_action_archive}}"
                                                       ng-if="ctrl.selectedSearchedGeneralDocuments.length > 1"
                                                       ng-click="ctrl.archiveGeneralBulk($event)">
                                                <md-icon md-svg-icon="stop"></md-icon>
                                            </md-button>-->
                                            <!-- Add to Favorite -->
                                            <md-button class="md-icon-button" class="action-green"
                                                       tooltip="{{lang.grid_action_add_to_favorite}}"
                                                       ng-if="ctrl.selectedSearchedGeneralDocuments.length"
                                                       ng-click="ctrl.addToFavoriteBulk($event)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </md-button>
                                        </div>
                                    </th>
                                    <th md-column>
                                        <!-- Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="docFullSerial">
                                        <span>{{lang.label_serial}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="docSubject">
                                        <span>{{lang.subject}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                        <span>{{lang.priority_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('docTypeForSearchGrid', 'DocumentType')}}">
                                        <span>{{lang.label_document_type}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('creatorInfo', 'DocumentType')}}">
                                        <span>{{lang.creator}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length" md-column
                                        md-order-by="createdOn">
                                        <span>{{lang.created_on}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedGeneralDocuments.length && ctrl.selectedSearchedGeneralDocuments.length < 2"
                                        md-column>
                                        <span></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="searchedGeneralDocument" grid-right-click-directive
                                    model="searchedGeneralDocument"
                                    selected-length="{{ctrl.selectedSearchedGeneralDocuments.length ? ctrl.selectedSearchedGeneralDocuments.length : 0}}"
                                    ng-repeat="searchedGeneralDocument in searchResults = (ctrl.searchedGeneralDocuments | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                    <td md-cell class="indicator-td">
                                        <!-- Security Level -->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="securityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Document Class (Outgoing/Incoming/Internal) -->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="docClass"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Paper/Electronic-->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  ng-if="searchedGeneralDocument.getInfo().documentClass !== 'incoming'"
                                                                  indicator-type="paperElectronic"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Priority Level -->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="priorityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Has Attachments -->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="hasAttachment"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Linked Documents -->
                                        <grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="hasLinkedDocuments"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Follow up Status -->
                                        <!--<grid-indicator-directive record="searchedGeneralDocument"
                                                                  indicator-type="followupStatus"
                                                                  record-type="correspondence"></grid-indicator-directive>-->
                                        <span flex
                                              ng-class="{'indicator-content': searchedGeneralDocument.followUpStatusIndicator}">
                                        <md-icon ng-if="searchedGeneralDocument.followUpStatusIndicator"
                                                 class="{{searchedGeneralDocument.followUpStatusIndicator.class}}"
                                                 md-svg-icon="{{searchedGeneralDocument.followUpStatusIndicator.icon}}"
                                                 tooltip="{{lang[searchedGeneralDocument.followUpStatusIndicator.tooltip].change({name: searchedGeneralDocument.followupStatusLookup.getTranslatedName()})}}"
                                        ></md-icon>
                                    </span>
                                    </td>
                                    <td md-cell><span class="serial-td">{{searchedGeneralDocument.docFullSerial}}</span>
                                    </td>
                                    <td md-cell class="subject">
                                        <!--<grid-document-subject-directive record="searchedGeneralDocument"
                                                                         plain-text-only="!searchedGeneralDocument.hasContent()"
                                                                         click-callback="ctrl.viewDocument">
                                        </grid-document-subject-directive>-->
                                        <a href="" ng-if="searchedGeneralDocument.hasContent() && ctrl.grid.truncateSubject"
                                           class="view-doc subject-internal" md-truncate
                                           tooltip="{{searchedGeneralDocument.docSubject}}"
                                           ng-click="ctrl.viewDocument(searchedGeneralDocument, $event)">{{searchedGeneralDocument.docSubject}}</a>
                                        <span ng-if="!searchedGeneralDocument.hasContent() && ctrl.grid.truncateSubject"
                                              class="view-doc subject-internal" md-truncate
                                              tooltip="{{searchedGeneralDocument.docSubject}}">{{searchedGeneralDocument.docSubject}}</span>
                                        <a href="" ng-if="searchedGeneralDocument.hasContent() && !ctrl.grid.truncateSubject"
                                           class="view-doc subject-internal"
                                           tooltip="{{searchedGeneralDocument.docSubject}}"
                                           ng-click="ctrl.viewDocument(searchedGeneralDocument, $event)">{{searchedGeneralDocument.docSubject}}</a>
                                        <span ng-if="!searchedGeneralDocument.hasContent() && !ctrl.grid.truncateSubject"
                                              class="view-doc subject-internal"
                                              tooltip="{{searchedGeneralDocument.docSubject}}">{{searchedGeneralDocument.docSubject}}</span>
                                    </td>
                                    <td md-cell>{{searchedGeneralDocument.priorityLevel.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedGeneralDocument.docTypeInfo.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedGeneralDocument.creatorInfo.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedGeneralDocument.createdOn}}</td>
                                    <td md-cell ng-if="ctrl.selectedSearchedGeneralDocuments.length < 2">
                                        <div layout-align="start center" ng-if="!ctrl.selectedSearchedGeneralDocuments.length
                                                  || ctrl.selectedSearchedGeneralDocuments.length===1 && ctrl.selectedSearchedGeneralDocuments[0].id === searchedGeneralDocument.id">
                                            <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                    model="searchedGeneralDocument">
                                            </grid-actions-directive>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row ng-if="!ctrl.searchedGeneralDocuments.length">
                                    <td md-cell colspan="8" class="red-text text-center">{{lang.no_records_found}}</td>
                                </tr>
                                <tr md-row ng-if="ctrl.searchedGeneralDocuments.length && !searchResults.length">
                                    <td md-cell colspan="8" class="red-text text-center">
                                        {{lang.no_records_found_matching_search}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                md-total="{{(ctrl.searchedGeneralDocuments | filter:ctrl.searchModel).length}}"
                                md-page-select
                                md-on-paginate="ctrl.grid.pagingCallback">
                        </md-table-pagination>
                    </md-table-container>
                </md-tab>
            </md-tabs>
        </ng-form>

    </div>
</div>
