<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <div>
                <md-button layout="row" class="md-icon-button" ng-click="ctrl.toggleSidebarFolder()"><!--list-button-->
                    <md-icon md-svg-icon="file-tree" id="list-icon"></md-icon>
                    <!--<span class="list-counter">{{ctrl.inboxFolders.length}}</span>-->
                </md-button>
            </div>
            <span>{{lang.menu_item_my_followup}}</span>
            <md-button ng-click="ctrl.reloadFollowupBooks()" class="md-icon-button"
                       tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020" layout="row">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
                <md-switch aria-label="{{lang.show_due_date_passed_documents}}"
                           ng-model="ctrl.grid.isDueDatePassed"
                           ng-change="ctrl.grid.setIsDueDatePassed()">
                    <span>{{lang.show_due_date_passed_documents}} : </span>
                    {{ctrl.grid.isDueDatePassed ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <div layout-align="start center" layout="row" ng-if="ctrl.selectedFolder">
                <span>{{ctrl.selectedFolder.getTranslatedName()}}</span>
                <md-button class="md-icon-button no-click">
                    <md-icon md-svg-icon="folder"></md-icon>
                </md-button>
            </div>
            <md-button ng-if="ctrl.followupBooks.length"
                       ng-click="ctrl.printResult(false,$event)" class="md-icon-button" tooltip="{{lang.print}}">
                <md-icon md-svg-icon="printer"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.resetFilter($event)"
                       ng-if="ctrl.searchCriteriaUsed"
                       aria-label="{{lang.reset}}"
                       class="md-icon-button" tooltip="{{lang.reset}}">
                <md-icon md-svg-icon="filter-remove"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.openFilterDialog($event)"
                       aria-label="{{lang.filter}}"
                       class="md-icon-button" tooltip="{{lang.filter}}">
                <md-icon md-svg-icon="filter"></md-icon>
            </md-button>
            <!--<grid-search-directive grid="ctrl.grid"></grid-search-directive>-->
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div class="z-index-4">
                <md-sidenav id="sidebar-folder-structure" md-is-open="ctrl.sidebarStatus"
                            ng-class="{'md-sidenav-right':lang.current === 'ar'}">
                    <div>
                        <md-button class="md-raised md-primary" ng-click="ctrl.createFolder(false , $event)">
                            {{lang.add_root_folder}}
                        </md-button>
                    </div>
                    <div layout="column"> <!--class="p20 first-folder-list"-->
                        <folders-tree-structure-directive display-menu="true" counter-property="followupFolderCount"
                                                          count="true" disable-selected="0"
                                                          allow-control="true"
                                                          add-callback="ctrl.createFolder"
                                                          edit-callback="ctrl.editFolder"
                                                          delete-callback="ctrl.deleteFolder"
                                                          highlight-selected="ctrl.selectedFolder"
                                                          click-callback="ctrl.getFolderContent"
                                                          folders="ctrl.folders"
                                                          show-tooltip-name="true"></folders-tree-structure-directive>
                    </div>
                </md-sidenav>
            </div>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex overlay-scroll-bar-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedFollowupBooks"
                                       md-progress="ctrl.grid.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedFollowupBooks.length > 1 ? 12 : 13}}"
                                            ng-if="ctrl.selectedFollowupBooks.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedFollowupBooks.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <md-button class="md-icon-button"
                                                           ng-if="ctrl.checkIfTerminateBulkAvailable()"
                                                           aria-label="{{lang.grid_action_terminate_followup}}"
                                                           tooltip="{{lang.grid_action_terminate_followup}}"
                                                           ng-click="ctrl.terminateBulk($event)">
                                                    <md-icon md-svg-icon="stop" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.grid_action_move_to_folder}}"
                                                           tooltip="{{lang.grid_action_move_to_folder}}"
                                                           ng-click="ctrl.moveToFolderBulk($event)">
                                                    <md-icon md-svg-icon="folder-move" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.print}}"
                                                           tooltip="{{lang.print}}"
                                                           ng-click="ctrl.printResult(true,$event)">
                                                    <md-icon md-svg-icon="printer" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column md-order-by="">
                                            <!-- Security Level, Document type Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="docFullSerial">
                                            <span>{{lang.inbox_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column md-order-by="">
                                            <!-- Priority Level Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('statusInfo', 'Information')}}">
                                            <span>{{lang.followup_status}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="docDate">
                                            <span>{{lang.created_on}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="actionDate">
                                            <span>{{lang.action_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="followupDate">
                                            <span>{{lang.followup_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('mainSiteSubSiteString','Information')}}">
                                            <span>{{lang.correspondence_sites}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column
                                            md-order-by="numberOfDays">
                                            <span>{{lang.number_of_days}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length && ctrl.searchCriteriaUsed"
                                            md-column
                                            md-order-by="{{ctrl.getSortingKey('folderInfo', 'Information')}}">
                                            <span>{{lang.folder}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedFollowupBooks.length" md-column>
                                            <!-- Grid Actions -->
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="record" grid-right-click-directive="record"
                                        model="record"
                                        ng-class="record.isTerminated() ? 'background-gray': ''"
                                        selected-length="{{ctrl.selectedFollowupBooks.length ? ctrl.selectedFollowupBooks.length : 0}}"
                                        ng-repeat="record in searchResults = (ctrl.followupBooks | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">

                                        <td md-cell class="indicator-td">
                                            <!-- Security Level -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="securityLevel"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                            <!-- Doc Type -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="docClass"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                            <!-- Book Follow up Due Date (this indicator is used to show followup date of book. its not showing info for correspondence site followup date) -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="siteFollowUpDueDate"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                            <!-- Shared Book -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="sharedFollowup"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                            <!-- last comment -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="lastComment"
                                                                      record-type="FollowupBook"
                                                                      callback="ctrl.showLastCommentCallback"></grid-indicator-directive>
                                        </td>
                                        <td md-cell><span class="serial-td">{{record.docFullSerial}}</span></td>
                                        <td md-cell class="indicator-td text-right"
                                            style="padding-right:0 !important; padding-left:0 !important;">
                                            <!-- Priority Level -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="priorityLevel"
                                                                      record-type="record"></grid-indicator-directive>
                                        </td>
                                        <td md-cell class="subject">
                                            <!--<grid-document-subject-directive record="record"
                                                                             plain-text-only="!record.hasContent()"
                                                                             click-callback="ctrl.viewDocument">
                                            </grid-document-subject-directive>-->
                                            <a href="" ng-if="record.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{record.docSubject}}"
                                               ng-click="ctrl.viewDocument(record, $event)">{{record.docSubject}}</a>
                                            <span ng-if="!record.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{record.docSubject}}">{{record.docSubject}}</span>
                                            <a href="" ng-if="record.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{record.docSubject}}"
                                               ng-click="ctrl.viewDocument(record, $event)">{{record.docSubject}}</a>
                                            <span ng-if="!record.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{record.docSubject}}">{{record.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{record.statusInfo.getTranslatedName()}}</td>
                                        <td md-cell>{{record.docDateString}}</td>
                                        <td md-cell>{{record.actionDateString}}</td>
                                        <td md-cell class="td-data">
                                            <!-- Status(Terminated/Not Terminated) -->
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="status"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                            <grid-indicator-directive record="record"
                                                                      indicator-type="followupDate"
                                                                      record-type="FollowupBook"></grid-indicator-directive>
                                        </td>
                                        <td md-cell>
                                            <main-site-sub-site-directive
                                                    item="record"></main-site-sub-site-directive>
                                        </td>
                                        <td md-cell>{{record.numberOfDays}}</td>
                                        <td md-cell ng-if="ctrl.searchCriteriaUsed">
                                            {{record.folderInfo.getTranslatedName()}}
                                        </td>
                                        <td md-cell class="p-r0" ng-if="ctrl.selectedFollowupBooks.length < 2">
                                            <div layout-align="start center" flex ng-if="!ctrl.selectedFollowupBooks.length
                                                          || ctrl.selectedFollowupBooks.length===1 && ctrl.selectedFollowupBooks[0].vsId === record.vsId">
                                                <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                                        model="record">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.followupBooks.length && ctrl.selectedFolder">
                                        <td md-cell colspan="11" class="red-text text-center">
                                            {{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row
                                        ng-if="ctrl.followupBooksCopy.length && !searchResults.length && ctrl.searchCriteriaUsed">
                                        <td md-cell colspan="11" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.followupBooks).length}}" md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
