<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_sent_items}}</span>
            <md-button ng-click="ctrl.reloadUserSentItems()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <div class="p020">
                <md-switch aria-label="{{lang.truncate_subject}}"
                           ng-model="ctrl.grid.truncateSubject"
                           ng-change="ctrl.grid.setTruncateSubject($event)">
                    <span>{{lang.truncate_subject}} : </span>
                    {{ctrl.grid.truncateSubject ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <md-button ng-if="ctrl.userSentItems.length"
                       ng-click="ctrl.printResult($event)" class="md-icon-button" tooltip="{{lang.print}}">
                <md-icon md-svg-icon="printer"></md-icon>
            </md-button>

            <md-button ng-click="ctrl.resetFilter($event)"
                       ng-if="ctrl.searchCriteriaUsed"
                       aria-label="{{lang.reset}}"
                       class="md-icon-button" tooltip="{{lang.reset}}">
                <md-icon md-svg-icon="filter-remove"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.openFilterDialog($event)"
                       aria-label="{{lang.filter}}"
                       class="md-icon-button" tooltip="{{lang.filter}}">
                <md-icon md-svg-icon="filter"></md-icon>
            </md-button>
            <!--<grid-search-directive grid="ctrl.grid"
                                   server-side="true"
                                   placeholder="{{lang.document_subject}}"></grid-search-directive>-->
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex overlay-scroll-bar-directive>
                                <table md-table ng-model="ctrl.selectedUserSentItems"
                                       md-progress="ctrl.grid.progress"
                                       md-row-select multiple>
                                    <thead md-head md-order="ctrl.grid.order"
                                           md-on-reorder="ctrl.getSortedData">
                                    <!--md-on-reorder="ctrl.reloadUserSentItems"-->
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedUserSentItems.length > 1 ? 7 : 8}}"
                                            ng-if="ctrl.selectedUserSentItems.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedUserSentItems.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <div ng-if="ctrl.selectedUserSentItems.length > 1">
                                                    <md-button class="md-icon-button"
                                                               tooltip="{{lang.grid_action_recall}}"
                                                               ng-click="ctrl.recallBulkSentItems($event)"
                                                               ng-if="ctrl.canShowRecallBulk()">
                                                        <md-icon md-svg-icon="tag" class="action-red"></md-icon>
                                                    </md-button>
                                                    <!--<md-button class="md-icon-button"
                                                               tooltip="{{lang.grid_action_reassign}}"
                                                               ng-click="ctrl.reassignBulkSentItems($event)">
                                                        <md-icon md-svg-icon="tag" class="action-red"></md-icon>
                                                    </md-button>
                                                    -->
                                                </div>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="securityLevelIndicator.value.lookupKey">
                                            <!-- Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="docFullSerial">
                                            <span>{{lang.sent_items_serial_number}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column md-order-by="">
                                            <!-- Priority Level and Has Attachment Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.sent_items_document_subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="actionDate">
                                            <span>{{lang.action_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('action', 'WorkflowAction')}}">
                                            <span>{{lang.sent_items_action}}</span>
                                        </th>
                                        <!--<th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('userFromInfo', 'Information')}}">
                                            <span>{{lang.sent_items_sender}}</span>
                                        </th>-->
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="{{ctrl.getSortingKey('receiverInfo', 'Information')}}">
                                            <span>{{lang.sent_items_receiver}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                            md-order-by="comments">
                                            <span>{{lang.comment}}</span>
                                        </th>
                                        <!-- <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                             md-order-by="dueDate">
                                             <span>{{lang.sent_items_due_date}}</span>
                                         </th>
                                         <th ng-if="!ctrl.selectedUserSentItems.length" md-column
                                             md-order-by="{{ctrl.getSortingKey('mainSiteSubSiteString', 'Information')}}">
                                             <span>{{lang.sent_items_correspondence_site}}</span>
                                         </th>-->
                                        <th ng-if="!ctrl.selectedUserSentItems.length" md-column>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="userSentItem"
                                        grid-context-menu-directive="ctrl.contextMenuActions"
                                        context-menu-type="grid"
                                        selected-length="{{ctrl.selectedUserSentItems.length ? ctrl.selectedUserSentItems.length : 0}}"
                                        ng-repeat="userSentItem in ctrl.userSentItems track by $index">
                                        <!-- | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) -->
                                        <td md-cell class="indicator-td">
                                            <!-- Security Level -->
                                            <grid-indicator-directive record="userSentItem"
                                                                      indicator-type="securityLevel"
                                                                      record-type="EventHistory"></grid-indicator-directive>
                                            <!-- Doc Type -->
                                            <grid-indicator-directive record="userSentItem"
                                                                      indicator-type="docClass"
                                                                      record-type="EventHistory"></grid-indicator-directive>
                                            <!-- Sequential Workflow -->
                                            <grid-indicator-directive record="userSentItem"
                                                                      indicator-type="sequentialWF"
                                                                      record-type="EventHistory"></grid-indicator-directive>
                                            <!-- Linked Documents -->
                                            <!--<grid-indicator-directive record="userSentItem"
                                                                      indicator-type="hasLinkedDocs"
                                                                      record-type="EventHistory"></grid-indicator-directive>-->
                                            <!-- Follow up Status -->
                                            <!--<grid-indicator-directive record="userSentItem"
                                                                      indicator-type="followupStatus"
                                                                      record-type="EventHistory"></grid-indicator-directive>-->
                                        </td>
                                        <td md-cell><span class="serial-td">{{userSentItem.docFullSerial}}</span>
                                        </td>
                                        <td md-cell class="indicator-td text-right"
                                            style="padding-right:0 !important; padding-left:0 !important;">
                                            <!-- Priority Level -->
                                            <grid-indicator-directive record="userSentItem"
                                                                      indicator-type="priorityLevel"
                                                                      record-type="EventHistory"></grid-indicator-directive>
                                            <!-- &lt;!&ndash; Has Attachments &ndash;&gt;
                                             <grid-indicator-directive record="userSentItem" span-class="float-right"
                                                                       indicator-type="hasAttachment"
                                                                       record-type="EventHistory"></grid-indicator-directive>-->
                                        </td>
                                        <td md-cell class="subject">
                                            <!-- <grid-document-subject-directive record="userSentItem"
                                                                              plain-text-only="!userSentItem.hasContent()"
                                                                              click-callback="ctrl.viewDocument">
                                             </grid-document-subject-directive>-->
                                            <a href="" ng-if="userSentItem.hasContent() && ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal" md-truncate
                                               tooltip="{{userSentItem.docSubject}}"
                                               ng-click="ctrl.viewDocument(userSentItem, $event)">{{userSentItem.docSubject}}</a>
                                            <span ng-if="!userSentItem.hasContent() && ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal" md-truncate
                                                  tooltip="{{userSentItem.docSubject}}">{{userSentItem.docSubject}}</span>
                                            <a href="" ng-if="userSentItem.hasContent() && !ctrl.grid.truncateSubject"
                                               class="view-doc subject-internal"
                                               tooltip="{{userSentItem.docSubject}}"
                                               ng-click="ctrl.viewDocument(userSentItem, $event)">{{userSentItem.docSubject}}</a>
                                            <span ng-if="!userSentItem.hasContent() && !ctrl.grid.truncateSubject"
                                                  class="view-doc subject-internal"
                                                  tooltip="{{userSentItem.docSubject}}">{{userSentItem.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{userSentItem.actionDate}}</td>
                                        <!--<td md-cell>{{userSentItem.getTranslatedAction()}}</td>-->
                                        <td md-cell>{{userSentItem.action.getTranslatedName()}}</td>
                                        <!--<td md-cell>{{userSentItem.userFromInfo.getTranslatedName()}}</td>-->
                                        <td md-cell>{{userSentItem.receiverInfo.getTranslatedName()}}</td>
                                        <td tooltip="{{userSentItem.comments}}" md-cell>
                                            <div class="td-comments">{{userSentItem.comments}}</div>
                                        </td>
                                        <!--<td md-cell class="td-data">
                                            <grid-indicator-directive record="userSentItem"
                                                                      indicator-type="dueDate"
                                                                      record-type="EventHistory"></grid-indicator-directive>
                                        </td>
                                        <td md-cell>
                                            <main-site-sub-site-directive
                                                    item="userSentItem"></main-site-sub-site-directive>
                                        </td>-->
                                        <td md-cell ng-if="ctrl.selectedUserSentItems.length < 2">
                                            <div layout-align="start center" ng-if="!ctrl.selectedUserSentItems.length
                                                  || ctrl.selectedUserSentItems.length===1 && ctrl.selectedUserSentItems[0].id === userSentItem.id">
                                                <grid-shortcut-actions-directive actions="ctrl.shortcutActions"
                                                                                 model="userSentItem">
                                                </grid-shortcut-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="!ctrl.userSentItemsCopy.length">
                                        <td md-cell colspan="8" class="red-text text-center">
                                            {{lang.no_records_found}}
                                        </td>
                                    </tr>
                                    <tr md-row
                                        ng-if="ctrl.userSentItemsCopy.length && !ctrl.userSentItems.length">
                                        <td md-cell colspan="8" class="red-text text-center">
                                            {{lang.no_records_found_matching_search}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{ctrl.totalRecords}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
