<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_workflow_actions}}</span>
            <md-button ng-click="ctrl.openAddWorkflowActionDialog($event)" class="md-icon-button"
                       tooltip="{{lang.add}}">
                <md-icon md-svg-icon="plus"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.reloadWorkflowActions()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <grid-search-directive grid="ctrl.grid"></grid-search-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div table-height-directive overlay-scroll-bar-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedWorkflowActions"
                                       md-progress="ctrl.grid.progress">
                                    <thead fix-head md-head md-order="ctrl.grid.order"
                                           md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="4" ng-if="ctrl.selectedWorkflowActions.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedWorkflowActions.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <md-button class="md-icon-button"
                                                           ng-click="ctrl.removeBulkWorkflowActions($event)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkflowActions.length" md-column md-order-by="arName">
                                            <span>{{lang.arabic_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkflowActions.length" md-column md-order-by="enName">
                                            <span>{{lang.english_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkflowActions.length" md-column
                                            md-order-by="isGlobal">
                                            <span>{{lang.global}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkflowActions.length" md-column>
                                            <span>{{lang.actions}}</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="workflowAction"
                                        ng-repeat="workflowAction in ctrl.workflowActions | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                        <td md-cell>{{workflowAction.arName}}</td>
                                        <td md-cell>{{workflowAction.enName}}</td>
                                        <td md-cell>
                                            <md-switch aria-label="{{lang.global}}"
                                                       title="{{workflowAction.getTranslatedGlobal()}}"
                                                       ng-change="ctrl.changeGlobalWorkflowAction(workflowAction, 1)"
                                                       ng-model="workflowAction.isGlobal">
                                            </md-switch>
                                        </td>
                                        <td md-cell>
                                            <div flex layout="row" layout-align="start center">
                                                <md-button class="md-icon-button" title="{{lang.edit}}"
                                                           ng-click="ctrl.openEditWorkflowActionDialog(workflowAction,0, $event)">
                                                    <md-icon md-svg-icon="pencil"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" title="{{lang.delete}}"
                                                           ng-if="!ctrl.isReserved(workflowAction)"
                                                           ng-click="ctrl.removeWorkflowAction(workflowAction, $event)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-table-container>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                md-total="{{(ctrl.workflowActions).length}}"
                                md-page-select
                                md-on-paginate="ctrl.grid.pagingCallback">
                        </md-table-pagination>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->
