
.indicator-td span.indicator-content {
  min-width: 18px;
  min-height: 18px;
  height: 18px;
  width: 18px;
}

/*.indicator-badge {
  margin: 2px !important;
  width: 60px !important;
}*/

.indicator {
  min-width: 18px;
  min-height: 18px;
  height: 18px;
  width: 18px;
  &.secure1 {
    color: #32CD32;
  }
  &.secure2 {
    color: #00FFC6;
  }
  &.secure4 {
    color: #23527c;
  }
  &.secure8 {
    color: #FFFF00;
  }
  &.secure16 {
    color: #FF0000;
  }
  &.prior0 {
    color: #4D82B8;
  }
  &.prior1 {
    color: #32CD32;
  }
  &.prior2 {
    color: #FF0000;
  }
  &.badge {
    padding: 1px 8px;
    border-radius: 7px;
    font-size: 10px;
    background: #FF0000;
    color: #ffffff;
  }
  &.f-status0 {
    color: #FF0000;
  }
  &.f-status1 {
    //color: #32CD32;
  }
  &.f-status2 {
    color: #FFD700;
  }
  &.date-past {
    color: #FF0000;
  }
  &.date-today {
    color: #308DFC;

  }
  &.date-future {
    color: #32CD32;
  }
  &.reassigned {
    color: #32CD32;
  }
  &.no-reassigned {
    color: #FF0000;
  }
}

.indicator-td {
  min-width: 45px;
  max-width: 45px;
  padding-right: 0 !important;
  &.span {
    width: 50%;
  }
  &.text-right {
    text-align: right !important;
  }

  .float-right {
    float: right !important;
  }
}