/*********  magazine-item ***********/
.magazine-item {
  background-color: white;
  margin-bottom: 8px;
  padding: 8px;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  //border-radius: 5px;
  position: relative;
  overflow: hidden;
  & > div {
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  & > div > div:not(:last-child) {
    padding-bottom: 5px;
  }
  &.selected {
    background-color: #fdfbc9;
  }
}

.magazine-from, .magazine-serial, .magazine-sender, .magazine-date {
  padding: 5px;
}

.magazine-title {
  a {
    position: relative;
    display: inline-block;
    line-height: 20px;
    padding: 2.5px 5px;
    max-width: 100%;
    //border-bottom: 1px solid #EEE;
  }
}

.magazine-serial, .magazine-sender {
  background: #EEE;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  &.date {
    &.past {
      color: #FFFFFF !important;
      background: #FF0000 !important;
    }
    &.today {
      color: #FFFFFF !important;
      background: #308DFC !important;
    }
    &.future {
      color: #FFFFFF !important;
      background: #32CD32 !important;
    }
  }
}

.magazine-sender {
  //background-color: #9499ff;
}

.magazine-date {
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #EEE;
}

.magazine-icon {

}

.magazine-image, .magazine-action {
  border: 1px solid #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.font-12 {
  font-size: 12px;
}

.small-icon {
  min-height: auto;
  min-width: auto;
  height: 20px;
}

.magazine-indicator:not(:first-child) {
  padding: 0 5px;
}

.priority-normal-indicator {
  color: #27ae60;
}

.priority-urgent-indicator {
  color: #e67e22;
}

.priority-top-urgent-indicator {
  color: #c0392b;
}

.magazine-check-box {
  md-checkbox {
    margin-bottom: 0;
    width: 20px;
  }
}

.width-20 {
  width: 20px;
}

.magazine-layout {
  padding-top: 58px;
}

.magazine-image {
  & > div.magazine-check-box, &:hover > div.magazine-icon {
    display: none !important;
  }
  &:hover > div.magazine-check-box {
    display: flex !important;
  }
}

.z-index-3-relative {
  z-index: 3;
  position: fixed;
}

.z-index-3-absolute {
  z-index: 3;
  position: absolute;
}

html.rtl {
  .static-bar-fixed {
    &.gt-small {
      //right: 64+25px;
      //left: 25px;
    }
    &.sidebar-opened.gt-small {
      //right: 240+25px;
      //left: 25px;
    }
  }
}

.static-bar-fixed {
  //position: absolute;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  //right: 25px;
  //left: 25px;
  right: 0;
  left: 0;
  //transition: 0.2s ease-in all;
  &.gt-small {
    //left: 64+25px;
  }
  &.sidebar-opened.gt-small {
    //left: 240+25px;
  }
}

.top-bar-meta-data {
  padding: 8px;
  & > div:first-child {
    min-width: 79.39px;
    max-width: 79.39px;
  }
}

.magazine-row-per-page {
  margin: 0;
}

.magazine-page {
  min-width: auto !important;
  padding: 0 10px;
  margin: 0;
  &.page-prev, &.page-next {
    text-transform: none;
  }
  &.selected-page {
    background-color: #EEE;
  }
}

.magazine-table-pagination {
  border: none;
  & > * {
    height: auto;
  }
}

#magazine-menu-wrapper {
  position: absolute;
}

.magazine-read-unread {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 8px;
  height: 100%;
  left: 0;
  background-color: #0067B0;
  margin: 0 !important;
  &.read {
    opacity: .3;
  }
}

// Temporary classes to highlight status of actions
.magazine-fix-actions {
  direction: rtl;
  width: 225px !important;

  .action-red {
    //color: red;
  }

  .action-yellow {
    //color: #e7d118;
  }

  .action-green {
    //color: green;
  }
}

.magazine-button {
  margin: 0 !important;
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
}

html.rtl {
  .magazine-fix-actions {
    direction: ltr;
  }
}