#co-ordinates-container {
  direction: ltr !important;
  background-color: #EEE;
  margin: 0 !important;
  position: relative !important;
}

#barcode-box {
  margin: 0 !important;
}

.disable-watermark {
  opacity: 0.5;
}

#security-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  /*left: 50%;
  top: 50%;*/
  opacity: 1;
  //display: inline-block;
  &.orientation-1 {
    /* Safari */
    -webkit-transform: rotate(0deg);
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Internet Explorer */
    transform: rotate(0deg);
  }

  &.orientation-2 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    transform: rotate(-90deg);
  }

  &.orientation-3 {
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
    /* Internet Explorer */
    transform: rotate(-45deg);
  }

  &.orientation-4 {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    transform: rotate(45deg);
  }
}