<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_application_users}}</span>
            <md-button ng-click="ctrl.openAddApplicationUserDialog($event)" class="md-icon-button"
                       tooltip="{{lang.add}}">
                <md-icon md-svg-icon="plus"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.reloadApplicationUsers()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">

                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedApplicationUsers"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="5" ng-if="ctrl.selectedApplicationUsers.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedApplicationUsers.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <md-button class="md-icon-button" title="{{lang.delete_selected_items}}"
                                                           ng-click="ctrl.removeBulkApplicationUsers($event)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedApplicationUsers.length" md-column
                                            md-order-by="arFullName">
                                            <span>{{lang.arabic_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApplicationUsers.length" md-column
                                            md-order-by="enFullName">
                                            <span>{{lang.english_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApplicationUsers.length" md-column
                                            md-order-by="loginName">
                                            <span>{{lang.login_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApplicationUsers.length" md-column
                                            md-order-by="domainName">
                                            <span>{{lang.domain_name}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApplicationUsers.length" md-column>
                                            <span>{{lang.actions}}</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="applicationUser"
                                        ng-disabled="ctrl.currentEmployee.id === applicationUser.id"
                                        ng-repeat="applicationUser in ctrl.applicationUsers  | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)  track by $index">
                                        <td md-cell>{{applicationUser.arFullName}}</td>
                                        <td md-cell>{{applicationUser.enFullName}}</td>
                                        <td md-cell>{{applicationUser.loginName}}</td>
                                        <td md-cell>{{applicationUser.domainName}}</td>
                                        <td md-cell>
                                            <div flex layout="row" layout-align="start center">
                                                <!--<md-button class="md-icon-button" title="{{lang.manage_preferences}}"
                                                           ng-click="ctrl.openUserPreferencesDialog(applicationUser, $event)">
                                                    <md-icon md-svg-icon="account-settings-variant"></md-icon>
                                                </md-button>-->
                                                <md-button class="md-icon-button" title="{{lang.delete}}"
                                                           ng-if="ctrl.currentEmployee.id != applicationUser.id"
                                                           ng-click="ctrl.removeApplicationUser(applicationUser, $event)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                                <md-button
                                                        class="md-icon-button" title="{{lang.edit}}"
                                                        ng-click="ctrl.openEditApplicationUserDialog(applicationUser, $event)">
                                                    <md-icon md-svg-icon="pencil"></md-icon>
                                                </md-button>
                                                <!--<md-button-->
                                                <!--class="md-icon-button" title="{{lang.edit}}"-->
                                                <!--ng-if="ctrl.currentEmployee.id != applicationUser.id"-->
                                                <!--ng-click="ctrl.openEditApplicationUserDialog(applicationUser, $event)">-->
                                                <!--<md-icon md-svg-icon="pencil"></md-icon>-->
                                                <!--</md-button>-->
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.applicationUsers | filter:ctrl.searchModel).length}}"
                                    md-page-select>
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->