<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_group_inbox}}</span>
            <md-button ng-click="ctrl.reloadGroupInbox()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedWorkItems"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedWorkItems.length > 1 ? 10 : 11}}"
                                            ng-if="ctrl.selectedWorkItems.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedWorkItems.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <!--ng-if="ctrl.selectedWorkItems.length > 1"-->
                                                <md-button class="md-icon-button" aria-label="{{lang.inbox_terminate}}"
                                                           tooltip="{{lang.inbox_terminate}}"
                                                           ng-click="ctrl.terminateBulk($event)">
                                                    <md-icon md-svg-icon="stop" class="action-green"></md-icon>
                                                </md-button>
                                                <!--<md-button class="md-icon-button" aria-label="{{lang.inbox_add_to_folder}}"-->
                                                <!--tooltip="{{lang.inbox_add_to_folder}}"-->
                                                <!--ng-click="ctrl.addToFolderUserInboxBulk($event)">-->
                                                <!--<md-icon md-svg-icon="folder-plus" class="action-green"></md-icon>-->
                                                <!--</md-button>-->
                                                <!--<md-button class="md-icon-button action-green" aria-label="{{lang.star}}"-->
                                                <!--tooltip="{{lang.star}}"-->
                                                <!--ng-click="ctrl.changeStarBulk('starBulk',$event)">-->
                                                <!--<md-icon class="star-yellow" md-svg-icon="star"></md-icon>-->
                                                <!--</md-button>-->
                                                <!--<md-button class="md-icon-button action-green" aria-label="{{lang.un_star}}"-->
                                                <!--tooltip="{{lang.un_star}}"-->
                                                <!--ng-click="ctrl.changeStarBulk('unStarBulk' ,$event)">-->
                                                <!--<md-icon class="star-yellow" md-svg-icon="star-outline"></md-icon>-->
                                                <!--</md-button>-->
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                            <!-- Security Level, Document type, Tags, Re-assigned Indicators -->
                                        </th>
                                        <!--<th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                            &lt;!&ndash; Star/unstar &ndash;&gt;
                                        </th>-->
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                            md-order-by="generalStepElm.docFullSerial">
                                            <span>{{lang.inbox_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                            <!-- Priority Level and Has Attachment Indicators -->
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                            md-order-by="generalStepElm.docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                            md-order-by="generalStepElm.receivedDate">
                                            <span>{{lang.received_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="action">
                                            <span>{{lang.action}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="sender">
                                            <span>{{lang.sender}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                            md-order-by="generalStepElm.dueDate">
                                            <span>{{lang.due_date}}</span>
                                        </th>
                                        <!--<th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                            <span>{{lang.correspondence_sites}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="docType">
                                            <span>{{lang.type}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="numberOfDays">
                                            <span>{{lang.number_of_days}}</span>
                                        </th>-->
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column>
                                            <!-- Grid Actions -->
                                        </th>
                                        <th ng-if="!ctrl.selectedWorkItems.length" md-column>
                                            <!-- Read/Unread Indicator -->
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="workItem" grid-right-click-directive="workItem"
                                        ng-disabled="workItem.isLocked() && !workItem.isLockedByCurrentUser()"
                                        model="workItem"
                                        ng-class="!workItem.generalStepElm.isOpen? 'unread-row': 'read-row'"
                                        selected-length="{{ctrl.selectedWorkItems.length ? ctrl.selectedWorkItems.length : 0}}"
                                        ng-repeat="workItem in ctrl.workItems | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">

                                        <td md-cell class="indicator-td">
                                            <!-- Security Level -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="securityLevel"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Doc Type -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="docClass"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Is Reassigned -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="isReassigned"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Linked Documents -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="hasLinkedDocuments"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Tags -->
                                            <!--<grid-indicator-directive record="workItem"
                                                                      type="tags"
                                                                      record-type="workItem"></grid-indicator-directive>-->
                                            <!-- Follow up Status -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="followupStatus"
                                                                      record-type="workItem"></grid-indicator-directive>
                                        </td>
                                        <!-- <td md-cell>
                                             <star-unstar-directive record="workItem"
                                                                    record-type="WorkItem"
                                                                    callback="ctrl.changeStar"
                                                                    selected-records="ctrl.selectedWorkItems"
                                             ></star-unstar-directive>
     &lt;!&ndash;
                                             &lt;!&ndash;tooltip="{{workItem.getTranslatedStarred()}}"&ndash;&gt;
                                             <md-icon class="star-yellow cursor-pointer" aria-label="{{lang.starred}}"
                                                      ng-if="workItem.generalStepElm.starred && (!ctrl.selectedWorkItems.length
                                                              || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber)"
                                                      md-svg-icon="star"
                                                      ng-click="ctrl.changeStar(workItem, $event)"
                                             ></md-icon>
                                             &lt;!&ndash;tooltip="{{workItem.getTranslatedStarred()}}"&ndash;&gt;
                                             <md-icon class="star-yellow disabled" aria-label="{{lang.starred}}"
                                                      ng-if="workItem.generalStepElm.starred
                                                              && ((ctrl.selectedWorkItems.length === 1
                                                              && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber != workItem.generalStepElm.workObjectNumber)
                                                                 || ctrl.selectedWorkItems.length > 1)"
                                                      md-svg-icon="star"
                                             ></md-icon>
                                             &lt;!&ndash;tooltip="{{workItem.getTranslatedStarred()}}"&ndash;&gt;
                                             <md-icon class="star-yellow cursor-pointer" aria-label="{{lang.starred}}"
                                                      ng-if="!workItem.generalStepElm.starred && (!ctrl.selectedWorkItems.length
                                                               || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber)"
                                                      md-svg-icon="star-outline"
                                                      ng-click="ctrl.changeStar(workItem, $event)"
                                             ></md-icon>
                                             &lt;!&ndash;tooltip="{{workItem.getTranslatedStarred()}}"&ndash;&gt;
                                             <md-icon class="star-yellow disabled" aria-label="{{lang.starred}}"
                                                      ng-if="!workItem.generalStepElm.starred
                                                              && ((ctrl.selectedWorkItems.length === 1
                                                              && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber != workItem.generalStepElm.workObjectNumber)
                                                                 || ctrl.selectedWorkItems.length > 1)"
                                                      md-svg-icon="star-outline"
                                             ></md-icon>&ndash;&gt;
                                         </td>-->
                                        <td class="serial-td" md-cell>{{workItem.generalStepElm.docFullSerial}}</td>
                                        <td md-cell class="indicator-td text-right"
                                            style="padding-right:0 !important; padding-left:0 !important;">
                                            <!-- Priority Level -->
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="priorityLevel"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!-- Has Attachments -->
                                            <grid-indicator-directive record="workItem" span-class="float-right"
                                                                      indicator-type="hasAttachment"
                                                                      record-type="workItem"></grid-indicator-directive>
                                        </td>
                                        <td md-cell md-truncate class="subject">
                                            <grid-indicator-directive record-type="WorkItem"
                                                                      record="workItem"
                                                                      indicator-type="isLockedWorkItem">
                                            </grid-indicator-directive>
                                            <a href="" class="view-doc" md-truncate ng-if="workItem.hasContent()"
                                               ng-click="ctrl.viewDocument(workItem, $event)">{{workItem.generalStepElm.docSubject}}</a>
                                            <span ng-if="!workItem.hasContent()">{{workItem.generalStepElm.docSubject}}</span>
                                        </td>
                                        <td md-cell>{{workItem.getReceivedDate()}}</td>
                                        <td md-cell>{{workItem.action.getTranslatedName()}}</td>
                                        <td md-cell class="td-data">
                                            <div layout="row">
                                                <span flex>{{workItem.senderInfo.getTranslatedName()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell class="td-data">
                                            <grid-indicator-directive record="workItem"
                                                                      indicator-type="dueDate"
                                                                      record-type="workItem"></grid-indicator-directive>
                                            <!--<span class="{{workItem.dueDateStatusIndicator.class}}"
                                                  tooltip="{{lang[workItem.dueDateStatusIndicator.tooltip].change({due_date_status:lang[workItem.dueDateStatusIndicator.text] })}}">
                                                {{workItem.generalStepElm.dueDate}}</span>-->
                                        </td>
                                        <!--<td md-cell></td>
                                        <td md-cell>{{workItem.generalStepElm.docType}}</td>
                                        <td md-cell>{{workItem.generalStepElm.numberOfDays}}</td>-->
                                        <td md-cell class="p-r0" ng-if="ctrl.selectedWorkItems.length < 2">
                                            <div layout-align="start center" flex ng-if="!ctrl.selectedWorkItems.length
                                                          || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber">
                                                <grid-actions-directive menu-direction="horizontal"
                                                                        grid-actions="ctrl.gridActions"
                                                                        model="workItem"
                                                                        shortcut="true">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                        <td md-cell class="read-td">
                                            <div class="cursor-pointer status"
                                                 ng-class="workItem.generalStepElm.isOpen===true? 'read' : 'unread'"
                                                 ng-click="ctrl.markAsReadUnread(workItem, $event)"
                                                 ng-if="!ctrl.selectedWorkItems.length
                                                          || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber"
                                                 tooltip="{{workItem.generalStepElm.isOpen===true?lang.indicator_mark_unread: lang.indicator_mark_read}}"
                                                 tooltip-direction="{{lang.current === 'en' ? 'left' : 'right'}}">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.workItems | filter: ctrl.searchModel).length}}" md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->