<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_group_inbox}}</span>
            <md-button ng-click="ctrl.reloadGroupInbox()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container flex scroll-directive>
                            <table md-table md-row-select multiple ng-model="ctrl.selectedWorkItems"
                                   md-progress="ctrl.progress">
                                <thead md-head md-order="ctrl.grid.order">
                                <tr md-row>
                                    <th colspan="{{ctrl.selectedWorkItems.length > 1 ? 10 : 11}}"
                                        ng-if="ctrl.selectedWorkItems.length" md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedWorkItems.length}} {{lang.items_selected}} </span>
                                            <span flex></span>

                                            <!--ng-if="ctrl.selectedWorkItems.length > 1"-->
                                            <md-button class="md-icon-button" aria-label="{{lang.inbox_terminate}}"
                                                       tooltip="{{lang.inbox_terminate}}"
                                                       ng-click="ctrl.terminateBulkGroupInbox($event)">
                                                <md-icon md-svg-icon="stop" class="action-green"></md-icon>
                                            </md-button>
                                            <!--<md-button class="md-icon-button" aria-label="{{lang.inbox_add_to_folder}}"-->
                                                       <!--tooltip="{{lang.inbox_add_to_folder}}"-->
                                                       <!--ng-click="ctrl.addToFolderUserInboxBulk($event)">-->
                                                <!--<md-icon md-svg-icon="folder-plus" class="action-green"></md-icon>-->
                                            <!--</md-button>-->
                                            <!--<md-button class="md-icon-button action-green" aria-label="{{lang.star}}"-->
                                                       <!--tooltip="{{lang.star}}"-->
                                                       <!--ng-click="ctrl.changeUserInboxStarBulk('starBulk',$event)">-->
                                                <!--<md-icon class="star-yellow" md-svg-icon="star"></md-icon>-->
                                            <!--</md-button>-->
                                            <!--<md-button class="md-icon-button action-green" aria-label="{{lang.un_star}}"-->
                                                       <!--tooltip="{{lang.un_star}}"-->
                                                       <!--ng-click="ctrl.changeUserInboxStarBulk('unStarBulk' ,$event)">-->
                                                <!--<md-icon class="star-yellow" md-svg-icon="star-outline"></md-icon>-->
                                            <!--</md-button>-->
                                        </div>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                        <!-- Security Level, Document type, Tags, Re-assigned Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                        <!-- Star/unstar -->
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                        md-order-by="generalStepElm.docFullSerial">
                                        <span>{{lang.inbox_serial}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                        <!-- Priority Level and Has Attachment Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                        md-order-by="generalStepElm.docSubject">
                                        <span>{{lang.subject}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                        md-order-by="generalStepElm.receivedDate">
                                        <span>{{lang.received_date}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="action">
                                        <span>{{lang.action}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="sender">
                                        <span>{{lang.sender}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column
                                        md-order-by="generalStepElm.dueDate">
                                        <span>{{lang.due_date}}</span>
                                    </th>
                                    <!--<th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="">
                                        <span>{{lang.correspondence_sites}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="docType">
                                        <span>{{lang.type}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column md-order-by="numberOfDays">
                                        <span>{{lang.number_of_days}}</span>
                                    </th>-->
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column>
                                        <!-- Grid Actions -->
                                    </th>
                                    <th ng-if="!ctrl.selectedWorkItems.length" md-column>
                                        <!-- Read/Unread Indicator -->
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="workItem" grid-right-click-directive="workItem"
                                    model="workItem"
                                    ng-class="!workItem.generalStepElm.isOpen? 'unread-row': 'read-row'"
                                    selected-length="{{ctrl.selectedWorkItems.length ? ctrl.selectedWorkItems.length : 0}}"
                                    ng-repeat="workItem in ctrl.workItems | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order  track by $index">

                                    <td md-cell class="indicator-td">
                                        <!-- Paper Document -->
                                        <!-- <span flex
                                               ng-class="{'indicator-content': workItem.isPaperIndicator}">
                                             <md-icon ng-if="workItem.isPaperIndicator"
                                                      class="{{workItem.isPaperIndicator.class}}"
                                                      md-svg-icon="{{workItem.isPaperIndicator.icon}}"
                                                      tooltip="{{lang[workItem.isPaperIndicator.tooltip]}}"
                                             ></md-icon>
                                         </span>-->
                                        <!-- Security Level -->
                                        <span flex
                                              ng-class="{'indicator-content': workItem.securityLevelIndicator}">
                                            <md-icon ng-if="workItem.securityLevelIndicator"
                                                     class="{{workItem.securityLevelIndicator.class}}"
                                                     md-svg-icon="{{workItem.securityLevelIndicator.icon}}"
                                                     tooltip="{{lang[workItem.securityLevelIndicator.tooltip].change({name: workItem.securityLevelLookup.getTranslatedName()})}}"
                                            ></md-icon>
                                        </span>
                                        <!-- Is Reassigned -->
                                        <span flex ng-class="{'indicator-content': workItem.isReassignedIndicator}">
                                            <md-icon ng-if="workItem.isReassignedIndicator"
                                                     class="{{workItem.isReassignedIndicator.class}}"
                                                     md-svg-icon="{{workItem.isReassignedIndicator.icon}}"
                                                     tooltip="{{lang[workItem.isReassignedIndicator.tooltip]}}"
                                            ></md-icon>
                                        </span>
                                        <!-- Doc Type -->
                                        <span flex ng-class="{'indicator-content': workItem.docTypeIndicator}">
                                                    <md-icon ng-if="workItem.docTypeIndicator"
                                                             class="{{workItem.docTypeIndicator.class}}"
                                                             md-svg-icon="{{workItem.docTypeIndicator.icon}}"
                                                             tooltip="{{lang[workItem.docTypeIndicator.tooltip]}}"
                                                    ></md-icon>
                                                </span>
                                        <!-- Linked Documents -->
                                        <span flex ng-class="{'indicator-content': workItem.linkedDocsIndicator}">
                                                   <md-icon ng-if="workItem.linkedDocsIndicator"
                                                            class="{{workItem.linkedDocsIndicator.class}}"
                                                            md-svg-icon="{{workItem.linkedDocsIndicator.icon}}"
                                                            tooltip="{{lang[workItem.linkedDocsIndicator.tooltip]}}"
                                                   ></md-icon>
                                               </span>
                                        <!--<span flex class="indicator"
                                              ng-class="{'indicator-content': workItem.tagsIndicator}">
                                                 <span ng-if="workItem.tagsIndicator"
                                                       tooltip="{{lang[workItem.tagsIndicator.tooltip]}}"
                                                       class="{{workItem.tagsIndicator.class}}">
                                                     {{workItem.tagsIndicator.text}}
                                                 </span>
                                             </span>-->
                                        <!-- Follow up Status -->
                                        <span flex
                                              ng-class="{'indicator-content': workItem.followUpStatusIndicator}">
                                            <md-icon ng-if="workItem.followUpStatusIndicator"
                                                     class="{{workItem.followUpStatusIndicator.class}}"
                                                     md-svg-icon="{{workItem.followUpStatusIndicator.icon}}"
                                                     tooltip="{{lang[workItem.followUpStatusIndicator.tooltip].change({name: workItem.followupStatusLookup.getTranslatedName()})}}"
                                            ></md-icon>
                                        </span>
                                    </td>
                                    <td md-cell>
                                        <!--tooltip="{{workItem.getTranslatedStarred()}}"-->
                                        <md-icon class="star-yellow cursor-pointer" aria-label="{{lang.starred}}"
                                                 ng-if="workItem.generalStepElm.starred && (!ctrl.selectedWorkItems.length
                                                         || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber)"
                                                 md-svg-icon="star"
                                                 ng-click="ctrl.changeUserInboxStar(workItem, $event)"
                                        ></md-icon>
                                        <!--tooltip="{{workItem.getTranslatedStarred()}}"-->
                                        <md-icon class="star-yellow disabled" aria-label="{{lang.starred}}"
                                                 ng-if="workItem.generalStepElm.starred
                                                         && ((ctrl.selectedWorkItems.length === 1
                                                         && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber != workItem.generalStepElm.workObjectNumber)
                                                            || ctrl.selectedWorkItems.length > 1)"
                                                 md-svg-icon="star"
                                        ></md-icon>
                                        <!--tooltip="{{workItem.getTranslatedStarred()}}"-->
                                        <md-icon class="star-yellow cursor-pointer" aria-label="{{lang.starred}}"
                                                 ng-if="!workItem.generalStepElm.starred && (!ctrl.selectedWorkItems.length
                                                          || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber)"
                                                 md-svg-icon="star-outline"
                                                 ng-click="ctrl.changeUserInboxStar(workItem, $event)"
                                        ></md-icon>
                                        <!--tooltip="{{workItem.getTranslatedStarred()}}"-->
                                        <md-icon class="star-yellow disabled" aria-label="{{lang.starred}}"
                                                 ng-if="!workItem.generalStepElm.starred
                                                         && ((ctrl.selectedWorkItems.length === 1
                                                         && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber != workItem.generalStepElm.workObjectNumber)
                                                            || ctrl.selectedWorkItems.length > 1)"
                                                 md-svg-icon="star-outline"
                                        ></md-icon>
                                    </td>
                                    <td md-cell>{{workItem.generalStepElm.docFullSerial}}</td>
                                    <td md-cell class="indicator-td text-right"
                                        style="padding-right:0 !important; padding-left:0 !important;">
                                                <span ng-class="{'indicator-content': workItem.priorityLevelIndicator}">
                                                    <md-icon ng-if="workItem.priorityLevelIndicator"
                                                             class="{{workItem.priorityLevelIndicator.class}}"
                                                             md-svg-icon="{{workItem.priorityLevelIndicator.icon}}"
                                                             tooltip="{{lang[workItem.priorityLevelIndicator.tooltip].change({name: workItem.priorityLevelLookup.getTranslatedName()})}}"
                                                    ></md-icon>
                                                </span>
                                        <span class="float-right"
                                              ng-class="{'indicator-content': workItem.attachmentsIndicator}">
                                                    <md-icon ng-if="workItem.attachmentsIndicator"
                                                             class="{{workItem.attachmentsIndicator.class}}"
                                                             md-svg-icon="{{workItem.attachmentsIndicator.icon}}"
                                                             tooltip="{{lang[workItem.attachmentsIndicator.tooltip]}}"
                                                    ></md-icon>
                                                </span>
                                    </td>
                                    <td md-cell md-truncate class="subject">
                                        <a href="" class="view-doc" md-truncate ng-if="workItem.hasContent()"
                                           ng-click="ctrl.viewDocument(workItem, $event)">{{workItem.generalStepElm.docSubject}}</a>
                                        <span ng-if="!workItem.hasContent()">{{workItem.generalStepElm.docSubject}}</span>
                                    </td>
                                    <td md-cell>{{workItem.getReceivedDate()}}</td>
                                    <td md-cell>{{workItem.action.getTranslatedName()}}</td>
                                    <td md-cell class="td-data">
                                        <div layout="row">
                                            <span flex>{{workItem.senderInfo.getTranslatedName()}}</span>
                                        </div>
                                    </td>
                                    <td md-cell class="td-data">
                                            <span class="{{workItem.dueDateStatusIndicator.class}}"
                                                  tooltip="{{lang[workItem.dueDateStatusIndicator.tooltip].change({due_date_status:lang[workItem.dueDateStatusIndicator.text] })}}">
                                                {{workItem.generalStepElm.dueDate}}</span>
                                    </td>
                                    <!--<td md-cell></td>
                                    <td md-cell>{{workItem.generalStepElm.docType}}</td>
                                    <td md-cell>{{workItem.generalStepElm.numberOfDays}}</td>-->
                                    <td md-cell class="p-r0" ng-if="ctrl.selectedWorkItems.length < 2">
                                        <div layout-align="start center" flex ng-if="!ctrl.selectedWorkItems.length
                                                          || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber">
                                            <grid-actions-directive menu-direction="horizontal"
                                                                    grid-actions="ctrl.gridActions"
                                                                    model="workItem"
                                                                    shortcut="true">
                                            </grid-actions-directive>
                                        </div>
                                    </td>
                                    <td md-cell class="read-td">
                                        <div class="cursor-pointer status"
                                             ng-class="workItem.generalStepElm.isOpen===true? 'read' : 'unread'"
                                             ng-click="ctrl.markAsReadUnread(workItem, $event)"
                                             ng-if="!ctrl.selectedWorkItems.length
                                                          || ctrl.selectedWorkItems.length===1 && ctrl.selectedWorkItems[0].generalStepElm.workObjectNumber === workItem.generalStepElm.workObjectNumber"
                                             tooltip="{{workItem.generalStepElm.isOpen===true?lang.indicator_mark_unread: lang.indicator_mark_read}}"
                                             tooltip-direction="{{ctrl.langService.getCurrentLang() === 'en' ? 'left' : 'right'}}">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{ctrl.workItems.length}}" md-page-select>
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->