<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.internal_approved}}</span>
            <md-button ng-click="ctrl.reloadApprovedInternals()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table md-row-select multiple ng-model="ctrl.selectedApprovedInternals"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                    <tr md-row>
                                        <th colspan="{{ctrl.selectedApprovedInternals.length > 1 ? 6 : 7}}"
                                            ng-if="ctrl.selectedApprovedInternals.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedApprovedInternals.length}} {{lang.items_selected}} </span>
                                                <span flex></span>

                                                <md-button class="md-icon-button"
                                                           aria-label="{{lang.approved_terminate}}"
                                                           tooltip="{{lang.approved_terminate}}"
                                                           ng-click="ctrl.terminateBulk($event)">
                                                    <md-icon md-svg-icon="stop" class="action-green"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-if="ctrl.employeeService.hasPermissionTo('LAUNCH_DISTRIBUTION_WORKFLOW')"
                                                           tooltip="{{lang.grid_action_launch_distribution_workflow}}"
                                                           ng-click="ctrl.launchDistributionWorkflowBulk($event)">
                                                    <md-icon md-svg-icon="sitemap" class="action-green"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="docSerial">
                                            <span>{{lang.approved_serial}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="docSubject">
                                            <span>{{lang.subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="receivedDate">
                                            <span>{{lang.received_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="sender">
                                            <span>{{lang.sender}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="dueDate">
                                            <span>{{lang.due_date}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column
                                            md-order-by="numberOfDays">
                                            <span>{{lang.number_of_days}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedApprovedInternals.length" md-column>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="approvedInternal"
                                        grid-right-click-directive="approvedInternal"
                                        model="approvedInternal"
                                        selected-length="{{ctrl.selectedApprovedInternals.length ? ctrl.selectedApprovedInternals.length : 0}}"
                                        ng-repeat="approvedInternal in ctrl.approvedInternals | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) track by $index">
                                        <td class="serial-td" md-cell>
                                            {{approvedInternal.generalStepElm.docFullSerial}}
                                        </td>
                                        <td md-cell md-truncate class="subject">
                                            <a href="" class="view-doc" md-truncate
                                               ng-click="ctrl.viewDocument(approvedInternal, $event)">
                                                <!--tooltip="{{approvedInternal.generalStepElm.docSubject}}"-->
                                                {{approvedInternal.generalStepElm.docSubject}}
                                            </a>
                                        </td>
                                        <td md-cell>{{approvedInternal.generalStepElm.receivedDate}}</td>
                                        <td md-cell class="td-data">
                                            <div layout="row">
                                                <span flex>{{approvedInternal.senderInfo.getTranslatedName()}}</span>
                                            </div>
                                        </td>
                                        <td md-cell class="td-data">
                                            {{approvedInternal.generalStepElm.dueDate}}
                                        </td>
                                        <td md-cell>{{approvedInternal.generalStepElm.numberOfDays}}</td>
                                        <td md-cell class="p-r0" ng-if="ctrl.selectedApprovedInternals.length < 2">
                                            <div layout-align="start center" flex ng-if="!ctrl.selectedApprovedInternals.length
                                                          || ctrl.selectedApprovedInternals.length===1 && ctrl.selectedApprovedInternals[0].generalStepElm.workObjectNumber === approvedInternal.generalStepElm.workObjectNumber">
                                                <grid-actions-directive menu-direction="horizontal"
                                                                        grid-actions="ctrl.gridActions"
                                                                        model="approvedInternal"
                                                                        shortcut="true">
                                                </grid-actions-directive>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{(ctrl.approvedInternals | filter: ctrl.searchModel).length}}"
                                    md-page-select
                                    md-on-paginate="ctrl.grid.pagingCallback">
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->