<div id="login-page" layout="row">
    <div layout="column" id="login-background">
        <div layout="column" layout-align="center center">
            <div flex>
                <md-card md-whiteframe="3">
                    <div layout="column" class="p20">
                        <div flex layout="row">
                            <md-input-container>
                                <label for="password">{{lang.password}}</label>
                                <input id="password" ng-model="ctrl.password"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-button ng-disabled="ctrl.loading" flex class="md-primary md-raised"
                                       ng-click="ctrl.encryptPassword()">
                                {{lang.encrypt}}
                            </md-button>
                        </div>
                        <div layout="row">
                            <br/>
                            <code>{{ctrl.encrypted}}</code>
                        </div>
                    </div>
                </md-card>
                <br>
                <div ng-if="ctrl.loading" layout="row" layout-align="center center">
                    <md-progress-circular md-mode="intermediate"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>