<!-- start of view -->
<div background-directive="tall" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <span>{{lang.menu_item_private_announcements}}</span>
            <md-button ng-click="ctrl.openAddPrivateAnnouncementDialog($event)" class="md-icon-button"
                       tooltip="{{lang.add}}">
                <md-icon md-svg-icon="plus"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.reloadPrivateAnnouncements()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div><!-- page-header -->
        <div layout="column" flex>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card md-whiteframe="3" layout="column" class="card-overlay">
                        <md-table-container>
                            <div flex scroll-directive>
                                <table md-table
                                       md-row-select="true"
                                       multiple="true"
                                       ng-model="ctrl.selectedPrivateAnnouncements"
                                       md-progress="ctrl.progress">
                                    <thead md-head md-order="ctrl.grid.order">
                                    <tr md-row>
                                        <th colspan="6" class="table-selector-header"
                                            ng-if="ctrl.selectedPrivateAnnouncements.length" md-column>
                                            <div layout="row" layout-align="start center">
                                                <span>{{ctrl.selectedPrivateAnnouncements.length}} {{lang.items_selected}} </span>
                                                <span flex></span>
                                                <table-status-directive
                                                        when-close="ctrl.changeStatusBulkPrivateAnnouncements"></table-status-directive>
                                                <md-button class="md-icon-button"
                                                           ng-click="ctrl.removeBulkPrivateAnnouncements()">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </th>

                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column
                                            md-order-by="arSubject">
                                            <span>{{lang.arabic_subject}}</span>
                                        </th>
                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column
                                            md-order-by="enSubject">
                                            <span>{{lang.english_subject_name}}</span></th>
                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column
                                            md-order-by="itemOrder">
                                            <span>{{lang.item_order}}</span></th>
                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column
                                            md-order-by="status">
                                            <span>{{lang.status}}</span></th>
                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column>
                                            <span>{{lang.announcement_message_body}}</span></th>
                                        </th>
                                        <th ng-if="!ctrl.selectedPrivateAnnouncements.length" md-column>
                                            {{lang.action}}
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row
                                        md-select="privateAnnouncement"
                                        ng-repeat="privateAnnouncement in ctrl.privateAnnouncements  | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order track by $index">
                                        <td md-cell>{{privateAnnouncement.arSubject}}</td>
                                        <td md-cell>{{privateAnnouncement.enSubject}}</td>
                                        <td md-cell>{{privateAnnouncement.itemOrder}}</td>
                                        <td md-cell>
                                            <md-switch aria-label="{{lang.status}}"
                                                       ng-model="privateAnnouncement.status"
                                                       title="{{privateAnnouncement.getTranslatedStatus()}}"
                                                       ng-change="ctrl.changeStatusPrivateAnnouncement(privateAnnouncement)"
                                                       ng-disabled="ctrl.disableStatus(privateAnnouncement)"></md-switch>
                                        </td>

                                        <td md-cell>
                                            <md-button tooltip="{{lang.announcement_message_body}}"
                                                       ng-click="ctrl.openAnnouncementMessageBodyDialog(privateAnnouncement, $event )"
                                                       aria-label="{{lang.announcement_message_body}}"
                                                       class="md-icon-button">
                                                <md-icon md-svg-icon="coins"></md-icon>
                                            </md-button>
                                        </td>

                                        <td md-cell>
                                            <div flex layout="row" layout-align="start center">
                                                <md-button class="md-icon-button" title="{{lang.delete}}"
                                                           ng-click="ctrl.removePrivateAnnouncement(privateAnnouncement, $event)">
                                                    <md-icon md-svg-icon="delete"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" title="{{lang.edit}}"
                                                           ng-click="ctrl.openEditPrivateAnnouncementDialog(privateAnnouncement,$event)">
                                                    <md-icon md-svg-icon="pencil"></md-icon>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-table-pagination
                                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                    md-limit-options="ctrl.grid.limitOptions"
                                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                    md-total="{{ctrl.privateAnnouncements.length}}" md-page-select>
                            </md-table-pagination>
                        </md-table-container>
                    </md-card>
                </div>
            </div>
        </div><!-- page-content-->
    </div>
</div>
<!-- end of view -->