<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{lang.menu_item_search_module_outgoing}}</span>
            <md-button ng-if="ctrl.selectedTab===1" ng-click="ctrl.reloadSearchedOutgoingDocument()"
                       class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
        </div>

        <ng-form class="white-bg" name="searchOutgoingForm" id="searchOutgoingForm" flex layout="column"
                 autocomplete="off" enter-submit-directive="btn_SearchOutgoing">
            <md-tabs class="content white-bg" md-selected="ctrl.selectedTab">
                <!-- EDIT/NEW SEARCH TAB -->
                <md-tab label="{{lang.search}}" md-on-select="ctrl.setCurrentTab('search')">
                    <md-content scroll-directive class="white-bg page-padding">
                        <accordion-directive label-collapse="true" validation="false">
                            <accordion-item active>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="database-search"></md-icon>
                                        <span> {{lang.search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            source-form="searchOutgoingForm"
                                            registry-organizations="ctrl.registryOrganizations"
                                            document="ctrl.searchOutgoing"
                                            search-type="basic"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>

                            <accordion-item>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="file-document-box"></md-icon>
                                        <span> {{lang.search_module_advanced_search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            source-form="searchOutgoingForm"
                                            document="ctrl.searchOutgoing"
                                            search-type="advanced"
                                            approvers="ctrl.approvers"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>
                        </accordion-directive>
                        <div layout="row" ng-if="ctrl.selectedTab===0" layout-align="start center">
                            <md-button ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}"
                                       class="md-raised" ng-disabled="searchOutgoingForm.$invalid"
                                       id="btn_SearchOutgoing"
                                       ng-click="ctrl.search()">{{lang.search}}
                            </md-button>
                            <md-button class="md-raised"
                                       ng-click="ctrl.resetFilters(searchOutgoingForm)">
                                {{lang.search_module_reset_filters}}
                            </md-button>
                            <span flex></span>
                            <md-button class="md-raised hidden"
                                       ng-click="ctrl.saveSearch(searchOutgoingForm)">
                                {{lang.search_module_save_search}}
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.search_module_search_results}}" ng-if="ctrl.showResults"
                        md-on-select="ctrl.setCurrentTab('result')">
                    <md-table-container>
                        <div flex scroll-directive>
                            <table md-table md-row-select multiple ng-model="ctrl.selectedSearchedOutgoingDocuments"
                                   md-progress="ctrl.progress">
                                <thead md-head md-order="ctrl.grid.order">
                                <tr md-row>
                                    <th colspan="{{ctrl.selectedSearchedOutgoingDocuments.length > 1 ? 9 : 10}}"
                                        ng-if="ctrl.selectedSearchedOutgoingDocuments.length" md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedSearchedOutgoingDocuments.length}} {{lang.items_selected}} </span>
                                            <span flex></span>
                                            <!-- Add to Favorite -->
                                            <md-button class="md-icon-button" class="action-green"
                                                       tooltip="{{lang.grid_action_add_to_favorite}}"
                                                       ng-if="ctrl.selectedSearchedOutgoingDocuments.length"
                                                       ng-click="ctrl.addToFavoriteBulk($event)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </md-button>
                                        </div>
                                    </th>
                                    <th md-column>
                                        <!-- Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="docFullSerial">
                                        <span>{{lang.label_serial}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="docSubject">
                                        <span>{{lang.subject}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                        <span>{{lang.priority_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('securityLevel', 'Lookup')}}">
                                        <span>{{lang.security_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('docTypeForSearchGrid', 'DocumentType')}}">
                                        <span>{{lang.label_document_type}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('creatorInfo', 'Information')}}">
                                        <span>{{lang.creator}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="createdOn">
                                        <span>{{lang.created_on}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length" md-column
                                        md-order-by="">
                                        <span>{{lang.correspondence_sites}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedOutgoingDocuments.length && ctrl.selectedSearchedOutgoingDocuments.length < 2"
                                        md-column>
                                        <span></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="searchedOutgoingDocument" grid-right-click-directive
                                    model="searchedOutgoingDocument"
                                    selected-length="{{ctrl.selectedSearchedOutgoingDocuments.length ? ctrl.selectedSearchedOutgoingDocuments.length : 0}}"
                                    ng-repeat="searchedOutgoingDocument in searchResults = (ctrl.searchedOutgoingDocuments | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order) track by $index">
                                    <td md-cell class="indicator-td">
                                        <!-- Security Level -->
                                        <grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="securityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Paper/Electronic-->
                                        <grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="paperElectronic"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Priority Level -->
                                        <grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="priorityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Has Attachments -->
                                        <grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="hasAttachment"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Linked Documents -->
                                        <grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="hasLinkedDocuments"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Follow up Status -->
                                        <!--<grid-indicator-directive record="searchedOutgoingDocument"
                                                                  indicator-type="followupStatus"
                                                                  record-type="correspondence"></grid-indicator-directive>-->
                                        <span flex
                                              ng-class="{'indicator-content': searchedOutgoingDocument.followUpStatusIndicator}">
                                        <md-icon ng-if="searchedOutgoingDocument.followUpStatusIndicator"
                                                 class="{{searchedOutgoingDocument.followUpStatusIndicator.class}}"
                                                 md-svg-icon="{{searchedOutgoingDocument.followUpStatusIndicator.icon}}"
                                                 tooltip="{{lang[searchedOutgoingDocument.followUpStatusIndicator.tooltip].change({name: searchedOutgoingDocument.followupStatusLookup.getTranslatedName()})}}"
                                        ></md-icon>
                                    </span>
                                    </td>
                                    <td md-cell>{{searchedOutgoingDocument.docFullSerial}}</td>
                                    <td md-cell class="td-data">
                                        <a href="" ng-if="searchedOutgoingDocument.hasContent()" class="view-doc"
                                           ng-click="ctrl.viewDocument(searchedOutgoingDocument, $event)">{{searchedOutgoingDocument.docSubject}}</a>
                                        <span ng-if="!searchedOutgoingDocument.hasContent()">{{searchedOutgoingDocument.docSubject}}</span>
                                    </td>
                                    <td md-cell>{{searchedOutgoingDocument.priorityLevel.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedOutgoingDocument.securityLevel.getTranslatedName()}}</td>
                                    <!--<td md-cell>{{lang[searchedOutgoingDocument.getInfo().documentClass +"_document_class"]}}</td>-->
                                    <td md-cell>{{searchedOutgoingDocument.docTypeForSearchGrid.getTranslatedName()}}
                                    </td>
                                    <td md-cell>{{searchedOutgoingDocument.creatorInfo.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedOutgoingDocument.createdOn}}</td>
                                    <td md-cell class="td-data">
                                        <main-site-sub-site-directive
                                                item="searchedOutgoingDocument"></main-site-sub-site-directive>
                                    </td>
                                    <td md-cell ng-if="ctrl.selectedSearchedOutgoingDocuments.length < 2">
                                        <div layout-align="start center" ng-if="!ctrl.selectedSearchedOutgoingDocuments.length
                                                  || ctrl.selectedSearchedOutgoingDocuments.length===1 && ctrl.selectedSearchedOutgoingDocuments[0].id === searchedOutgoingDocument.id">
                                            <grid-actions-directive menu-direction="horizontal"
                                                                    grid-actions="ctrl.gridActions"
                                                                    model="searchedOutgoingDocument"
                                                                    shortcut="true">
                                            </grid-actions-directive>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row ng-if="!ctrl.searchedOutgoingDocuments.length">
                                    <td md-cell colspan="8" class="red-text text-center">{{lang.no_records_found}}</td>
                                </tr>
                                <tr md-row ng-if="ctrl.searchedOutgoingDocuments.length && !searchResults.length">
                                    <td md-cell colspan="8" class="red-text text-center">
                                        {{lang.no_records_found_matching_search}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                md-total="{{(ctrl.searchedOutgoingDocuments | filter:ctrl.searchModel).length}}"
                                md-page-select>
                        </md-table-pagination>
                    </md-table-container>
                </md-tab>
            </md-tabs>
        </ng-form>

    </div>
</div>