<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{lang.menu_item_search_module_incoming}}</span>
            <md-button ng-if="ctrl.selectedTab===1" ng-click="ctrl.reloadSearchedIncomingDocument()"
                       class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
        </div>

        <form class="white-bg" name="searchIncomingForm" id="searchIncomingForm" flex layout="column"
              autocomplete="off" enter-submit-directive="btn_SearchIncoming">
            <md-tabs class="content white-bg" md-selected="ctrl.selectedTab">
                <!-- EDIT/NEW SEARCH TAB -->
                <md-tab label="{{lang.search}}" md-on-select="ctrl.setCurrentTab('search')">
                    <md-content scroll-directive class="white-bg page-padding">
                        <accordion-directive label-collapse="true" validation="false">
                            <accordion-item active>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="database-search"></md-icon>
                                        <span> {{lang.search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            source-form="searchIncomingForm"
                                            registry-organizations="ctrl.registryOrganizations"
                                            document="ctrl.searchIncoming"
                                            search-type="basic"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>

                            <accordion-item>
                                <accordion-title>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-icon="file-document-box"></md-icon>
                                        <span> {{lang.search_module_advanced_search}}</span>
                                        <span flex></span>
                                    </div>
                                </accordion-title>
                                <accordion-content>
                                    <manage-properties-search-directive
                                            empty-results="ctrl.emptyResults"
                                            source-form="searchIncomingForm"
                                            document="ctrl.searchIncoming"
                                            search-type="advanced"
                                    ></manage-properties-search-directive>
                                </accordion-content>
                            </accordion-item>
                        </accordion-directive>
                        <div layout="row" ng-if="ctrl.selectedTab===0" layout-align="start center">
                            <!--ng-class="{'static-button':ctrl.showAdvancedSearch }"-->
                            <md-button ng-class="{'mr0':(lang.current == 'ar'),'ml0':(lang.current == 'en')}"
                                       class="md-raised" ng-disabled="searchIncomingForm.$invalid"
                                       ng-click="ctrl.search($event)" id="btn_SearchIncoming">{{lang.search}}
                            </md-button>
                            <md-button class="md-raised"
                                       ng-click="ctrl.resetFilters(searchIncomingForm, $event)">
                                {{lang.search_module_reset_filters}}
                            </md-button>
                            <span flex></span>
                            <md-button class="md-raised hidden"
                                       ng-click="ctrl.saveSearch(searchIncomingForm, $event)">
                                {{lang.search_module_save_search}}
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.search_module_search_results}}" ng-if="ctrl.showResults"
                        md-on-select="ctrl.setCurrentTab('result')">
                    <md-table-container>
                        <div flex scroll-directive>
                            <table md-table md-row-select multiple ng-model="ctrl.selectedSearchedIncomingDocuments"
                                   md-progress="ctrl.progress">
                                <thead md-head md-order="ctrl.grid.order" md-on-reorder="ctrl.getSortedData">
                                <tr md-row>
                                    <th colspan="{{ctrl.selectedSearchedIncomingDocuments.length > 1 ? 9 : 10}}"
                                        ng-if="ctrl.selectedSearchedIncomingDocuments.length" md-column>
                                        <div layout="row" layout-align="start center">
                                            <span>{{ctrl.selectedSearchedIncomingDocuments.length}} {{lang.items_selected}} </span>
                                            <span flex></span>
                                            <!-- Add to Favorite -->
                                            <md-button class="md-icon-button" class="action-green"
                                                       tooltip="{{lang.grid_action_add_to_favorite}}"
                                                       ng-if="ctrl.selectedSearchedIncomingDocuments.length"
                                                       ng-click="ctrl.addToFavoriteBulk($event)">
                                                <md-icon md-svg-icon="star"></md-icon>
                                            </md-button>
                                        </div>
                                    </th>
                                    <th md-column>
                                        <!-- Indicators -->
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="docFullSerial">
                                        <span>{{lang.label_serial}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="docSubject">
                                        <span>{{lang.subject}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('priorityLevel', 'Lookup')}}">
                                        <span>{{lang.priority_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('securityLevel', 'Lookup')}}">
                                        <span>{{lang.security_level}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('docTypeForSearchGrid', 'DocumentType')}}">
                                        <span>{{lang.label_document_type}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="{{ctrl.getSortingKey('creatorInfo', 'Information')}}">
                                        <span>{{lang.creator}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="createdOn">
                                        <span>{{lang.created_on}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length" md-column
                                        md-order-by="">
                                        <span>{{lang.correspondence_sites}}</span>
                                    </th>
                                    <th ng-if="!ctrl.selectedSearchedIncomingDocuments.length && ctrl.selectedSearchedIncomingDocuments.length < 2"
                                        md-column>
                                        <span></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="searchedIncomingDocument" grid-right-click-directive
                                    model="searchedIncomingDocument"
                                    selected-length="{{ctrl.selectedSearchedIncomingDocuments.length ? ctrl.selectedSearchedIncomingDocuments.length : 0}}"
                                    ng-repeat="searchedIncomingDocument in searchResults = (ctrl.searchedIncomingDocuments | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit)) track by $index">
                                    <td md-cell class="indicator-td">
                                        <!-- Security Level -->
                                        <grid-indicator-directive record="searchedIncomingDocument"
                                                                  indicator-type="securityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Priority Level -->
                                        <grid-indicator-directive record="searchedIncomingDocument"
                                                                  indicator-type="priorityLevel"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Has Attachments -->
                                        <grid-indicator-directive record="searchedIncomingDocument"
                                                                  indicator-type="hasAttachment"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                        <!-- Linked Documents -->
                                        <grid-indicator-directive record="searchedIncomingDocument"
                                                                  indicator-type="hasLinkedDocuments"
                                                                  record-type="correspondence"></grid-indicator-directive>
                                    </td>
                                    <td class="serial-td" md-cell>{{searchedIncomingDocument.docFullSerial}}</td>
                                    <td md-cell class="td-data">
                                        <a href="" ng-if="searchedIncomingDocument.hasContent()" class="view-doc"
                                           ng-click="ctrl.viewDocument(searchedIncomingDocument, $event)">{{searchedIncomingDocument.docSubject}}</a>
                                        <span ng-if="!searchedIncomingDocument.hasContent()">{{searchedIncomingDocument.docSubject}}</span>
                                    </td>
                                    <td md-cell>{{searchedIncomingDocument.priorityLevel.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedIncomingDocument.securityLevel.getTranslatedName()}}</td>
                                    <!--<td md-cell>{{lang[searchedIncomingDocument.getInfo().documentClass +"_document_class"]}}</td>-->
                                    <td md-cell>{{searchedIncomingDocument.docTypeInfo.getTranslatedName()}}
                                    </td>
                                    <td md-cell>{{searchedIncomingDocument.creatorInfo.getTranslatedName()}}</td>
                                    <td md-cell>{{searchedIncomingDocument.createdOn}}</td>
                                    <td md-cell class="td-data">
                                        <main-site-sub-site-directive item="searchedIncomingDocument"></main-site-sub-site-directive>
                                    </td>
                                    <td md-cell ng-if="ctrl.selectedSearchedIncomingDocuments.length < 2">
                                        <div layout-align="start center" ng-if="!ctrl.selectedSearchedIncomingDocuments.length
                                                  || ctrl.selectedSearchedIncomingDocuments.length===1 && ctrl.selectedSearchedIncomingDocuments[0].id === searchedIncomingDocument.id">
                                            <grid-actions-directive menu-direction="horizontal"
                                                                    grid-actions="ctrl.gridActions"
                                                                    model="searchedIncomingDocument"
                                                                    shortcut="true">
                                            </grid-actions-directive>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row ng-if="!ctrl.searchedIncomingDocuments.length">
                                    <td md-cell colspan="8" class="red-text text-center">{{lang.no_records_found}}</td>
                                </tr>
                                <tr md-row ng-if="ctrl.searchedIncomingDocuments.length && !searchResults.length">
                                    <td md-cell colspan="8" class="red-text text-center">
                                        {{lang.no_records_found_matching_search}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                md-total="{{(ctrl.searchedIncomingDocuments | filter:ctrl.searchModel).length}}"
                                md-page-select>
                        </md-table-pagination>
                    </md-table-container>
                </md-tab>
            </md-tabs>


        </form>

    </div>
</div>
