<div background-directive="short" color="blue" flex class="page-content">
    <div layout="column" class="content">
        <div layout="row" layout-align="start center" class="page-header nmb padding-header small">
            <span>{{lang.menu_item_search_module_internal}}</span>
            <md-button ng-if="ctrl.selectedTab===1" ng-click="ctrl.reloadSearchedInternalDocuments()"
                       class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
        </div>

        <form class="white-bg" name="searchInternalForm" id="searchInternalForm" flex layout="column"
              autocomplete="off" enter-submit-directive="btn_SearchInternal">
            <md-tabs class="content white-bg" md-selected="ctrl.selectedTab">
                <!-- EDIT/NEW SEARCH TAB -->
                <md-tab label="{{lang.search_module_edit_or_new_search}}" md-on-select="ctrl.setCurrentTab('ens')">
                    <md-content scroll-directive class="white-bg">
                        <div layout="column">
                            <div layout="row" flex class="p020">
                                <!-- Subject -->
                                <md-input-container flex>
                                    <label for="docSubject">{{lang.search_module_subject}}</label>
                                    <input name="docSubject" id="docSubject"
                                           ng-required="ctrl.dynamicRequired('docSubject','search_module_subject')"
                                           ng-model="ctrl.searchInternal.docSubject">
                                    <div ng-messages="searchInternalForm.docSubject.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Serial -->
                                <md-input-container flex>
                                    <label for="docFullSerial">{{lang.search_module_serial}}</label>
                                    <input name="docFullSerial" id="docFullSerial"

                                           ng-required="{{ctrl.dynamicRequired('docFullSerial','search_module_serial')}}"
                                           ng-model="ctrl.searchInternal.docFullSerial">
                                    <!--custom-validate-directive="{{ctrl.dynamicType('docFullSerial','type')}}"-->
                                    <div ng-messages="searchInternalForm.docFullSerial.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="{{ctrl.dynamicType('docFullSerial','type')}}">
                                            {{ctrl.dynamicType('docFullSerial','message')}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <!-- Year -->
                                <md-input-container flex>
                                    <label for="year">{{lang.search_module_year}}</label>
                                    <md-select name="year" id="year"
                                               ng-change="ctrl.setSelectedYear(searchInternalForm, $event)"
                                               ng-required="ctrl.dynamicRequired('year','search_module_year')"
                                               ng-model="ctrl.searchInternal.year">
                                        <md-option ng-value="year"
                                                   ng-repeat="year in ctrl.years() track by $index">
                                            {{year}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="searchInternalForm.year.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" flex class="p020">
                                <!-- Security Levels -->
                                <md-input-container flex>
                                    <label for="securityLevel">{{lang.security_level}}</label>
                                    <md-select ng-required="ctrl.dynamicRequired('securityLevel','security_levels')"
                                               name="securityLevel" id="securityLevel"
                                               ng-model="ctrl.searchInternal.securityLevel">
                                        <md-option ng-value="securityLevel.lookupKey"
                                                   ng-repeat="securityLevel in ctrl.securityLevels track by $index">
                                            {{securityLevel.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="searchInternalForm.securityLevel.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Main Organization Units -->
                                <!--<md-input-container flex>
                                    <label for="ou">{{lang.search_module_main_organization_units}}</label>
                                    <md-select name="ou" id="ou" ng-model="ctrl.searchInternal.ou"
                                               ng-required="ctrl.dynamicRequired('ou','search_module_main_organization_units')">
                                        <md-option ng-value="organization.id"
                                                   ng-repeat="organization in ctrl.organizations track by $index">
                                            {{organization.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="searchInternalForm.ou.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>-->
                                <!-- Priority Levels -->
                                <md-input-container flex>
                                    <label for="priorityLevel">{{lang.priority_level}}</label>
                                    <md-select name="priorityLevel" id="priorityLevel"
                                               ng-required="ctrl.dynamicRequired('priorityLevel','priority_level')"
                                               ng-model="ctrl.searchInternal.priorityLevel">
                                        <md-option ng-value="priorityLevel.lookupKey"
                                                   ng-repeat="priorityLevel in ctrl.priorityLevels track by $index">
                                            {{priorityLevel.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="searchInternalForm.priorityLevel.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                                <!-- Internal Date -->
                                <fieldset flex layout="column" class="search-fieldset">
                                    <legend class="md-accent">{{lang.internal_date}}</legend>
                                    <div layout="row">
                                        <!-- Internal Date From -->
                                        <md-input-container flex>
                                            <label for="docDateFrom">{{lang.search_module_start_date}}</label>
                                            <md-datepicker id="docDateFrom" name="docDateFrom"
                                                           ng-change="ctrl.setMinMaxDocDate('picker',$event)"
                                                           ng-required="ctrl.dynamicRequired('docDateFrom','internal_date_from')"
                                                           ng-model="ctrl.searchInternal.docDateFrom"
                                                           md-max-date="ctrl.maxDocDate"
                                                           md-min-date="ctrl.minDateForFrom"
                                                           ng-disabled="!ctrl.searchInternal.year"
                                            ></md-datepicker>
                                            <!--md-min-date="ctrl.minDocDate"-->
                                            <div ng-messages="searchInternalForm.docDateFrom.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                        <!-- Internal Date To -->
                                        <md-input-container flex>
                                            <label for="docDateTo">{{lang.search_module_end_date}}</label>
                                            <md-datepicker id="docDateTo" name="docDateTo"
                                                           ng-change="ctrl.setMinMaxDocDate('picker',$event)"
                                                           ng-required="ctrl.dynamicRequired('docDateTo','internal_date_to')"
                                                           ng-model="ctrl.searchInternal.docDateTo"
                                                           md-max-date="ctrl.maxDateForTo"
                                                           md-min-date="ctrl.minDocDate"
                                                           ng-disabled="!ctrl.searchInternal.year"
                                            ></md-datepicker>
                                            <!--md-max-date="ctrl.maxDocDate"-->
                                            <div ng-messages="searchInternalForm.docDateTo.$error">
                                                <div ng-message="required">{{lang.field_required}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </fieldset>
                            </div>
                            <!--<div layout="row" flex class="p020">
                                &lt;!&ndash; Search within RegOU &ndash;&gt;
                                <md-switch flex ng-model="ctrl.isSearchByRegOU"
                                           ng-change="ctrl.changeRegOuToggle()"
                                           ng-disabled="ctrl.checkRegOuToggleDisabled()"
                                           aria-label="{{lang.search_module_search_by_reg_ou}}">
                                    <label>{{lang.search_module_search_by_reg_ou}} :
                                        {{ctrl.getTranslatedYesNo('isSearchByRegOU')}}</label>
                                </md-switch>
                                &lt;!&ndash; Search within OU &ndash;&gt;
                                <md-switch flex ng-model="ctrl.searchInternal.ou"
                                           ng-change="ctrl.changeOuToggle()"
                                           ng-disabled="ctrl.checkOuToggleDisabled()"
                                           ng-true-value="{{ctrl.employeeService.getEmployee().getOUID()}}" ng-false-value="null"
                                           aria-label="{{lang.search_module_search_by_ou}}">
                                    <label>{{lang.search_module_search_by_ou}} :
                                        {{ctrl.searchInternal.getTranslatedYesNo('ou')}}</label>
                                </md-switch>
                                &lt;!&ndash; Reg OU List &ndash;&gt;
                                <md-input-container flex>
                                    <label for="registryOU" ng-if="ctrl.isSearchByRegOU && ctrl.employeeService.isCentralArchive()">{{lang.organization_unit}}</label>
                                    <md-select name="registryOU" id="registryOU"
                                               ng-disabled="ctrl.searchInternal.ou"
                                               required="true" ng-if="ctrl.isSearchByRegOU && ctrl.employeeService.isCentralArchive()"
                                               ng-model="ctrl.searchInternal.registryOU">
                                        <md-option ng-value="organization.id"
                                                   ng-repeat="organization in ctrl.registryOrganizations track by $index">
                                            {{organization.getTranslatedName()}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="searchInternalForm.registryOU.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                    </div>
                                </md-input-container>
                            </div>-->
                            <div layout="column" id="advanceSearch" flex class="box-shadow-raised">
                            <span layout="row" id="span_toggleAdvanceSearch" class="cursor-pointer" flex
                                  ng-click="ctrl.toggleAdvancedSearch()">
                                <div flex>{{lang.search_module_advanced_search}}</div>
                                <md-icon
                                        md-svg-icon="{{(ctrl.showAdvancedSearch) ? 'arrow-up-bold-circle-outline' : 'arrow-down-bold-circle-outline'}}"></md-icon>
                            </span>
                                <div layout="row" flex class="animate" ng-if="ctrl.showAdvancedSearch">
                                    <div layout="column" flex>
                                        <div layout="row" flex class="p020">
                                            <!-- Document Type -->
                                            <md-input-container flex>
                                                <label for="docType">{{lang.label_document_type}}</label>
                                                <md-select name="docType" id="docType"
                                                           ng-required="ctrl.dynamicRequired('docType','document_type')"
                                                           ng-model="ctrl.searchInternal.docType">
                                                    <md-option ng-value="documentType.lookupKey"
                                                               ng-repeat="documentType in ctrl.documentTypes track by $index">
                                                        {{documentType.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.docType.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Document Status -->
                                            <md-input-container flex>
                                                <label for="status">{{lang.menu_item_document_status}}</label>
                                                <md-select name="status" id="status"
                                                           ng-required="ctrl.dynamicRequired('status','document_status')"
                                                           ng-model="ctrl.searchInternal.docStatus">
                                                    <md-option ng-value="docStatus.lookupKey"
                                                               ng-repeat="docStatus in ctrl.docStatuses track by $index">
                                                        {{docStatus.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.docStatus.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Document File -->
                                            <md-input-container flex>
                                                <label for="fileId">{{lang.document_file}}</label>
                                                <md-select name="fileId" id="fileId"
                                                           ng-required="ctrl.dynamicRequired('fileId','document_file')"
                                                           ng-model="ctrl.searchInternal.fileId">
                                                    <md-option ng-value="documentFile.id"
                                                               ng-repeat="documentFile in ctrl.documentFiles track by $index">
                                                        {{documentFile.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.fileId.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout="row" flex class="p020">
                                            <!-- File Code -->
                                            <md-input-container flex>
                                                <label for="fileCode">{{lang.search_module_file_code}}</label>
                                                <input name="fileCode" id="fileCode"
                                                       custom-validate-directive="{{ctrl.dynamicType('fileCode','type')}}"
                                                       ng-required="ctrl.dynamicRequired('fileCode','search_module_file_code')"
                                                       ng-model="ctrl.searchInternal.fileCode">
                                                <div ng-messages="searchInternalForm.fileCode.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                    <div ng-message="{{ctrl.dynamicType('fileCode','type')}}">
                                                        {{ctrl.dynamicType('fileCode','message')}}
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <!-- File Number -->
                                            <md-input-container flex>
                                                <label for="fileSerial">{{lang.file_serial}}</label>
                                                <input name="fileSerial" id="fileSerial"
                                                       custom-validate-directive="{{ctrl.dynamicType('fileSerial','type')}}"
                                                       ng-required="ctrl.dynamicRequired('fileSerial','file_serial')"
                                                       ng-model="ctrl.searchInternal.fileSerial">
                                                <div ng-messages="searchInternalForm.fileSerial.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                    <div ng-message="{{ctrl.dynamicType('fileSerial','type')}}">
                                                        {{ctrl.dynamicType('fileSerial','message')}}
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <!-- Comments -->
                                            <md-input-container flex>
                                                <label for="comments">{{lang.comments}}</label>
                                                <input name="comments" id="comments"
                                                       ng-required="{{ctrl.dynamicRequired('comments', 'comments')}}"
                                                       ng-model="ctrl.searchInternal.docNotes">
                                                <div ng-messages="searchInternalForm.docNotes.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout="row" flex class="p020">
                                            <!-- Main Classification -->
                                            <md-input-container flex>
                                                <label for="mainClassification">{{lang.search_module_main_classifications}}</label>
                                                <md-select name="mainClassification" id="mainClassification"
                                                           ng-change="ctrl.getSubClassifications(searchInternalForm, $event)"
                                                           ng-required="ctrl.dynamicRequired('mainClassification','search_module_main_classifications')"
                                                           ng-model="ctrl.searchInternal.mainClassification">
                                                    <md-option ng-value="mainClassification.id"
                                                               ng-repeat="mainClassification in ctrl.mainClassifications track by $index">
                                                        {{mainClassification.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.mainClassification.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Sub Classification -->
                                            <md-input-container flex>
                                                <label for="subClassification">{{lang.search_module_sub_classifications}}</label>
                                                <md-select name="subClassification" id="subClassification"
                                                           ng-disabled="!ctrl.searchInternal.mainClassification"
                                                           ng-required="ctrl.dynamicRequired('subClassification','search_module_sub_classifications')"
                                                           ng-model="ctrl.searchInternal.subClassification">
                                                    <md-option ng-value="subClassification.id"
                                                               ng-repeat="subClassification in ctrl.subClassifications track by $index">
                                                        {{subClassification.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.subClassification.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Follow Up Status -->
                                            <md-input-container flex class="hidden">
                                                <label for="followupStatus">{{lang.search_module_follow_up_status}}</label>
                                                <!--<md-select multiple
                                                           ng-required="ctrl.dynamicRequired('followupStatus','search_module_follow_up_status')"
                                                           ng-model-options="{trackBy: '$value.id'}"
                                                           name="followupStatus" id="followupStatus"
                                                           ng-model="ctrl.searchInternal.followupStatus">
                                                    <md-option ng-value="followupStatus"
                                                               ng-repeat="followupStatus in ctrl.followupStatuses track by $index">
                                                        {{followupStatus.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>-->
                                                <md-select
                                                           ng-required="ctrl.dynamicRequired('followupStatus','search_module_follow_up_status')"
                                                           name="followupStatus" id="followupStatus"
                                                           ng-model="ctrl.searchInternal.followupStatus">
                                                    <md-option ng-value="followupStatus.id"
                                                               ng-repeat="followupStatus in ctrl.followupStatuses track by $index">
                                                        {{followupStatus.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.followupStatus.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Approved By -->
                                            <md-input-container flex class="not-found hidden">
                                                <label for="approvedBy">{{lang.search_module_approved_by}}</label>
                                                <md-select multiple
                                                           ng-required="ctrl.dynamicRequired('approvedBy','search_module_approved_by')"
                                                           ng-model-options="{trackBy: '$value.id'}"
                                                           name="approvedBy" id="approvedBy"
                                                           ng-model="ctrl.searchInternal.approvedBy">
                                                    <md-option ng-value="approvedBy"
                                                               ng-repeat="approvedBy in ctrl.approvers track by $index">
                                                        {{approvedBy.getTranslatedName()}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="searchInternalForm.approvedBy.$error">
                                                    <div ng-message="required">{{lang.field_required}}</div>
                                                </div>
                                            </md-input-container>
                                            <!-- Creation Date -->
                                            <fieldset flex layout="column" class="search-fieldset">
                                                <legend class="md-accent">{{lang.creation_date}}</legend>
                                                <div layout="row">
                                                    <!-- Creation Date From-->
                                                    <md-input-container flex>
                                                        <label for="createdFrom">{{lang.search_module_start_date}}</label>
                                                        <md-datepicker id="createdFrom" name="createdFrom"
                                                                       ng-required="ctrl.dynamicRequired('createdFrom','search_module_creation_start_date')"
                                                                       ng-model="ctrl.searchInternal.createdFrom"
                                                                       md-max-date="ctrl.searchInternal.createdTo"
                                                        ></md-datepicker>
                                                        <div ng-messages="searchInternalForm.createdFrom.$error">
                                                            <div ng-message="required">{{lang.field_required}}</div>
                                                        </div>
                                                    </md-input-container>
                                                    <!-- Creation Date To-->
                                                    <md-input-container flex>
                                                        <label for="createdTo">{{lang.search_module_end_date}}</label>
                                                        <md-datepicker id="createdTo" name="createdTo"
                                                                       ng-required="ctrl.dynamicRequired('createdTo','search_module_creation_end_date')"
                                                                       ng-model="ctrl.searchInternal.createdTo"
                                                                       md-min-date="ctrl.searchInternal.createdFrom"
                                                        ></md-datepicker>
                                                        <div ng-messages="searchInternalForm.createdTo.$error">
                                                            <div ng-message="required">{{lang.field_required}}</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </fieldset>
                                        </div>
                                       <!-- <div layout="row" flex class="p020">
                                            &lt;!&ndash; Creation Date &ndash;&gt;
                                            <fieldset flex layout="column" class="search-fieldset">
                                                <legend class="md-accent">{{lang.creation_date}}</legend>
                                                <div layout="row">
                                                    &lt;!&ndash; Creation Date From &ndash;&gt;
                                                    <md-input-container flex>
                                                        <label for="createdFrom">{{lang.search_module_start_date}}</label>
                                                        <md-datepicker id="createdFrom" name="createdFrom"
                                                                       ng-required="ctrl.dynamicRequired('createdFrom','search_module_creation_start_date')"
                                                                       ng-model="ctrl.searchInternal.createdFrom"
                                                                       md-max-date="ctrl.searchInternal.createdTo"
                                                        ></md-datepicker>
                                                        <div ng-messages="searchInternalForm.createdFrom.$error">
                                                            <div ng-message="required">{{lang.field_required}}</div>
                                                        </div>
                                                    </md-input-container>
                                                    &lt;!&ndash; Creation Date To &ndash;&gt;
                                                    <md-input-container flex>
                                                        <label for="createdTo">{{lang.search_module_end_date}}</label>
                                                        <md-datepicker id="createdTo" name="createdTo"
                                                                       ng-required="ctrl.dynamicRequired('createdTo','search_module_creation_end_date')"
                                                                       ng-model="ctrl.searchInternal.createdTo"
                                                                       md-min-date="ctrl.searchInternal.createdFrom"
                                                        ></md-datepicker>
                                                        <div ng-messages="searchInternalForm.createdTo.$error">
                                                            <div ng-message="required">{{lang.field_required}}</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </fieldset>
                                            <span flex></span>
                                            <span flex></span>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.search_module_search_results}}" ng-if="ctrl.showResults"
                        md-on-select="ctrl.setCurrentTab('sr')">
                    <md-table-container flex scroll-directive>
                        <table md-table md-row-select multiple ng-model="ctrl.selectedSearchedInternalDocuments"
                               md-progress="ctrl.progress">
                            <thead md-head md-order="ctrl.grid.order">
                            <tr md-row>
                                <th colspan="{{ctrl.selectedSearchedInternalDocuments.length > 1 ? 7 : 8}}"
                                    ng-if="ctrl.selectedSearchedInternalDocuments.length" md-column>
                                    <div layout="row" layout-align="start center">
                                        <span>{{ctrl.selectedSearchedInternalDocuments.length}} {{lang.items_selected}} </span>
                                        <span flex></span>
                                        <!-- Add to Favorite -->
                                        <md-button class="md-icon-button" class="action-green"
                                                   tooltip="{{lang.grid_action_add_to_favorite}}"
                                                   ng-if="ctrl.selectedSearchedInternalDocuments.length"
                                                   ng-click="ctrl.addToFavoriteBulk($event)">
                                            <md-icon md-svg-icon="star"></md-icon>
                                        </md-button>
                                    </div>
                                </th>
                                <th md-column>
                                    <!-- Indicators -->
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="docSubject">
                                    <span>{{lang.subject}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="priorityLevel">
                                    <span>{{lang.priority_level}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="securityLevel">
                                    <span>{{lang.security_level}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="docType">
                                    <span>{{lang.label_document_type}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="createdBy">
                                    <span>{{lang.creator}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length" md-column
                                    md-order-by="createdOn">
                                    <span>{{lang.created_on}}</span>
                                </th>
                                <th ng-if="!ctrl.selectedSearchedInternalDocuments.length && ctrl.selectedSearchedInternalDocuments.length < 2"
                                    md-column>
                                    <span></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="searchedInternalDocument" grid-right-click-directive
                                model="searchedInternalDocument"
                                selected-length="{{ctrl.selectedSearchedInternalDocuments.length ? ctrl.selectedSearchedInternalDocuments.length : 0}}"
                                ng-repeat="searchedInternalDocument in ctrl.searchedInternalDocuments | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order  track by $index">
                                <td md-cell class="indicator-td">
                                    <!-- Security Level -->
                                    <grid-indicator-directive record="searchedInternalDocument"
                                                              indicator-type="securityLevel"
                                                              record-type="correspondence"></grid-indicator-directive>
                                    <!-- Priority Level -->
                                    <grid-indicator-directive record="searchedInternalDocument"
                                                              indicator-type="priorityLevel"
                                                              record-type="correspondence"></grid-indicator-directive>
                                    <!-- Has Attachments -->
                                    <grid-indicator-directive record="searchedInternalDocument"
                                                              indicator-type="hasAttachment"
                                                              record-type="correspondence"></grid-indicator-directive>
                                    <!-- Linked Documents -->
                                    <grid-indicator-directive record="searchedInternalDocument"
                                                              indicator-type="hasLinkedDocuments"
                                                              record-type="correspondence"></grid-indicator-directive>
                                </td>
                                <td md-cell class="td-data">
                                    <a href="" ng-if="searchedInternalDocument.hasContent()" class="view-doc"
                                       ng-click="ctrl.viewDocument(searchedInternalDocument, $event)">{{searchedInternalDocument.docSubject}}</a>
                                    <span ng-if="!searchedInternalDocument.hasContent()">{{searchedInternalDocument.docSubject}}</span>
                                </td>
                                <td md-cell>{{searchedInternalDocument.priorityLevel.getTranslatedName()}}</td>
                                <td md-cell>{{searchedInternalDocument.securityLevel.getTranslatedName()}}</td>
                                <td md-cell>{{lang[searchedInternalDocument.getInfo().documentClass +"_document_class"]}}</td>
                                <td md-cell>{{searchedInternalDocument.getTranslatedCreator()}}</td>
                                <td md-cell>{{searchedInternalDocument.createdOn}}</td>
                                <td md-cell ng-if="ctrl.selectedSearchedInternalDocuments.length < 2">
                                    <div layout-align="start center" ng-if="!ctrl.selectedSearchedInternalDocuments.length
                                                  || ctrl.selectedSearchedInternalDocuments.length===1 && ctrl.selectedSearchedInternalDocuments[0].id === searchedInternalDocument.id">
                                        <grid-actions-directive menu-direction="horizontal"
                                                                grid-actions="ctrl.gridActions"
                                                                model="searchedInternalDocument"
                                                                shortcut="true">
                                        </grid-actions-directive>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <md-table-pagination
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.grid.limitOptions"
                                md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                                md-total="{{ctrl.searchedInternalDocuments.length}}" md-page-select>
                        </md-table-pagination>
                    </md-table-container>
                </md-tab>
            </md-tabs>

            <div layout="row" ng-if="ctrl.selectedTab===0" layout-align="start center" class="p20">
                <!--ng-class="{'static-button':ctrl.showAdvancedSearch }"-->
                <md-button class="md-raised" ng-disabled="searchInternalForm.$invalid"
                           id="btn_SearchInternal"
                           ng-click="ctrl.search()">{{lang.search}}
                </md-button>
                <md-button class="md-raised"
                           ng-click="ctrl.resetFilters(searchInternalForm)">
                    {{lang.search_module_reset_filters}}
                </md-button>
                <span flex></span>
                <md-button class="md-raised hidden"
                           ng-click="ctrl.saveSearch(searchInternalForm)">
                    {{lang.search_module_save_search}}
                </md-button>
            </div>
        </form>

    </div>
</div>
