<!-- start of view -->
<div background-directive="tall" class="page-content" flex="">
    <div layout="column" class="content">
        <!-- page-header start -->
        <div layout="row" layout-align="start center" class="page-header padding-header small">
            <md-button ng-click="ctrl.openSidebarFilter()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <span>{{lang.menu_item_user_inbox}}</span>
            <md-button ng-click="ctrl.reloadUserInboxes()" class="md-icon-button" tooltip="{{lang.reload}}">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-click="ctrl.userFilterCreate($event)" class="md-icon-button" tooltip="{{lang.create_filter}}">
                <md-icon md-svg-icon="filter"></md-icon>
            </md-button>
            <search-filter-directive model="ctrl.searchModel"></search-filter-directive>
        </div>
        <!-- end page-header -->
        <!-- page-content -->
        <div layout="column" flex>
            <div class="z-index-3">
                <md-sidenav id="sidebar-folder-structure" md-is-open="ctrl.sidebarFilter"
                            ng-class="{'md-sidenav-right':lang.current === 'ar'}">
                    <div class="p20 first-folder-list" layout="column">
                        <p>{{lang.user_filters}}</p>
                        <folders-tree-structure-directive icon="filter-variant" disable-selected="0"
                                                          highlight-selected="ctrl.selectedFilter"
                                                          click-callback="ctrl.getFolderContent"
                                                          folders="ctrl.userFilters"></folders-tree-structure-directive>
                    </div>
                </md-sidenav>
            </div>
            <div scroll-directive>
                <div class="page-padding">
                    <md-card ng-if="false" md-whiteframe="3" layout="column" class="card-overlay">
                        <div>
                            <md-tabs md-selected="ctrl.selectedTab" class="filter-tabs"
                                     md-dynamic-height>
                                <md-tab label="{{lang.inbox}}">
                                    <md-content class="white-bg">
                                        <work-item-inbox-directive
                                                grid="ctrl.grid"
                                                change-user-inbox-star-bulk="ctrl.changeUserInboxStarBulk"
                                                work-items="ctrl.userInboxes"
                                                view-document="ctrl.viewDocument"
                                                grid-actions="ctrl.gridActions"
                                                change-user-inbox-star="ctrl.changeUserInboxStar"
                                                forward-bulk="ctrl.forwardBulk"
                                                add-to-folder-user-inbox-bulk="ctrl.addToFolderUserInboxBulk"
                                                terminate-user-inbox-bulk="ctrl.terminateUserInboxBulk"
                                                mark-as-read-unread="ctrl.markAsReadUnread"
                                                check-if-forward-bulk-available="ctrl.checkIfForwardBulkAvailable"
                                                selected-work-items="ctrl.selectedUserInboxes">
                                        </work-item-inbox-directive>
                                    </md-content>
                                </md-tab>
                                <md-tab label="{{lang.starred_tab}}" ng-if="ctrl.showStarredTab(true)">
                                    <md-content class="white-bg">
                                        <work-item-inbox-directive
                                                grid="ctrl.starredGrid"
                                                change-user-inbox-star-bulk="ctrl.changeUserInboxStarBulk"
                                                work-items="ctrl.starredUserInboxes"
                                                view-document="ctrl.viewDocument"
                                                grid-actions="ctrl.gridActions"
                                                change-user-inbox-star="ctrl.changeUserInboxStar"
                                                forward-bulk="ctrl.forwardBulk"
                                                add-to-folder-user-inbox-bulk="ctrl.addToFolderUserInboxBulk"
                                                terminate-user-inbox-bulk="ctrl.terminateUserInboxBulk"
                                                mark-as-read-unread="ctrl.markAsReadUnread"
                                                check-if-forward-bulk-available="ctrl.checkIfForwardBulkAvailable"
                                                selected-work-items="ctrl.selectedUserInboxes">
                                        </work-item-inbox-directive>
                                    </md-content>
                                </md-tab>
                                <md-tab ng-repeat="filter in ctrl.userFilters"
                                        md-on-select="ctrl.selectFilter(filter, $index)">
                                    <md-tab-label>
                                        <div layout="row" flex layout-align="start center">
                                            <div flex class="tab-title">{{filter.getTranslatedName()}}</div>
                                            <div class="filter-absolute">
                                                <md-menu-bar class="filter-menu">
                                                    <md-menu>
                                                        <md-button ng-click="$mdMenu.open()"
                                                                   class="md-icon-button filter-button">
                                                            <md-icon md-svg-icon="dots-vertical"></md-icon>
                                                        </md-button>
                                                        <md-menu-content width="2">
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="ctrl.userFilterEdit(filter , $index , $event)">
                                                                    <div layout="row">
                                                                        <md-icon md-svg-icon="pencil"></md-icon>
                                                                        <span flex>{{lang.edit_filter}}</span>
                                                                    </div>
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="ctrl.userFilterDelete(filter , $index ,  $event)">
                                                                    <div layout="row">
                                                                        <md-icon md-svg-icon="delete"></md-icon>
                                                                        <span flex>{{lang.delete_filter}}</span>
                                                                    </div>
                                                                </md-button>
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </md-menu-bar>
                                            </div>
                                        </div>
                                    </md-tab-label>
                                    <md-tab-body>
                                        <md-content class="white-bg">
                                            <work-item-inbox-directive
                                                    grid="ctrl.filterGrid[$index]"
                                                    change-user-inbox-star-bulk="ctrl.changeUserInboxStarBulk"
                                                    work-items="ctrl.workItemsFilters[$index]"
                                                    view-document="ctrl.viewDocument"
                                                    grid-actions="ctrl.gridActions"
                                                    change-user-inbox-star="ctrl.changeUserInboxStar"
                                                    forward-bulk="ctrl.forwardBulk"
                                                    add-to-folder-user-inbox-bulk="ctrl.addToFolderUserInboxBulk"
                                                    terminate-user-inbox-bulk="ctrl.terminateUserInboxBulk"
                                                    mark-as-read-unread="ctrl.markAsReadUnread"
                                                    check-if-forward-bulk-available="ctrl.checkIfForwardBulkAvailable"
                                                    selected-work-items="ctrl.selectedUserInboxes">
                                            </work-item-inbox-directive>
                                        </md-content>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </md-card>
                    <div ng-if="true" layout="column" class="magazine-layout card-overlay">
                        <div layout="row" md-whiteframe="1" ng-repeat="workItem in ctrl.userInboxes track by $index"
                             class="magazine-item">
                            <div class="magazine-image" layout="column">
                                <div layout="row" flex class="magazine-icon">
                                    <md-icon flex md-svg-icon="arrow-down-bold-box"></md-icon>
                                </div>
                                <div class="magazine-date">
                                    <span>{{workItem.getReceivedDate()}}</span>
                                </div>
                            </div>
                            <div class="magazine-content" layout="column" flex>
                                <div layout="row" class="magazine-top">
                                    <div layout-align="center center" class="magazine-serial">
                                        {{workItem.getFullSerialText()}}
                                    </div>
                                    <div flex class="magazine-from">{{workItem.getFromOU()}}</div>
                                    <div class="magazine-sender">{{lang.sender }} -
                                        {{workItem.senderInfo.getTranslatedName()}}
                                    </div>
                                </div>
                                <div layout="column" class="magazine-middle">
                                    <div layout="row" class="magazine-title">
                                        <span md-truncate flex><a>{{workItem.getSubject()}}</a></span>
                                    </div>
                                </div>
                                <div layout="row" layout-align="start center" class="magazine-bottom">
                                    <magazine-indicator icon="book-open-variant" color="red"
                                                        model="workItem"></magazine-indicator>

                                    <!--<div class="font-12 magazine-type" layout="row" layout-align="start center">-->
                                    <!--<div class="magazine-icon">-->
                                    <!--<md-icon class="small-icon" md-svg-icon="book-open-variant"></md-icon>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                    <!--نوع الكتاب : ورقي-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="font-12 magazine-priority" layout="row" layout-align="start center">
                                        <div class="magazine-icon">
                                            <md-icon class="small-icon" md-svg-icon="alert-circle"></md-icon>
                                        </div>
                                        <div>
                                            درجة الأولوية : عادي
                                        </div>
                                    </div>
                                    <div class="font-12 magazine-security" layout="row" layout-align="start center">
                                        <div class="magazine-icon">
                                            <md-icon class="small-icon" md-svg-icon="lock"></md-icon>
                                        </div>
                                        <div>
                                            درجة السرية
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="magazine-action" layout="column">
                                <div layout="row" flex class="magazine-icon">
                                    <md-icon flex md-svg-icon="arrow-down-bold-box"></md-icon>
                                </div>
                                <div class="magazine-date">
                                    <span>{{workItem.getReceivedDate()}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>
<!-- end of view -->