span.switch-width {
  min-width: 70px;
  display: inline-block;
}

md-card.remove-shadows {
  box-shadow: none;
  margin: 0;
}

//
//.include-exclude-custom-template li {
//  border-bottom: 1px solid #ccc;
//  height: auto;
//  padding-top: 8px;
//  padding-bottom: 8px;
//  white-space: normal;
//}
//
//.include-exclude-custom-template .metadata {
//  display: block;
//}