<div id="barcode-settings" flex layout="row">
    <div class="barcode-column" flex id="barcode-generator" layout="row">
        <div class="barcode-generator block-display" layout="column">
            <div ng-class="{'disabled':ctrl.elementExists(item)}" bc-draggable="item" flex class="barcode-item"
                 ng-repeat="item in ctrl.barcodeElements track by $index">
                <span md-truncate>{{item.getTranslatedName()}}</span>
            </div>
        </div>
        <div flex class="barcode-layout-border" layout="column">
            <div class="barcode-layout-generator" layout="column">
                <md-button class="md-raised add-row-button" ng-click="ctrl.insertRowElement()">
                    <md-icon md-svg-icon="plus"></md-icon>
                </md-button>
                <div bc-sortable layout="column" class="barcode-layout-rows">

                </div>
            </div>
        </div>
    </div><!--barcode-generator -->
    <div class="barcode-column" flex="40" id="barcode-viewer" layout="column">
        <div layout="column">
            <ng-form layout="column" name="barcodeForm">
                <div layout="row">
                    <md-input-container flex>
                        <label for="encodeType">{{lang.barcode_type}}</label>
                        <md-select name="encodeType" ng-model="ctrl.globalSetting.barcodeElements.encodeType"
                                   id="encodeType">
                            <md-option ng-value="encodeType.lookupKey" ng-repeat="encodeType in ctrl.barcodeTypes">
                                {{encodeType.getTranslatedName()}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="fontSize">{{lang.font_size}}</label>
                        <input id="fontSize" required custom-validate-directive="number" name="fontSize"
                               ng-model="ctrl.globalSetting.barcodeElements.fontSize">
                        <div ng-messages="barcodeForm.fontSize.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="width">{{lang.width}}</label>
                        <input id="width" name="width" required custom-validate-directive="number"
                               ng-model="ctrl.globalSetting.barcodeElements.width">
                        <div ng-messages="barcodeForm.width.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="height">{{lang.height}}</label>
                        <input id="height" name="height" required custom-validate-directive="number"
                               ng-model="ctrl.globalSetting.barcodeElements.height">
                        <div ng-messages="barcodeForm.height.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label id="barcodeText">{{lang.barcode_text}}</label>
                        <input name="barcodeText" ng-model="ctrl.globalSetting.barcodeElements.barcodeText">
                    </md-input-container>
                </div>
            </ng-form>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-button ng-disabled="barcodeForm.$invalid" class="md-raised" ng-click="ctrl.getBarcodeTest($event)">
                    {{lang.generate_barcode}}
                </md-button>
            </div>
        </div>
    </div><!-- barcode-viewer -->
</div>