<md-menu-bar class="correspondence-view-menu-actions">
    <md-menu>
        <md-button ng-click="$mdMenu.open()" class="md-icon-button">
            <md-icon md-svg-icon="dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-repeat="action in ctrl.viewActions"
                          ng-if="ctrl.checkDisplayAction(action , ctrl.workItem , ctrl.correspondence) && !ctrl.hideFromView(action)">
                <md-button ng-click="ctrl.runActionCallback(action , ctrl.workItem , ctrl.correspondence )"
                           ng-if="!action.subMenu.length && action.type ==='action'">
                    <div layout="row">
                        <md-icon md-svg-icon="{{::action.icon}}" class="{{action.class}}"></md-icon>
                        <span flex>{{action.translate}}</span>
                    </div>
                </md-button>
                <md-divider ng-if="action.type==='separator'"></md-divider>
                <md-menu ng-if="action.subMenu.length">
                    <md-button ng-click="$mdMenu.open()">
                        <div layout="row">
                            <md-icon md-svg-icon="{{::action.icon}}"></md-icon>
                            <span flex>{{action.translate}}</span>
                        </div>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-repeat="childAction in action.subMenu"
                                      ng-if="ctrl.checkDisplayAction(childAction , ctrl.workItem , ctrl.correspondence) && !ctrl.hideFromView(childAction)">
                            <md-button
                                    ng-click="ctrl.runActionCallback(childAction , ctrl.workItem , ctrl.correspondence )"
                                    ng-if="!childAction.subMenu.length && action.type ==='action'">
                                <div layout="row">
                                    <!--<md-icon md-svg-icon="{{::childAction.icon}}"></md-icon>-->
                                    <span flex
                                          class="{{childAction.class}}">{{childAction.translate}}</span>
                                </div>
                            </md-button>
                            <md-divider ng-if="action.type==='separator'"></md-divider>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
