<li class="document-properties">
    <div ng-if="ctrl.sectionTitle" layout="row" layout-align="start center" class="section-title">
        <div flex>{{lang.get(ctrl.sectionTitle)}}</div>
        <md-button class="md-icon-button collapse-button" ng-click="ctrl.toggleCollapse($event)">
            <md-icon md-svg-icon="{{ctrl.collapse ? 'arrow-down-drop-circle' : 'arrow-up-drop-circle'}}"></md-icon>
        </md-button>
    </div>
    <ul class="work-item-properties item-properties">
        <li>
            <span class="property-key">{{lang.inbox_serial}}</span>
            <span class="property-value serial-td">{{ctrl.item.getFullSerial()}}</span>
        </li>
        <li ng-if="ctrl.checkField('securityLevel','isMandatory')">
            <span class="property-key">{{lang.security_level}}</span>
            <span class="property-value">{{ctrl.item.securityLevelInfo.getTranslatedName()}}</span>
        </li>
        <!-- incoming -->
        <li ng-if="ctrl.item.hasDocumentClass('incoming')">
            <span class="property-key">{{lang.incoming_date}}</span>
            <span class="property-value">{{ctrl.item.getIncomingDate()}}</span>
        </li>
        <li ng-if="ctrl.item.hasDocumentClass('incoming')">
            <span class="property-key">{{lang.document_number}}</span>
            <span class="property-value">{{ctrl.item.refDocNumber}}</span>
        </li>
        <li>
            <span class="property-key">{{lang.document_date}}</span>
            <span class="property-value">{{ctrl.item.getDocumentDate()}}</span>
        </li>
        <li ng-if="ctrl.checkField('priorityLevel','isMandatory')">
            <span class="property-key">{{lang.priority_level}}</span>
            <span class="property-value">{{ctrl.item.priorityLevelInfo.getTranslatedName()}}</span>
        </li>
        <li ng-if="ctrl.checkField('mainClassification','isMandatory')">
            <span class="property-key">{{lang.main_classification}}</span>
            <span class="property-value">{{ctrl.item.mainClassification.getTranslatedName()}}</span>
        </li>
        <li ng-if="ctrl.checkField('subClassification','isMandatory')">
            <span class="property-key">{{lang.classification}}</span>
            <span class="property-value">{{ctrl.item.subClassification.getTranslatedName()}}</span>
        </li>
        <li ng-if="ctrl.item.hasDocumentClass('incoming')">
            <span class="property-key">{{lang.administration_topic}}</span>
            <span class="property-value">{{ctrl.item.siteInfo.mainSite.getTranslatedName()}}</span>
        </li>
        <li ng-if="ctrl.item.hasDocumentClass('incoming')">
            <span class="property-key">{{lang.administration}}</span>
            <span class="property-value">{{ctrl.item.siteInfo.subSite.getTranslatedName()}}</span>
        </li>
        <li ng-if="ctrl.item.hasDocumentClass('outgoing')">
            <span class="property-key">{{lang.administration_topic}}</span>
            <span class="property-value">{{ctrl.site.getTranslatedParentName()}}</span>
        </li>
        <li ng-if="ctrl.item.hasDocumentClass('outgoing')">
            <span class="property-key">{{lang.administration}}</span>
            <span class="property-value">{{ctrl.site.getTranslatedName()}}</span>
        </li>
    </ul>
</li>
