<div id="co-ordinates-container" ng-style="ctrl.pageDimensions">
    <div id="barcode-box" class="cursor-move"
         ng-class="{'disable-watermark':!ctrl.documentSecuritySetting.status2D}"
         ng-style="ctrl.barcodeBoxDimensionsAndPosition">
        <img src="assets/images/qrcode-sample-128.png" width="{{ctrl.barcodeBoxDimensionsAndPosition.width}}"
             height="{{ctrl.barcodeBoxDimensionsAndPosition.height}}">
    </div>
    <span id="security-text" ng-if="ctrl.documentSecuritySetting.textOrientation"
         ng-style="ctrl.watermarkTextStyle"
         ng-class="ctrl.watermarkTextClass">ABCDEF-ABCDEF-ABCDEF
    </span>
</div>