<div layout="row" layout-align="start center">
    <div md-whiteframe="3" layout="row" class="search_header">
        <md-button class="md-icon-button" id="{{ctrl.searchButtonId}}">
            <md-icon md-svg-icon="magnify"></md-icon>
        </md-button>
        <input flex ng-model="ctrl.grid.searchText"
               ng-change="ctrl.search($event)" autocomplete="off"
               placeholder="{{ctrl.placeholder ? ctrl.placeholder : ''}}"
               name="search_header_query" id="{{ctrl.searchBoxId}}">
    </div>
</div>
