<!--<span ng-if="ctrl.displayType !== 'text'" class="{{ctrl.spanClass}} "
      ng-class="{'indicator-content': ctrl[ctrl.indicatorType+'Indicator']}">
    <md-icon ng-if="ctrl.getIndicator()"
             class="{{ctrl[ctrl.indicatorType+'Indicator'].class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl[ctrl.indicatorType+'Indicator'].icon}}"
             tooltip="{{ctrl.getIndicatorTooltip()}}"
    ></md-icon>
</span>

<span ng-if="(ctrl.displayType === 'text') &&  ctrl.getIndicator()"
      class="{{ctrl[ctrl.indicatorType+'Indicator'].class}} {{ctrl.spanClass}}"
      tooltip="{{ctrl.getIndicatorTooltip()}}">
        {{ctrl.getIndicatorText()}}
</span>-->


<!-- Security Level -->
<span ng-if="ctrl.indicatorType === 'securityLevel'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.securityLevelIndicator}">
    <md-icon ng-if="ctrl.record.securityLevelIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.securityLevelIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.securityLevelIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.securityLevelIndicator.tooltip)
                                .change({name: ctrl.record.securityLevelIndicator.value.getTranslatedName()})}}"
    <!--.change({name: ctrl.record.securityLevelLookup.getTranslatedName()})}}"-->
    ></md-icon>
</span>
<!-- Doc Class (Outgoing / Incoming / Internal) -->
<span ng-if="ctrl.indicatorType === 'docClass'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.docClassIndicator}">
    <md-icon ng-if="ctrl.record.docClassIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.docClassIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.docClassIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.docClassIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Paper/Electronic -->
<span ng-if="ctrl.indicatorType === 'paperElectronic' && ctrl.record.getInfo().documentClass!=='incoming'"
      class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isPaperIndicator}">
    <md-icon ng-if="ctrl.record.isPaperIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isPaperIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.isPaperIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isPaperIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Is Reassigned -->
<span ng-if="ctrl.indicatorType === 'isReassigned'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isReassignedIndicator}">
    <md-icon ng-if="ctrl.record.isReassignedIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isReassignedIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.isReassignedIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isReassignedIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Has Linked Documents -->
<span ng-if="ctrl.indicatorType === 'hasLinkedDocuments'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.linkedDocsIndicator}">
    <md-icon ng-if="ctrl.record.linkedDocsIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.linkedDocsIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.linkedDocsIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.linkedDocsIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Tags Badge -->
<span ng-if="ctrl.indicatorType === 'tags'" class="indicator {{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.tagsIndicator}">
     <span ng-if="ctrl.record.tagsIndicator && ctrl.isShowIndicator()"
           tooltip="{{ctrl.langService.get(ctrl.record.tagsIndicator.tooltip)}}"
           class="{{ctrl.record.tagsIndicator.class}} {{ctrl.iconClass}}">
         {{ctrl.record.tagsIndicator.text}}
     </span>
 </span>
<!-- Follow up Status -->
<span ng-if="ctrl.indicatorType === 'followupStatus'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.followUpStatusIndicator}">
    <md-icon ng-if="ctrl.record.followUpStatusIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.followUpStatusIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.followUpStatusIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.followUpStatusIndicator.tooltip)
                               .change({name: ctrl.record.followUpStatusIndicator.value.getTranslatedName()})}}"
    ></md-icon>
    <!-- .change({name: ctrl.record.followupStatusLookup.getTranslatedName()})}}" -->
</span>
<!-- Priority Level -->
<span ng-if="ctrl.indicatorType === 'priorityLevel'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.priorityLevelIndicator}">
    <md-icon ng-if="ctrl.record.priorityLevelIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.priorityLevelIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.priorityLevelIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.priorityLevelIndicator.tooltip)
                                    .change({name: ctrl.record.priorityLevelIndicator.value.getTranslatedName()})}}"
    ></md-icon>
    <!-- .change({name: ctrl.record.priorityLevelLookup.getTranslatedName()})}}" -->
</span>
<!-- Has Attachment -->
<span ng-if="ctrl.indicatorType === 'hasAttachment'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.attachmentsIndicator}">
    <md-icon ng-if="ctrl.record.attachmentsIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.attachmentsIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.attachmentsIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.attachmentsIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Due Date -->
<span ng-if="ctrl.indicatorType === 'dueDate'" class="{{ctrl.record.dueDateStatusIndicator.class}} {{ctrl.spanClass}}"
      tooltip="{{ctrl.langService.get(ctrl.record.dueDateStatusIndicator.tooltip)
                        .change({due_date_status:ctrl.langService.get(ctrl.record.dueDateStatusIndicator.text) })}}">
        {{ctrl.record.getDueDate()}}
</span>
<!-- Linked Exported Doc -->
<span ng-if="ctrl.indicatorType === 'isLinkedExportedDoc'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isLinkedExportedDocIndicator}">
    <md-icon ng-if="ctrl.record.isLinkedExportedDocIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isLinkedExportedDocIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.isLinkedExportedDocIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isLinkedExportedDocIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Original / Copy -->
<span ng-if="ctrl.indicatorType === 'originalCopy'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.originalCopyIndicator}">
    <md-icon ng-if="ctrl.record.originalCopyIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.originalCopyIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.originalCopyIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.originalCopyIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Is Locked (G2G) -->
<span ng-if="ctrl.indicatorType === 'isLockedG2G'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isLockedG2GIndicator}">
    <md-icon ng-if="ctrl.record.isLockedG2GIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isLockedG2GIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.isLockedG2GIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isLockedG2GIndicator.tooltip)
                        .change({name:ctrl.record.stepElm.lockingInfo.displayName})}}"
    ></md-icon>
</span>
<!-- Has Content (Document Version) -->
<span ng-if="ctrl.indicatorType === 'versionHasContent'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isLockedG2GIndicator}">
    <md-icon ng-if="ctrl.record.versionHasContentIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.versionHasContentIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.versionHasContentIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.versionHasContentIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Is Internal (G2G) -->
<span ng-if="ctrl.indicatorType === 'isInternalG2G'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isInternalG2GIndicator}">
    <md-icon ng-if="ctrl.record.isInternalG2GIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isInternalG2GIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.isInternalG2GIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isInternalG2GIndicator.tooltip)
                        .change({name:ctrl.record.stepElm.isInternalG2GIndicator.displayName})}}"
    ></md-icon>
</span>
<!-- Is Locked (WorkItem) -->
<span ng-if="ctrl.indicatorType === 'isLockedWorkItem'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isLockedWorkItemIndicator}">
    <md-icon ng-if="ctrl.record.isLockedWorkItemIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isLockedWorkItemIndicator.class}} {{ctrl.iconClass}} cursor-pointer"
             md-svg-icon="{{ctrl.record.isLockedWorkItemIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isLockedWorkItemIndicator.tooltip)
                        .change({name: ctrl.record.isLockedWorkItemIndicator.value.getTranslatedName()})}}"
             ng-click="ctrl.unlockWorkItem(ctrl.record, $event)"
    ></md-icon>
</span>
<!-- Sent To RegOU from Launch (WorkItem) -->
<span ng-if="ctrl.indicatorType === 'isTransferredDocumentIndicator'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isTransferredDocumentIndicator}">
    <md-icon ng-if="ctrl.record.isTransferredDocumentIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isTransferredDocumentIndicator.class}} {{ctrl.iconClass}} cursor-pointer"
             md-svg-icon="{{ctrl.record.isTransferredDocumentIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isTransferredDocumentIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Broadcast -->
<span ng-if="ctrl.indicatorType === 'broadcast'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.isBroadcastedIndicator}">
    <md-icon ng-if="ctrl.record.isBroadcastedIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.isBroadcastedIndicator.class}} {{ctrl.iconClass}} cursor-pointer"
             md-svg-icon="{{ctrl.record.isBroadcastedIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.isBroadcastedIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Site Follow up due date Status -->
<span ng-if="ctrl.indicatorType === 'siteFollowUpDueDate'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.siteFollowUpDueDateIndicator}">
    <md-icon ng-if="ctrl.record.siteFollowUpDueDateIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.siteFollowUpDueDateIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.siteFollowUpDueDateIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.siteFollowUpDueDateIndicator.tooltip)
                               .change({due_date_status:ctrl.langService.get(ctrl.record.siteFollowUpDueDateIndicator.text)})}}"
    ></md-icon>
</span>
<!-- Site Follow up Ended -->
<span ng-if="ctrl.indicatorType === 'siteFollowUpEnded'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.siteFollowUpEndedIndicator}">
    <md-icon ng-if="ctrl.record.siteFollowUpEndedIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.siteFollowUpEndedIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.siteFollowUpEndedIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.siteFollowUpEndedIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- comments -->
<span ng-if="ctrl.indicatorType === 'comments' && ctrl.record.generalStepElm.comments" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.commentsIndicator}">
    <md-icon ng-if="ctrl.record.commentsIndicator && ctrl.isShowIndicator()"
             md-svg-icon="{{ctrl.record.commentsIndicator.icon}}"
             tooltip="{{ctrl.record.generalStepElm.comments}}"
    ></md-icon>
</span>
<!-- Registry Ou -->
<span ng-if="ctrl.indicatorType === 'regOU'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.registryOuIndicator}">
    <md-icon ng-if="ctrl.record.registryOuIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.registryOuIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.registryOuIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.registryOuIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Central Archive Ou -->
<span ng-if="ctrl.indicatorType === 'centralArchiveOU'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.centralArchiveIndicator}">
    <md-icon ng-if="ctrl.record.centralArchiveIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.centralArchiveIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.centralArchiveIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.centralArchiveIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Private Registry Ou -->
<span ng-if="ctrl.indicatorType === 'privateRegOu'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.privateRegOuIndicator}">
    <md-icon ng-if="ctrl.record.privateRegOuIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.privateRegOuIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.privateRegOuIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.privateRegOuIndicator.tooltip)}}"
    ></md-icon>
</span>
<!-- Not Sync Ou -->
<span ng-if="ctrl.indicatorType === 'notSyncOu'" class="{{ctrl.spanClass}}"
      ng-class="{'indicator-content': ctrl.record.notSyncOuIndicator}">
    <md-icon ng-if="ctrl.record.notSyncOuIndicator && ctrl.isShowIndicator()"
             class="{{ctrl.record.notSyncOuIndicator.class}} {{ctrl.iconClass}}"
             md-svg-icon="{{ctrl.record.notSyncOuIndicator.icon}}"
             tooltip="{{ctrl.langService.get(ctrl.record.notSyncOuIndicator.tooltip)}}"
    ></md-icon>
</span>

