<div>
    <div class="z-index-3-absolute static-bar-fixed"
         ng-class="{'gt-small':ctrl.isGreatThanSmall(),'sidebar-opened':ctrl.sidebarOpened('main-sidebar')}"
         md-whiteframe="2">
        <div layout="row" class="top-bar-meta-data">
            <div flex layout="row">
                <!-- here we will display check/uncheck all -->
                <div layout="row" layout-align="start center" ng-if="ctrl.selectedWorkItems.length">
                    <span class="font-12">{{ctrl.selectedWorkItems.length}} {{lang.items_selected}} </span>
                </div>
                <div layout="row" layout-align="center center" class="magazine-pagination" flex>
                    <div layout="row" class="page-list">
                        <md-table-pagination
                                class="magazine-table-pagination"
                                md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                md-limit-options="ctrl.limitOptions"
                                md-limit="ctrl.pageLimit" md-page="ctrl.page"
                                md-total="{{ctrl.workItems.length}}" md-page-select>
                        </md-table-pagination>
                    </div>
                    <md-input-container class="m0 cms-default">
                        <label for="sortBy">{{lang.sort_by}}</label>
                        <md-select id="sortBy" aria-label="sortBy"
                                   ng-model="ctrl.sortOrder"
                                   ng-change="ctrl.getSortedMagazineData()">
                            <md-option ng-repeat="option in ctrl.sortingOptions track by $index"
                                       ng-value="option.value()">
                                <md-icon md-svg-icon="{{option.icon}}"></md-icon> {{option.text()}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <div ng-if="ctrl.selectedWorkItems.length">
                        <md-button class="md-icon-button"
                                   tooltip="{{lang.grid_action_forward}}"
                                   ng-if="ctrl.checkIfForwardBulkAvailable()"
                                   ng-click="ctrl.forwardBulk($event)">
                            <md-icon md-svg-icon="share"
                                     class="action-green"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   aria-label="{{lang.inbox_terminate}}"
                                   tooltip="{{lang.inbox_terminate}}"
                                   ng-click="ctrl.terminateUserInboxBulk($event)">
                            <md-icon md-svg-icon="stop"
                                     class="action-green"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-if="ctrl.moveToFolderBulk"
                                   aria-label="{{lang.grid_action_move_to_folder}}"
                                   tooltip="{{lang.grid_action_move_to_folder}}"
                                   ng-click="ctrl.moveToFolderBulk($event)">
                            <md-icon md-svg-icon="folder-move"
                                     class="action-green"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-if="!ctrl.moveToFolderBulk"
                                   aria-label="{{lang.inbox_add_to_folder}}"
                                   tooltip="{{lang.inbox_add_to_folder}}"
                                   ng-click="ctrl.addToFolderUserInboxBulk($event)">
                            <md-icon md-svg-icon="folder-plus"
                                     class="action-green"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button action-green"
                                   aria-label="{{lang.star}}"
                                   tooltip="{{lang.star}}"
                                   ng-click="ctrl.changeUserInboxStarBulk('starBulk',$event)">
                            <md-icon class="star-yellow"
                                     md-svg-icon="star"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button action-green"
                                   aria-label="{{lang.un_star}}"
                                   tooltip="{{lang.un_star}}"
                                   ng-click="ctrl.changeUserInboxStarBulk('unStarBulk' ,$event)">
                            <md-icon class="star-yellow"
                                     md-svg-icon="star-outline"></md-icon>
                        </md-button>
                    </div>
                    <div ng-if="!ctrl.selectedWorkItems.length">
                        <md-button tooltip="{{lang.view_grid}}"
                                   ng-click="ctrl.employeeService.getEmployee().toggleInboxView()"
                                   class="md-icon-button">
                            <md-icon md-svg-icon="view-grid"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" class="magazine-layout card-overlay">
        <div ng-click="ctrl.showThumbnails($event , workItem)" magazine-right-click-directive layout="column"
             model="workItem"
             ng-class="{'selected':ctrl.isWorkItemSelected(workItem)}"
             magazine-item-directive="workItem" selected-length="ctrl.selectedWorkItems.length" md-whiteframe="1"
             ng-repeat="workItem in ctrl.workItems | limitTo:ctrl.pageLimit:( ( ctrl.page - 1) * ctrl.pageLimit) track by $index"
             class="magazine-item">
            <div layout="row">
                <a href="" tooltip="{{workItem.isRead() ? lang.indicator_mark_unread: lang.indicator_mark_read}}"
                   class="magazine-read-unread" ng-click="ctrl.markAsReadUnread( workItem , $event)"
                   ng-class="{'read':workItem.isRead()}"></a>
                <div class="magazine-image" layout="column">
                    <div flex layout="row" layout-align="center center" class="magazine-check-box"
                         tooltip="{{lang[workItem.getTypeText()]}}">
                        <!--<md-checkbox ng-checked="ctrl.toggleSelect()" aria-label="select"></md-checkbox>-->
                    </div>
                    <div layout="row" flex class="magazine-icon">
                        <md-icon flex md-svg-icon="{{workItem.getTypeIcon().icon}}"
                                 class="{{workItem.getTypeIcon().class}}"></md-icon>
                    </div>
                    <div class="magazine-date">
                        <span tooltip="{{lang.get('received_date')}}">{{workItem.getReceivedDate()}}</span>
                    </div>
                </div>
                <div class="magazine-content" layout="column" flex>
                    <div layout="row" class="magazine-top">
                        <star-unstar-directive record="workItem" record-type="workItem"
                                               callback="ctrl.changeUserInboxStar"
                                               selected-records="ctrl.selectedWorkItems"></star-unstar-directive>
                        <div layout-align="center center" class="magazine-serial serial-td">{{workItem.getFullSerialText()}}</div>
                        <div flex class="magazine-from">
                        <span class="font-12">
                            <span>{{lang.from}}</span>
                            <span class="magazine-serial">{{workItem.getOUTranslate()}}</span>
                            <span ng-if="!workItem.isSameOU()">
                                <span>{{lang.in}}</span>
                                <span class="magazine-serial"> {{workItem.getRegistryOUTranslate()}}</span>
                            </span>
                            <span ng-if="workItem.generalStepElm.dueDate">{{lang.due_on}}</span>
                                <span ng-if="workItem.generalStepElm.dueDate"
                                      tooltip="{{lang[workItem.getIndicatorDueDate().tooltip]}}"
                                      class="magazine-serial date {{workItem.getIndicatorDueDate().class}}">{{workItem.generalStepElm.dueDate}}</span>
                        </span>
                        </div>

                        <!--<md-icon md-svg-icon="stop" class="cursor-pointer action-green"
                                 tooltip="{{lang.grid_action_terminate}}"
                                 ng-click="ctrl.terminate(workItem, $event)"></md-icon>
                        <md-icon md-svg-icon="reply" class="cursor-pointer action-green"
                                 tooltip="{{lang.grid_action_reply}}"
                                 ng-click="ctrl.reply(workItem, $event)"></md-icon>-->
                        <div class="magazine-sender">
                            <grid-indicator-directive record="workItem"
                                                      indicator-type="comments"
                                                      record-type="WorkItem"></grid-indicator-directive>{{lang.sender }} -
                            <span ng-if="!workItem.senderInfo.msTeamsChatURL" flex>{{workItem.senderInfo.getTranslatedName()}}</span>
                            <a target="_blank" href="{{workItem.senderInfo.msTeamsChatURL}}"
                               ng-if="workItem.senderInfo.msTeamsChatURL"
                               flex>{{workItem.senderInfo.getTranslatedName()}}</a>
                        </div>
                    </div>
                    <div layout="column" class="magazine-middle">
                        <div layout="row" class="magazine-title">
                            <span flex><a md-truncate href="" ng-click="ctrl.viewDocument(workItem , $event)" tooltip="{{workItem.getSubject()}}">{{workItem.getSubject()}}</a></span>
                            <span class="magazine-serial bg-red">{{lang.action}} : {{workItem.action.getTranslatedName()}}</span>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center" class="magazine-bottom">
                        <div layout-align="start center" layout="row" flex>
                            <magazine-indicator
                                    icon-callback="workItem.getIndicatorDocumentType"
                                    color="#3498db"
                                    callback="workItem.getIndicatorBookType"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    icon="alert-circle"
                                    key="priority_level"
                                    color-callback="workItem.getIndicatorPriorityLevelColor"
                                    callback="workItem.getIndicatorPriorityLevel"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    icon="lock"
                                    color="#f1c40f"
                                    key="security_level"
                                    callback="workItem.getIndicatorSecurityLevel"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    ng-if="workItem.isBroadcasted()"
                                    icon="bullhorn"
                                    color="#2c3e50"
                                    callback="workItem.getBroadCastedText"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    ng-if="workItem.generalStepElm.isReassigned"
                                    icon="transfer"
                                    color="#8e44ad"
                                    callback="workItem.getIndicatorTransfer"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    ng-if="workItem.generalStepElm.attachementsNO"
                                    icon="paperclip"
                                    callback="workItem.getIndicatorHasAttachment"
                                    model="workItem"></magazine-indicator>
                            <magazine-indicator
                                    ng-if="workItem.generalStepElm.linkedDocsNO"
                                    icon="link-variant"
                                    callback="workItem.getIndicatorHasLinkedDoc"
                                    model="workItem"></magazine-indicator>
                        </div>
                        <div ng-if="workItem.getInfo().documentClass !== 'internal'">
                            <main-site-sub-site-directive class="magazine-serial font-12"
                                                          item="workItem"></main-site-sub-site-directive>
                        </div>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <div class="magazine-fix-actions">
                        <span ng-repeat="quickAction in ctrl.quickActions track by $index" ng-if="ctrl.isShowQuickAction(quickAction, workItem)">
                            <md-button ng-click="ctrl.callbackQuickAction(quickAction, workItem, $event)" class="md-icon-button magazine-button">
                            <md-icon md-svg-icon="{{quickAction.icon}}" class="cursor-pointer {{quickAction.class}}"
                                     tooltip="{{ctrl.getQuickActionText(quickAction, workItem ,  true)}}"
                                     tooltip-direction="{{lang.current === 'en' ? 'left': 'right'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </div>
                <!--<div class="magazine-action" layout="column">
                    <div>
                        <grid-actions-directive shortcut-actions="ctrl.shortcutActions"
                                                model="workItem">
                        </grid-actions-directive>
                    </div>
                </div>-->
            </div>
            <div ng-if="workItem.isActiveThumbnails" layout="row">
                <div class="thumbnail-wrapper" flex>
                    <a attachment-viewer-directive="image" class="thumbnail-item-link"
                       style="background-image: url({{image.url}})"
                       ng-repeat="image in workItem.thumbnails "></a>
                </div>
            </div>
        </div><!-- magazine-item-->
    </div><!-- magazine-layout-->
</div>
