<div layout="column">
    <div layout="row" layout-align="start center">
        <div>
            <md-button ng-if="ctrl.displayPrepare && !ctrl.receiveDocument" class="md-raised"
                       ng-click="ctrl.openPrepareTemplateDialog($event)">
                <md-icon md-svg-icon="content-paste"></md-icon>
                {{lang.prepare_document_content}}
            </md-button>
        </div>
        <!-- Upload Content -->
        <label for="upload-file-content"
               class="md-button md-raised"
               ng-if="!ctrl.receiveDocument">
                <span layout="row" layout-align="start center">
                    <md-icon md-svg-icon="upload"></md-icon>
                    <span>{{lang.content_upload}}</span>
                </span>
            <input reset-after-change="true"
                   catch-upload-file-directive="ctrl.checkContentFile"
                   class="hide-import-file" type="file"
                   ng-model="ctrl.document.contentFile" aria-label="{{lang.content_upload}}"
                   id="upload-file-content" name="upload-file-content">
        </label>
        <!-- Scanner -->
        <div ng-if="ctrl.checkToShowScanButton(ctrl.document)">
            <md-button ng-click="ctrl.openScannerDialog('scanner',$event)"
                       class="md-raised">
                <div layout="row" layout-align="start center">
                    <md-icon md-svg-icon="scanner"></md-icon>
                    <span>{{lang.attachment_scanner}}</span>
                </div>
            </md-button>
        </div>
        <!-- Import from external data source -->
        <div ng-if="ctrl.canShowImportFromExDataSource(ctrl.document)">
            <md-button ng-click="ctrl.openExternalImportDialog($event)"
                       class="md-raised">
                <div layout="row" layout-align="start center">
                    <md-icon md-svg-icon="file-import"></md-icon>
                    <span>{{lang.external_import}}</span>
                </div>
            </md-button>
        </div>
        <!-- Is Official -->
        <div flex ng-if="ctrl.canShowImportFromExDataSource(ctrl.document) && ctrl.psPDFViewerEnabled && ctrl.document.externalImportData"
             class="cms-input-container">
            <md-switch flex ng-model="ctrl.document.isOfficial"
                       aria-label="{{lang.official_document}}"
                       ng-disabled="ctrl.isOfficialDisabled()">
                <label>{{lang.official_document}} :
                    {{ctrl.document.getTranslatedYesNo('isOfficial')}}</label>
            </md-switch>
        </div>
        <!-- Edit Content Menu-->
        <div>
            <md-button ng-if="ctrl.showEditContentInEditPopup() && !ctrl.isDefaultEditModeBoth"
                       class="md-raised" ng-click="ctrl.editContentInEditPopup($event)">
                {{lang.edit_content}}
            </md-button>
            <md-menu-bar ng-if="ctrl.showEditContentInEditPopup() && ctrl.isDefaultEditModeBoth" class="p0">
                <md-menu>
                    <md-button class="md-raised" ng-click="$mdMenu.open()">
                        <!-- <md-icon md-svg-icon="attachment"></md-icon>-->
                        <span>{{lang.edit_content}}</span>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="ctrl.editInDesktop($event)">
                                <div>
                                    <!-- <span><md-icon md-svg-icon="upload"></md-icon></span> -->
                                    <span>{{lang.grid_action_edit_in_desktop}}</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.editInOfficeOnline($event)">
                                <div>
                                    <!-- <span><md-icon md-svg-icon="upload"></md-icon></span> -->
                                    <span>{{lang.edit_in_office_online}}</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <!-- Edit Content/View -->
        <div>
            <!-- edit content in add page/ edit after approved -->
            <md-button
                    ng-if="ctrl.editContent && !ctrl.receiveDocument && ctrl.documentInformation &&
                !ctrl.document.addMethod && !ctrl.isLimitedCentralUnitAccess"
                    class="md-raised" ng-click="ctrl.openCorrespondenceToEdit()">
                {{lang.edit_content}}
            </md-button>
            <md-button ng-if="ctrl.receiveDocument && !ctrl.isLimitedCentralUnitAccess" class="md-raised"
                       ng-click="ctrl.openCorrespondenceToEdit(true)">
                {{lang.view}}
            </md-button>
        </div>
    </div>

    <div layout="row" class="p10">
        <span ng-if="ctrl.displayPrepare && ctrl.documentInformation && ctrl.templateOrFileName">{{ctrl.templateOrFileName}}</span>
        <span ng-if="!ctrl.displayPrepare && ctrl.document.contentFile && ctrl.templateOrFileName">{{ctrl.templateOrFileName}}</span>
        <div ng-if="(ctrl.documentInformation || ctrl.document.contentFile) && ctrl.templateOrFileName && !ctrl.receiveDocument">
            <md-icon md-svg-icon="close" class="cursor-pointer red-text" tooltip="{{lang.remove_content}}"
                     aria-label="{{lang.remove_content}}" ng-click="ctrl.removeTemplateOrContentFile($event)">
            </md-icon>
        </div>
    </div>
</div>
