<div class="p20" layout="column" scroll-directive>
    <!-- Simple Search Box -->
    <div layout="row" flex ng-if="ctrl.isSimpleCorrespondenceSiteSearchType && !ctrl.disableCorrespondence">
        <!-- Site Type -->
        <md-input-container flex>
            <label for="siteTypeSimple">{{lang.sites_select_site_type}}</label>
            <md-select id="siteTypeSimple" ng-model="ctrl.selectedSiteTypeSimple"
                       ng-change="ctrl.onSiteTypeSimpleChange($event)"
                       md-on-close="ctrl.clearSearchText('siteTypeSimple')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header">
                    <input ng-model="ctrl.siteTypeSimpleSearchText"
                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                           placeholder="{{lang.search}}"
                           class="select-header-input">
                </md-select-header>
                <md-option ng-value="null">{{lang.none}}</md-option>
                <md-option ng-value="type"
                           ng-repeat="type in ctrl.correspondenceSiteTypes | translatedNameFilter:ctrl.siteTypeSimpleSearchText">
                <span
                        md-highlight-text="ctrl.siteTypeSimpleSearchText"
                        md-highlight-flags="i">{{type.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Main Site -->
        <md-input-container flex>
            <label for="mainSiteSimple">{{lang.main_site}}</label>
            <md-select id="mainSiteSimple" ng-model="ctrl.selectedMainSiteSimple"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-disabled="!ctrl.selectedSiteTypeSimple || !ctrl.selectedSiteTypeSimple.id"
                       ng-change="ctrl.onMainSiteChangeSimple($event)"
                       md-on-close="ctrl.clearSearchText('mainSiteSimple')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header" layout="column">
                    <div layout="row" flex class="size-100">
                        <input ng-model="ctrl.mainSiteSimpleSearchText"
                               ng-keydown="ctrl.preventSearchKeyDown($event, 'mainSiteSimple')"
                               placeholder="{{lang.search}}"
                               class="select-header-input">
                        <md-button ng-if="ctrl.mainSiteSimpleSearchText"
                                   ng-click="ctrl.loadMainSitesRecords($event)"
                                   class="select-header-icon md-icon-button"
                                   tooltip="{{lang.load_more_records}}">
                            <md-icon md-svg-icon="magnify-plus"></md-icon>
                        </md-button>
                    </div>
                    <div class="help-text-div" ng-if="ctrl.mainSiteSimpleSearchText">
                        {{lang.press_enter_to_load_more_records}}
                    </div>
                </md-select-header>
                <md-option
                        ng-repeat="site in ctrl.mainSites | translatedNameFilter: ctrl.mainSiteSimpleSearchText"
                        ng-value="site">
                <span
                        md-highlight-text="ctrl.mainSiteSimpleSearchText"
                        md-highlight-flags="i">{{site.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <!-- Advanced Search Box -->
    <div layout="row" flex ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType && !ctrl.disableCorrespondence">
        <!-- Site Type -->
        <md-input-container flex>
            <label for="siteTypeAdvanced">{{lang.sites_select_site_type}}</label>
            <md-select id="siteTypeAdvanced" ng-model="ctrl.selectedSiteTypeAdvanced"
                       ng-change="ctrl.onSiteTypeChangeAdvanced($event)"
                       md-on-close="ctrl.clearSearchText('siteTypeAdvanced')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header">
                    <input ng-model="ctrl.siteTypeAdvancedSearchText"
                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                           placeholder="{{lang.search}}"
                           class="select-header-input">
                </md-select-header>
                <md-option ng-value="null">{{lang.none}}</md-option>
                <md-option ng-value="type"
                           ng-repeat="type in ctrl.correspondenceSiteTypes | translatedNameFilter: ctrl.siteTypeAdvancedSearchText">
                    <span
                            md-highlight-text="ctrl.siteTypeAdvancedSearchText"
                            md-highlight-flags="i">{{type.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Main Site -->
        <md-input-container flex>
            <label for="mainSiteAdvanced">{{lang.main_site}}</label>
            <md-select id="mainSiteAdvanced" ng-model="ctrl.selectedMainSiteAdvanced"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-change="ctrl.onMainSiteChangeAdvanced($event)"
                       md-on-close="ctrl.clearSearchText('mainSiteAdvanced')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header" layout="column">
                    <div layout="row" flex class="size-100">
                        <input ng-model="ctrl.mainSiteAdvancedSearchText"
                               ng-keydown="ctrl.preventSearchKeyDown($event, 'mainSiteAdvanced')"
                               placeholder="{{lang.search}}"
                               class="select-header-input">
                        <md-button ng-if="ctrl.mainSiteAdvancedSearchText"
                                   ng-click="ctrl.loadMainSitesRecords($event)"
                                   class="select-header-icon md-icon-button"
                                   tooltip="{{lang.load_more_records}}">
                            <md-icon md-svg-icon="magnify-plus"></md-icon>
                        </md-button>
                    </div>
                    <div class="help-text-div" ng-if="ctrl.mainSiteAdvancedSearchText">
                        {{lang.press_enter_to_load_more_records}}
                    </div>
                </md-select-header>
                <md-option ng-repeat="site in ctrl.mainSites | translatedNameFilter:ctrl.mainSiteAdvancedSearchText"
                           ng-value="site">
                    <span md-highlight-text="ctrl.mainSiteAdvancedSearchText"
                          md-highlight-flags="i">{{site.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Sub Site -->
        <md-input-container flex>
            <label for="subSiteSearchAdvanced">{{lang.sites_select_sub_site}}</label>
            <input id="subSiteSearchAdvanced" ng-model="ctrl.subSiteAdvancedSearchText"
                   ng-enter="ctrl.onSubSiteSearchAdvanced(false)"
                   ng-change="ctrl.onSubSiteSearchAdvanced(false)">
        </md-input-container>
    </div>

    <!-- Search Result-->
    <div flex layout="column">
        <md-card ng-if="ctrl.subSearchResult.length" md-whiteframe="3" layout="column" class="card-overlay">
            <!-- Close search results -->
            <md-toolbar class="md-table-toolbar md-default" ng-class="{'selected':ctrl.subSearchSelected.length}">
                <div class="md-toolbar-tools">
                    <div layout="row" flex>
                        <div layout="row" flex>
                            <div>{{lang.sites_search_results}}</div>
                            <div flex ng-if="ctrl.subSearchSelected.length">
                                &nbsp; : &nbsp; {{ctrl.subSearchSelected.length}}
                                {{lang.items_selected}}
                            </div>
                        </div>
                        <div ng-if="ctrl.isSimpleCorrespondenceSiteSearchType && !ctrl.disableCorrespondence"
                             flex>
                            <!--sub site simple search-->
                            <div class="cms-autocomplete-wrapper" flex>
                                <span class="button-container">
                                    <md-button ng-if="ctrl.isSubSiteSearchEnabled()"
                                               ng-click="ctrl.loadSubSitesRecords($event)"
                                               class="md-icon-button search-button"
                                               tooltip="{{lang.load_more_records}}">
                                        <md-icon md-svg-icon="magnify-plus"></md-icon>
                                    </md-button>
                                </span>
                                <div class="help-text-div text-center"
                                     ng-if="ctrl.isSubSiteSearchEnabled()">
                                    {{lang.press_enter_to_load_more_records}}
                                </div>
                                <md-autocomplete
                                        ng-class="{'ac-search-button': ctrl.isSubSiteSearchEnabled()}"
                                        md-no-cache="true"
                                        md-select-on-match="true"
                                        md-selected-item="ctrl.selectedSimpleSub"
                                        md-selected-item-change="ctrl.onSimpleSubSiteSelectedChange(item)"
                                        md-search-text="ctrl.simpleSubSiteResultSearchText"
                                        md-items="item in ctrl.getSimpleSubSearchOptions(ctrl.simpleSubSiteResultSearchText)"
                                        md-item-text="item.getTranslatedName()"
                                        md-min-length="0"
                                        placeholder="{{lang.sub_site}}"
                                        md-autofocus
                                        ng-keydown="ctrl.preventSearchKeyDown($event, 'subSiteSimple')">
                                    <md-item-template>
                                                    <span md-highlight-text="ctrl.simpleSubSiteResultSearchText"
                                                          md-highlight-flags="i">{{item.getTranslatedName()}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>
                            <!--<md-autocomplete
                                    flex
                                    md-no-cache="true"
                                    md-clear-button="true"
                                    md-select-on-match="true"
                                    md-selected-item="ctrl.selectedSimpleSub"
                                    md-search-text="ctrl.simpleSubSiteResultSearchText"
                                    md-selected-item-change="ctrl.onSimpleSubSiteSelectedChange(item)"
                                    md-items="item in ctrl.getSimpleSubSearchOptions(ctrl.simpleSubSiteResultSearchText)"
                                    md-item-text="item.getTranslatedName()"
                                    md-min-length="0"
                                    placeholder="{{lang.search}}">
                                <md-item-template>
                                                <span md-highlight-text="ctrl.simpleSubSiteResultSearchText"
                                                      md-highlight-flags="i">{{item.getTranslatedName()}}</span>
                                </md-item-template>
                            </md-autocomplete>-->
                        </div>
                        <div>
                            <md-button tooltip="{{lang.sites_hide_search}}" class="md-icon-button close-search-button"
                                       ng-click="ctrl.onCloseSearch()" ng-disabled="!!ctrl.disableCorrespondence">
                                <md-icon md-svg-icon="close"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <!-- Search results -->
            <md-table-container>
                <div flex scroll-directive>
                    <table md-table md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.subSearchResult.order">
                        <tr md-row>
                            <th md-column md-order-by="mainEnSiteText"
                                ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType">
                                <span>{{lang.sites_main_site}}</span>
                            </th>
                            <th md-column md-order-by="mainArSiteText">
                                <span>{{lang.sites_sub_site}}</span>
                            </th>
                            <th md-column md-order-by="mainArSiteText"
                                ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType">
                                <span>{{lang.sites_select_site_type}}</span>
                            </th>
                            <th md-column>
                                <span>{{lang.sites_follow_up_status}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="site in ctrl.subSearchResult  | filter:ctrl.searchModel | limitTo: ctrl.grid.subSearchResult.limit: ((ctrl.grid.subSearchResult.page - 1) * ctrl.grid.subSearchResult.limit) |orderBy:ctrl.grid.subSearchResult.order  track by $index">
                            <td md-cell ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType">
                                <div flex layout="column">
                                    <span class="span-column">{{site.getTranslatedParentName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span md-highlight-text="ctrl.subSiteAdvancedSearchText"
                                          md-highlight-flags="i">{{site.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType">
                                <div flex layout="column">
                                    <span class="span-column">{{site.getTranslatedSiteType()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div layout="row">
                                    <div>
                                        <md-menu-bar class="follow-up-menu-bar">
                                            <md-menu>
                                                <md-button ng-click="$mdMenu.open()"
                                                           ng-disabled="!!ctrl.disableCorrespondence">
                                                    {{site.followupStatus.getTranslatedName() ||
                                                    lang.sites_follow_up_status}}
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item ng-repeat="status in ctrl.followUpStatuses">
                                                        <md-button
                                                                ng-click="ctrl.setCurrentFollowUpStatus(site , status)">
                                                            {{status.getTranslatedName()}}
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </md-menu-bar>
                                    </div>
                                    <div>
                                        <md-datepicker ng-if="ctrl.needReply(site.followupStatus)"
                                                       name="followUpStatusDate"
                                                       ng-model="site.followupDate"
                                                       md-placeholder="{{lang.sites_follow_up_status_date}}"
                                                       md-max-date="ctrl.maxCreateDate"
                                                       ng-disabled="!!ctrl.disableCorrespondence"
                                                       md-min-date="ctrl.minDate"
                                                       md-open-on-focus></md-datepicker>
                                    </div>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="row" layout-align="start center">
                                    <md-button class="md-icon-button" ng-click="ctrl.replaceSite(site)"
                                               ng-disabled="!!ctrl.disableCorrespondence">
                                        <md-icon md-svg-icon="plus"></md-icon>
                                    </md-button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <md-table-pagination
                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                        md-limit-options="ctrl.grid.subSearchResult.limitOptions"
                        md-limit="ctrl.grid.subSearchResult.limit" md-page="ctrl.grid.subSearchResult.page"
                        md-total="{{ctrl.subSearchResult.length}}" md-page-select>
                </md-table-pagination>
            </md-table-container>
        </md-card>
    </div>
    <br/>
    <!-- Added incoming site after search / from database -->
    <div flex layout="column">
        <md-card ng-if="ctrl.site && ctrl.site.subSiteId" md-whiteframe="3" layout="column" class="card-overlay">
            <!-- Incoming site toolbar -->
            <md-toolbar class="md-table-toolbar md-default selected" ng-if="!ctrl.disableCorrespondence">
                <div class="md-toolbar-tools">
                    <div layout="row" flex layout-align="start center">
                        <span flex></span>
                        <div layout="row" ng-if="!ctrl.disableCorrespondence">
                            <div>
                                <md-menu-bar class="follow-up-menu-bar">
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">
                                            {{ctrl.site.followupStatus.getTranslatedName() ||
                                            lang.sites_follow_up_status}}
                                        </md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item ng-repeat="status in ctrl.followUpStatuses">
                                                <md-button ng-click="ctrl.onSiteFollowupStatusChange(status)">
                                                    {{status.getTranslatedName()}}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                            <div>
                                <md-datepicker
                                        ng-if="!ctrl.disableCorrespondence && ctrl.needReply(ctrl.site.followupStatus)"
                                        name="sitesInfoToFollowupStatus"
                                        ng-model="ctrl.site.followupDate"
                                        md-placeholder="{{lang.sites_follow_up_status_date}}"
                                        md-min-date="ctrl.minDate"
                                        md-open-on-focus></md-datepicker>
                            </div>
                            <!--<div layout="row" layout-align="start center">
                                <md-button class="md-icon-button"  ng-if="!ctrl.disableCorrespondence" ng-click="ctrl.deleteSite()">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </md-toolbar>

            <!-- Incoming site table -->
            <md-table-container>
                <div flex scroll-directive>
                    <table md-table md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.sitesInfoTo.order">
                        <tr md-row>
                            <th md-column md-order-by="">
                                <span>{{lang.sites_main_site}}</span>
                            </th>
                            <th md-column md-order-by="">
                                <span>{{lang.sites_sub_site}}</span>
                            </th>
                            <th md-column md-order-by="">
                                <span>{{lang.sites_select_site_type}}</span>
                            </th>
                            <th md-column>
                                <span>{{lang.sites_follow_up_status}}</span>
                            </th>
                            <th md-column ng-if="!ctrl.disableCorrespondence">
                                <span>{{lang.sites_follow_up_date}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{ctrl.site.getTranslatedParentName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{ctrl.site.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{ctrl.site.getTranslatedSiteType()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div layout="row"><span flex>{{ctrl.site.followupStatus.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div layout="row"><span flex>{{ctrl.site.followupDate|date:'yyyy-MM-dd'}}</span></div>
                            </td>
                            <td md-cell ng-if="!ctrl.disableCorrespondence">
                                <div flex layout="row" layout-align="start center">
                                    <div>
                                        <md-button ng-click="ctrl.deleteSite($event)" tooltip="{{lang.delete}}"
                                                   ng-disabled="!!ctrl.disableCorrespondence" class="md-icon-button">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </md-table-container>
        </md-card>
    </div>
</div>
