<form name="outgoing_properties">
    <fieldset class="field-set-hidden">
        <div layout="column">
            <div layout="row">
                <!-- Correspondence registry (If show registry unit)-->
                <div flex ng-if="ctrl.showRegistryUnit() && ctrl.checkStatus('registryOU')">
                    <md-input-container ng-if="ctrl.showRegistryUnit() && ctrl.checkStatus('registryOU')"
                                        class="md-block">
                        <label for="registryOU">{{lang.corr_registry}}</label>
                        <md-select name="registryOU"
                                   id="registryOU"
                                   ng-change="ctrl.onRegistryChange(ctrl.document.registryOU)"
                                   ng-disabled="!!ctrl.disableProperties || ctrl.checkOrganizationDisabled()"
                                   ng-readonly="!ctrl.employee.hasPermissionTo(ctrl.document.docClassName + '_CENTRAL_ARCHIVING')"
                                   ng-model="ctrl.document.registryOU"
                                   ng-required="ctrl.checkMandatory('registryOU')"
                                   md-on-close="ctrl.clearSearchText('registryOU')"
                                   data-md-container-class="select-header-container">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.registryOUSearchText"
                                       ng-keydown="ctrl.handleSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="organization.id"
                                       ng-repeat="organization in ctrl.registryOrganizations | translatedNameFilter: ctrl.registryOUSearchText">
                            <span
                                    md-highlight-text="ctrl.registryOUSearchText"
                                    md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.ou.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- OU (If show registry unit) -->
                <div flex ng-if="ctrl.showRegistryUnit() && ctrl.checkStatus('ou')">
                    <md-input-container ng-if="ctrl.showRegistryUnit() && ctrl.checkStatus('ou')" class="md-block">
                        <label for="ou">{{lang.organization_unit}}</label>
                        <md-select name="ou"
                                   id="ou"
                                   ng-disabled="!!ctrl.disableProperties || ctrl.checkOrganizationDisabled()"
                                   ng-readonly="!ctrl.employee.hasPermissionTo(ctrl.document.docClassName + '_CENTRAL_ARCHIVING')"
                                   ng-model="ctrl.document.ou"
                                   ng-required="ctrl.checkMandatory('ou')"
                                   md-on-close="ctrl.clearSearchText('registrySection')"
                                   data-md-container-class="select-header-container">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.registrySectionSearchText"
                                       ng-keydown="ctrl.handleSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="organization.id"
                                       ng-repeat="organization in ctrl.subOrganizations | translatedNameFilter: ctrl.registrySectionSearchText">
                            <span
                                    md-highlight-text="ctrl.registrySectionSearchText"
                                    md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.ou.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- OU (If not show registry unit) -->
                <div flex ng-if="!ctrl.showRegistryUnit() && ctrl.checkStatus('ou')">
                    <md-input-container ng-if="!ctrl.showRegistryUnit() && ctrl.checkStatus('ou')" class="md-block">
                        <label for="ou">{{lang.organization_unit}}</label>
                        <md-select name="ou"
                                   id="ou"
                                   ng-disabled="!!ctrl.disableProperties || ctrl.checkOrganizationDisabled()"
                                   ng-readonly="!ctrl.employee.hasPermissionTo(ctrl.document.docClassName + '_CENTRAL_ARCHIVING')"
                                   ng-model="ctrl.document.ou"
                                   ng-required="ctrl.checkMandatory('ou')"
                                   md-on-close="ctrl.clearSearchText('ou')"
                                   data-md-container-class="select-header-container">
                            <md-select-header class="select-header">
                                <input ng-model="ctrl.ouSearchText"
                                       ng-keydown="ctrl.handleSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="organization.id"
                                       ng-repeat="organization in ctrl.organizations | translatedNameFilter: ctrl.ouSearchText">
                            <span
                                    md-highlight-text="ctrl.ouSearchText"
                                    md-highlight-flags="i">{{organization.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.ou.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Security Level -->
                <div flex>
                    <!-- Security Level (Disabled Input) -->
                    <md-input-container ng-if="ctrl.checkStatus('securityLevel') && ctrl.isShowSecurityLevelInput()"
                                        class="md-block">
                        <label for="securityLevelInput">{{lang.security_level}}</label>
                        <input id="securityLevelInput" name="securityLevel"
                               ng-disabled="true"
                               ng-readonly="true"
                               ng-value="ctrl.sourceModel.securityLevel.getTranslatedName()">
                        <md-checkbox class="cms-dropdown-checkbox"
                                     ng-if="ctrl.checkStatus('securityLevel') && ctrl.isShowSecurityLevelCheckbox()"
                                     ng-model="ctrl.isSecurityLevelEnabled"
                                     aria-label="{{ ctrl.getTranslatedEnableDisableSecurityLevel() }}"
                                     tooltip="{{ ctrl.getTranslatedEnableDisableSecurityLevel() }}">
                        </md-checkbox>
                    </md-input-container>
                    <!-- Security Level (Select) -->
                    <md-input-container ng-if="ctrl.checkStatus('securityLevel') && ctrl.isShowSecurityLevelDDL()"
                                        class="md-block">
                        <label for="securityLevel">{{lang.security_level}}</label>
                        <md-select name="securityLevel"
                                   id="securityLevel"
                                   ng-change="ctrl.onSecurityLevelChange()"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model="ctrl.document.securityLevel"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   ng-required="ctrl.checkMandatory('securityLevel')">
                            <md-option ng-value="level"
                                       ng-repeat="level in ctrl.securityLevels"
                                       ng-disabled="ctrl.isPrivateSecurityLevel(level) && ctrl.document.hasVsId()"
                                       ng-readonly="ctrl.isPrivateSecurityLevel(level) && ctrl.document.hasVsId()">
                                {{level.getTranslatedName()}}
                            </md-option>
                        </md-select>
                        <md-checkbox class="cms-dropdown-checkbox"
                                     ng-if="ctrl.checkStatus('securityLevel') && ctrl.isShowSecurityLevelCheckbox()"
                                     ng-model="ctrl.isSecurityLevelEnabled"
                                     aria-label="{{ ctrl.getTranslatedEnableDisableSecurityLevel() }}"
                                     tooltip="{{ ctrl.getTranslatedEnableDisableSecurityLevel() }}">
                        </md-checkbox>
                        <div ng-messages="outgoing_properties.securityLevel.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Date -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('docDate')" class="cms-datepicker md-block">
                        <label for="docDate">{{ctrl.document.hasDocumentClass('incoming') ? lang.incoming_date :
                            lang.document_date }}</label>
                        <md-datepicker name="docDate" id="docDate"
                                       ng-disabled="!!ctrl.disableProperties"
                                       ng-model="ctrl.document.docDate"
                                       ng-change="ctrl.checkIncomingDateValid()"
                                       md-max-date="ctrl.maxCreateDate"
                                       ng-required="ctrl.checkMandatory('docDate')"
                                       md-open-on-focus></md-datepicker>
                        <!--md-placeholder="{{lang.document_date}}"-->
                        <div ng-messages="outgoing_properties.docDate.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex ng-if="(ctrl.fieldsPerRow - ctrl.checkFieldCountFirstRow()) > 0"
                     ng-repeat="divElem in [].constructor(ctrl.fieldsPerRow - ctrl.checkFieldCountFirstRow()) track by $index">
                </div>
            </div>
            <div layout="row">
                <!-- Document Full Serial -->
                <div flex ng-if="ctrl.isShowDocFullSerial()">
                    <md-input-container ng-if="ctrl.isShowDocFullSerial()" class="md-block">
                        <label for="docFullSerial">{{lang.serial_number}}</label>
                        <input name="docFullSerial" id="docFullSerial"
                               ng-required="ctrl.isShowDocFullSerial()"
                               ng-disabled="!!ctrl.disableProperties"
                               ng-model="ctrl.document.docFullSerial">
                        <div ng-messages="outgoing_properties.docFullSerial.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Document Number -->
                <div flex
                     ng-if='ctrl.document.docClassName.toLowerCase() === "incoming" && ctrl.checkStatus("refDocNumber")'>
                    <md-input-container
                            ng-if='ctrl.document.docClassName.toLowerCase() === "incoming" && ctrl.checkStatus("refDocNumber")'
                            class="md-block">
                        <label for="refDocNumber">{{lang.document_number}}</label>
                        <input name="refDocNumber" id="refDocNumber"
                               ng-required="ctrl.checkMandatory('refDocNumber')"
                               ng-disabled="!!ctrl.disableProperties || ctrl.checkDepartmentalReceived() || ctrl.checkG2gReceived()"
                               ng-model="ctrl.document.refDocNumber">
                        <div ng-messages="outgoing_properties.refDocNumber.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Type (Personal/Departmental) -->
                <div flex
                     ng-if='ctrl.document.docClassName.toLowerCase() === "internal" && ctrl.checkStatus("internalDocType")'>
                    <md-input-container
                            ng-if='ctrl.document.docClassName.toLowerCase() === "internal" && ctrl.checkStatus("internalDocType")'
                            class="md-block">
                        <label for="type">{{lang.type}}</label>
                        <md-select name="type" id="type"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model="ctrl.document.internalDocType"
                                   ng-required="ctrl.checkMandatory('internalDocType')"
                                   required>
                            <md-option ng-value="type.value"
                                       ng-repeat="type in ctrl.typeOptions track by $index">
                                {{lang[type.key]}}
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.type.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- RefDocDate -->
                <div flex ng-if="ctrl.checkStatus('refDocDate') && ctrl.document.hasDocumentClass('incoming')">
                    <md-input-container
                            ng-if="ctrl.checkStatus('refDocDate') && ctrl.document.hasDocumentClass('incoming')"
                            class="cms-datepicker md-block">
                        <label for="refDocDate">{{ctrl.document.hasDocumentClass('incoming') ? lang.document_date :
                            lang.incoming_date }}</label>
                        <md-datepicker name="refDocDate" id="refDocDate"
                                       ng-disabled="!!ctrl.disableProperties"
                                       ng-model="ctrl.document.refDocDate"
                                       md-max-date="ctrl.document.docDate"
                                       ng-required="ctrl.checkMandatory('refDocDate')"
                                       md-open-on-focus></md-datepicker>
                        <!--md-placeholder="{{lang.document_date}}"-->
                        <div ng-messages="outgoing_properties.refDocDate.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex ng-if="(ctrl.fieldsPerRow - ctrl.checkFieldCountSecondRow()) > 0"
                     ng-repeat="divElem in  [].constructor(ctrl.fieldsPerRow - ctrl.checkFieldCountSecondRow()) track by $index">
                </div>
            </div>
            <div layout="row" ng-if="ctrl.checkStatus('docSubject')">
                <!-- Subject -->
                <div flex>
                    <md-input-container class="md-block">
                        <label for="docSubject">{{lang.document_subject}}</label>
                        <textarea name="docSubject"
                                  id="docSubject"
                                  maxlength="1000"
                                  md-maxlength="1000"
                                  ng-disabled="!!ctrl.disableProperties"
                                  ng-model="ctrl.document.docSubject"
                                  ng-required="ctrl.checkMandatory('docSubject')"></textarea>
                        <div ng-messages="outgoing_properties.docSubject.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="AEN">{{lang.arabic_english_number}}</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <!-- Main Classification -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('mainClassification')" class="md-block">
                        <label for="mainClassification">{{lang.outgoing_main_classification}}</label>
                        <md-select name="mainClassification"
                                   id="mainClassification"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model="ctrl.document.mainClassification"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   ng-required="ctrl.checkMandatory('mainClassification')"
                                   ng-change="ctrl.onChangeMainClassification($event)"
                                   md-on-close="ctrl.clearSearchText('mainClassification')"
                                   data-md-container-class="select-header-container">
                            <md-select-header class="select-header" layout="column">
                                <div layout="row" flex class="size-100">
                                    <input ng-model="ctrl.mainClassificationSearchText"
                                           ng-keydown="ctrl.handleSearchKeyDown($event, 'mainClassification')"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                    <md-button ng-if="ctrl.mainClassificationSearchText"
                                               ng-click="ctrl.loadMainClassificationRecords($event)"
                                               class="select-header-icon md-icon-button"
                                               tooltip="{{lang.load_more_records}}">
                                        <md-icon md-svg-icon="magnify-plus"></md-icon>
                                    </md-button>
                                </div>
                                <div class="help-text-div" ng-if="ctrl.mainClassificationSearchText">
                                    {{lang.press_enter_to_load_more_records}}
                                </div>
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="classification.classification"
                                       ng-repeat="classification in ctrl.classifications | translatedNameFilter: ctrl.mainClassificationSearchText:'getIdNameByLanguage':'classification'">
                            <span
                                    md-highlight-text="ctrl.mainClassificationSearchText"
                                    md-highlight-flags="i">{{classification.classification.getIdNameByLanguage()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.mainClassification.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Sub Classification -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('subClassification')" class="md-block">
                        <label for="subClassification">{{lang.outgoing_sub_classification}}</label>
                        <md-select
                                ng-disabled="!!ctrl.disableProperties || !ctrl.document.mainClassification"
                                name="subClassification"
                                id="subClassification"
                                ng-model-options="{trackBy: '$value.id'}"
                                ng-model="ctrl.document.subClassification"
                                ng-required="ctrl.checkMandatory('subClassification')"
                                md-on-close="ctrl.clearSearchText('subClassification')"
                                data-md-container-class="select-header-container">
                            <md-select-header class="select-header" layout="column">
                                <div layout="row" flex class="size-100">
                                    <input ng-model="ctrl.subClassificationSearchText"
                                           ng-keydown="ctrl.handleSearchKeyDown($event, 'subClassification')"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                    <md-button ng-if="ctrl.subClassificationSearchText"
                                               ng-click="ctrl.loadSubClassificationRecords($event)"
                                               class="select-header-icon md-icon-button"
                                               tooltip="{{lang.load_more_records}}">
                                        <md-icon md-svg-icon="magnify-plus"></md-icon>
                                    </md-button>
                                </div>
                                <div class="help-text-div" ng-if="ctrl.subClassificationSearchText">
                                    {{lang.press_enter_to_load_more_records}}
                                </div>
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="classification"
                                       ng-repeat="classification in ctrl.document.mainClassification.children | translatedNameFilter: ctrl.subClassificationSearchText:'getIdNameByLanguage'">
                            <span
                                    md-highlight-text="ctrl.subClassificationSearchText"
                                    md-highlight-flags="i">{{classification.getIdNameByLanguage()}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.subClassification.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Priority Level -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('priorityLevel')" class="md-block">
                        <label for="priorityLevel">{{lang.outgoing_priority_level}}</label>
                        <md-select name="priorityLevel"
                                   id="priorityLevel"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model="ctrl.document.priorityLevel"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   ng-required="ctrl.checkMandatory('priorityLevel')">
                            <md-option ng-value="priorityLevel"
                                       ng-repeat="priorityLevel in ctrl.priorityLevels">
                                {{priorityLevel.getTranslatedName()}}
                            </md-option>
                        </md-select>
                        <div ng-messages="outgoing_properties.priorityLevel.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Document Type -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('docType')" class="md-block">
                        <label for="docType">{{lang.outgoing_document_type}}</label>
                        <md-select name="docType"
                                   id="docType"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model="ctrl.document.docType"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   ng-required="ctrl.checkMandatory('docType')">
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="documentType"
                                       ng-repeat="documentType in ctrl.documentTypes">
                                {{documentType.getTranslatedName()}}
                            </md-option>
                        </md-select>
                        <!-- Add Document Type -->
                        <md-button class="md-icon-button cms-dropdown-button"
                                   tooltip="{{lang.add_new_document_type}}"
                                   ng-if="!ctrl.disableProperties && ctrl.employeeService.hasPermissionTo('MANAGE_DOCUMENT_TYPE')"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-click="ctrl.shortcut.addNewDocumentType($event)">
                            <md-icon md-svg-icon="plus"></md-icon>
                        </md-button>
                        <div ng-messages="outgoing_properties.docType.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">

                <!-- File -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('fileId')" class="md-block">
                        <label for="fileId">{{lang.outgoing_file}}</label>
                        <md-select name="fileId"
                                   id="fileId"
                                   ng-change="ctrl.onFileChange(ctrl.document.fileId)"
                                   ng-model="ctrl.document.fileId"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   ng-required="ctrl.checkMandatory('fileId')"
                                   md-on-close="ctrl.clearSearchText('documentFile')"
                                   data-md-container-class="select-header-container">
                            <md-select-header class="select-header" layout="column">
                                <div layout="row" flex class="size-100">
                                    <input ng-model="ctrl.documentFileSearchText"
                                           ng-keydown="ctrl.handleSearchKeyDown($event, 'documentFile')"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                    <md-button ng-if="ctrl.documentFileSearchText"
                                               ng-click="ctrl.loadDocumentFilesRecords($event)"
                                               class="select-header-icon md-icon-button"
                                               tooltip="{{lang.load_more_records}}">
                                        <md-icon md-svg-icon="magnify-plus"></md-icon>
                                    </md-button>
                                </div>
                                <div class="help-text-div" ng-if="ctrl.documentFileSearchText">
                                    {{lang.press_enter_to_load_more_records}}
                                </div>
                            </md-select-header>
                            <md-option ng-value="null">{{lang.none}}</md-option>
                            <md-option ng-value="file.file"
                                       ng-repeat="file in ctrl.documentFiles | translatedNameFilter: ctrl.documentFileSearchText:null:'file'">
                            <span
                                    md-highlight-text="ctrl.documentFileSearchText"
                                    md-highlight-flags="i">{{file.file.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                        <!-- Add File -->
                        <md-button class="md-icon-button cms-dropdown-button"
                                   tooltip="{{lang.outgoing_add_new_document_file}}"
                                   ng-if="!ctrl.disableProperties && ctrl.employeeService.hasPermissionTo('MANAGE_FILES')"
                                   ng-disabled="!!ctrl.disableProperties"
                                   ng-click="ctrl.shortcut.addNewDocumentFile($event)">
                            <md-icon md-svg-icon="plus"></md-icon>
                        </md-button>
                        <div ng-messages="outgoing_properties.fileId.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- File Code -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('fileCode')" class="md-block">
                        <label for="fileCode">{{lang.outgoing_file_code}}</label>
                        <input name="fileCode"
                               id="fileCode"
                               ng-disabled="!!ctrl.disableProperties"
                               ng-enter="ctrl.onFileCodeChanged()"
                               ng-model="ctrl.document.fileCode"
                               ng-required="ctrl.checkMandatory('fileCode')">
                        <div ng-messages="outgoing_properties.fileCode.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- File Serial -->
                <div flex>
                    <md-input-container ng-if="ctrl.checkStatus('fileSerial')" class="md-block">
                        <label for="fileSerial">{{lang.outgoing_file_serial}}</label>
                        <input name="fileSerial"
                               id="fileSerial"
                               ng-disabled="!!ctrl.disableProperties"
                               ng-model="ctrl.document.fileSerial"
                               ng-required="ctrl.checkMandatory('fileSerial')">
                        <div ng-messages="outgoing_properties.fileSerial.$error">
                            <div ng-message="required">{{lang.field_required}}</div>
                            <div ng-message="number">{{lang.numberonly}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                </div>
            </div>
            <div layout="row" ng-if="ctrl.checkStatus('docNotes')">
                <!-- Notes -->
                <div flex>
                    <md-input-container class="md-block">
                        <label for="docNotes">{{lang.properties_notes}}</label>
                        <textarea ng-required="ctrl.checkMandatory('docNotes')" name="docNotes" id="docNotes"
                                  ng-model="ctrl.document.docNotes" rows="5"
                                  ng-disabled="!!ctrl.disableProperties"></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
    </fieldset>
</form>
