<div layout="column">
    <div ng-if="!ctrl.disableEverything">
        <md-menu-bar class="menu-bar-has-button" ng-if="ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_ENTITIES')">
            <md-menu>
                <md-button ng-disabled="ctrl.entity" class="md-raised"
                           ng-click="ctrl.openEntityTypeMenu($mdMenu , $event)">
                    <md-icon md-svg-icon="plus-circle-outline"></md-icon>
                    <span>{{lang.entities_add_entity}}</span>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-if="item.status" ng-repeat="item in ctrl.defaultEntityTypes track by $index">
                        <md-button ng-click="ctrl.pushEntityType(item)">
                            <div layout="row">
                                <md-icon md-svg-icon="{{ctrl.icons[item.lookupStrKey]}}"></md-icon>
                                <span>{{item.getTranslatedName()}}</span>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="ctrl.entityTypes.length">
                        <md-menu>
                            <md-button ng-click="$mdMenu.open()">
                                <div layout="row">
                                    <md-icon md-svg-icon="help"></md-icon>
                                    <span>{{lang.entities_other}}</span>
                                </div>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item ng-if="item.status" ng-repeat="item in ctrl.entityTypes track by $index">
                                    <md-button ng-click="ctrl.pushEntityType(item)">
                                        <div layout="row">
                                            <span>{{item.getTranslatedName()}}</span>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
    <form ng-if="ctrl.showEntityFrom" layout="column" name="entityForm">
        <div ng-repeat="fields in ctrl.currentFields track by $index" layout="row">
            <md-input-container flex ng-repeat="field in fields track by $index" ng-if="!field.manualDisplay">
                <label for="{{field.label}}">{{lang[ctrl.labels[field.label]]}}</label>
                <input name="{{field.label}}" custom-validate-directive="{{field.customValidation.type}}"
                       id="{{field.label}}" ng-model="ctrl.entity[field.label]"
                       ng-required="field.required" ng-keydown="ctrl.handleFieldKeyDown(field, $event)">
                <md-button
                        ng-if="ctrl.rootEntity.hrEnabled && ctrl.selectedEntityType.lookupStrKey.toLowerCase() === 'external_user' && field.fieldIdentifier === 'qid'"
                        tooltip="{{lang.search}}"
                        ng-disabled="!ctrl.isValidValues(field)"
                        ng-click="ctrl.searchRecordsByField(field, $event)"
                        class="md-icon-button cms-input-overlay-button">
                    <md-icon md-svg-icon="magnify"></md-icon>
                </md-button>
                <div ng-messages="entityForm[field.label].$error">
                    <div ng-message="required">{{lang.field_required}}</div>
                    <div ng-message="{{field.customValidation.type}}">
                        {{lang[field.customValidation.message]}}
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" ng-if="ctrl.selectedEntityType.lookupStrKey.toLowerCase() === 'external_user'">
            <div flex class="cms-input-container">
                <md-switch aria-label="{{lang.send_sms}}"
                           tooltip="{{lang.send_sms}}"
                           ng-change="ctrl.resetSMSTemplate(ctrl.entity, $event)"
                           ng-model="ctrl.entity.sendSMS">
                    <span>{{lang.send_sms}} : </span>
                    {{ctrl.entity.sendSMS ? lang.yes : lang.no }}
                </md-switch>
            </div>
            <md-input-container flex>
                <label for="smsTemplateId">{{lang.sms_template}}</label>
                <md-select id="smsTemplateId" name="smsTemplateId"
                           ng-required="ctrl.entity.sendSMS"
                           ng-disabled="!ctrl.entity.sendSMS"
                           ng-model="ctrl.entity.smsTemplateId">
                    <md-option ng-value="null">{{lang.none}}</md-option>
                    <md-option ng-repeat="smsTemplate in ctrl.smsTemplates track by $index"
                               ng-value="smsTemplate.id">
                        {{smsTemplate.getTranslatedName()}}
                    </md-option>
                </md-select>
                <div ng-messages="entityForm.smsTemplateId.$error">
                    <div ng-message="required">{{lang.field_required}}</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <div>
                <md-button class="md-raised md-primary" ng-disabled="entityForm.$invalid"
                           ng-click="ctrl.addEntityToDocument()">
                    {{ctrl.editMode ? lang.entities_save : lang.entities_add}}
                </md-button>
            </div>
            <div>
                <md-button class="md-raised red-text" ng-click="ctrl.closeEntityForm()">
                    {{lang.entities_close}}
                </md-button>
            </div>
        </div>
    </form>
    <div>
        <md-card ng-if="!ctrl.showEntityFrom && ctrl.linkedEntities.length" flex>
            <md-table-container>
                <div flex scroll-directive>
                    <table md-table md-row-select multiple ng-model="ctrl.selectedEntities"
                           md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.order">
                        <tr md-row>
                            <th class="table-selector-header"
                                ng-if="ctrl.selectedEntities.length" md-column>
                                <div layout="row" layout-align="start center">
                                    <span>{{ctrl.selectedEntities.length}} {{lang.items_selected}} </span>
                                </div>
                            </th>
                            <th ng-if="!ctrl.selectedEntities.length" md-column>
                                <span>{{lang.entities_name}}</span>
                            </th>
                            <th ng-if="!ctrl.selectedEntities.length" md-column>
                                <span>{{lang.entities_type}}</span>
                            </th>
                            <th md-column
                                ng-if="!ctrl.disableEverything && ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_ENTITIES')">
                                <span ng-if="!ctrl.selectedEntities.length">{{lang.actions}}</span>
                                <md-button ng-if="ctrl.selectedEntities.length" class="md-icon-button"
                                           ng-click="ctrl.removeBulkDocumentEntities($event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="entity"
                            ng-disabled="ctrl.disableEverything"
                            ng-repeat="entity in ctrl.linkedEntities  | filter:ctrl.searchModel | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order  track by $index">
                            <td md-cell>
                                <!--{{entity.getTranslatedName()}}-->
                                <a href="" ng-click="ctrl.viewEntity(entity, $event)">{{entity.getTranslatedName()}}</a>
                            </td>
                            <td md-cell>
                                {{entity.typeId.getTranslatedName()}}
                            </td>
                            <td md-cell
                                ng-if="!ctrl.disableEverything && ctrl.employeeService.hasPermissionTo('MANAGE_LINKED_ENTITIES')">
                                <div flex layout="row" layout-align="start center">
                                    <div>
                                        <md-button class="md-icon-button" title="{{lang.delete}}"
                                                   ng-click="ctrl.removeDocumentEntity(entity  , $index , $event)">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-icon-button" title="{{lang.edit}}"
                                                   ng-click="ctrl.editDocumentEntity(entity , $index , $event)">
                                            <md-icon md-svg-icon="pencil"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <md-table-pagination
                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                        md-limit-options="ctrl.grid.limitOptions"
                        md-limit="ctrl.grid.limit"
                        md-page="ctrl.grid.page"
                        md-total="{{ctrl.linkedEntities.length}}"
                        md-page-select>
                </md-table-pagination>
            </md-table-container>
        </md-card>
    </div>
</div>
