<div layout="column">
    <div layout="row" ng-if="ctrl.employeeService.hasPermissionTo('ADD_DOCUMENT_COMMENT') && !ctrl.disableEverything">
        <div>
            <md-button ng-if="!(ctrl.showCommentForm && ctrl.fromDialog)" ng-disabled="ctrl.showCommentForm"
                       class="md-raised" ng-click="ctrl.showDocumentCommentForm()">
                <div>
                    <md-icon md-svg-icon="comment-plus-outline"></md-icon>
                    <span>{{lang.outgoing_add_document_comment}}</span>
                </div>
            </md-button>
            <md-button ng-if="!(ctrl.showCommentForm && ctrl.fromDialog) && ctrl.vsId"
                       ng-disabled="!ctrl.documentComments.length"
                       class="md-raised" ng-click="ctrl.printDocumentComments()">
                <div>
                    <md-icon md-svg-icon="printer"></md-icon>
                    <span>{{lang.print}}</span>
                </div>
            </md-button>
        </div>
    </div>
    <!-- Comments Form -->
    <div layout="column" ng-if="ctrl.showCommentForm">
        <md-content scroll-directive>
            <md-card ng-class="{'remove-shadows':ctrl.fromDialog}">
                <div>
                    <form novalidate name="ctrl.documentCommentForm">
                        <div layout="column" class="p20">
                            <div layout="row">
                                <md-input-container flex>
                                    <label for="shortDescription">{{lang.comments_short_description}}</label>
                                    <input id="shortDescription" maxlength="80" minlength="3" name="shortDescription"
                                           required
                                           ng-model="ctrl.documentComment.shortDescription">
                                    <div ng-messages="ctrl.documentCommentForm.shortDescription.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="minlength">{{lang.short}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:80})}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="commentPrivacy">{{lang.comments_privacy}}</label>
                                    <md-select name="commentPrivacy" id="commentPrivacy"
                                               ng-model="ctrl.commentPrivacy"
                                               ng-change="ctrl.onCommentPrivacyChange()">
                                        <md-option md-truncate ng-value="cPrivacy.value"
                                                   ng-repeat="cPrivacy in ctrl.commentPrivacies">
                                            {{cPrivacy.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label for="description">{{lang.comments_description}}</label>
                                    <textarea required maxlength="500" minlength="5" rows="3" name="description"
                                              id="description"
                                              ng-model="ctrl.documentComment.description"></textarea>
                                    <div ng-messages="ctrl.documentCommentForm.description.$error">
                                        <div ng-message="required">{{lang.field_required}}</div>
                                        <div ng-message="minlength">{{lang.short}}</div>
                                        <div ng-message="maxlength">{{lang.max_length.change({length:500})}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Includes -->
                <div ng-if="ctrl.canInclude()" layout="column" class="p20">
                    <fieldset class="size-100" layout-padding>
                        <legend class="md-accent">{{lang.comments_includes}}</legend>
                        <div layout="row" ng-if="ctrl.documentComment.commentCustomize()">
                            <!-- Type Switch (User/OU) -->
                            <div flex layout="row">
                                <md-switch ng-change="ctrl.toggleCommentPerOUStatus($event)"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-model="ctrl.documentComment.isPerOU">
                                    <span>{{lang.type}} : </span>
                                    <span class="switch-width">{{ctrl.documentComment.getPerOUStatus()}}</span>
                                </md-switch>
                            </div>
                            <!-- With sub ous switch -->
                            <div flex layout="row">
                                <md-switch ng-if="ctrl.documentComment.isPerOU"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-model="ctrl.documentComment.withSubOUs"
                                           ng-change="ctrl.toggleCommentWithSubOUs($event)">
                                    <span class="switch-width">{{(ctrl.documentComment.withSubOUs) ? lang.with_subs_ou : lang.without_subs_ou}}</span>
                                </md-switch>
                            </div>
                        </div>
                        <!-- Dropdowns -->
                        <div layout="row">
                            <!-- OU DDL (User Only) -->
                            <md-autocomplete
                                    flex
                                    md-no-cache="true"
                                    md-selected-item="ctrl.selectedOu"
                                    md-search-text="ctrl.searchOuText"
                                    md-items="item in ctrl.querySearchOrganization(ctrl.searchOuText)"
                                    md-item-text="item.display.getTranslatedName()"
                                    md-min-length="0"
                                    ng-if="!ctrl.documentComment.isPerOU"
                                    placeholder="{{lang.comments_search_in_organizations}}">
                                <span>{{ item.display.getTranslatedName() }}</span>
                            </md-autocomplete>
                            &nbsp;&nbsp;
                            <!-- User DDL (disabled if type = ou and no ou selected) -->
                            <md-autocomplete
                                    flex
                                    ng-disabled="!ctrl.documentComment.isPerOU && !ctrl.searchOuText"
                                    md-no-cache="true"
                                    md-selected-item-change="ctrl.selectItem('includedIDs',item)"
                                    md-selected-item="ctrl.includedIDs"
                                    md-search-text="ctrl.includedIDsSearch"
                                    md-items="item in ctrl.querySearchIncludes('includedIDs')"
                                    md-item-text="item.display.getTranslatedName()"
                                    md-min-length="0"
                                    md-menu-class="include-exclude-custom-template"
                                    placeholder="{{lang[ctrl.currentSearchKey()]}}">
                                <span md-highlight-text="ctrl.includedIDsSearch">{{item.display.getTranslatedName()}}</span>
                            </md-autocomplete>
                        </div>
                        <!-- Included Table -->
                        <div ng-if="ctrl.documentComment.includedIDs.length" layout="row">
                            <md-card flex class="m0">
                                <md-table-container>
                                    <div flex scroll-directive>
                                        <table md-table md-row-select multiple
                                               ng-model="ctrl.selectedIncludedIDs"
                                               md-progress="ctrl.progress">
                                            <thead md-head md-order="ctrl.grid.includedIDs.order"
                                                   md-on-reorder="ctrl.getSortedData('includedIDs')">
                                            <tr md-row>
                                                <th class="table-selector-header"
                                                    colspan="3"
                                                    ng-if="ctrl.selectedIncludedIDs.length" md-column>
                                                    <div layout="row" layout-align="start center">
                                                        <span>{{ctrl.selectedIncludedIDs.length}} {{lang.items_selected}} </span>
                                                    </div>
                                                </th>
                                                <th ng-if="!ctrl.selectedIncludedIDs.length" md-column
                                                    md-order-by="arName">
                                                    <span>{{lang.arabic_name}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedIncludedIDs.length" md-column
                                                    md-order-by="enName">
                                                    <span>{{lang.english_name}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedIncludedIDs.length" md-column md-order-by="">
                                                    <!-- exclude subOus -->
                                                </th>
                                                <th md-column>
                                                    <span ng-if="!ctrl.selectedIncludedIDs.length">{{lang.actions}}</span>
                                                    <md-button ng-if="ctrl.selectedIncludedIDs.length"
                                                               class="md-icon-button"
                                                               ng-click="ctrl.removeBulkSelected('includedIDs','selectedIncludedIDs',$event)">
                                                        <md-icon md-svg-icon="delete"></md-icon>
                                                    </md-button>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row md-select="include"
                                                ng-repeat="include in ctrl.documentComment.includedIDs | filter:ctrl.searchModel | limitTo: ctrl.grid.includedIDs.limit: ((ctrl.grid.includedIDs.page - 1) * ctrl.grid.includedIDs.limit) |orderBy:ctrl.grid.includedIDs.order  track by $index">
                                                <td md-cell>{{include.getNameByLanguage('ar')}}</td>
                                                <td md-cell>{{include.getNameByLanguage('en')}}</td>
                                                <td md-cell>
                                                    <div flex layout="row" layout-align="start center">
                                                        <md-button ng-if="ctrl.documentComment.isPerOU"
                                                                   class="md-raised"
                                                                   ng-disabled="!ctrl.documentComment.withSubOUs"
                                                                   ng-click="ctrl.openExcludesDialog(include,$event)">
                                                            <span>{{lang.comments_excludes}}</span>
                                                        </md-button>
                                                    </div>
                                                </td>
                                                <td md-cell>
                                                    <div flex layout="row" layout-align="start center">
                                                        <md-button class="md-icon-button"
                                                                   title="{{lang.delete}}"
                                                                   ng-click="ctrl.removeInclude('includedIDs', $index ,include ,$event)">
                                                            <md-icon md-svg-icon="delete"></md-icon>
                                                        </md-button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <md-table-pagination
                                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                            md-limit-options="ctrl.grid.includedIDs.limitOptions"
                                            md-limit="ctrl.grid.includedIDs.limit"
                                            md-page="ctrl.grid.includedIDs.page"
                                            md-total="{{ctrl.documentComment.includedIDs.length}}"
                                            md-page-select>
                                    </md-table-pagination>
                                </md-table-container>
                            </md-card>
                        </div>
                    </fieldset>

                </div>
                <!-- Excludes -->
                <div ng-if="ctrl.canExclude()" layout="column" class="p20">
                    <fieldset class="size-100" layout-padding>
                        <legend class="md-accent">{{lang.comments_excludes}}</legend>
                        <!-- If global comment -->
                        <div layout="row" ng-if="ctrl.documentComment.isGlobal">
                            <!-- Type Switch (User/OU) -->
                            <div flex layout="row">
                                <md-switch ng-change="ctrl.toggleCommentPerOUStatus($event)"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-model="ctrl.documentComment.isPerOU">
                                    <span>{{lang.type}} : </span>
                                    <span class="switch-width">{{ctrl.documentComment.getPerOUStatus()}}</span>
                                </md-switch>
                            </div>
                            <!-- With sub ous switch -->
                            <div flex layout="row">
                                <md-switch ng-if="ctrl.documentComment.isPerOU"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-model="ctrl.documentComment.withSubOUs"
                                           ng-change="ctrl.toggleCommentWithSubOUs ($event)">
                                    <span class="switch-width">{{(ctrl.documentComment.withSubOUs) ? lang.with_subs_ou : lang.without_subs_ou}}</span>
                                </md-switch>
                            </div>
                        </div>
                        <!-- Not Custom comment and not without sub ous -->
                        <div layout="row"
                             ng-if="!(ctrl.documentComment.withSubOUs && ctrl.documentComment.commentCustomize())">
                            <!-- OU DDL (User Only) -->
                            <md-autocomplete
                                    flex
                                    md-no-cache="true"
                                    md-selected-item="ctrl.selectedOu"
                                    md-search-text="ctrl.searchOuText"
                                    md-items="item in ctrl.querySearchOrganization(ctrl.searchOuText)"
                                    md-item-text="item.display.getTranslatedName()"
                                    md-min-length="0"
                                    ng-if="!ctrl.documentComment.isPerOU"
                                    placeholder="{{lang.comments_search_in_organizations}}">
                                <span tooltip="{{ item.display.getTranslatedName() }}">{{ item.display.getTranslatedName() }}</span>
                            </md-autocomplete>
                            &nbsp;&nbsp;
                            <!-- User/OU DDL (disabled if type = ou and no ou selected) -->
                            <md-autocomplete
                                    flex
                                    ng-disabled="!ctrl.documentComment.isPerOU && !ctrl.searchOuText"
                                    md-no-cache="true"
                                    md-selected-item-change="ctrl.selectItem('excludedIDs',item)"
                                    md-selected-item="ctrl.excludedIDs"
                                    md-search-text="ctrl.excludedIDsSearch"
                                    md-items="item in ctrl.querySearchExcludes('excludedIDs')"
                                    md-item-text="item.display.getTranslatedName()"
                                    md-min-length="0"
                                    placeholder="{{lang[ctrl.currentSearchKey()]}}">
                                <span>{{item.display.getTranslatedName()}}</span>
                            </md-autocomplete>
                        </div>
                        <!-- Excluded Table -->
                        <div layout="row">
                            <md-card flex class="m0">
                                <md-table-container>
                                    <div flex scroll-directive>
                                        <table md-table md-row-select multiple
                                               ng-model="ctrl.selectedExcludedIDs"
                                               md-progress="ctrl.progress">
                                            <thead md-head md-order="ctrl.grid.excludedIDs.order"
                                                   md-on-reorder="ctrl.getSortedData('excludedIDs')">
                                            <tr md-row>
                                                <th class="table-selector-header"
                                                    colspan="2"
                                                    ng-if="ctrl.selectedExcludedIDs.length" md-column>
                                                    <div layout="row" layout-align="start center">
                                                        <span>{{ctrl.selectedExcludedIDs.length}} {{lang.items_selected}} </span>
                                                    </div>
                                                </th>
                                                <th ng-if="!ctrl.selectedExcludedIDs.length" md-column
                                                    md-order-by="arName">
                                                    <span>{{lang.arabic_name}}</span>
                                                </th>
                                                <th ng-if="!ctrl.selectedExcludedIDs.length" md-column
                                                    md-order-by="enName">
                                                    <span>{{lang.english_name}}</span>
                                                </th>
                                                <th md-column>
                                                    <span ng-if="!ctrl.selectedExcludedIDs.length">{{lang.actions}}</span>
                                                    <md-button ng-if="ctrl.selectedExcludedIDs.length"
                                                               class="md-icon-button"
                                                               ng-click="ctrl.removeBulkSelected('excludedIDs','selectedExcludedIDs',$event)">
                                                        <md-icon md-svg-icon="delete"></md-icon>
                                                    </md-button>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row md-select="exclude"
                                                ng-repeat="exclude in ctrl.documentComment.excludedIDs  | filter:ctrl.searchModel | limitTo: ctrl.grid.excludedIDs.limit: ((ctrl.grid.excludedIDs.page - 1) * ctrl.grid.excludedIDs.limit) |orderBy:ctrl.grid.excludedIDs.order  track by $index">
                                                <td md-cell>{{exclude.getNameByLanguage('ar')}}</td>
                                                <td md-cell>{{exclude.getNameByLanguage('en')}}</td>
                                                <td md-cell>
                                                    <div flex layout="row" layout-align="start center">
                                                        <md-button class="md-icon-button"
                                                                   title="{{lang.delete}}"
                                                                   ng-click="ctrl.removeInclude('excludedIDs', $index ,exclude ,$event)">
                                                            <md-icon md-svg-icon="delete"></md-icon>
                                                        </md-button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <md-table-pagination
                                            md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                                            md-limit-options="ctrl.grid.excludedIDs.limitOptions"
                                            md-limit="ctrl.grid.excludedIDs.limit"
                                            md-page="ctrl.grid.excludedIDs.page"
                                            md-total="{{ctrl.documentComment.excludedIDs.length}}"
                                            md-page-select>
                                    </md-table-pagination>
                                </md-table-container>
                            </md-card>
                        </div>
                    </fieldset>
                </div>

            </md-card>
        </md-content>
        <div ng-if="!ctrl.fromDialog">
            <div layout="row">
                <div>
                    <md-button ng-if="!ctrl.editMode" ng-disabled="!ctrl.isValidComment()"
                               class="md-raised md-primary"
                               ng-click="ctrl.addDocumentCommentToDocument()">
                        <!--ng-disabled="ctrl.documentCommentForm.$invalid || !ctrl.isValidComment()"-->
                        {{lang.comments_add}}
                    </md-button>
                    <md-button ng-if="ctrl.editMode" ng-disabled="!ctrl.isValidComment()"
                               class="md-raised md-primary"
                               ng-click="ctrl.saveDocumentCommentToDocument()">
                        <!--ng-disabled="ctrl.documentCommentForm.$invalid || !ctrl.isValidComment()"-->
                        {{lang.comments_save}}
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised red-text"
                               ng-click="ctrl.closeDocumentComment()">
                        {{lang.comments_close}}
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments Table -->
    <div ng-if="!ctrl.showCommentForm && ctrl.documentComments.length">
        <md-card flex>
            <md-table-container>
                <div flex scroll-directive>
                    <!--multiple="{{ctrl.employeeService.hasPermissionTo('DELETE_ALL_DOCUMENT_COMMENTS')}}"-->
                    <table md-table md-row-select multiple
                           ng-model="ctrl.selectedDocumentComments"
                           md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.documentComments.order">
                        <tr md-row>
                            <th class="table-selector-header"
                                ng-if="ctrl.selectedDocumentComments.length" md-column>
                                <div layout="row" layout-align="start center">
                                    <span>{{ctrl.selectedDocumentComments.length}} {{lang.items_selected}} </span>
                                </div>
                            </th>
                            <th ng-if="!ctrl.selectedDocumentComments.length" md-column
                                md-order-by="shortDescription">
                                <span>{{lang.comments_short_description}}</span>
                            </th>
                            <th md-column
                                md-order-by="{{ctrl.getSortingKey('createorInfo', 'Information')}}">
                                <span ng-if="!ctrl.selectedDocumentComments.length">{{lang.created_by}}</span>
                            </th>
                            <th md-column
                                md-order-by="creationDate">
                                <span ng-if="!ctrl.selectedDocumentComments.length">{{lang.comments_creation_date}}</span>
                            </th>
                            <th md-column ng-if="!ctrl.disableEverything">
                                <span ng-if="!ctrl.selectedDocumentComments.length">{{lang.actions}}</span>
                                <!--&& ctrl.vsId && ctrl.employeeService.hasPermissionTo('DELETE_ALL_DOCUMENT_COMMENTS')-->
                                <md-button
                                        ng-if="ctrl.selectedDocumentComments.length"
                                        class="md-icon-button"
                                        ng-click="ctrl.removeBulkDocumentComments($event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="documentComment"
                            ng-repeat="documentComment in ctrl.documentComments  | filter:ctrl.searchModel | limitTo: ctrl.grid.documentComments.limit: ((ctrl.grid.documentComments.page - 1) * ctrl.grid.documentComments.limit) |orderBy:ctrl.grid.documentComments.order  track by $index"
                            ng-disabled="ctrl.disableEverything || !ctrl.allowDelete(documentComment)">
                            <td md-cell><a href="#"
                                           ng-click="ctrl.showComment(documentComment , $event)">{{documentComment.shortDescription}}</a>
                            </td>
                            <td md-cell>
                                {{documentComment.createorInfo.getTranslatedName()}}
                            </td>
                            <td md-cell>
                                {{documentComment.creationDate |date:'yyyy-MM-dd'}}
                            </td>
                            <td md-cell ng-if="!ctrl.disableEverything">
                                <div flex layout="row" layout-align="start center">
                                    <div>
                                        <md-button class="md-icon-button" title="{{lang.delete}}"
                                                   ng-if="ctrl.allowDelete(documentComment)"
                                                   ng-click="ctrl.removeDocumentComment(documentComment , $event)">
                                            <md-icon md-svg-icon="delete"></md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-icon-button" title="{{lang.edit}}"
                                                   ng-if="ctrl.allowEdit(documentComment)"
                                                   ng-click="ctrl.editDocumentComment(documentComment , $event)">
                                            <md-icon md-svg-icon="pencil"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <md-table-pagination
                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                        md-limit-options="ctrl.grid.documentComments.limitOptions"
                        md-limit="ctrl.grid.documentComments.limit"
                        md-page="ctrl.grid.documentComments.page"
                        md-total="{{ctrl.documentComments.length}}"
                        md-page-select>
                </md-table-pagination>
            </md-table-container>
        </md-card>
    </div>
</div>
