<div layout="column" scroll-directive>
    <!-- Simple Search -->
    <div layout="row" flex ng-if="ctrl.isSimpleCorrespondenceSiteSearchType">
        <!-- Site Type -->
        <md-input-container flex>
            <label for="siteTypeSimple">{{lang.sites_select_site_type}}</label>
            <md-select id="siteTypeSimple" ng-model="ctrl.selectedSiteType"
                       ng-change="ctrl.onSiteTypeSimpleChange($event)"
                       md-on-close="ctrl.clearSearchText('siteType')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header">
                    <input ng-model="ctrl.siteTypeSearchText"
                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                           placeholder="{{lang.search}}"
                           class="select-header-input">
                </md-select-header>
                <md-option ng-value="null">{{lang.none}}</md-option>
                <md-option ng-value="type"
                           ng-repeat="type in ctrl.correspondenceSiteTypes | translatedNameFilter:ctrl.siteTypeSearchText">
                    <span md-highlight-text="ctrl.siteTypeSearchText"
                          md-highlight-flags="i">{{type.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Main Site -->
        <md-input-container flex>
            <label for="mainSiteSimple">{{lang.main_site}}</label>
            <md-select id="mainSiteSimple" ng-model="ctrl.selectedMainSite"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-disabled="!ctrl.selectedSiteType || !ctrl.selectedSiteType.id"
                       ng-change="ctrl.onMainSiteChangeSimple($event)"
                       md-on-close="ctrl.clearSearchText('mainSite')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header" layout="column">
                    <div layout="row" flex class="size-100">
                        <input ng-model="ctrl.mainSiteSearchText"
                               ng-keydown="ctrl.preventSearchKeyDown($event, 'mainSite')"
                               placeholder="{{lang.search}}"
                               class="select-header-input">
                        <md-button ng-if="ctrl.mainSiteSearchText"
                                   ng-click="ctrl.loadMainSitesRecords($event)"
                                   class="select-header-icon md-icon-button"
                                   tooltip="{{lang.load_more_records}}">
                            <md-icon md-svg-icon="magnify-plus"></md-icon>
                        </md-button>
                    </div>
                    <div class="help-text-div" ng-if="ctrl.mainSiteSearchText">
                        {{lang.press_enter_to_load_more_records}}
                    </div>
                </md-select-header>
                <md-option ng-repeat="site in ctrl.mainSites | translatedNameFilter: ctrl.mainSiteSearchText"
                           ng-value="site">
                    <span
                            md-highlight-text="ctrl.mainSiteSearchText"
                            md-highlight-flags="i">{{site.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Simple Sub Site search -->
        <md-input-container flex>
            <label for="subSiteSimpleSearchText">{{lang.sites_select_sub_site}}</label>
            <input id="subSiteSimpleSearchText" ng-model="ctrl.subSiteSearchText"
                   ng-disabled="!ctrl.selectedMainSite || !ctrl.selectedMainSite.id"
                   ng-enter="ctrl.loadSubSitesRecords(false)"
                   ng-change="ctrl.onChangeSubSiteText()">
            <!--ng-change="ctrl.onSubSiteSearch(false)"-->
            <md-button ng-if="ctrl.subSiteSearchText"
                       ng-click="ctrl.loadSubSitesRecords($event)"
                       class="cms-input-overlay-button md-icon-button"
                       tooltip="{{lang.load_more_records}}">
                <md-icon md-svg-icon="magnify-plus"></md-icon>
            </md-button>
            <div class="help-text-div" ng-if="ctrl.subSiteSearchText">
                {{lang.press_enter_to_load_more_records}}
            </div>
        </md-input-container>
    </div>

    <!-- Advanced Search -->
    <div layout="row" flex ng-if="!ctrl.isSimpleCorrespondenceSiteSearchType">
        <!-- Correspondence Site Type -->
        <md-input-container flex>
            <label for="siteTypeAdvanced">{{lang.sites_select_site_type}}</label>
            <md-select id="siteTypeAdvanced" ng-model="ctrl.selectedSiteType"
                       ng-change="ctrl.onSiteTypeChangeAdvanced($event)"
                       md-on-close="ctrl.clearSearchText('siteType')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header">
                    <input ng-model="ctrl.siteTypeSearchText"
                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                           placeholder="{{lang.search}}"
                           class="select-header-input">
                </md-select-header>
                <md-option ng-value="null">{{lang.none}}</md-option>
                <md-option ng-value="type"
                           ng-repeat="type in ctrl.correspondenceSiteTypes | translatedNameFilter:ctrl.siteTypeSearchText">
                    <span md-highlight-text="ctrl.siteTypeSearchText"
                          md-highlight-flags="i">{{type.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Main Site -->
        <md-input-container flex>
            <label for="mainSiteAdvanced">{{lang.main_site}}</label>
            <md-select id="mainSiteAdvanced" ng-model="ctrl.selectedMainSite"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-change="ctrl.onMainSiteChangeAdvanced($event)"
                       md-on-close="ctrl.clearSearchText('mainSite')"
                       data-md-container-class="select-header-container sticky-search-bar">
                <md-select-header class="select-header" layout="column">
                    <div layout="row" flex class="size-100">
                        <input ng-model="ctrl.mainSiteSearchText"
                               ng-keydown="ctrl.preventSearchKeyDown($event, 'mainSite')"
                               placeholder="{{lang.search}}"
                               class="select-header-input">
                        <md-button ng-if="ctrl.mainSiteSearchText"
                                   ng-click="ctrl.loadMainSitesRecords($event)"
                                   class="select-header-icon md-icon-button"
                                   tooltip="{{lang.load_more_records}}">
                            <md-icon md-svg-icon="magnify-plus"></md-icon>
                        </md-button>
                    </div>
                    <div class="help-text-div" ng-if="ctrl.mainSiteSearchText">
                        {{lang.press_enter_to_load_more_records}}
                    </div>
                </md-select-header>
                <md-option
                        ng-repeat="site in ctrl.mainSites | translatedNameFilter: ctrl.mainSiteSearchText"
                        ng-value="site">
                                <span md-highlight-text="ctrl.mainSiteSearchText"
                                      md-highlight-flags="i">{{site.getTranslatedName()}}</span>
                </md-option>
            </md-select>
        </md-input-container>
        <!-- Sub Site -->
        <md-input-container flex>
            <label for="subSiteSearchText">{{lang.sites_select_sub_site}}</label>
            <input id="subSiteSearchText" ng-model="ctrl.subSiteSearchText"
                   ng-enter="ctrl.loadSubSitesRecords(false)"
                   ng-change="ctrl.onChangeSubSiteText()">
            <!--ng-change="ctrl.onSubSiteSearch(false)"-->
            <md-button ng-if="ctrl.subSiteSearchText"
                       ng-click="ctrl.loadSubSitesRecords($event)"
                       class="cms-input-overlay-button md-icon-button"
                       tooltip="{{lang.load_more_records}}">
                <md-icon md-svg-icon="magnify-plus"></md-icon>
            </md-button>
            <div class="help-text-div" ng-if="ctrl.subSiteSearchText">
                {{lang.press_enter_to_load_more_records}}
            </div>
        </md-input-container>
    </div>

    <!-- Search Results -->
    <div flex layout="column">
        <md-card ng-if="ctrl.subSearchResult.length" md-whiteframe="3" layout="column" class="card-overlay">
            <md-toolbar class="md-table-toolbar md-default" ng-class="{'selected':ctrl.subSearchSelected.length}">
                <div class="md-toolbar-tools">
                    <!-- Close search results -->
                    <div layout="row" ng-if="!ctrl.subSearchSelected.length" flex>
                        <div flex>{{lang.sites_search_results}}</div>
                        <div>
                            <md-button tooltip="{{lang.sites_hide_search}}" class="md-icon-button close-search-button"
                                       ng-click="ctrl.onCloseSearch()">
                                <md-icon md-svg-icon="close"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <!-- Add multiple selected search results -->
                    <div ng-if="ctrl.subSearchSelected.length" layout="row" flex layout-align="start center">
                        <div>{{ctrl.subSearchSelected.length}} {{lang.items_selected}}</div>
                        <span flex></span>
                        <div>
                            <md-button tooltip="{{lang.add}}" class="md-icon-button close-search-button"
                                       ng-click="ctrl.addDistributionListMemberBulk($event)">
                                <md-icon md-svg-icon="plus"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <!-- Search results -->
            <md-table-container>
                <div flex scroll-directive>
                    <table md-table md-row-select multiple ng-model="ctrl.subSearchSelected"
                           md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.subSearchResult.order">
                        <tr md-row>
                            <th md-column md-order-by="mainEnSiteText">
                                <span>{{lang.sites_main_site}}</span>
                            </th>
                            <th md-column md-order-by="mainArSiteText">
                                <span>{{lang.sites_sub_site}}</span>
                            </th>
                            <th md-column md-order-by="mainArSiteText">
                                <span>{{lang.sites_select_site_type}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="site"
                            ng-repeat="site in ctrl.subSearchResult  | filter:ctrl.subSiteSearchText | limitTo: ctrl.grid.subSearchResult.limit: ((ctrl.grid.subSearchResult.page - 1) * ctrl.grid.subSearchResult.limit) |orderBy:ctrl.grid.subSearchResult.order  track by $index">
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{site.parentInfo.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span md-highlight-text="ctrl.subSiteSearchText" md-highlight-flags="i"
                                          class="span-column">{{site.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{site.correspondenceSiteType.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <md-button class="md-icon-button" title="{{lang.add}}"
                                           ng-click="ctrl.addDistributionListMember(site, $event)">
                                    <md-icon md-svg-icon="plus"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <md-table-pagination
                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                        md-limit-options="ctrl.grid.subSearchResult.limitOptions"
                        md-limit="ctrl.grid.subSearchResult.limit" md-page="ctrl.grid.subSearchResult.page"
                        md-total="{{(ctrl.subSearchResult | filter:ctrl.subSiteSearchText).length}}" md-page-select>
                </md-table-pagination>
            </md-table-container>
        </md-card>
    </div>
    <br/>
    <!-- Added sites after searching / from database -->
    <div flex layout="column">
        <md-card ng-if="ctrl.distributionListMembers.length" md-whiteframe="3" layout="column" class="card-overlay">
            <!-- Sites toolbar -->
            <md-toolbar class="md-table-toolbar md-default"
                        ng-class="{'selected':ctrl.distributionListMembersSelected.length}">
                <div class="md-toolbar-tools">
                    <div ng-if="ctrl.distributionListMembersSelected.length" layout="row" flex
                         layout-align="start center">
                        <div>{{ctrl.distributionListMembersSelected.length}} {{lang.items_selected}}</div>
                        <span flex></span>
                        <div>
                            <md-button tooltip="{{lang.remove}}" class="md-icon-button close-search-button"
                                       ng-click="ctrl.deleteDistributionListMemberBulk($event)">
                                <md-icon md-svg-icon="delete"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <!-- sites table -->
            <md-table-container>
                <div flex scroll-directive>
                    <table md-table md-row-select multiple ng-model="ctrl.distributionListMembersSelected"
                           md-progress="ctrl.progress">
                        <thead md-head md-order="ctrl.grid.distributionListMembers.order">
                        <tr md-row>
                            <th md-column md-order-by="mainEnSiteText">
                                <span>{{lang.sites_main_site}}</span>
                            </th>
                            <th md-column md-order-by="mainArSiteText">
                                <span>{{lang.sites_sub_site}}</span>
                            </th>
                            <th md-column md-order-by="siteType">
                                <span>{{lang.sites_select_site_type}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="site"
                            ng-repeat="site in ctrl.distributionListMembers  | filter:ctrl.searchModel | limitTo: ctrl.grid.distributionListMembersGrid.limit: ((ctrl.grid.distributionListMembersGrid.page - 1) * ctrl.grid.distributionListMembersGrid.limit) |orderBy:ctrl.grid.distributionListMembersGrid.order  track by $index">
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{site.site.parentInfo.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{site.site.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <div flex layout="column">
                                    <span class="span-column">{{site.site.correspondenceSiteType.getTranslatedName()}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                <md-button class="md-icon-button" title="{{lang.remove}}"
                                           ng-click="ctrl.deleteDistributionListMember(site, $event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <md-table-pagination
                        md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                        md-limit-options="ctrl.grid.distributionListMembersGrid.limitOptions"
                        md-limit="ctrl.grid.distributionListMembersGrid.limit"
                        md-page="ctrl.grid.distributionListMembersGrid.page"
                        md-total="{{ctrl.distributionListMembers.length}}" md-page-select>
                </md-table-pagination>
            </md-table-container>
        </md-card>
    </div>
</div>
