<div id="incoming-search-form">
    <accordion-directive label-collapse="ctrl.labelCollapse"
                         validation="false">
        <accordion-item active>
            <accordion-title>
                <div layout="row" layout-align="start center">
                    <md-icon md-svg-icon="magnify"></md-icon>
                    <span> {{lang.simple_search}}</span>
                    <span flex></span>
                </div>
            </accordion-title>
            <accordion-content>
                <ng-form ng-enter="ctrl.searchCorrespondence()" name="simpleSearchForm">
                    <div ng-if="ctrl.checkFieldStatus('docSubject')" layout="row">
                        <div flex layout="row">
                            <md-input-container flex>
                                <label for="docSubjectIncoming">{{lang.document_subject}}</label>
                                <input id="docSubjectIncoming" name="docSubject"
                                       ng-model="ctrl.searchCriteria.docSubject"/>
                            </md-input-container>
                        </div>
                    </div> <!-- First row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('refDocNumber')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label for="refDocNumber">{{lang.document_number}}</label>
                                <input id="refDocNumber" name="refDocNumber" ng-model="ctrl.searchCriteria.refDocNumber"
                                       type="text">
                                <div ng-messages="simpleSearchForm.refDocNumber.$error">
                                    <div ng-message="number">{{lang.numberonly}}</div>
                                </div>
                            </md-input-container>
                        </div><!-- serialNoFrom -->
                        <div ng-if="ctrl.checkFieldStatus('docSerial')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label for="serialNoFromIncoming">{{lang.search_module_serial_from}}</label>
                                <input id="serialNoFromIncoming" name="serialNoFrom"
                                       ng-model="ctrl.searchCriteria.serialNoFrom"
                                       min="1" max="ctrl.getMinMaxSerialNumberValues('from', 'max').value"
                                       custom-validate-directive="number" type="text"
                                       min-max-number-directive>
                                <div ng-messages="simpleSearchForm.serialNoFrom.$error">
                                    <div ng-message="number">{{lang.numberonly}}</div>
                                    <div ng-message="min">{{lang.min_number.change({number:
                                        ctrl.getMinMaxSerialNumberValues('from',
                                        'min').errorValue})}}
                                    </div>
                                    <div ng-message="max">{{lang.max_number.change({number:
                                        ctrl.getMinMaxSerialNumberValues('from',
                                        'max').errorValue})}}
                                    </div>
                                </div>
                            </md-input-container>
                        </div><!-- serialNoFrom -->
                        <div ng-if="ctrl.checkFieldStatus('docSerial')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label>{{lang.search_module_serial_to}}</label>
                                <input id="serialNoToIncoming" name="serialNoTo"
                                       ng-model="ctrl.searchCriteria.serialNoTo"
                                       custom-validate-directive="number" type="text"
                                       min="ctrl.getMinMaxSerialNumberValues('to', 'min').value"
                                       min-max-number-directive>
                                <div ng-messages="simpleSearchForm.serialNoTo.$error">
                                    <div ng-message="number">{{lang.numberonly}}</div>
                                    <div ng-message="min">{{lang.min_number.change({number:
                                        ctrl.getMinMaxSerialNumberValues('to',
                                        'min').errorValue})}}
                                    </div>
                                </div>
                            </md-input-container>
                        </div><!-- serialNoTo -->
                        <div flex layout="row"></div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div> <!-- Second row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('registryOU')" flex layout="row">
                            <md-input-container flex>
                                <label for="registryOU">{{lang.select_organization}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="registryOU"
                                           name="registryOU"
                                           md-on-close="ctrl.registryOUSearchText = ''"
                                           ng-change="ctrl.onRegistrySelectedChange()"
                                           ng-model="ctrl.searchCriteria.registryOU">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.registryOUSearchText"
                                                   type="search"
                                                   ng-keydown="$event.stopPropagation()"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.registryOUSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            md-highlight-text="ctrl.registryOUSearchText" md-highlight-flags="i"
                                            ng-value="organization.id"
                                            ng-repeat="organization in ctrl.registryOrganizations|translatedNameFilter:ctrl.registryOUSearchText">
                                        {{organization.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('ou')" flex layout="row">
                            <md-input-container flex>
                                <label for="ou">{{lang.department}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="ou"
                                           name="ou"
                                           md-on-close="ctrl.ouSearchText = ''"
                                           ng-model="ctrl.searchCriteria.ou">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.ouSearchText"
                                                   type="search"
                                                   ng-keydown="$event.stopPropagation()"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.ouSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            md-highlight-text="ctrl.ouSearchText" md-highlight-flags="i"
                                            ng-value="organization.id"
                                            ng-repeat="organization in ctrl.organizations|translatedNameFilter:ctrl.ouSearchText">
                                        {{organization.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('refDocDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block" flex>
                                <label for="refDocDateFrom">{{lang.doc_date_from}}</label>
                                <md-datepicker id="refDocDateFrom"
                                               name="refDocDateFrom"
                                               ng-required="ctrl.searchCriteria.refDocDateTo"
                                               md-max-date="ctrl.getLessDateOrToday(ctrl.searchCriteria.refDocDateTo)"
                                               ng-model="ctrl.searchCriteria.refDocDateFrom"></md-datepicker>
                                <div ng-messages="advancedSearchForm.refDocDateFrom.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('refDocDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block" flex>
                                <label for="refDocDateTo">{{lang.doc_date_to}}</label>
                                <md-datepicker id="refDocDateTo"
                                               name="refDocDateTo"
                                               ng-required="ctrl.searchCriteria.refDocDateFrom"
                                               md-min-date="ctrl.searchCriteria.refDocDateFrom"
                                               md-max-date="ctrl.maxCreateDate"
                                               ng-model="ctrl.searchCriteria.refDocDateTo"></md-datepicker>
                                <div ng-messages="advancedSearchForm.refDocDateTo.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div>
                    <div layout="row">
                        <div flex layout="row">
                            <md-input-container flex="">
                                <label for="siteType">{{lang.sites_select_site_type}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="siteType"
                                           name="siteType"
                                           ng-change="ctrl.onSiteTypeChanged()"
                                           md-on-close="ctrl.siteTypeSearchText = ''"
                                           ng-model="ctrl.searchCriteria.siteType">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.siteTypeSearchText"
                                                   type="search"
                                                   ng-keydown="$event.stopPropagation()"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.siteTypeSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            ng-value="type"
                                            ng-repeat="type in ctrl.siteTypes|filter:ctrl.siteTypeSearchText">
                                        {{type.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-input-container flex>
                                <label for="mainSite">{{lang.main_site}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="mainSite"
                                           name="mainSite"
                                           ng-model-options="{trackBy:'$value.id'}"
                                           ng-change="ctrl.onMainSiteChanged()"
                                           ng-disabled="!ctrl.searchCriteria.siteType"
                                           md-on-close="ctrl.mainSiteSearchText = ''"
                                           ng-model="ctrl.searchCriteria.mainSite">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.mainSiteSearchText"
                                                   type="search"
                                                   ng-keyup="ctrl.setPropertiesSpaceBackIfNoLength($event , ctrl.mainSiteSearchText ,ctrl.setOldMainSites)"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event,ctrl.loadMainSitesByCriteria)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                            <md-button
                                                    ng-click="ctrl.loadMainSitesByCriteria($event)"
                                                    tooltip="{{lang.load_more_records}}" class="md-icon-button">
                                                <md-icon md-svg-icon="magnify-plus"></md-icon>
                                            </md-button>
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.mainSiteSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option md-highlight-text="ctrl.mainSiteSearchText" md-highlight-flags="i"
                                               ng-value="site"
                                               ng-repeat="site in ctrl.mainSites|translatedNameFilter:ctrl.mainSiteSearchText">
                                        {{site.getTranslatedName()}}
                                    </md-option>
                                    <md-option ng-click="ctrl.loadMainSitesByCriteria(ctrl.mainSiteSearchText , $event)"
                                               ng-if="!(ctrl.mainSites|translatedNameFilter:ctrl.mainSiteSearchText).length && ctrl.mainSiteSearchText.length">
                                        <span class="red-text">{{lang.press_enter_to_load_more_records}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-input-container flex="">
                                <label for="subSite">{{lang.sub_site}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="subSite"
                                           name="subSite"
                                           ng-disabled="!ctrl.searchCriteria.mainSite"
                                           ng-model-options="{trackBy:'$value.subSiteId'}"
                                           md-on-close="ctrl.subSiteSearchText = ''"
                                           ng-model="ctrl.searchCriteria.subSite">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.subSiteSearchText"
                                                   type="text"
                                                   ng-keyup="ctrl.setPropertiesSpaceBackIfNoLength($event , ctrl.subSiteSearchText ,ctrl.setOldSubSites)"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event,ctrl.loadSubSitesByCriteria)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                            <md-button
                                                    ng-click="ctrl.loadSubSitesByCriteria($event)"
                                                    tooltip="{{lang.load_more_records}}" class="md-icon-button">
                                                <md-icon md-svg-icon="magnify-plus"></md-icon>
                                            </md-button>
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.subSiteSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option md-highlight-text="ctrl.subSiteSearchText" md-highlight-flags="i"
                                               ng-value="site"
                                               ng-repeat="site in ctrl.subSites|translatedNameFilter:ctrl.subSiteSearchText">
                                        {{site.getTranslatedName()}}
                                    </md-option>
                                    <md-option ng-click="ctrl.loadSubSitesByCriteria(ctrl.subSiteSearchText , $event)"
                                               ng-if="!(ctrl.subSites|translatedNameFilter:ctrl.subSiteSearchText).length && ctrl.subSiteSearchText.length">
                                        <span class="red-text">{{lang.press_enter_to_load_more_records}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row"></div>
                    </div> <!-- Third row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('securityLevel')" flex layout="row">
                            <md-input-container flex>
                                <label for="securityLevel">{{lang.security_level}}</label>
                                <md-select name="securityLevel" id="securityLevel"
                                           ng-model="ctrl.searchCriteria.securityLevel">
                                    <md-option ng-value="null">{{lang.all}}</md-option>
                                    <md-option ng-value="security"
                                               ng-repeat="security in ctrl.securityLevels">
                                        {{security.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('docDate')" flex layout="row">
                            <md-input-container flex="">
                                <label for="year">{{lang.incoming_date_year}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="year"
                                           name="year"
                                           ng-change="ctrl.onYearChanged($event)"
                                           md-on-close="ctrl.yearSearchText = ''"
                                           ng-model="ctrl.searchCriteria.year">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.yearSearchText"
                                                   type="search"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-value="'All'">{{lang.all}}</md-option>
                                    <md-option
                                            ng-value="year"
                                            ng-repeat="year in ctrl.years|filter:ctrl.yearSearchText">
                                        {{year}}
                                    </md-option>
                                </md-select>
                                <md-button class="md-icon-button cms-select-overlay-button"
                                           tooltip="{{lang.change_date_range}}"
                                           ng-click="ctrl.changeYearRange($event)">
                                    <md-icon md-svg-icon="calendar-today"></md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('docDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block" flex>
                                <label>{{lang.incoming_date_from}}</label>
                                <input readonly disabled value="{{ctrl.searchCriteria.docDateFrom}}"/>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('docDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block"
                                                flex>
                                <label>{{lang.incoming_date_to}}</label>
                                <input readonly disabled value="{{ctrl.searchCriteria.docDateTo}}"/>
                            </md-input-container>
                        </div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div> <!-- Fourth row -->
                    <div layout="row">
                        <md-button ng-click="ctrl.searchCorrespondence()" id="simple-search-button"
                                   class="md-raised md-primary search-button">
                            {{lang.search}}
                        </md-button>
                        <md-button ng-click="ctrl.cleanSearchCriteriaForms()"
                                   class="md-raised search-button">
                            {{lang.search_module_reset_filters}}
                        </md-button>
                        <span flex></span>
                    </div> <!-- Fifth row -->
                </ng-form>
            </accordion-content>
        </accordion-item>
        <accordion-item>
            <accordion-title>
                <div layout="row" layout-align="start center">
                    <md-icon md-svg-icon="database-search"></md-icon>
                    <span> {{lang.advanced_search}}</span>
                    <span flex></span>
                </div>
            </accordion-title>
            <accordion-content>
                <ng-form ng-enter="ctrl.searchCorrespondence()" name="advancedSearchForm">
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('priorityLevel')" flex layout="row">
                            <md-input-container flex>
                                <label>{{lang.outgoing_priority_level}}</label>
                                <md-select ng-model="ctrl.searchCriteria.priorityLevel">
                                    <md-option ng-value="null">{{lang.all}}</md-option>
                                    <md-option ng-value="priority" ng-repeat="priority in ctrl.priorityLevels">
                                        {{priority.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('docFullSerial')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label>{{lang.search_module_serial}}</label>
                                <input type="text" ng-model="ctrl.searchCriteria.docFullSerial">
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('mainClassification')" flex layout="row">
                            <md-input-container flex="">
                                <label for="mainClassification">{{lang.outgoing_main_classification}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="mainClassification"
                                           name="mainClassification"
                                           ng-change="ctrl.onMainClassificationChanged()"
                                           md-on-close="ctrl.mainClassificationSearchText = ''"
                                           ng-model="ctrl.searchCriteria.mainClassification">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.mainClassificationSearchText"
                                                   autocomplete="off"
                                                   type="text"
                                                   ng-keyup="ctrl.setPropertiesSpaceBackIfNoLength($event , ctrl.mainClassificationSearchText ,ctrl.setOldMainClassification)"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event,ctrl.loadMainClassificationByCriteria)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                            <md-button ng-if="ctrl.mainClassificationSearchText"
                                                       ng-click="ctrl.loadMainClassificationByCriteria($event)"
                                                       tooltip="{{lang.load_more_records}}" class="md-icon-button">
                                                <md-icon md-svg-icon="magnify-plus"></md-icon>
                                            </md-button>
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.mainClassificationSearchText.length" ng-value="null">
                                        {{lang.none}}
                                    </md-option>
                                    <md-option md-highlight-text="ctrl.mainClassificationSearchText"
                                               md-highlight-flags="i"
                                               ng-value="mainClassification.classification"
                                               ng-repeat="mainClassification in ctrl.mainClassifications|translatedNameFilter:ctrl.mainClassificationSearchText:'getCodeOrIdAndNameByLanguage':'classification'">
                                        {{mainClassification.classification.getCodeOrIdAndNameByLanguage()}}
                                    </md-option>
                                    <md-option
                                            ng-click="ctrl.loadMainClassificationByCriteria(ctrl.mainClassificationSearchText , $event)"
                                            ng-if="!(ctrl.mainClassifications|translatedNameFilter:ctrl.mainClassificationSearchText:'getCodeOrIdAndNameByLanguage':'classification').length && ctrl.mainClassificationSearchText.length">
                                        <span class="red-text">{{lang.press_enter_to_load_more_records}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('subClassification')" flex layout="row">
                            <md-input-container flex="">
                                <label for="subClassification">{{lang.outgoing_sub_classification}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="subClassification"
                                           name="subClassification"
                                           md-on-close="ctrl.subClassificationSearchText = ''"
                                           ng-model="ctrl.searchCriteria.subClassification">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.subClassificationSearchText"
                                                   autocomplete="off"
                                                   type="text"
                                                   ng-keyup="ctrl.setPropertiesSpaceBackIfNoLength($event , ctrl.subClassificationSearchText ,ctrl.setOldSubClassification)"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event,ctrl.loadSubClassificationByCriteria)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                            <md-button ng-if="ctrl.subClassificationSearchText"
                                                       ng-click="ctrl.loadSubClassificationByCriteria($event)"
                                                       tooltip="{{lang.load_more_records}}" class="md-icon-button">
                                                <md-icon md-svg-icon="magnify-plus"></md-icon>
                                            </md-button>
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.subClassificationSearchText.length" ng-value="null">
                                        {{lang.none}}
                                    </md-option>
                                    <md-option md-highlight-text="ctrl.subClassificationSearchText"
                                               md-highlight-flags="i"
                                               ng-value="subClassification"
                                               ng-repeat="subClassification in ctrl.subClassifications|translatedNameFilter:ctrl.subClassificationSearchText:'getCodeOrIdAndNameByLanguage'">
                                        {{subClassification.getCodeOrIdAndNameByLanguage()}}
                                    </md-option>
                                    <md-option
                                            ng-click="ctrl.loadSubClassificationByCriteria(ctrl.subClassificationSearchText , $event)"
                                            ng-if="!(ctrl.subClassifications|translatedNameFilter:ctrl.subClassificationSearchText:'getCodeOrIdAndNameByLanguage').length && ctrl.subClassificationSearchText.length">
                                        <span class="red-text">{{lang.press_enter_to_load_more_records}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div><!-- Sixth row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('docType')" flex layout="row">
                            <md-input-container flex="">
                                <label for="docType">{{lang.outgoing_document_type}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="docType"
                                           name="docType"
                                           md-on-close="ctrl.docTypeSearchText = ''"
                                           ng-model="ctrl.searchCriteria.docType">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.docTypeSearchText"
                                                   type="search"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.docTypeSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            md-highlight-text="ctrl.docTypeSearchText" md-highlight-flags="i"
                                            ng-value="type.lookupKey"
                                            ng-repeat="type in ctrl.docTypes|translatedNameFilter:ctrl.docTypeSearchText">
                                        {{type.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-input-container flex="">
                                <label for="fromRegOUId">{{lang.from_reg_ou}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="fromRegOUId"
                                           name="fromRegOUId"
                                           md-on-close="ctrl.fromRegOUIdSearchText = ''"
                                           ng-model="ctrl.searchCriteria.fromRegOUId">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.fromRegOUIdSearchText"
                                                   type="search"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.fromRegOUIdSearchText.length" ng-value="null">
                                        {{lang.none}}
                                    </md-option>
                                    <md-option
                                            ng-disabled="regOu.id == ctrl.searchCriteria.toRegOUId"
                                            md-highlight-text="ctrl.fromRegOUIdSearchText" md-highlight-flags="i"
                                            ng-value="regOu.id"
                                            ng-repeat="regOu in ctrl.availableRegistryOrganizations|translatedNameFilter:ctrl.fromRegOUIdSearchText">
                                        {{regOu.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-input-container flex="">
                                <label for="toRegOUId">{{lang.to_reg_ou}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="toRegOUId"
                                           name="toRegOUId"
                                           md-on-close="ctrl.toRegOUIdSearchText = ''"
                                           ng-model="ctrl.searchCriteria.toRegOUId">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.toRegOUIdSearchText"
                                                   type="search"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.toRegOUIdSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            ng-disabled="regOu.id == ctrl.searchCriteria.fromRegOUId"
                                            md-highlight-text="ctrl.toRegOUIdSearchText" md-highlight-flags="i"
                                            ng-value="regOu.id"
                                            ng-repeat="regOu in ctrl.availableRegistryOrganizations|translatedNameFilter:ctrl.toRegOUIdSearchText">
                                        {{regOu.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex layout="row"></div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div><!-- Seventh row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('followupStatus')" flex layout="row">
                            <md-input-container flex>
                                <label>{{lang.pc_followupstatus}}</label>
                                <md-select multiple ng-change="ctrl.checkFollowUpStatusValue()"
                                           ng-model-options="{trackBy: '$value.id'}"
                                           ng-model="ctrl.searchCriteria.followupStatus">
                                    <md-option ng-value="status" ng-repeat="status in ctrl.followUpStatuses">
                                        {{status.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('followupDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block" flex>
                                <label>{{lang.search_module_start_date}}</label>
                                <md-datepicker name="followUpFrom" ng-disabled="!ctrl.displayFollowUpDates"
                                               ng-required="ctrl.searchCriteria.followUpTo"
                                               md-max-date="ctrl.searchCriteria.followUpTo"
                                               ng-model="ctrl.searchCriteria.followUpFrom"></md-datepicker>
                                <div ng-messages="advancedSearchForm.followUpFrom.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('followupDate')" flex layout="row">
                            <md-input-container class="cms-datepicker md-block" flex>
                                <label>{{lang.search_module_end_date}}</label>
                                <md-datepicker name="followUpTo" ng-disabled="!ctrl.displayFollowUpDates"
                                               ng-required="ctrl.searchCriteria.followUpFrom"
                                               md-min-date="ctrl.searchCriteria.followUpFrom"
                                               ng-model="ctrl.searchCriteria.followUpTo"></md-datepicker>
                                <div ng-messages="advancedSearchForm.followUpTo.$error">
                                    <div ng-message="required">{{lang.field_required}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row"></div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div><!-- Eighth row -->
                    <div ng-if="ctrl.checkFieldStatus('linkedEntities')" layout="row">
                        <div flex layout="row">
                            <md-input-container flex>
                                <label for="selectedEntityType">{{lang.linked_entity}}</label>
                                <md-select id="selectedEntityType"
                                           ng-change="ctrl.openEntityTypePopup(true)"
                                           name="selectedEntityType"
                                           ng-model="ctrl.searchCriteria.selectedEntityType">
                                    <md-option ng-value="null">{{lang.none}}</md-option>
                                    <md-option ng-value="type" ng-repeat="type in ctrl.entityTypes">
                                        {{type.getTranslatedName()}}
                                    </md-option>
                                </md-select>
                                <!-- edit selected linked type  -->
                                <md-button ng-click="ctrl.openEntityTypePopup(false)"
                                           class="md-icon-button cms-select-overlay-button"
                                           tooltip-direction="{{lang.current === 'en' ? 'left' : 'right'}}"
                                           tooltip="{{lang.edit}}">
                                    <md-icon md-svg-icon="pencil"></md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label>{{lang.selected_entity_name}}</label>
                                <input type="text" value="{{ctrl.searchCriteria.linkedEntities.getName()}}" disabled>
                            </md-input-container>
                        </div>
                        <div flex layout="row"></div>
                        <div flex layout="row"></div>
                    </div><!-- Tenth row -->
                    <div layout="row">
                        <div ng-if="ctrl.checkFieldStatus('fileId')" flex layout="row">
                            <md-input-container flex="">
                                <label for="documentFile">{{lang.outgoing_file}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="documentFile"
                                           name="documentFile"
                                           ng-change="ctrl.onFileChanged(ctrl.searchCriteria.fileId)"
                                           md-on-close="ctrl.documentFileSearchText = ''"
                                           ng-model="ctrl.searchCriteria.fileId">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.documentFileSearchText"
                                                   type="text"
                                                   ng-keyup="ctrl.setPropertiesSpaceBackIfNoLength($event , ctrl.documentFileSearchText ,ctrl.setOldDocumentFiles)"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event,ctrl.loadDocumentFilesByCriteria)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                            <md-button
                                                    ng-click="ctrl.loadDocumentFilesByCriteria( $event)"
                                                    tooltip="{{lang.load_more_records}}" class="md-icon-button">
                                                <md-icon md-svg-icon="magnify-plus"></md-icon>
                                            </md-button>
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.documentFileSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option md-highlight-text="ctrl.documentFileSearchText" md-highlight-flags="i"
                                               ng-value="file.file"
                                               ng-repeat="file in ctrl.documentFiles|translatedNameFilter:ctrl.documentFileSearchText:null:'file'">
                                        {{file.file.getTranslatedName()}}
                                    </md-option>
                                    <md-option
                                            ng-click="ctrl.loadDocumentFilesByCriteria(ctrl.documentFileSearchText , $event)"
                                            ng-if="!(ctrl.documentFiles|translatedNameFilter:ctrl.documentFileSearchText:null:'file').length && ctrl.documentFileSearchText.length">
                                        <span class="red-text">{{lang.press_enter_to_load_more_records}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('fileCode')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label for="fileCodeIncoming">{{lang.outgoing_file_code}}</label>
                                <input name="fileCode"
                                       id="fileCodeIncoming" ng-enter="ctrl.onFileCodeChanged()"
                                       ng-model="ctrl.searchCriteria.fileCode"
                                       type="text">
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('fileSerial')" flex layout="row">
                            <md-input-container class="restrict-max" flex>
                                <label for="fileSerialIncoming">{{lang.outgoing_file_serial}}</label>
                                <input name="fileSerial" custom-validate-directive="number"
                                       id="fileSerialIncoming"
                                       ng-model="ctrl.searchCriteria.fileSerial">
                                <div ng-messages="advancedSearchForm.fileSerial.$error">
                                    <div ng-message="number">{{lang.numberonly}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row"></div>
                        <!-- directive: generate-remaining-search-div-directive -->
                    </div><!-- Eleventh row -->
                    <div layout="row"><!-- Twelfth row -->
                        <div ng-if="ctrl.checkFieldStatus('creatorId')" flex="25" layout="row">
                            <md-input-container flex>
                                <label for="creatorId">{{lang.creator}}</label>
                                <md-select data-md-container-class="select-header-container sticky-search-bar"
                                           id="creatorId"
                                           name="creatorId"
                                           md-on-close="ctrl.creatorsSearchText = ''"
                                           ng-model="ctrl.searchCriteria.creatorId">
                                    <md-select-header class="select-header" layout="column">
                                        <div layout="row" flex class="size-100">
                                            <input ng-model="ctrl.creatorsSearchText"
                                                   type="search"
                                                   ng-keydown="ctrl.allowPropagationUpDownArrows($event)"
                                                   placeholder="{{lang.search}}"
                                                   class="select-header-input">
                                        </div>
                                    </md-select-header>
                                    <md-option ng-if="!ctrl.creatorsSearchText.length" ng-value="null">{{lang.none}}
                                    </md-option>
                                    <md-option
                                            md-highlight-text="ctrl.creatorsSearchText" md-highlight-flags="i"
                                            ng-value="creator"
                                            ng-repeat="creator in ctrl.creatorsList | translatedNameFilter:ctrl.creatorsSearchText:'getAppUserAndOuTranslate'">
                                        {{creator.getAppUserAndOuTranslate()}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="ctrl.checkFieldStatus('tags')" flex="50" layout="row"
                             class="cms-autocomplete-wrapper">
                            <md-autocomplete flex
                                             class="cms-md-autocomplete"
                                             md-autoselect="false"
                                             md-no-cache="true"
                                             md-selected-item="ctrl.searchCriteria.tags"
                                             md-search-text="ctrl.tagsSearchText"
                                             md-items="item in ctrl.querySearchTags(ctrl.tagsSearchText)"
                                             md-item-text="item"
                                             md-delay="500"
                                             placeholder="{{lang.tags}}">
                                <span md-highlight-text="ctrl.tagsSearchText">{{item}}</span>
                                <md-not-found>
                                    {{lang.no_records_found_matching_search}}
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                    <div layout="row" ng-if="ctrl.employeeService.hasPermissionTo('CONTENT_SEARCH')">
                        <md-input-container class="restrict-max" flex>
                            <label for="content">{{lang.content}}</label>
                            <input name="content" id="content"
                                   ng-model="ctrl.searchCriteria.content"
                                   type="text">
                        </md-input-container>
                    </div>
                    <div ng-if="ctrl.checkFieldStatus('docNotes')" layout="row">
                        <div flex layout="row">
                            <md-input-container flex>
                                <label>{{lang.properties_notes}}</label>
                                <textarea ng-model="ctrl.searchCriteria.docNotes" rows="5"></textarea>
                            </md-input-container>
                        </div>
                    </div><!-- Thirteen row -->
                    <div layout="row">
                        <md-button ng-click="ctrl.searchCorrespondence()" id="advanced-search-button"
                                   class="md-raised md-primary search-button">
                            {{lang.search}}
                        </md-button>
                        <md-button ng-click="ctrl.cleanSearchCriteriaForms()"
                                   class="md-raised search-button">
                            {{lang.search_module_reset_filters}}
                        </md-button>
                        <span flex></span>
                    </div><!-- Fourteen row -->
                </ng-form>
            </accordion-content>
        </accordion-item>
    </accordion-directive>
</div>
