<div layout="row" layout-align="start center">
    <!--<md-button id="filter-icon" class="md-icon-button">-->
    <!--<md-icon md-svg-icon="filter"></md-icon>-->
    <!--</md-button>-->
    <div md-whiteframe="3" layout="row" id="search_header">
        <form flex layout="row" name="filterGrid" autocomplete="off" enter-submit-directive="filterButton{{searchFilter.randomId}}" novalidate>
            <md-button ng-show="!searchFilter.changeIconModel" id="filterButton{{searchFilter.randomId}}"
                       ng-click="searchFilter.changeCallback(searchFilter.model)"
                       class="md-icon-button">
                <md-icon md-svg-icon="magnify"></md-icon>
            </md-button>

            <md-button ng-show="searchFilter.changeIconModel" ng-click="searchFilter.cancelCallback()"
                       class="md-icon-button">
                <md-icon md-svg-icon="magnify-close"></md-icon>
            </md-button>
            <input flex ng-model="searchFilter.model" ng-change="searchFilter.checkLength(searchFilter.model)"
                   name="search_header_query" id="search_header_query">
        </form>


    </div>
</div>