<div layout="row">
    <md-card layout="column" flex class="card-overlay">
        <md-table-container>
            <table md-table multiple ng-model="ctrl.selectedWorkflowItems"
                   md-row-select="true">
                <thead md-head md-order="ctrl.grid.order" md-on-reoder="ctrl.getSortedData">
                <tr md-row>
                    <th colspan="{{(ctrl.isWorkItem && !ctrl.hiddenForwardSenderInfo) ? 6 : 5}}"
                        ng-if="ctrl.selectedWorkflowItems.length" md-column>
                        <span>{{ctrl.selectedWorkflowItems.length}} {{lang.items_selected}} </span>
                    </th>
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length"
                        md-order-by="{{ctrl.getTranslatedKey()}}">
                        {{lang.name}}
                    </th>
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length">
                        {{lang.type}}
                    </th>
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length && ctrl.isWorkItem && !ctrl.hiddenForwardSenderInfo">
                        <md-checkbox ng-model="ctrl.forwardSenderActionAndCommentBulk"
                                     tooltip="{{lang.forward_with_sender_info}}"
                                     ng-click="ctrl.toggleBulkForwardSenderActionAndComment($event)"
                                     ng-checked="ctrl.isCheckedForwardSenderActionAndComment()"
                                     md-indeterminate="ctrl.isIndeterminateForwardSenderActionAndComments()"
                                     aria-label="{{lang.forward_with_sender_info}}">
                        </md-checkbox>
                    </th>
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length">
                        <md-select ng-model="ctrl.action"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   aria-label="workflow action"
                                   md-on-close="workflowItem.clearWFActionSearchText()"
                                   data-md-container-class="select-header-container sticky-search-bar"
                                   placeholder="{{workflowItem.getActionMessage()}}"
                                   ng-disabled="!ctrl.workflowItems.length"
                                   ng-change="ctrl.setBulkWorkflowAction(ctrl.action,$event)">
                            <md-select-header class="select-header">
                                <input ng-model="actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option
                                    ng-repeat="action in ctrl.workflowActions | translatedNameFilter: actionSearchText"
                                    ng-value="action">
                                <span
                                        md-highlight-text="workflowItem.actionSearchText"
                                        md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                    </th>
                    <th ng-if="!ctrl.selectedWorkflowItems.length" md-column>
                        {{lang.comment}}
                    </th>
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length">
                        {{lang.secure_comment}}
                    </th>
                    <th md-column
                        ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification">
                        <md-menu>
                            <md-button tooltip="{{lang.notification_settings}}" class="md-icon-button"
                                       ng-click="$mdMenu.open()">
                                <md-icon md-svg-icon="bell-ring"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                                     ng-change="ctrl.applyNotificationSettings($event)"
                                                     ng-model="ctrl.defaultWorkflowItemsSettings.sendSMS">
                                            {{lang.sms_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                                     ng-change="ctrl.applyNotificationSettings($event)"
                                                     ng-model="ctrl.defaultWorkflowItemsSettings.sendEmail">
                                            {{lang.email_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </th>
                    <th md-column>
                        <!-- Ready for approval -->
                    </th>
                    <th md-column>
                        <div layout="row">
                            <!-- Bulk Send related documents -->
                            <div class="p10" ng-if="ctrl.globalSettings.allowSendWFRelatedBook">
                                <md-checkbox ng-disabled="!ctrl.workflowItems.length"
                                             ng-model="ctrl.sendRelatedDocsBulk"
                                             ng-click="ctrl.toggleBulkSendRelatedDocs($event)"
                                             tooltip="{{lang.send_related_documents}}"
                                             ng-checked="ctrl.isCheckedSendRelatedDocs()"
                                             md-indeterminate="ctrl.isIndeterminateSendRelatedDocs()"
                                             aria-label="{{lang.send_related_documents}}">
                                </md-checkbox>
                            </div>
                            <div>
                                <md-button ng-disabled="!ctrl.workflowItems.length" class="md-icon-button"
                                           tooltip="{{lang.advanced_settings}}"
                                           ng-click="ctrl.setBulkWorkflowItemSettings($event)">
                                    <md-icon md-svg-icon="settings-box"></md-icon>
                                </md-button>
                            </div>
                            <div>
                                <md-button
                                        ng-disabled="!ctrl.selectedWorkflowItems.length"
                                        class="md-icon-button"
                                        ng-click="ctrl.deleteSelectedBulk($event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </div>
                            <div ng-if="ctrl.checkAllComplete(ctrl.gridName)">
                                <md-button tooltip="{{lang.all_completed}}" class="md-icon-button">
                                    <md-icon md-svg-icon="checkbox-marked-circle-outline"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="workflowItem"
                    ng-repeat="workflowItem in ctrl.workflowItems |limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order track by $index">
                    <td md-cell>
                        <span>{{workflowItem.getTranslatedName()}}</span>
                    </td>
                    <td md-cell>
                        <md-icon tooltip="{{lang.get(workflowItem.getWorkflowItemIconTooltip())}}"
                                 md-svg-icon="{{workflowItem.getWorkflowItemIcon()}}"></md-icon>
                    </td>
                    <td md-cell ng-if="ctrl.isWorkItem && !ctrl.hiddenForwardSenderInfo">
                        <md-checkbox ng-change="ctrl.setSenderActionAndComment(workflowItem)"
                                     ng-model="workflowItem.forwardSenderActionAndComment"
                                     tooltip="{{lang.forward_with_sender_info}}"
                                     aria-label="{{lang.forward_with_sender_info}}">
                        </md-checkbox>
                    </td>
                    <td md-cell>
                        <md-select ng-model="workflowItem.action"
                                   class="select-wf-action"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   aria-label="workflow action"
                                   md-on-close="workflowItem.clearWFActionSearchText()"
                                   data-md-container-class="select-header-container sticky-search-bar"
                                   placeholder="{{workflowItem.getActionMessage()}}">
                            <md-select-header class="select-header">
                                <input ng-model="workflowItem.actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option
                                    ng-repeat="action in ctrl.workflowActions | translatedNameFilter: workflowItem.actionSearchText"
                                    ng-value="action">
                                <span
                                        md-highlight-text="workflowItem.actionSearchText"
                                        md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                    </td>
                    <td md-cell>
                        <div layout="row">
                            <div md-truncate style="max-width: 100px;" ng-if="!workflowItem.showCommentDropdown"
                                 class="select-wf-action-text"
                                 ng-class="{'no-value': !workflowItem.getComments()}"
                                 ng-click="ctrl.toggleCommentDropdown(workflowItem, $event)"
                                 tooltip="{{ctrl.getCommentText(workflowItem)}}">
                                {{ctrl.getCommentText(workflowItem)}}
                            </div>
                            <md-select ng-if="workflowItem.showCommentDropdown"
                                       ng-model="workflowItem.selectedWFComment"
                                       class="select-wf-action" style="width: 150px !important;"
                                       ng-change="ctrl.setWFComment(workflowItem, $event)"
                                       aria-label="workflow action"
                                       md-on-close="ctrl.onCloseCommentsDropdown(workflowItem)"
                                       data-md-container-class="select-header-container sticky-search-bar"
                                       placeholder="{{workflowItem.getCommentMessage()}}"
                                       md-selected-text="ctrl.getCommentText(workflowItem)">
                                <md-select-header class="select-header">
                                    <input ng-model="workflowItem.commentSearchText"
                                           ng-keydown="ctrl.preventSearchKeyDown($event)"
                                           placeholder="{{lang.search}}"
                                           class="select-header-input">
                                </md-select-header>
                                <md-option
                                        ng-repeat="comment in ctrl.workflowComments | translatedNameFilter: workflowItem.commentSearchText"
                                        ng-value="comment">
                                <span
                                        md-highlight-text="workflowItem.commentSearchText"
                                        md-highlight-flags="i">{{comment.getCommentTitle()}}</span>
                                </md-option>
                            </md-select>
                            <md-button ng-if="workflowItem.showCommentDropdown"
                                       class="md-icon-button"
                                       ng-click="ctrl.openAddUserCommentDialog(workflowItem, $event)">
                                <md-icon md-svg-icon="plus"></md-icon>
                            </md-button>
                        </div>
                        </md-option>
                        </md-select>
                    </td>
                    <td md-cell>
                        <div ng-if="workflowItem.isUser()" flex>
                            <md-checkbox
                                    ng-model="workflowItem.isSecureAction"
                                    tooltip="{{lang.secure_comment}}"
                                    aria-label="{{lang.secure_comment}}">
                            </md-checkbox>
                        </div>
                    </td>
                    <td md-cell
                        ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification">
                        <md-menu>
                            <md-button tooltip="{{lang.notification_settings}}" class="md-icon-button"
                                       ng-click="$mdMenu.open()">
                                <md-icon md-svg-icon="bell-ring"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                                     ng-model="workflowItem.sendSMS">
                                            {{lang.sms_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                                     ng-model="workflowItem.sendEmail">
                                            {{lang.email_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                    <td md-cell>
                        <div ng-if="ctrl.isReadyForApprovalAvailable(workflowItem)" flex>
                            <md-checkbox
                                    ng-model="workflowItem.isReadyForApproval"
                                    tooltip="{{lang.ready_for_approval}}"
                                    aria-label="{{lang.ready_for_approval}}">
                            </md-checkbox>
                        </div>
                    </td>
                    <td md-cell>
                        <div layout="row">
                            <!-- Send related documents -->
                            <div class="p10" ng-if="ctrl.globalSettings.allowSendWFRelatedBook">
                                <md-checkbox ng-model="workflowItem.sendRelatedDocs"
                                             tooltip="{{lang.send_related_documents}}"
                                             aria-label="{{lang.send_related_documents}}">
                                </md-checkbox>
                            </div>

                            <div>
                                <md-button tooltip="{{lang.advanced_settings}}"
                                           class="md-icon-button"
                                           ng-click="ctrl.setWorkflowItemSettings(workflowItem,$event)">
                                    <md-icon md-svg-icon="settings-box"></md-icon>
                                </md-button>
                            </div>
                            <div>
                                <md-button ng-disabled="ctrl.selectedWorkflowItems.length"
                                        class="md-icon-button"
                                        ng-click="ctrl.deleteWorkflowItem(workflowItem,$event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </div>
                            <div ng-if="workflowItem.isWFComplete() && workflowItem.isEscalationComplete(ctrl.fromPredefined)">
                                <md-button tooltip="{{lang.complete}}" class="md-icon-button">
                                    <md-icon md-svg-icon="checkbox-marked-circle-outline"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination
                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                    md-limit-options="ctrl.grid.limitOptions"
                    md-limit="ctrl.grid.limit"
                    md-page="ctrl.grid.page"
                    md-total="{{ctrl.workflowItems.length}}" md-page-select>
            </md-table-pagination>
        </md-table-container>
    </md-card>
</div>
