<div layout="column" flex>
    <div layout="row" layout-align="end start" class="step-legend-container">
        <div ng-repeat="item in ctrl.stepLegendList track by $index"
             class="step-item {{item.class}}">
            <span md-truncate>{{lang[item.key]}}</span>
        </div>
    </div>
    <div flex layout="row">
        <div class="block-display" layout="column" ng-if="!ctrl.viewOnly && !ctrl.seqWF.id">
            <div ng-repeat="item in ctrl.actionsList track by $index"
                 class="step-item" ng-class="{'disabled':item.disabled()}"
                 seq-action-draggable="item" flex>
                <span md-truncate>{{item.getTranslatedName()}}</span>
            </div>
        </div>
        <div flex class="step-layout-border" layout="column">
            <div class="step-layout-generator" layout="column">
                <md-button class="md-raised add-row-button"
                           ng-if="!ctrl.viewOnly && !ctrl.seqWF.id"
                           ng-disabled="!ctrl.seqWF.hasAnyDocumentType()"
                           ng-click="ctrl.insertRowElement()">
                    <md-icon md-svg-icon="plus"></md-icon>
                </md-button>
                <div seq-container-sortable layout="column" class="step-layout-rows">

                </div>
                <div class="help-text-div p10"
                     ng-if="!ctrl.viewOnly && !ctrl.seqWF.id && ctrl.seqWF.hasAnyDocumentType() && !ctrl.seqWF.isIncomingSeqWF()">
                    {{lang.seq_wf_last_step_note}}
                </div>
            </div>
        </div>
    </div>
</div>
