<md-menu-bar id="tasks-notify">
    <md-menu md-position-mode="left bottom" md-offset="0 12">
        <div layout="column" class="notify">
            <md-button class="md-icon-button" ng-click="tasks.openTasksMenu($mdMenu)">
                <md-icon md-svg-icon="buffer"></md-icon>
            </md-button>
            <span ng-if="!!tasks.tasks.length" ng-click="tasks.openTasksMenu($mdMenu)" class="counter blue">{{tasks.tasks.length}}</span>
        </div>
        <md-menu-content class="toolbar-menu-content">
            <h4 class="menu-header">{{lang.your_tasks}} - {{tasks.tasks.length}}</h4>
            <div scroll-directive id="tasks-notify-wrapper">
                <ul>
                    <li ng-repeat="item in tasks.tasks track by $index" layout="row">
                        <div class="task-body" flex layout="column">
                            <div class="task-header" layout="row"><h5 md-truncate flex>{{lang.tasks}} - {{item}}</h5>
                                <div class="tasks-date-text">{{'2017 / 04 / 15'}}
                                    <md-icon class="tasks-date-icon" md-svg-icon="update"></md-icon>
                                </div>
                            </div>
                            <div layout="column">
                                <md-progress-linear md-mode="{{$odd ? 'indeterminate' : 'determinate'}}"
                                                    value="{{(item * 10) > 100 ? 100 : (item * 10)}}"></md-progress-linear>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </md-menu-content>
    </md-menu>
</md-menu-bar>