<md-menu-bar class="notify-list">
    <md-menu md-position-mode="left bottom" md-offset="0 12">
        <div layout="column" class="notify">
            <md-button class="md-icon-button" ng-click="ctrl.openTasksMenu($mdMenu)"
                       tooltip="{{lang.tasks}}" fixed-position="true">
                <md-icon md-svg-icon="calendar-check"></md-icon>
            </md-button>
            <span ng-if="ctrl.taskService.reminders.length > 0" ng-click="ctrl.openTasksMenu($mdMenu)"
                  class="counter blue">{{ctrl.taskService.reminders.length}}</span>
        </div>
        <md-menu-content class="toolbar-menu-content">
            <div scroll-directive class="notify-list-wrapper">
                <ul>
                    <li ng-repeat="item in ctrl.taskService.reminders track by $index" layout="row">
                        <div class="task-body" flex layout="column">
                            <div class="task-header" layout="row">
                                <a href="#" md-truncate flex ng-class="{'unread': !item.isOpen}"
                                   class="notification-subject" ng-click="ctrl.openTasksViewer(item,$event)">{{item.taskTitle}}</a>
                            </div>
                            <div layout="row">
                                <div class="tasks-date-text" ng-class="{'unread': !item.isOpen}">
                                    <md-icon class="tasks-date-icon" md-svg-icon="update"></md-icon>
                                    {{lang.due_date}} : {{item.getHumanDueDate()}}
                                </div>
                                <span flex></span>
                                <div class="tasks-date-text" ng-class="{'unread': !item.isOpen}">
                                    <md-icon class="tasks-date-icon" md-svg-icon="account"></md-icon>
                                    {{item.creatorInfo.getTranslatedName()}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <md-menu-item>
                <md-button ng-click="ctrl.reloadReminders($event , $mdMenu)" class="md-raised">
                    <div layout="row" layout-align="center center"><span>{{lang.reload}}</span></div>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
