<div layout="row" flex="none" ng-class="{'show-search-bar':search.quick.searchForm}" layout-align="start center"
     id="toolbar-search">
    <label for="query">
        <md-button ng-click="search.showSearch()" class="md-icon-button m015">
            <md-icon md-svg-icon="magnify"></md-icon>
        </md-button>
    </label>
    <input ng-class="{'quick-search-by-qr-code':search.searchCriteria.key === 'QR'}"
           placeholder="{{lang.get('search_by').replace(':type',lang.get(search.searchCriteria.value))}}"
           ng-if="search.quick.searchForm && !search.isTagKeySelected()" md-autofocus class="no-style"
           id="query"
           ng-model="search.query"
           ng-keydown="search.onKeyPressSearch($event)"
           name="query" flex type="text">
    <!-- tags only -->
    <md-autocomplete flex
                     id="query" name="query"
                     class="no-style"
                     md-autoselect="false"
                     md-no-cache="true"
                     md-selected-item="search.query"
                     md-search-text="search.tagsSearchText"
                     md-items="item in search.querySearchTags(search.tagsSearchText)"
                     md-item-text="item"
                     md-delay="500"
                     placeholder="{{lang.get('search_by').replace(':type',lang.get(search.searchCriteria.value))}}"
                     ng-keydown="search.onKeyPressSearch($event)"
                     md-selected-item-change="search.onKeyPressSearch('mouse-clicked')"
                     ng-if="search.isTagKeySelected()">
        <span md-highlight-text="search.tagsSearchText">{{item}}</span>
        <md-not-found>
            {{lang.no_records_found_matching_search}}
        </md-not-found>
    </md-autocomplete>

    <md-progress-circular md-mode="indeterminate"
                          ng-if="search.loadingService.loading && search.quick.searchForm "></md-progress-circular>
    &nbsp;
    <div ng-if="search.quick.searchForm">
        {{lang.get(search.searchCriteria.value)}}
    </div>
    <md-menu ng-if="search.quick.searchForm">
        <md-button aria-label="search-menu" class="md-icon-button" ng-click="search.openMenu($mdMenu, $event)">
            <md-icon md-menu-origin md-svg-icon="dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4" md-menu-default-scroll>
            <md-menu-item ng-if="item.checkShow(item)" ng-repeat="item in search.availableSearchCriteria">
                <md-button ng-click="search.setSelectedKey(item)">
                    {{ lang.get(item.value) }}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button ng-click="search.hideSearch()" ng-if="search.quick.searchForm" class="md-icon-button">
        <md-icon md-svg-icon="close"></md-icon>
    </md-button>
</div>
