<div flex layout="column">
    <md-progress-linear ng-show="ctrl.scanning" md-mode="indeterminate"></md-progress-linear>
    <div flex layout-align="center center" layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.scanURL(true)">{{lang.check_for_variables_in_url}}</md-button>
        <span flex></span>
    </div>
    <div ng-if="ctrl.scannedVariables.length" layout="row">
        <div flex="60" class="p10" layout="column">
            <div layout="row">
                <div flex class="var-key header">{{lang.variable_name}}</div>
                <div flex class="var-value header">{{lang.variable_value}}</div>
            </div>
            <div ng-repeat="item in ctrl.scannedVariables" layout="row">
                <div flex class="var-key">{{item}}</div>
                <div replacement-item-droppable id="droppable-id-{{$index}}" flex class="var-value">
                    <div class="replacement-item url-parser-handler" ng-if="ctrl.hasVariable(item)">
                        {{ctrl.getVariableValue(item).getTranslatedName()}}
                        <md-button ng-click="ctrl.deleteVariableValue(item)" class="md-icon-button">
                            <md-icon md-svg-icon="close-circle"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" class="p10" flex>
            <div flex class="var-value header">{{lang.available_values}}</div>
            <div replacement-item-draggable data-id="replacement-id-{{item.lookupKey}}" class="replacement-item"
                 ng-repeat="item in ctrl.availableDynamicMenuItemParams track by item.lookupKey">
                {{item.getTranslatedName()}}
            </div>
        </div>
    </div>
</div>
