<div ng-if="ctrl.allowActions === 'true' && ctrl.addRootFolder === 'true'">
    <md-button class="md-raised" ng-click="ctrl.openAddUserFolderDialog(false , $event)">
        {{$root.lang.add_root_folder}}
    </md-button>
</div>

<folders-tree-structure-directive disable-selected="0"
                                  allow-control="true"
                                  add-callback="ctrl.openAddUserFolderDialog"
                                  delete-callback="ctrl.removeUserFolder"
                                  edit-callback="ctrl.openEditUserFolderDialog"
                                  folders="ctrl.folders"></folders-tree-structure-directive>
