<md-menu-bar class="user-menu">
    <md-menu flex md-position-mode="right bottom">
        <md-button ng-click="$mdMenu.open()">
            <div layout="row" flex layout-align="start center">
                <div layout="column" layout-align="start center" class="avatar-wrapper">
                    <img ng-if="!userMenu.employeeService.hasProxy()" class="avatar-image"
                         src="assets/images/profile.jpg">
                    <img ng-if="userMenu.employeeService.hasProxy()" class="avatar-image"
                         src="assets/images/profile-proxy.png">
                    <md-icon class="profile-status" ng-class="userMenu.selectedStatus.class"
                             md-svg-icon="{{userMenu.selectedStatus.icon}}"></md-icon>
                </div>
                <div class="user-name">{{userMenu.employeeService.getTranslatedName()}}</div>
                <md-icon md-svg-icon="chevron-down"></md-icon>
            </div>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item
                    ng-if="!userMenu.employeeService.isAdminUser() && userMenu.employeeService.hasPermissionTo('MANAGE_PREFERENCES')">
                <md-button ng-click="userMenu.userPreferences($event)">
                    <div layout="row" layout-align="start center">
                        <md-icon md-svg-icon="account-settings"></md-icon>
                        <span>{{lang.user_preferences}}</span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item
                    ng-if="!userMenu.employeeService.isAdminUser()">
                <md-button ng-click="userMenu.manageSubscriptions($event)">
                    <div layout="row" layout-align="start center">
                        <md-icon md-svg-icon="bell-plus"></md-icon>
                        <span>{{lang.subscriptions}}</span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item
                    ng-if="!userMenu.employeeService.isAdminUser() && userMenu.employeeService.hasPermissionTo('SHARE_BOOK_LINK')">
                <md-button ng-click="userMenu.manageDocumentLinks($event)">
                    <div layout="row" layout-align="start center">
                        <md-icon md-svg-icon="link-variant"></md-icon>
                        <span>{{lang.my_links}}</span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item
                    ng-if="userMenu.isMSTeamsAvailable()">
                <md-button ng-click="userMenu.openMSTeamsSupport($event)">
                    <div layout="row" layout-align="start center">
                        <md-icon md-svg-icon="face-agent"></md-icon>
                        <span>{{lang.support}}</span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-menu>
                    <md-button ng-click="$mdMenu.open($event)">
                        <div layout="row" layout-align="start center">
                            <md-icon md-svg-icon="account-question"></md-icon>
                            <span>{{lang.user_guide}}</span>
                        </div>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-if="userMenu.appearanceRoles[item.role].display"
                                      ng-repeat="item in userMenu.userManualList track by item.id">
                            <md-button ng-click="userMenu.downloadGuide(item)">
                                {{lang.get(item.title)}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
            <md-menu-item class="hidden">
                <md-menu>
                    <md-button ng-click="$mdMenu.open($event)">
                        <div layout="row" layout-align="start center">
                            <md-icon md-svg-icon="{{userMenu.selectedStatus.icon}}"
                                     ng-class="userMenu.selectedStatus.class"></md-icon>
                            <span>{{userMenu.selectedStatus.title}}</span>
                        </div>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="status in userMenu.statusList track by $index">
                            <md-button class="user-status" ng-class="{'selected':userMenu.isStatusSelected(status)}"
                                       ng-click="userMenu.selectStatus(status)">
                                <div layout="row" layout-align="start center">
                                    <md-icon ng-class="status.class" md-svg-icon="{{status.icon}}"></md-icon>
                                    <span>{{status.title}}</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu><!-- end sub menu-->
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="userMenu.logoutEmployee($event)">
                    <div layout="row" layout-align="start center">
                        <md-icon md-svg-icon="logout"></md-icon>
                        <span>{{lang.logout}}</span>
                    </div>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
