<li class="document-properties">
    <div ng-if="ctrl.sectionTitle" layout="row" layout-align="start center" class="section-title">
        <div flex>{{lang.get(ctrl.sectionTitle)}}</div>
        <md-button class="md-icon-button collapse-button" ng-click="ctrl.toggleCollapse($event)">
            <md-icon md-svg-icon="{{ctrl.collapse ? 'arrow-down-drop-circle' : 'arrow-up-drop-circle'}}"></md-icon>
        </md-button>
    </div>
    <ul class="work-item-properties item-properties">
        <li>
            <span class="property-key">{{lang.previous_action}}</span>
            <span class="property-value">{{ctrl.item.action.getTranslatedName()}}</span>
        </li>
        <li>
            <span class="property-key">{{lang.previous_comment}}</span>
            <span class="property-value">{{ctrl.item.generalStepElm.comments}}</span>
        </li>
        <li>
            <span class="property-key">{{lang.work_item_sender}}</span>
            <span class="property-value">{{ctrl.item.senderInfo.getTranslatedName()}}</span>
        </li>
        <li>
            <span class="property-key">{{lang.action_date}}</span>
            <span class="property-value">{{ctrl.item.getReceivedDate()}}</span>
        </li>
        <li>
            <span class="property-key">{{lang.time}}</span>
            <span class="property-value">{{ctrl.item.getReceivedTime()}}</span>
        </li>
    </ul>
</li>