<div layout="row">
    <md-card layout="column" flex class="card-overlay">
        <md-table-container>
            <table md-table ng-model="ctrl.selectedWorkflowItems"
                   md-row-select="true"
                   multiple="ctrl.multiSelect">
                <thead md-head md-order="ctrl.grid.order" md-on-reoreder="ctrl.getSortedData">
                <tr md-row>
                    <!-- Toggle Favorites -->
                    <th md-column class="no-padding" ng-if="ctrl.allowFavorites">
                        <md-button
                                ng-if="ctrl.excludeSelected && ctrl.allowFavorites"
                                ng-disabled="self.bulkActionStatus || !(ctrl.workflowItems | filter: ctrl.runItemNotExists).length"
                                class="md-icon-button"
                                ng-click="ctrl.callbackToggleBulkFavorites(ctrl.workflowItems, ctrl.gridType)">
                            <md-icon class="star-yellow"
                                     md-svg-icon="{{ctrl.callbackAllInFavorites(ctrl.workflowItems) ? 'star' :  'star-outline' }}"></md-icon>
                        </md-button>
                        <md-button ng-if="!ctrl.excludeSelected && ctrl.allowFavorites"
                                   ng-disabled="self.bulkActionStatus || !ctrl.workflowItems.length"
                                   class="md-icon-button"
                                   ng-click="ctrl.callbackToggleBulkFavorites(ctrl.workflowItems, ctrl.gridType)">
                            <md-icon class="star-yellow"
                                     md-svg-icon="{{ctrl.callbackAllInFavorites(ctrl.workflowItems) ? 'star' :  'star-outline' }}"></md-icon>
                        </md-button>
                    </th>
                    <!-- Selected Items -->
                    <th colspan="2" ng-if="ctrl.selectedWorkflowItems.length" md-column>
                        <span>{{ctrl.selectedWorkflowItems.length}} {{lang.items_selected}} </span>
                    </th>
                    <!-- Name-->
                    <th md-column ng-if="!ctrl.selectedWorkflowItems.length" md-order-by="{{ctrl.getTranslatedKey()}}">
                        {{lang.name}}
                    </th>
                    <!-- Action -->
                    <th ng-if="!ctrl.selectedWorkflowItems.length" md-column>
                        {{lang.action}}
                    </th>
                    <!-- Notifications -->
                    <th md-column
                        ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification">
                        <md-menu>
                            <md-button tooltip="{{lang.notification_settings}}" class="md-icon-button"
                                       ng-click="$mdMenu.open()">
                                <md-icon md-svg-icon="bell-ring"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                                     ng-change="ctrl.applyNotificationSettings($event)"
                                                     ng-model="ctrl.defaultWorkflowItemsSettings.sendSMS">
                                            {{lang.sms_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                                     ng-change="ctrl.applyNotificationSettings($event)"
                                                     ng-model="ctrl.defaultWorkflowItemsSettings.sendEmail">
                                            {{lang.email_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </th>
                    <!-- Properties and menu -->
                    <th md-column>
                        <div layout="row">
                            <div>
                                <md-button class="md-icon-button" tooltip="{{lang.advanced_settings}}"
                                           ng-click="ctrl.setBulkWorkflowItemSettings($event)">
                                    <md-icon md-svg-icon="settings-box"></md-icon>
                                </md-button>
                            </div>
                            <vertical-menu-workflow-item-directive
                                    display="ctrl.allInSelected(ctrl.selectedWorkflowItems) && ctrl.selectedWorkflowItems.length && ctrl.multiSelect"
                                    callback="ctrl.addBulkWorkflowItems"
                                    display-button="true"
                                    item="ctrl.selectedWorkflowItems"
                                    release="ctrl.selectedWorkflowItems"
                                    ignore-callback="ctrl.runAddSelectedUsersWithIgnoreToGrid"></vertical-menu-workflow-item-directive>
                            <!-- add all ous for central archive -->
                            <vertical-menu-workflow-item-directive
                                    display="ctrl.displayAddBulkAllOUs()"
                                    callback="ctrl.addAllBulkWorkflowItems"
                                    display-button="true"
                                    item="ctrl.workflowItems"
                                    release="ctrl.selectedWorkflowItems"
                                    ignore-callback="ctrl.runAddSelectedUsersWithIgnoreToGrid"></vertical-menu-workflow-item-directive>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-if="ctrl.excludeSelected" md-row md-select="workflowItem"
                    ng-repeat="workflowItem in ctrl.workflowItems | filter:ctrl.runItemNotExists | limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order track by $index">
                    <td md-cell ng-if="ctrl.allowFavorites" class="no-padding">
                        <md-button ng-click="ctrl.toggleFav(workflowItem)"
                                   class="md-icon-button">
                            <md-icon
                                    class="star-yellow"
                                    md-svg-icon="{{workflowItem.isFavorite() ? 'star' : 'star-outline'}}"></md-icon>
                        </md-button>
                    </td>
                    <td md-cell>
                                                <span md-highlight-text="ctrl.workflowItemsCriteria[ctrl.getTranslatedKey()]"
                                                      md-highlight-flags="i">{{workflowItem.getTranslatedName()}}</span>
                    </td>
                    <td md-cell>
                        <!--<md-menu-bar class="no-padding">
                            <md-menu>
                                <md-button class="normal-case m0" ng-click="$mdMenu.open()">
                                    <span ng-class="{'red-color':!workflowItem.isWFComplete()}">{{workflowItem.isWFComplete() ? workflowItem.action.getTranslatedName() : workflowItem.getActionMessage()}}</span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="action in ctrl.workflowActions track by $index">
                                        <md-button ng-click="workflowItem.setAction(action)">
                                            {{action.getTranslatedName()}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>-->
                        <!--ng-change="ctrl.setWFAction(workflowItem, $event)"-->
                        <md-select ng-model="workflowItem.action"
                                   class="select-wf-action"
                                   aria-label="workflow action"
                                   md-on-close="workflowItem.clearWFActionSearchText()"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   data-md-container-class="select-header-container sticky-search-bar"
                                   placeholder="{{workflowItem.getActionMessage()}}">
                            <md-select-header class="select-header">
                                <input ng-model="workflowItem.actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option
                                    ng-repeat="action in ctrl.workflowActions | translatedNameFilter: workflowItem.actionSearchText"
                                    ng-value="action">
                                <span
                                        md-highlight-text="workflowItem.actionSearchText"
                                        md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                    </td>
                    <td md-cell
                        ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification">
                        <md-menu>
                            <md-button tooltip="{{lang.notification_settings}}" class="md-icon-button"
                                       ng-click="$mdMenu.open()">
                                <md-icon md-svg-icon="bell-ring"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                                     ng-model="workflowItem.sendSMS">
                                            {{lang.sms_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                                     ng-model="workflowItem.sendEmail">
                                            {{lang.email_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                    <td md-cell>
                        <div layout="row">
                            <div>
                                <md-button tooltip="{{lang.advanced_settings}}"
                                           class="md-icon-button"
                                           ng-click="ctrl.setWorkflowItemSettings(workflowItem,$event)">
                                    <md-icon md-svg-icon="settings-box"></md-icon>
                                </md-button>
                            </div>
                            <vertical-menu-workflow-item-directive
                                    display="true"
                                    callback="ctrl.addWorkflowItem"
                                    display-button="true"
                                    item="workflowItem"
                                    release="ctrl.selectedWorkflowItems"
                                    ignore-callback="ctrl.runAddSelectedUserWithIgnoreToGrid"
                                    grid-name="ctrl.gridName"
                                    wf-group-callback="ctrl.openWFMemberDialog"></vertical-menu-workflow-item-directive>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!ctrl.excludeSelected" ng-class="{'background-warning':!ctrl.runItemNotExists(workflowItem)}"
                    md-row
                    md-select="workflowItem"
                    ng-repeat="workflowItem in ctrl.workflowItems |limitTo: ctrl.grid.limit: ((ctrl.grid.page - 1) * ctrl.grid.limit) |orderBy:ctrl.grid.order track by $index">
                    <td md-cell ng-if="ctrl.allowFavorites" class="no-padding">
                        <md-button ng-click="ctrl.toggleFav(workflowItem)"
                                   class="md-icon-button">
                            <md-icon
                                    class="star-yellow"
                                    md-svg-icon="{{workflowItem.isFavorite() ? 'star' : 'star-outline'}}"></md-icon>
                        </md-button>
                    </td>
                    <td md-cell>
                                                <span md-highlight-text="ctrl.workflowItemsCriteria[ctrl.getTranslatedKey()]"
                                                      md-highlight-flags="i">{{workflowItem.getTranslatedName()}}</span>
                    </td>
                    <td md-cell>
                        <!--<md-menu-bar class="no-padding">
                            <md-menu>
                                <md-button class="normal-case m0" ng-click="$mdMenu.open()">
                                    <span ng-class="{'red-color':!workflowItem.isWFComplete()}">{{workflowItem.isWFComplete() ? workflowItem.action.getTranslatedName() : workflowItem.getActionMessage()}}</span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="action in ctrl.workflowActions track by $index">
                                        <md-button ng-click="workflowItem.setAction(action)">
                                            {{action.getTranslatedName()}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>-->
                        <!--ng-change="ctrl.setWFAction(workflowItem, $event)"-->
                        <md-select ng-model="workflowItem.action"
                                   class="select-wf-action"
                                   ng-model-options="{trackBy:'$value.id'}"
                                   aria-label="workflow action"
                                   md-on-close="workflowItem.clearWFActionSearchText()"
                                   data-md-container-class="select-header-container sticky-search-bar"
                                   placeholder="{{workflowItem.getActionMessage()}}">
                            <md-select-header class="select-header">
                                <input ng-model="workflowItem.actionSearchText"
                                       ng-keydown="ctrl.preventSearchKeyDown($event)"
                                       placeholder="{{lang.search}}"
                                       class="select-header-input">
                            </md-select-header>
                            <md-option
                                    ng-repeat="action in ctrl.workflowActions | translatedNameFilter: workflowItem.actionSearchText"
                                    ng-value="action">
                                <span
                                        md-highlight-text="workflowItem.actionSearchText"
                                        md-highlight-flags="i">{{action.getTranslatedName()}}</span>
                            </md-option>
                        </md-select>
                    </td>
                    <td md-cell
                        ng-if="ctrl.globalSettings.enableEmailNotification || ctrl.globalSettings.enableSMSNotification">
                        <md-menu>
                            <md-button tooltip="{{lang.notification_settings}}" class="md-icon-button"
                                       ng-click="$mdMenu.open()">
                                <md-icon md-svg-icon="bell-ring"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableSMSNotification"
                                                     ng-model="workflowItem.sendSMS">
                                            {{lang.sms_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                                <md-menu-item>
                                    <div>
                                        <md-checkbox ng-disabled="!ctrl.globalSettings.enableEmailNotification"
                                                     ng-model="workflowItem.sendEmail">
                                            {{lang.email_workflow_notification}}
                                        </md-checkbox>
                                    </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                    <td md-cell>
                        <div layout="row">
                            <div>
                                <md-button tooltip="{{lang.advanced_settings}}"
                                           class="md-icon-button"
                                           ng-click="ctrl.setWorkflowItemSettings(workflowItem,$event)">
                                    <md-icon md-svg-icon="settings-box"></md-icon>
                                </md-button>
                            </div>
                            <div ng-if="!ctrl.runItemNotExists(workflowItem)">
                                <md-button
                                        class="md-icon-button"
                                        ng-click="ctrl.deleteWorkflowItem(workflowItem,$event)">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                </md-button>
                            </div>
                            <vertical-menu-workflow-item-directive
                                    ng-if="ctrl.runItemNotExists(workflowItem)"
                                    display="true"
                                    callback="ctrl.addWorkflowItem"
                                    display-button="true"
                                    item="workflowItem"
                                    release="ctrl.selectedWorkflowItems"
                                    ignore-callback="ctrl.runAddSelectedUserWithIgnoreToGrid"
                                    grid-name="ctrl.gridName"
                                    wf-group-callback="ctrl.openWFMemberDialog"></vertical-menu-workflow-item-directive>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination
                    ng-if="!ctrl.excludeSelected"
                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                    md-limit-options="ctrl.grid.limitOptions"
                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                    md-total="{{ctrl.workflowItems.length}}" md-page-select>
            </md-table-pagination>
            <md-table-pagination
                    ng-if="ctrl.excludeSelected"
                    md-label="{page: '{{lang.page}}', rowsPerPage: '{{lang.rows_per_page}}', of: '{{lang.count_of}}'}"
                    md-limit-options="ctrl.grid.limitOptions"
                    md-limit="ctrl.grid.limit" md-page="ctrl.grid.page"
                    md-total="{{(ctrl.workflowItems  | filter:ctrl.runItemNotExists).length}}" md-page-select>
            </md-table-pagination>
        </md-table-container>
    </md-card>
</div>
