.fc-toolbar.fc-header-toolbar {
  padding: 10px 10px 0 10px;
}

.task-management-attendance-table {
  border: 1px solid #9E9E9E;
  margin: 20px 0;
  border-collapse: collapse;
  background-color: white;

  th {
    padding: 8px;
    text-align: left;
    border: 1px solid #9E9E9E;
    font-size: 14px;
  }

  td {
    padding: 8px;
    border: 1px solid #9E9E9E;
  }
}

.comment-cell {
  max-width: 100px;
  color: red;
}

.attendance-titles {
  span {
    display: block;
    padding: 4px;
  }

  span:first-child {
    border-bottom: 1px solid #9E9E9E;
  }
}

.fc-event {
  .fc-time {
    padding-right: 10px;
  }

  .fc-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.task-completed {
  background-color: forestgreen;
  border-color: white;
}

.task-in-progress {
  background-color: #3788d8;
  border-color: white;
}

.task-pending {
  background-color: orange;
  border-color: white;
}

.task-canceled {
  background-color: red;
  border-color: white;
}

.task-undefined-state {
  background-color: gray;
  border-color: white;
}

.fc-task-icon {
  color: white;
}

.task-state-labels {
  display: table;
  margin: 5px auto;

  li {
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    min-height: 24px !important;

    button {
      padding: 0 !important;
      margin: 0 !important;
      min-width: 0 !important;
      min-height: 0 !important;
      height: 24px !important;
      width: 24px !important;

      svg {
        color: white;
      }
    }

    a {
      color: white;
      cursor: pointer;

      &.selected {
        cursor: default;
      }
    }
  }
}

.menu-button-calender {
  margin: 0 !important;
  padding: 0 !important;
  height: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
}

.menu-calender {
  height: 24px !important;
}
