.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.font-bold {
  font-weight: bold !important;
}

.p10 {
  padding: 10px;
}

.p10-0 {
  padding: 10px 0;
}

.p20 {
  padding: 20px;
}

.p0p5 {
  padding: 0 5px;
}

.p020 {
  padding: 0 20px;
}

.p20-0 {
  padding: 20px 0;
}

.m5 {
  margin: 5px;
}

.m8 {
  margin: 8px;
}

.p25 {
  padding: 25px;
}

.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mr0 {
  margin-right: 0;
}

.ml0 {
  margin-left: 0;
}

.m0 {
  margin: 0 !important;
}

.m0a {
  margin: 0 auto;
}

.mw60 {
  min-width: 60% !important;
}

.mb10 {
  margin-bottom: 10px;
}

.md-column {
  &.p-r0 {
    padding-right: 0 !important;
  }
}

.font-size-14 {
  font-size: 14px;
}

.width-50px {
  width: 50px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
