html.rtl {
  direction: rtl;

  body, button, select, html, textarea, input {
    font-family: 'Noto Kufi Arabic', Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.0;

    label, .md-text {
      line-height: 1.5;
    }
  }

  md-select-value {
    span {
      line-height: 1.5;
    }
  }

  #content-container {
    padding-right: 64px;
    padding-left: 0;

    &.sidebar-open {
      padding-right: 0;
    }
  }

  .profile-status {
    left: 0;
    right: auto;
  }

  .md-sidenav-left#main-sidebar, md-sidenav#main-sidebar {
    left: auto;
    right: 0;
  }

  .md-sidenav-left.md-closed#main-sidebar, md-sidenav.md-closed#main-sidebar {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  md-sidenav.md-locked-open#main-sidebar, md-sidenav.md-locked-open.md-closed#main-sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .ps > .ps__scrollbar-y-rail {
    right: auto !important;
    left: 0 !important;
  }

  .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    left: 2px !important;
    right: auto !important;
  }

  #main-sidebar {
    .sidebar-menu-icon {
      margin-right: 0;
      margin-left: 15px;
    }

    .arrow-down {
      transform: rotate(180deg);
    }
  }

  #login-form-wrapper {
    #login-select-language {
      margin: 0 -50px 0 0px !important;
    }
  }

  #login-background.flip-bg {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .login-announcements {
    //margin-top: 20px;
    //font-size: 13px;
    //line-height: 1.8;
    .announcement {
      padding: 20px 40px 20px 20px;

      .announcement-icon {
        left: auto;
        right: 10px;
        transform: rotateY(180deg);
      }
    }
  }

  .node-menu {
    left: 0;
    right: auto;
  }

  .close-dialog-button {
    left: 0;
    right: auto;
  }

  #criteria-list {
    margin-left: 15px;
    margin-right: 0;
  }

  .hint {
    right: 2px;
    left: auto;
  }

  .error-list {
    li {
      text-align: right;
    }
  }

  #search_header {
    padding: 0 0 0 8px;
  }

  .validation-title {
    text-align: right;
  }

  md-datepicker[name='followUpStatusDate'] {
    margin: 0 5px !important;

    .md-datepicker-input {
      margin: 0 5px !important;
      padding: 0 !important;
    }
  }

  .indicator-td {
    padding-left: 0 !important;

    &.text-right {
      text-align: left !important;
    }

    .float-right {
      float: left !important;
    }
  }

  .read-td {
    padding-left: 0 !important;

    .status {
      float: left;
      left: 0;
      right: auto;
    }
  }

  .dialog-content {
    .list {
      li {
        text-align: right;
        padding-right: 0;
      }
    }
  }

  .bundle-version {
    right: auto;
    left: 10px;
  }

  .md-column {
    &.p-r0 {
      padding-left: 0 !important;
    }
  }

  .text-left {
    text-align: right !important;
  }

  .text-right {
    text-align: left !important;
  }

  .ta-toolbar {
    margin-left: auto;
    margin-right: 0;

    button.cms-button {
      margin-left: auto;
      margin-right: 0;
    }

    button.cms-icon-button {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .ta-text-editor, #messageBody, .owl-theme {
    blockquote {
      border-right: 5px solid #FF4081;
      border-left: 0;
    }
  }

  md-autocomplete[md-floating-label] .md-show-clear-button button {
    left: 0;
    right: auto;
  }

  .full-screen-button-icon {
    position: absolute;
    left: 50px;
    right: auto !important;
  }

  .cms-datepicker {
    md-datepicker {
      .md-datepicker-input-container {
        .md-datepicker-triangle-button {
          left: 8px;
          right: auto;
        }
      }
    }

    .md-input-messages-animation {
      .md-input-message-animation {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  .cms-autocomplete-wrapper {
    .button-container {
      .search-button {
        padding-right: 0;
      }
    }

    md-autocomplete.ac-search-button {
      md-autocomplete-wrap {
        padding-right: 15px;
      }
    }
  }

}

