.cms-simple-checkbox-container {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 1.5;
  width: 100%;

  /* Input */
  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(117, 117, 117);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;

    &.checked, &.indeterminate {
      background-color: rgba(255, 82, 82, 0.87);
    }
    &.checked ~ span::before,
    &.indeterminate ~ span::before {
      border-color: rgba(255, 82, 82, 0.87);
      background-color: rgba(255, 82, 82, 0.87);
      border: none;
    }
    &.checked ~ span::after,
    &.indeterminate ~ span::after {
      border-color: rgb(255, 255, 255);
    }
    &.indeterminate ~ span::after {
      border-left: none;
      transform: translate(4px, 3px);
    }
  }
  input:focus {
    opacity: 0.12;
  }

  /* Span */
  span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    outline: none;
  }

  /* Box */
  span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgb(117,117,117);
    color: rgb(117, 117, 117);
    background-color: transparent;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
  }

  /* Checkmark */
  span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }
  input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
  }
  input:active ~ span::before {
    border-color: rgba(255, 82, 82, 0.87);
  }
  input.checked:active ~ span::before {
    border-color: transparent;
    background-color: rgb(117, 117, 117);
  }
  /* Disabled */
  input:disabled {
    opacity: 0;
  }
  input:disabled ~ span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
  }
  input:disabled ~ span::before {
    border-color: currentColor;
  }
  input.checked:disabled ~ span::before,
  input.indeterminate:disabled ~ span::before {
    border-color: transparent;
    background-color: currentColor;
  }
}

/* Hover, Focus */
.cms-simple-checkbox-container:hover {
  input {
    opacity: 0.04;
  }
  input:focus {
    opacity: 0.16;
  }
}