.cms-virtual-repeater {
  max-height: 450px !important;;
  height: 450px !important;
  &.no-length {
    height: 200px !important;;
  }
}

.no-tb-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

md-virtual-repeat-container > div > div.md-virtual-repeat-offsetter > md-table-container {
  overflow: visible !important;
}

md-virtual-repeat-container > div.md-virtual-repeat-scroller {
  overflow: auto !important;
  min-height: 200px !important;
}
