.theme-model {

}

.theme-title {
  padding: 10px 0;
}

.theme-preview {
  height: 100px;
  border: 1px solid #EEE;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.theme-toolbar-bg {
  border-bottom: 1px solid #EEE;
  height: 20px;
}

.theme-page-header-bg {
  height: 30px;
}

.theme-sidebar-bg-selected {
  height: 20px;
  &.banner {
    height: 40px;
  }
}

#right-sidebar {
  z-index: 61;
  right: 0;
  left: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  &.md-closed {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

html.rtl {
  #right-sidebar {
    right: auto;
    left: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    &.md-closed {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
}
