.notify-list {
  padding: 5px;
  button {

  }
}

.toolbar-menu-content {
  padding: 10px !important;
  .menu-header {
    padding: 0;
    margin: 10px 0;
  }
}

.notify-list-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  ul {
    padding: 0;
    margin: 0;
    li {
      margin: 0 0 5px 0;
      padding: 10px;
      border: 1px solid #EEE;
      border-radius: 5px;
      h5 {
        margin: 0;
      }
      .task-header {
        margin-bottom: 8px;
      }
    }
  }
  .tasks-date-icon {
    min-width: 0;
    min-height: 0;
    width: 15px;
  }
  .tasks-date-text {
    font-size: 10px;
    .tasks-date-icon {
      margin: 0 5px;
    }
    &.unread{
      font-weight: bold;
    }
  }
}

.notification-subject{
  font-size: 0.83em;
  &.unread{
    font-weight: bold;
  }
}